:root {
    --ids-smc-colors-brand-darker-10: light-dark(#003beb, #7598ff);
    --ids-smc-colors-brand-darker-20: light-dark(#002fbd, #a3baff);
    --ids-smc-colors-brand-darker-30: light-dark(#00248f, #d1ddff);
    --ids-smc-colors-brand-darker-31: light-dark(#002287, #d9e3ff);
    --ids-smc-colors-brand-darker-32: light-dark(#00207f, #dde6ff);
    --ids-smc-colors-brand-darker-33: light-dark(#001e78, #e1e9ff);
    --ids-smc-colors-brand-darker-34: light-dark(#001c70, #e5ecff);
    --ids-smc-colors-brand-darker-35: light-dark(#001a68, #e5ecff);
    --ids-smc-colors-brand-darker-40: light-dark(#001861, #d5e0ff);
    --ids-smc-colors-brand-darker-50: light-dark(#001452, #e5ecff);
    --ids-smc-colors-brand-default: light-dark(#003cff, #4775ff);
    --ids-smc-colors-brand-fixed-darker-10: light-dark(#003beb, #003beb);
    --ids-smc-colors-brand-fixed-darker-20: light-dark(#002fbd, #002fbd);
    --ids-smc-colors-brand-fixed-darker-30: light-dark(#00248f, #00248f);
    --ids-smc-colors-brand-fixed-darker-31: light-dark(#002287, #002287);
    --ids-smc-colors-brand-fixed-darker-32: light-dark(#00207f, #00207f);
    --ids-smc-colors-brand-fixed-darker-33: light-dark(#001e78, #001e78);
    --ids-smc-colors-brand-fixed-darker-34: light-dark(#001c70, #001c70);
    --ids-smc-colors-brand-fixed-darker-35: light-dark(#001a68, #001a68);
    --ids-smc-colors-brand-fixed-darker-40: light-dark(#001861, #001861);
    --ids-smc-colors-brand-fixed-darker-50: light-dark(#001452, #001452);
    --ids-smc-colors-brand-fixed-default: light-dark(#003cff, #003cff);
    --ids-smc-colors-brand-fixed-lighter-10: light-dark(#4775ff, #4775ff);
    --ids-smc-colors-brand-fixed-lighter-20: light-dark(#7598ff, #7598ff);
    --ids-smc-colors-brand-fixed-lighter-30: light-dark(#a3baff, #a3baff);
    --ids-smc-colors-brand-fixed-lighter-40: light-dark(#d1ddff, #d1ddff);
    --ids-smc-colors-brand-fixed-lighter-42: light-dark(#d5e0ff, #d5e0ff);
    --ids-smc-colors-brand-fixed-lighter-44: light-dark(#d9e3ff, #d9e3ff);
    --ids-smc-colors-brand-fixed-lighter-46: light-dark(#dde6ff, #dde6ff);
    --ids-smc-colors-brand-fixed-lighter-48: light-dark(#e1e9ff, #e1e9ff);
    --ids-smc-colors-brand-fixed-lighter-50: light-dark(#e5ecff, #e5ecff);
    --ids-smc-colors-brand-lighter-10: light-dark(#4775ff, #003beb);
    --ids-smc-colors-brand-lighter-20: light-dark(#7598ff, #002fbd);
    --ids-smc-colors-brand-lighter-30: light-dark(#a3baff, #00248f);
    --ids-smc-colors-brand-lighter-40: light-dark(#d1ddff, #002287);
    --ids-smc-colors-brand-lighter-42: light-dark(#d5e0ff, #001e78);
    --ids-smc-colors-brand-lighter-44: light-dark(#d9e3ff, #001c70);
    --ids-smc-colors-brand-lighter-46: light-dark(#dde6ff, #001a68);
    --ids-smc-colors-brand-lighter-48: light-dark(#e1e9ff, #001861);
    --ids-smc-colors-brand-lighter-50: light-dark(#e5ecff, #001452);
    --ids-smc-colors-error-darker-10: light-dark(#dc2626, #fca5a5);
    --ids-smc-colors-error-darker-20: light-dark(#b91c1c, #fecaca);
    --ids-smc-colors-error-darker-30: light-dark(#991b1b, #fee2e2);
    --ids-smc-colors-error-darker-31: light-dark(#751a1a, #fee8e8);
    --ids-smc-colors-error-darker-32: light-dark(#6b1617, #feecec);
    --ids-smc-colors-error-darker-33: light-dark(#611315, #feefef);
    --ids-smc-colors-error-darker-34: light-dark(#571012, #fef2f2);
    --ids-smc-colors-error-darker-35: light-dark(#4e0d0e, #fef2f2);
    --ids-smc-colors-error-darker-40: light-dark(#7f1d1d, #fee5e5);
    --ids-smc-colors-error-darker-50: light-dark(#450a0a, #fef2f2);
    --ids-smc-colors-error-default: light-dark(#ef4444, #f87171);
    --ids-smc-colors-error-fixed-darker-10: light-dark(#dc2626, #dc2626);
    --ids-smc-colors-error-fixed-darker-20: light-dark(#b91c1c, #b91c1c);
    --ids-smc-colors-error-fixed-darker-30: light-dark(#991b1b, #991b1b);
    --ids-smc-colors-error-fixed-darker-31: light-dark(#751a1a, #751a1a);
    --ids-smc-colors-error-fixed-darker-32: light-dark(#6b1617, #6b1617);
    --ids-smc-colors-error-fixed-darker-33: light-dark(#611315, #611315);
    --ids-smc-colors-error-fixed-darker-34: light-dark(#571012, #571012);
    --ids-smc-colors-error-fixed-darker-35: light-dark(#4e0d0e, #4e0d0e);
    --ids-smc-colors-error-fixed-darker-40: light-dark(#7f1d1d, #7f1d1d);
    --ids-smc-colors-error-fixed-darker-50: light-dark(#450a0a, #450a0a);
    --ids-smc-colors-error-fixed-default: light-dark(#ef4444, #ef4444);
    --ids-smc-colors-error-fixed-lighter-10: light-dark(#f87171, #f87171);
    --ids-smc-colors-error-fixed-lighter-20: light-dark(#fca5a5, #fca5a5);
    --ids-smc-colors-error-fixed-lighter-30: light-dark(#fecaca, #fecaca);
    --ids-smc-colors-error-fixed-lighter-40: light-dark(#fee2e2, #fee2e2);
    --ids-smc-colors-error-fixed-lighter-42: light-dark(#fee5e5, #fee5e5);
    --ids-smc-colors-error-fixed-lighter-44: light-dark(#fee8e8, #fee8e8);
    --ids-smc-colors-error-fixed-lighter-46: light-dark(#feecec, #feecec);
    --ids-smc-colors-error-fixed-lighter-48: light-dark(#feefef, #feefef);
    --ids-smc-colors-error-fixed-lighter-50: light-dark(#fef2f2, #fef2f2);
    --ids-smc-colors-error-lighter-10: light-dark(#f87171, #dc2626);
    --ids-smc-colors-error-lighter-20: light-dark(#fca5a5, #b91c1c);
    --ids-smc-colors-error-lighter-30: light-dark(#fecaca, #991b1b);
    --ids-smc-colors-error-lighter-40: light-dark(#fee2e2, #751a1a);
    --ids-smc-colors-error-lighter-42: light-dark(#fee5e5, #611315);
    --ids-smc-colors-error-lighter-44: light-dark(#fee8e8, #571012);
    --ids-smc-colors-error-lighter-46: light-dark(#feecec, #4e0d0e);
    --ids-smc-colors-error-lighter-48: light-dark(#feefef, #7f1d1d);
    --ids-smc-colors-error-lighter-50: light-dark(#fef2f2, #450a0a);
    --ids-smc-colors-facebook-darker-10: light-dark(#0052d6, #0052d6);
    --ids-smc-colors-facebook-darker-20: light-dark(#0042ad, #0042ad);
    --ids-smc-colors-facebook-default: light-dark(#0866ff, #0866ff);
    --ids-smc-colors-facebook-lighter-10: light-dark(#3481ff, #3481ff);
    --ids-smc-colors-facebook-lighter-20: light-dark(#619dff, #619dff);
    --ids-smc-colors-facebook-lighter-30: light-dark(#8db8ff, #8db8ff);
    --ids-smc-colors-github-darker-10: light-dark(#262626, #262626);
    --ids-smc-colors-github-darker-20: light-dark(#191919, #191919);
    --ids-smc-colors-github-default: light-dark(#333333, #333333);
    --ids-smc-colors-github-lighter-10: light-dark(#3f3f3f, #3f3f3f);
    --ids-smc-colors-github-lighter-20: light-dark(#4c4c4c, #4c4c4c);
    --ids-smc-colors-github-lighter-30: light-dark(#595959, #595959);
    --ids-smc-colors-gmail-darker-10: light-dark(#c82f23, #c82f23);
    --ids-smc-colors-gmail-darker-20: light-dark(#a61f14, #a61f14);
    --ids-smc-colors-gmail-default: light-dark(#ea4335, #ea4335);
    --ids-smc-colors-gmail-lighter-10: light-dark(#ff5647, #ff5647);
    --ids-smc-colors-gmail-lighter-20: light-dark(#ff7c71, #ff7c71);
    --ids-smc-colors-gmail-lighter-30: light-dark(#ffa29a, #ffa29a);
    --ids-smc-colors-highlight-darker-10: light-dark(#0891b2, #67e8f9);
    --ids-smc-colors-highlight-darker-20: light-dark(#0e7490, #a5f3fc);
    --ids-smc-colors-highlight-darker-30: light-dark(#155e75, #cffafe);
    --ids-smc-colors-highlight-darker-31: light-dark(#155b72, #dbfcfe);
    --ids-smc-colors-highlight-darker-32: light-dark(#16596f, #e1fcff);
    --ids-smc-colors-highlight-darker-33: light-dark(#16566c, #e6fdff);
    --ids-smc-colors-highlight-darker-34: light-dark(#165369, #ecfeff);
    --ids-smc-colors-highlight-darker-35: light-dark(#165166, #ecfeff);
    --ids-smc-colors-highlight-darker-40: light-dark(#164e63, #d5fbfe);
    --ids-smc-colors-highlight-darker-50: light-dark(#083344, #ecfeff);
    --ids-smc-colors-highlight-default: light-dark(#06b6d4, #22d3ee);
    --ids-smc-colors-highlight-fixed-darker-10: light-dark(#0891b2, #0891b2);
    --ids-smc-colors-highlight-fixed-darker-20: light-dark(#0e7490, #0e7490);
    --ids-smc-colors-highlight-fixed-darker-30: light-dark(#155e75, #155e75);
    --ids-smc-colors-highlight-fixed-darker-31: light-dark(#155b72, #155b72);
    --ids-smc-colors-highlight-fixed-darker-32: light-dark(#16596f, #16596f);
    --ids-smc-colors-highlight-fixed-darker-33: light-dark(#16566c, #16566c);
    --ids-smc-colors-highlight-fixed-darker-34: light-dark(#165369, #165369);
    --ids-smc-colors-highlight-fixed-darker-35: light-dark(#165166, #165166);
    --ids-smc-colors-highlight-fixed-darker-40: light-dark(#164e63, #164e63);
    --ids-smc-colors-highlight-fixed-darker-50: light-dark(#083344, #083344);
    --ids-smc-colors-highlight-fixed-default: light-dark(#06b6d4, #06b6d4);
    --ids-smc-colors-highlight-fixed-lighter-10: light-dark(#22d3ee, #22d3ee);
    --ids-smc-colors-highlight-fixed-lighter-20: light-dark(#67e8f9, #67e8f9);
    --ids-smc-colors-highlight-fixed-lighter-30: light-dark(#a5f3fc, #a5f3fc);
    --ids-smc-colors-highlight-fixed-lighter-40: light-dark(#cffafe, #cffafe);
    --ids-smc-colors-highlight-fixed-lighter-42: light-dark(#d5fbfe, #d5fbfe);
    --ids-smc-colors-highlight-fixed-lighter-44: light-dark(#dbfcfe, #dbfcfe);
    --ids-smc-colors-highlight-fixed-lighter-46: light-dark(#e1fcff, #e1fcff);
    --ids-smc-colors-highlight-fixed-lighter-48: light-dark(#e6fdff, #e6fdff);
    --ids-smc-colors-highlight-fixed-lighter-50: light-dark(#ecfeff, #ecfeff);
    --ids-smc-colors-highlight-lighter-10: light-dark(#22d3ee, #0891b2);
    --ids-smc-colors-highlight-lighter-20: light-dark(#67e8f9, #0e7490);
    --ids-smc-colors-highlight-lighter-30: light-dark(#a5f3fc, #155e75);
    --ids-smc-colors-highlight-lighter-40: light-dark(#cffafe, #155b72);
    --ids-smc-colors-highlight-lighter-42: light-dark(#d5fbfe, #16566c);
    --ids-smc-colors-highlight-lighter-44: light-dark(#dbfcfe, #165369);
    --ids-smc-colors-highlight-lighter-46: light-dark(#e1fcff, #165166);
    --ids-smc-colors-highlight-lighter-48: light-dark(#e6fdff, #164e63);
    --ids-smc-colors-highlight-lighter-50: light-dark(#ecfeff, #083344);
    --ids-smc-colors-info-darker-10: light-dark(#2563eb, #93c5fd);
    --ids-smc-colors-info-darker-20: light-dark(#1d4ed8, #bfdbfe);
    --ids-smc-colors-info-darker-30: light-dark(#1e40af, #dbeafe);
    --ids-smc-colors-info-darker-31: light-dark(#1e3fa9, #e3effe);
    --ids-smc-colors-info-darker-32: light-dark(#1f3ea2, #ebf4ff);
    --ids-smc-colors-info-darker-33: light-dark(#1f3d9c, #ebf4ff);
    --ids-smc-colors-info-darker-34: light-dark(#1e3c96, #eff6ff);
    --ids-smc-colors-info-darker-35: light-dark(#1e3b90, #eff6ff);
    --ids-smc-colors-info-darker-40: light-dark(#1e3a8a, #dfecfe);
    --ids-smc-colors-info-darker-50: light-dark(#172554, #eff6ff);
    --ids-smc-colors-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-smc-colors-info-fixed-darker-10: light-dark(#2563eb, #2563eb);
    --ids-smc-colors-info-fixed-darker-20: light-dark(#1d4ed8, #1d4ed8);
    --ids-smc-colors-info-fixed-darker-30: light-dark(#1e40af, #1e40af);
    --ids-smc-colors-info-fixed-darker-31: light-dark(#1e3fa9, #1e3fa9);
    --ids-smc-colors-info-fixed-darker-32: light-dark(#1f3ea2, #1f3ea2);
    --ids-smc-colors-info-fixed-darker-33: light-dark(#1f3d9c, #1f3d9c);
    --ids-smc-colors-info-fixed-darker-34: light-dark(#1e3c96, #1e3c96);
    --ids-smc-colors-info-fixed-darker-35: light-dark(#1e3b90, #1e3b90);
    --ids-smc-colors-info-fixed-darker-40: light-dark(#1e3a8a, #1e3a8a);
    --ids-smc-colors-info-fixed-darker-50: light-dark(#172554, #172554);
    --ids-smc-colors-info-fixed-default: light-dark(#3b82f6, #3b82f6);
    --ids-smc-colors-info-fixed-lighter-10: light-dark(#60a5fa, #60a5fa);
    --ids-smc-colors-info-fixed-lighter-20: light-dark(#93c5fd, #93c5fd);
    --ids-smc-colors-info-fixed-lighter-30: light-dark(#bfdbfe, #bfdbfe);
    --ids-smc-colors-info-fixed-lighter-40: light-dark(#dbeafe, #dbeafe);
    --ids-smc-colors-info-fixed-lighter-42: light-dark(#dfecfe, #dfecfe);
    --ids-smc-colors-info-fixed-lighter-44: light-dark(#e3effe, #e3effe);
    --ids-smc-colors-info-fixed-lighter-46: light-dark(#ebf4ff, #ebf4ff);
    --ids-smc-colors-info-fixed-lighter-48: light-dark(#ebf4ff, #ebf4ff);
    --ids-smc-colors-info-fixed-lighter-50: light-dark(#eff6ff, #eff6ff);
    --ids-smc-colors-info-lighter-10: light-dark(#60a5fa, #2563eb);
    --ids-smc-colors-info-lighter-20: light-dark(#93c5fd, #1d4ed8);
    --ids-smc-colors-info-lighter-30: light-dark(#bfdbfe, #1e40af);
    --ids-smc-colors-info-lighter-40: light-dark(#dbeafe, #1e3fa9);
    --ids-smc-colors-info-lighter-42: light-dark(#dfecfe, #1f3d9c);
    --ids-smc-colors-info-lighter-44: light-dark(#e3effe, #1e3c96);
    --ids-smc-colors-info-lighter-46: light-dark(#ebf4ff, #1e3b90);
    --ids-smc-colors-info-lighter-48: light-dark(#ebf4ff, #1e3a8a);
    --ids-smc-colors-info-lighter-50: light-dark(#eff6ff, #172554);
    --ids-smc-colors-linkedin-darker-10: light-dark(#004182, #004182);
    --ids-smc-colors-linkedin-darker-20: light-dark(#053059, #053059);
    --ids-smc-colors-linkedin-default: light-dark(#0a66c2, #0a66c2);
    --ids-smc-colors-linkedin-lighter-10: light-dark(#378fe9, #378fe9);
    --ids-smc-colors-linkedin-lighter-20: light-dark(#71b7fb, #71b7fb);
    --ids-smc-colors-linkedin-lighter-30: light-dark(#aad6ff, #aad6ff);
    --ids-smc-colors-opacity-brand-50: light-dark(#003cff0d, #ffffff0d);
    --ids-smc-colors-opacity-brand-100: light-dark(#003cff1a, #ffffff1a);
    --ids-smc-colors-opacity-brand-200: light-dark(#003cff33, #ffffff33);
    --ids-smc-colors-opacity-brand-300: light-dark(#003cff33, #ffffff4d);
    --ids-smc-colors-opacity-brand-400: light-dark(#003cff66, #ffffff66);
    --ids-smc-colors-opacity-brand-500: light-dark(#003cff80, #ffffff80);
    --ids-smc-colors-opacity-brand-600: light-dark(#003cff99, #ffffff99);
    --ids-smc-colors-opacity-brand-700: light-dark(#003cffb3, #ffffffb3);
    --ids-smc-colors-opacity-brand-800: light-dark(#003cffcc, #ffffffcc);
    --ids-smc-colors-opacity-brand-900: light-dark(#003cffe6, #ffffffe6);
    --ids-smc-colors-opacity-brand-1000: light-dark(#003cff, #ffffff);
    --ids-smc-colors-opacity-brand-fixed-50: light-dark(#003cff0d, #003cff0d);
    --ids-smc-colors-opacity-brand-fixed-100: light-dark(#003cff1a, #003cff1a);
    --ids-smc-colors-opacity-brand-fixed-200: light-dark(#003cff33, #003cff33);
    --ids-smc-colors-opacity-brand-fixed-300: light-dark(#003cff4d, #003cff4d);
    --ids-smc-colors-opacity-brand-fixed-400: light-dark(#003cff66, #003cff66);
    --ids-smc-colors-opacity-brand-fixed-500: light-dark(#003cff80, #003cff80);
    --ids-smc-colors-opacity-brand-fixed-600: light-dark(#003cff99, #003cff99);
    --ids-smc-colors-opacity-brand-fixed-700: light-dark(#003cffb3, #003cffb3);
    --ids-smc-colors-opacity-brand-fixed-800: light-dark(#003cffcc, #003cffcc);
    --ids-smc-colors-opacity-brand-fixed-900: light-dark(#003cffe6, #003cffe6);
    --ids-smc-colors-opacity-brand-fixed-1000: light-dark(#003cff, #003cff);
    --ids-smc-colors-opacity-cool-2-50: light-dark(#64748b0d, #ffffff0d);
    --ids-smc-colors-opacity-cool-2-100: light-dark(#64748b1a, #ffffff1a);
    --ids-smc-colors-opacity-cool-2-200: light-dark(#64748b33, #ffffff33);
    --ids-smc-colors-opacity-cool-2-300: light-dark(#64748b4d, #ffffff4d);
    --ids-smc-colors-opacity-cool-2-400: light-dark(#64748b66, #ffffff66);
    --ids-smc-colors-opacity-cool-2-500: light-dark(#64748b80, #ffffff80);
    --ids-smc-colors-opacity-cool-2-600: light-dark(#64748b99, #ffffff99);
    --ids-smc-colors-opacity-cool-2-700: light-dark(#64748bb3, #ffffffb3);
    --ids-smc-colors-opacity-cool-2-800: light-dark(#64748bcc, #ffffffcc);
    --ids-smc-colors-opacity-cool-2-900: light-dark(#64748be6, #ffffffe6);
    --ids-smc-colors-opacity-cool-2-1000: light-dark(#64748b, #ffffff);
    --ids-smc-colors-opacity-cool-2-fixed-50: light-dark(#64748b0d, #64748b0d);
    --ids-smc-colors-opacity-cool-2-fixed-100: light-dark(#64748b1a, #64748b1a);
    --ids-smc-colors-opacity-cool-2-fixed-200: light-dark(#64748b33, #64748b33);
    --ids-smc-colors-opacity-cool-2-fixed-300: light-dark(#64748b4d, #64748b4d);
    --ids-smc-colors-opacity-cool-2-fixed-400: light-dark(#64748b66, #64748b66);
    --ids-smc-colors-opacity-cool-2-fixed-500: light-dark(#64748b80, #64748b80);
    --ids-smc-colors-opacity-cool-2-fixed-600: light-dark(#64748b99, #64748b99);
    --ids-smc-colors-opacity-cool-2-fixed-700: light-dark(#64748bb3, #64748bb3);
    --ids-smc-colors-opacity-cool-2-fixed-800: light-dark(#64748bcc, #64748bcc);
    --ids-smc-colors-opacity-cool-2-fixed-900: light-dark(#64748be6, #64748be6);
    --ids-smc-colors-opacity-cool-2-fixed-1000: light-dark(#64748b, #64748b);
    --ids-smc-colors-opacity-cool-50: light-dark(#648cb40d, #ffffff0d);
    --ids-smc-colors-opacity-cool-100: light-dark(#648cb41a, #ffffff1a);
    --ids-smc-colors-opacity-cool-150: light-dark(#648cb426, #ffffff26);
    --ids-smc-colors-opacity-cool-200: light-dark(#648cb433, #ffffff33);
    --ids-smc-colors-opacity-cool-250: light-dark(#648cb440, #ffffff40);
    --ids-smc-colors-opacity-cool-300: light-dark(#648cb44d, #ffffff4d);
    --ids-smc-colors-opacity-cool-400: light-dark(#648cb466, #ffffff66);
    --ids-smc-colors-opacity-cool-500: light-dark(#648cb480, #ffffff80);
    --ids-smc-colors-opacity-cool-600: light-dark(#648cb499, #ffffff99);
    --ids-smc-colors-opacity-cool-700: light-dark(#648cb4b3, #ffffffb3);
    --ids-smc-colors-opacity-cool-800: light-dark(#648cb4cc, #ffffffcc);
    --ids-smc-colors-opacity-cool-900: light-dark(#648cb4e6, #ffffffe6);
    --ids-smc-colors-opacity-cool-950: light-dark(#648cb4f2, #fffffff2);
    --ids-smc-colors-opacity-dark-50: light-dark(#0000000d, #ffffff0d);
    --ids-smc-colors-opacity-dark-100: light-dark(#0000001a, #ffffff1a);
    --ids-smc-colors-opacity-dark-150: light-dark(#00000026, #ffffff26);
    --ids-smc-colors-opacity-dark-200: light-dark(#00000033, #ffffff33);
    --ids-smc-colors-opacity-dark-250: light-dark(#00000040, #ffffff40);
    --ids-smc-colors-opacity-dark-300: light-dark(#0000004d, #ffffff4d);
    --ids-smc-colors-opacity-dark-400: light-dark(#00000066, #ffffff66);
    --ids-smc-colors-opacity-dark-500: light-dark(#00000080, #ffffff80);
    --ids-smc-colors-opacity-dark-600: light-dark(#00000099, #ffffff99);
    --ids-smc-colors-opacity-dark-700: light-dark(#000000b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-800: light-dark(#000000cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-900: light-dark(#000000e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-950: light-dark(#000000f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-50: light-dark(#0206170d, #ffffff0d);
    --ids-smc-colors-opacity-dark-cool-100: light-dark(#0206171a, #ffffff1a);
    --ids-smc-colors-opacity-dark-cool-150: light-dark(#02061726, #ffffff26);
    --ids-smc-colors-opacity-dark-cool-200: light-dark(#02061733, #ffffff33);
    --ids-smc-colors-opacity-dark-cool-250: light-dark(#02061740, #ffffff40);
    --ids-smc-colors-opacity-dark-cool-300: light-dark(#0206174d, #ffffff4d);
    --ids-smc-colors-opacity-dark-cool-400: light-dark(#02061766, #ffffff66);
    --ids-smc-colors-opacity-dark-cool-500: light-dark(#02061780, #ffffff80);
    --ids-smc-colors-opacity-dark-cool-600: light-dark(#02061799, #ffffff99);
    --ids-smc-colors-opacity-dark-cool-700: light-dark(#020617b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-cool-800: light-dark(#020617cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-cool-900: light-dark(#020617e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-cool-950: light-dark(#020617f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-variant-default: light-dark(#02061740, #020617b3);
    --ids-smc-colors-opacity-error-50: light-dark(#ef44440d, #ffffff0d);
    --ids-smc-colors-opacity-error-100: light-dark(#ef44441a, #ffffff1a);
    --ids-smc-colors-opacity-error-200: light-dark(#ef444433, #ffffff33);
    --ids-smc-colors-opacity-error-300: light-dark(#ef44444d, #ffffff4d);
    --ids-smc-colors-opacity-error-400: light-dark(#ef444466, #ffffff66);
    --ids-smc-colors-opacity-error-500: light-dark(#ef444480, #ffffff80);
    --ids-smc-colors-opacity-error-600: light-dark(#ef444499, #ffffff99);
    --ids-smc-colors-opacity-error-700: light-dark(#ef4444b3, #ffffffb3);
    --ids-smc-colors-opacity-error-800: light-dark(#ef4444cc, #ffffffcc);
    --ids-smc-colors-opacity-error-900: light-dark(#ef4444e6, #ffffffe6);
    --ids-smc-colors-opacity-error-1000: light-dark(#ef4444, #ffffff);
    --ids-smc-colors-opacity-error-fixed-50: light-dark(#ef44440d, #ef44440d);
    --ids-smc-colors-opacity-error-fixed-100: light-dark(#ef44441a, #ef44441a);
    --ids-smc-colors-opacity-error-fixed-200: light-dark(#ef444433, #ef44444d);
    --ids-smc-colors-opacity-error-fixed-300: light-dark(#ef44444d, #ef444466);
    --ids-smc-colors-opacity-error-fixed-400: light-dark(#ef444466, #ef444480);
    --ids-smc-colors-opacity-error-fixed-500: light-dark(#ef444480, #ef444499);
    --ids-smc-colors-opacity-error-fixed-600: light-dark(#ef444499, #ef4444b3);
    --ids-smc-colors-opacity-error-fixed-700: light-dark(#ef4444b3, #ef4444cc);
    --ids-smc-colors-opacity-error-fixed-800: light-dark(#ef4444cc, #ef4444e6);
    --ids-smc-colors-opacity-error-fixed-900: light-dark(#ef4444e6, #ef4444e6);
    --ids-smc-colors-opacity-error-fixed-1000: light-dark(#ef4444, #ef4444);
    --ids-smc-colors-opacity-highlight-50: light-dark(#06b6d40d, #ffffff0d);
    --ids-smc-colors-opacity-highlight-100: light-dark(#06b6d41a, #ffffff1a);
    --ids-smc-colors-opacity-highlight-200: light-dark(#06b6d433, #ffffff33);
    --ids-smc-colors-opacity-highlight-300: light-dark(#06b6d44d, #ffffff4d);
    --ids-smc-colors-opacity-highlight-400: light-dark(#06b6d466, #ffffff66);
    --ids-smc-colors-opacity-highlight-500: light-dark(#06b6d480, #ffffff80);
    --ids-smc-colors-opacity-highlight-600: light-dark(#06b6d499, #ffffff99);
    --ids-smc-colors-opacity-highlight-700: light-dark(#06b6d4b3, #ffffffb3);
    --ids-smc-colors-opacity-highlight-800: light-dark(#06b6d4cc, #ffffffcc);
    --ids-smc-colors-opacity-highlight-900: light-dark(#06b6d4e6, #ffffffe6);
    --ids-smc-colors-opacity-highlight-1000: light-dark(#06b6d4, #ffffff);
    --ids-smc-colors-opacity-highlight-fixed-50: light-dark(#06b6d40d, #06b6d40d);
    --ids-smc-colors-opacity-highlight-fixed-100: light-dark(#06b6d41a, #06b6d41a);
    --ids-smc-colors-opacity-highlight-fixed-200: light-dark(#06b6d433, #06b6d433);
    --ids-smc-colors-opacity-highlight-fixed-300: light-dark(#06b6d44d, #06b6d44d);
    --ids-smc-colors-opacity-highlight-fixed-400: light-dark(#06b6d466, #06b6d466);
    --ids-smc-colors-opacity-highlight-fixed-500: light-dark(#06b6d480, #06b6d480);
    --ids-smc-colors-opacity-highlight-fixed-600: light-dark(#06b6d499, #06b6d499);
    --ids-smc-colors-opacity-highlight-fixed-700: light-dark(#06b6d4b3, #06b6d4b3);
    --ids-smc-colors-opacity-highlight-fixed-800: light-dark(#06b6d4cc, #06b6d4cc);
    --ids-smc-colors-opacity-highlight-fixed-900: light-dark(#06b6d4e6, #06b6d4e6);
    --ids-smc-colors-opacity-highlight-fixed-1000: light-dark(#06b6d4, #06b6d4);
    --ids-smc-colors-opacity-info-50: light-dark(#3b82f60d, #ffffff0d);
    --ids-smc-colors-opacity-info-100: light-dark(#3b82f61a, #ffffff1a);
    --ids-smc-colors-opacity-info-200: light-dark(#3b82f633, #ffffff33);
    --ids-smc-colors-opacity-info-300: light-dark(#3b82f64d, #ffffff4d);
    --ids-smc-colors-opacity-info-400: light-dark(#3b82f666, #ffffff66);
    --ids-smc-colors-opacity-info-500: light-dark(#3b82f680, #ffffff80);
    --ids-smc-colors-opacity-info-600: light-dark(#3b82f699, #ffffff99);
    --ids-smc-colors-opacity-info-700: light-dark(#3b82f6b3, #ffffffb3);
    --ids-smc-colors-opacity-info-800: light-dark(#3b82f6cc, #ffffffcc);
    --ids-smc-colors-opacity-info-900: light-dark(#3b82f6e6, #ffffffe6);
    --ids-smc-colors-opacity-info-1000: light-dark(#3b82f6, #ffffff);
    --ids-smc-colors-opacity-info-fixed-50: light-dark(#3b82f60d, #3b82f60d);
    --ids-smc-colors-opacity-info-fixed-100: light-dark(#3b82f61a, #3b82f61a);
    --ids-smc-colors-opacity-info-fixed-200: light-dark(#3b82f633, #3b82f633);
    --ids-smc-colors-opacity-info-fixed-300: light-dark(#3b82f64d, #3b82f64d);
    --ids-smc-colors-opacity-info-fixed-400: light-dark(#3b82f666, #3b82f666);
    --ids-smc-colors-opacity-info-fixed-500: light-dark(#3b82f680, #3b82f680);
    --ids-smc-colors-opacity-info-fixed-600: light-dark(#3b82f699, #3b82f699);
    --ids-smc-colors-opacity-info-fixed-700: light-dark(#3b82f6b3, #3b82f6b3);
    --ids-smc-colors-opacity-info-fixed-800: light-dark(#3b82f6cc, #3b82f6cc);
    --ids-smc-colors-opacity-info-fixed-900: light-dark(#3b82f6e6, #3b82f6e6);
    --ids-smc-colors-opacity-info-fixed-1000: light-dark(#3b82f6, #3b82f6);
    --ids-smc-colors-opacity-light-50: light-dark(#ffffff0d, #ffffff0d);
    --ids-smc-colors-opacity-light-100: light-dark(#ffffff1a, #ffffff1a);
    --ids-smc-colors-opacity-light-150: light-dark(#ffffff26, #ffffff26);
    --ids-smc-colors-opacity-light-200: light-dark(#ffffff33, #ffffff33);
    --ids-smc-colors-opacity-light-250: light-dark(#ffffff40, #ffffff40);
    --ids-smc-colors-opacity-light-300: light-dark(#ffffff4d, #ffffff4d);
    --ids-smc-colors-opacity-light-400: light-dark(#ffffff66, #ffffff66);
    --ids-smc-colors-opacity-light-500: light-dark(#ffffff80, #ffffff80);
    --ids-smc-colors-opacity-light-600: light-dark(#ffffff99, #ffffff99);
    --ids-smc-colors-opacity-light-700: light-dark(#ffffffb3, #ffffffb3);
    --ids-smc-colors-opacity-light-800: light-dark(#ffffffcc, #ffffffcc);
    --ids-smc-colors-opacity-light-900: light-dark(#ffffffe6, #ffffffe6);
    --ids-smc-colors-opacity-light-950: light-dark(#fffffff2, #fffffff2);
    --ids-smc-colors-opacity-primary-50: light-dark(#003cff0d, #ffffff0d);
    --ids-smc-colors-opacity-primary-100: light-dark(#003cff1a, #ffffff1a);
    --ids-smc-colors-opacity-primary-200: light-dark(#003cff33, #ffffff33);
    --ids-smc-colors-opacity-primary-300: light-dark(#003cff33, #ffffff4d);
    --ids-smc-colors-opacity-primary-400: light-dark(#003cff66, #ffffff66);
    --ids-smc-colors-opacity-primary-500: light-dark(#003cff80, #ffffff80);
    --ids-smc-colors-opacity-primary-600: light-dark(#003cff99, #ffffff99);
    --ids-smc-colors-opacity-primary-700: light-dark(#003cffb3, #ffffffb3);
    --ids-smc-colors-opacity-primary-800: light-dark(#003cffcc, #ffffffcc);
    --ids-smc-colors-opacity-primary-900: light-dark(#003cffe6, #ffffffe6);
    --ids-smc-colors-opacity-primary-1000: light-dark(#003cff, #ffffff);
    --ids-smc-colors-opacity-primary-fixed-50: light-dark(#003cff0d, #003cff0d);
    --ids-smc-colors-opacity-primary-fixed-100: light-dark(#003cff1a, #003cff1a);
    --ids-smc-colors-opacity-primary-fixed-200: light-dark(#003cff33, #003cff33);
    --ids-smc-colors-opacity-primary-fixed-300: light-dark(#003cff4d, #003cff4d);
    --ids-smc-colors-opacity-primary-fixed-400: light-dark(#003cff66, #003cff66);
    --ids-smc-colors-opacity-primary-fixed-500: light-dark(#003cff80, #003cff80);
    --ids-smc-colors-opacity-primary-fixed-600: light-dark(#003cff99, #003cff99);
    --ids-smc-colors-opacity-primary-fixed-700: light-dark(#003cffb3, #003cffb3);
    --ids-smc-colors-opacity-primary-fixed-800: light-dark(#003cffcc, #003cffcc);
    --ids-smc-colors-opacity-primary-fixed-900: light-dark(#003cffe6, #003cffe6);
    --ids-smc-colors-opacity-primary-fixed-1000: light-dark(#003cff, #003cff);
    --ids-smc-colors-opacity-secondary-50: light-dark(#64748b0d, #ffffff0d);
    --ids-smc-colors-opacity-secondary-100: light-dark(#64748b1a, #ffffff1a);
    --ids-smc-colors-opacity-secondary-200: light-dark(#64748b33, #ffffff33);
    --ids-smc-colors-opacity-secondary-300: light-dark(#64748b4d, #ffffff4d);
    --ids-smc-colors-opacity-secondary-400: light-dark(#64748b66, #ffffff66);
    --ids-smc-colors-opacity-secondary-500: light-dark(#64748b80, #ffffff80);
    --ids-smc-colors-opacity-secondary-600: light-dark(#64748b99, #ffffff99);
    --ids-smc-colors-opacity-secondary-700: light-dark(#64748bb3, #ffffffb3);
    --ids-smc-colors-opacity-secondary-800: light-dark(#64748bcc, #ffffffcc);
    --ids-smc-colors-opacity-secondary-900: light-dark(#64748be6, #ffffffe6);
    --ids-smc-colors-opacity-secondary-1000: light-dark(#64748b, #ffffff);
    --ids-smc-colors-opacity-secondary-fixed-50: light-dark(#64748b0d, #64748b0d);
    --ids-smc-colors-opacity-secondary-fixed-100: light-dark(#64748b1a, #64748b1a);
    --ids-smc-colors-opacity-secondary-fixed-200: light-dark(#64748b33, #64748b33);
    --ids-smc-colors-opacity-secondary-fixed-300: light-dark(#64748b4d, #64748b4d);
    --ids-smc-colors-opacity-secondary-fixed-400: light-dark(#64748b66, #64748b66);
    --ids-smc-colors-opacity-secondary-fixed-500: light-dark(#64748b80, #64748b80);
    --ids-smc-colors-opacity-secondary-fixed-600: light-dark(#64748b99, #64748b99);
    --ids-smc-colors-opacity-secondary-fixed-700: light-dark(#64748bb3, #64748bb3);
    --ids-smc-colors-opacity-secondary-fixed-800: light-dark(#64748bcc, #64748bcc);
    --ids-smc-colors-opacity-secondary-fixed-900: light-dark(#64748be6, #64748be6);
    --ids-smc-colors-opacity-secondary-fixed-1000: light-dark(#64748b, #64748b);
    --ids-smc-colors-opacity-success-50: light-dark(#22c55e0d, #ffffff0d);
    --ids-smc-colors-opacity-success-100: light-dark(#22c55e1a, #ffffff1a);
    --ids-smc-colors-opacity-success-200: light-dark(#22c55e33, #ffffff33);
    --ids-smc-colors-opacity-success-300: light-dark(#22c55e4d, #ffffff4d);
    --ids-smc-colors-opacity-success-400: light-dark(#22c55e66, #ffffff66);
    --ids-smc-colors-opacity-success-500: light-dark(#22c55e80, #ffffff80);
    --ids-smc-colors-opacity-success-600: light-dark(#22c55e99, #ffffff99);
    --ids-smc-colors-opacity-success-700: light-dark(#22c55eb3, #ffffffb3);
    --ids-smc-colors-opacity-success-800: light-dark(#22c55ecc, #ffffffcc);
    --ids-smc-colors-opacity-success-900: light-dark(#22c55ee6, #ffffffe6);
    --ids-smc-colors-opacity-success-1000: light-dark(#22c55e, #ffffff);
    --ids-smc-colors-opacity-success-fixed-50: light-dark(#22c55e0d, #22c55e0d);
    --ids-smc-colors-opacity-success-fixed-100: light-dark(#22c55e1a, #22c55e1a);
    --ids-smc-colors-opacity-success-fixed-200: light-dark(#22c55e33, #22c55e33);
    --ids-smc-colors-opacity-success-fixed-300: light-dark(#22c55e4d, #22c55e4d);
    --ids-smc-colors-opacity-success-fixed-400: light-dark(#22c55e66, #22c55e66);
    --ids-smc-colors-opacity-success-fixed-500: light-dark(#22c55e80, #22c55e80);
    --ids-smc-colors-opacity-success-fixed-600: light-dark(#22c55e99, #22c55e99);
    --ids-smc-colors-opacity-success-fixed-700: light-dark(#22c55eb3, #22c55eb3);
    --ids-smc-colors-opacity-success-fixed-800: light-dark(#22c55ecc, #22c55ecc);
    --ids-smc-colors-opacity-success-fixed-900: light-dark(#22c55ee6, #22c55ee6);
    --ids-smc-colors-opacity-success-fixed-1000: light-dark(light-dark(#22c55e, #ffffff), #22c55e);
    --ids-smc-colors-opacity-warning-50: light-dark(#f973160d, #ffffff0d);
    --ids-smc-colors-opacity-warning-100: light-dark(#f973161a, #ffffff1a);
    --ids-smc-colors-opacity-warning-200: light-dark(#f9731633, #ffffff33);
    --ids-smc-colors-opacity-warning-300: light-dark(#f973164d, #ffffff4d);
    --ids-smc-colors-opacity-warning-400: light-dark(#f9731666, #ffffff66);
    --ids-smc-colors-opacity-warning-500: light-dark(#f9731680, #ffffff80);
    --ids-smc-colors-opacity-warning-600: light-dark(#f9731699, #ffffff99);
    --ids-smc-colors-opacity-warning-700: light-dark(#f97316b3, #ffffffb3);
    --ids-smc-colors-opacity-warning-800: light-dark(#f97316cc, #ffffffcc);
    --ids-smc-colors-opacity-warning-900: light-dark(#f97316e6, #ffffffe6);
    --ids-smc-colors-opacity-warning-1000: light-dark(#f97316, #ffffff);
    --ids-smc-colors-opacity-warning-fixed-50: light-dark(#f973160d, #f973160d);
    --ids-smc-colors-opacity-warning-fixed-100: light-dark(#f973161a, #f973161a);
    --ids-smc-colors-opacity-warning-fixed-200: light-dark(#f9731633, #f9731633);
    --ids-smc-colors-opacity-warning-fixed-300: light-dark(#f973164d, #f973164d);
    --ids-smc-colors-opacity-warning-fixed-400: light-dark(#f9731666, #f9731666);
    --ids-smc-colors-opacity-warning-fixed-500: light-dark(#f9731680, #f9731680);
    --ids-smc-colors-opacity-warning-fixed-600: light-dark(#f9731699, #f9731699);
    --ids-smc-colors-opacity-warning-fixed-700: light-dark(#f97316b3, #f97316b3);
    --ids-smc-colors-opacity-warning-fixed-800: light-dark(#f97316cc, #f97316cc);
    --ids-smc-colors-opacity-warning-fixed-900: light-dark(#f97316e6, #f97316e6);
    --ids-smc-colors-opacity-warning-fixed-1000: light-dark(#f97316, #f97316);
    --ids-smc-colors-primary-darker-10: light-dark(#003beb, #7598ff);
    --ids-smc-colors-primary-darker-20: light-dark(#002fbd, #a3baff);
    --ids-smc-colors-primary-darker-30: light-dark(#00248f, #d1ddff);
    --ids-smc-colors-primary-darker-31: light-dark(#002287, #d9e3ff);
    --ids-smc-colors-primary-darker-32: light-dark(#00207f, #dde6ff);
    --ids-smc-colors-primary-darker-33: light-dark(#001e78, #e1e9ff);
    --ids-smc-colors-primary-darker-34: light-dark(#001c70, #e5ecff);
    --ids-smc-colors-primary-darker-35: light-dark(#001a68, #e5ecff);
    --ids-smc-colors-primary-darker-40: light-dark(#001861, #d5e0ff);
    --ids-smc-colors-primary-darker-50: light-dark(#001452, #e5ecff);
    --ids-smc-colors-primary-default: light-dark(#003cff, #4775ff);
    --ids-smc-colors-primary-fixed-darker-10: light-dark(#003beb, #003beb);
    --ids-smc-colors-primary-fixed-darker-20: light-dark(#002fbd, #002fbd);
    --ids-smc-colors-primary-fixed-darker-30: light-dark(#00248f, #00248f);
    --ids-smc-colors-primary-fixed-darker-31: light-dark(#002287, #002287);
    --ids-smc-colors-primary-fixed-darker-32: light-dark(#00207f, #00207f);
    --ids-smc-colors-primary-fixed-darker-33: light-dark(#001e78, #001e78);
    --ids-smc-colors-primary-fixed-darker-34: light-dark(#001c70, #001c70);
    --ids-smc-colors-primary-fixed-darker-35: light-dark(#001a68, #001a68);
    --ids-smc-colors-primary-fixed-darker-40: light-dark(#001861, #001861);
    --ids-smc-colors-primary-fixed-darker-50: light-dark(#001452, #001452);
    --ids-smc-colors-primary-fixed-default: light-dark(#003cff, #003cff);
    --ids-smc-colors-primary-fixed-lighter-10: light-dark(#4775ff, #4775ff);
    --ids-smc-colors-primary-fixed-lighter-20: light-dark(#7598ff, #7598ff);
    --ids-smc-colors-primary-fixed-lighter-30: light-dark(#a3baff, #a3baff);
    --ids-smc-colors-primary-fixed-lighter-40: light-dark(#d1ddff, #d1ddff);
    --ids-smc-colors-primary-fixed-lighter-42: light-dark(#d5e0ff, #d5e0ff);
    --ids-smc-colors-primary-fixed-lighter-44: light-dark(#d9e3ff, #d9e3ff);
    --ids-smc-colors-primary-fixed-lighter-46: light-dark(#dde6ff, #dde6ff);
    --ids-smc-colors-primary-fixed-lighter-48: light-dark(#e1e9ff, #e1e9ff);
    --ids-smc-colors-primary-fixed-lighter-50: light-dark(#e5ecff, #e5ecff);
    --ids-smc-colors-primary-lighter-10: light-dark(#4775ff, #003beb);
    --ids-smc-colors-primary-lighter-20: light-dark(#7598ff, #002fbd);
    --ids-smc-colors-primary-lighter-30: light-dark(#a3baff, #00248f);
    --ids-smc-colors-primary-lighter-40: light-dark(#d1ddff, #002287);
    --ids-smc-colors-primary-lighter-42: light-dark(#d5e0ff, #001e78);
    --ids-smc-colors-primary-lighter-44: light-dark(#d9e3ff, #001c70);
    --ids-smc-colors-primary-lighter-46: light-dark(#dde6ff, #001a68);
    --ids-smc-colors-primary-lighter-48: light-dark(#e1e9ff, #001861);
    --ids-smc-colors-primary-lighter-50: light-dark(#e5ecff, #001452);
    --ids-smc-colors-primary-variant-darker-50: light-dark(#001452, light-dark(#000000, #ffffff));
    --ids-smc-colors-secondary-darker-10: light-dark(#475569, #cbd5e1);
    --ids-smc-colors-secondary-darker-20: light-dark(#334155, #e2e8f0);
    --ids-smc-colors-secondary-darker-30: light-dark(#1e293b, #f1f5f9);
    --ids-smc-colors-secondary-darker-31: light-dark(#1b2638, #f4f7fa);
    --ids-smc-colors-secondary-darker-32: light-dark(#192335, #f5f8fb);
    --ids-smc-colors-secondary-darker-33: light-dark(#162032, #f7f9fb);
    --ids-smc-colors-secondary-darker-34: light-dark(#141d30, #f8fafc);
    --ids-smc-colors-secondary-darker-35: light-dark(#111a2d, #f8fafc);
    --ids-smc-colors-secondary-darker-40: light-dark(#0f172a, #f2f6fa);
    --ids-smc-colors-secondary-darker-50: light-dark(#020617, #f8fafc);
    --ids-smc-colors-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-smc-colors-secondary-fixed-darker-10: light-dark(#475569, #475569);
    --ids-smc-colors-secondary-fixed-darker-20: light-dark(#334155, #334155);
    --ids-smc-colors-secondary-fixed-darker-30: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-secondary-fixed-darker-31: light-dark(#1b2638, #1b2638);
    --ids-smc-colors-secondary-fixed-darker-32: light-dark(#192335, #192335);
    --ids-smc-colors-secondary-fixed-darker-33: light-dark(#162032, #162032);
    --ids-smc-colors-secondary-fixed-darker-34: light-dark(#141d30, #141d30);
    --ids-smc-colors-secondary-fixed-darker-35: light-dark(#111a2d, #111a2d);
    --ids-smc-colors-secondary-fixed-darker-40: light-dark(#0f172a, #0f172a);
    --ids-smc-colors-secondary-fixed-darker-50: light-dark(#020617, #020617);
    --ids-smc-colors-secondary-fixed-default: light-dark(#64748b, #64748b);
    --ids-smc-colors-secondary-fixed-lighter-10: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-secondary-fixed-lighter-20: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-secondary-fixed-lighter-30: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-secondary-fixed-lighter-40: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-secondary-fixed-lighter-42: light-dark(#f2f6fa, #f2f6fa);
    --ids-smc-colors-secondary-fixed-lighter-44: light-dark(#f4f7fa, #f4f7fa);
    --ids-smc-colors-secondary-fixed-lighter-46: light-dark(#f5f8fb, #f5f8fb);
    --ids-smc-colors-secondary-fixed-lighter-48: light-dark(#f7f9fb, #f7f9fb);
    --ids-smc-colors-secondary-fixed-lighter-50: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-secondary-lighter-10: light-dark(#94a3b8, #475569);
    --ids-smc-colors-secondary-lighter-20: light-dark(#cbd5e1, #334155);
    --ids-smc-colors-secondary-lighter-30: light-dark(#e2e8f0, #1e293b);
    --ids-smc-colors-secondary-lighter-40: light-dark(#f1f5f9, #1b2638);
    --ids-smc-colors-secondary-lighter-42: light-dark(#f2f6fa, #162032);
    --ids-smc-colors-secondary-lighter-44: light-dark(#f4f7fa, #141d30);
    --ids-smc-colors-secondary-lighter-46: light-dark(#f5f8fb, #111a2d);
    --ids-smc-colors-secondary-lighter-48: light-dark(#f7f9fb, #0f172a);
    --ids-smc-colors-secondary-lighter-50: light-dark(#f8fafc, #020617);
    --ids-smc-colors-success-darker-10: light-dark(#16a34a, #86efac);
    --ids-smc-colors-success-darker-20: light-dark(#15803d, #bbf7d0);
    --ids-smc-colors-success-darker-30: light-dark(#166534, #dcfce7);
    --ids-smc-colors-success-darker-31: light-dark(#166233, #e4fcec);
    --ids-smc-colors-success-darker-32: light-dark(#155f32, #e8fdef);
    --ids-smc-colors-success-darker-33: light-dark(#155c30, #ecfdf1);
    --ids-smc-colors-success-darker-34: light-dark(#15592f, #f0fdf4);
    --ids-smc-colors-success-darker-35: light-dark(#14562e, #f0fdf4);
    --ids-smc-colors-success-darker-40: light-dark(#14532d, #e0fcea);
    --ids-smc-colors-success-darker-50: light-dark(#052e16, #f0fdf4);
    --ids-smc-colors-success-default: light-dark(#22c55e, #4ade80);
    --ids-smc-colors-success-fixed-darker-10: light-dark(#16a34a, #16a34a);
    --ids-smc-colors-success-fixed-darker-20: light-dark(#15803d, #15803d);
    --ids-smc-colors-success-fixed-darker-30: light-dark(#166534, #166534);
    --ids-smc-colors-success-fixed-darker-31: light-dark(#166233, #166233);
    --ids-smc-colors-success-fixed-darker-32: light-dark(#155f32, #155f32);
    --ids-smc-colors-success-fixed-darker-33: light-dark(#155c30, #155c30);
    --ids-smc-colors-success-fixed-darker-34: light-dark(#15592f, #15592f);
    --ids-smc-colors-success-fixed-darker-35: light-dark(#14562e, #14562e);
    --ids-smc-colors-success-fixed-darker-40: light-dark(#14532d, #14532d);
    --ids-smc-colors-success-fixed-darker-50: light-dark(#052e16, #052e16);
    --ids-smc-colors-success-fixed-default: light-dark(#22c55e, #22c55e);
    --ids-smc-colors-success-fixed-lighter-10: light-dark(#4ade80, #4ade80);
    --ids-smc-colors-success-fixed-lighter-20: light-dark(#86efac, #86efac);
    --ids-smc-colors-success-fixed-lighter-30: light-dark(#bbf7d0, #bbf7d0);
    --ids-smc-colors-success-fixed-lighter-40: light-dark(#dcfce7, #dcfce7);
    --ids-smc-colors-success-fixed-lighter-42: light-dark(#e0fcea, #e0fcea);
    --ids-smc-colors-success-fixed-lighter-44: light-dark(#e4fcec, #e4fcec);
    --ids-smc-colors-success-fixed-lighter-46: light-dark(#e8fdef, #e8fdef);
    --ids-smc-colors-success-fixed-lighter-48: light-dark(#ecfdf1, #ecfdf1);
    --ids-smc-colors-success-fixed-lighter-50: light-dark(#f0fdf4, #f0fdf4);
    --ids-smc-colors-success-lighter-10: light-dark(#4ade80, #16a34a);
    --ids-smc-colors-success-lighter-20: light-dark(#86efac, #15803d);
    --ids-smc-colors-success-lighter-30: light-dark(#bbf7d0, #166534);
    --ids-smc-colors-success-lighter-40: light-dark(#dcfce7, #166233);
    --ids-smc-colors-success-lighter-42: light-dark(#e0fcea, #155c30);
    --ids-smc-colors-success-lighter-44: light-dark(#e4fcec, #15592f);
    --ids-smc-colors-success-lighter-46: light-dark(#e8fdef, #14562e);
    --ids-smc-colors-success-lighter-48: light-dark(#ecfdf1, #14532d);
    --ids-smc-colors-success-lighter-50: light-dark(#f0fdf4, #052e16);
    --ids-smc-colors-surface-darker-2: light-dark(#f7f9fb, #0f172a);
    --ids-smc-colors-surface-darker-4: light-dark(#f5f8fb, #111a2d);
    --ids-smc-colors-surface-darker-6: light-dark(#f4f7fa, #141d30);
    --ids-smc-colors-surface-darker-8: light-dark(#f2f6fa, #162032);
    --ids-smc-colors-surface-darker-10: light-dark(#f1f5f9, #192335);
    --ids-smc-colors-surface-darker-20: light-dark(#e2e8f0, #1e293b);
    --ids-smc-colors-surface-darker-30: light-dark(#cbd5e1, #334155);
    --ids-smc-colors-surface-darker-40: light-dark(#94a3b8, #475569);
    --ids-smc-colors-surface-darker-50: light-dark(#64748b, #94a3b8);
    --ids-smc-colors-surface-darker-60: light-dark(#475569, #cbd5e1);
    --ids-smc-colors-surface-darker-70: light-dark(#334155, #e2e8f0);
    --ids-smc-colors-surface-darker-80: light-dark(#1e293b, #f1f5f9);
    --ids-smc-colors-surface-darker-90: light-dark(#1b2638, #f2f6fa);
    --ids-smc-colors-surface-darker-91: light-dark(#192335, #f4f7fa);
    --ids-smc-colors-surface-darker-92: light-dark(#162032, #f5f8fb);
    --ids-smc-colors-surface-darker-93: light-dark(#141d30, #f7f9fb);
    --ids-smc-colors-surface-darker-94: light-dark(#111a2d, #f8fafc);
    --ids-smc-colors-surface-darker-95: light-dark(#0f172a, #f8fafc);
    --ids-smc-colors-surface-darker-96: light-dark(#020617, #f8fafc);
    --ids-smc-colors-surface-darker-100: light-dark(#000000, #ffffff);
    --ids-smc-colors-surface-default: light-dark(#f8fafc, #020617);
    --ids-smc-colors-surface-fixed-darker-2: light-dark(#f7f9fb, #f7f9fb);
    --ids-smc-colors-surface-fixed-darker-4: light-dark(#f5f8fb, #f5f8fb);
    --ids-smc-colors-surface-fixed-darker-6: light-dark(#f4f7fa, #f4f7fa);
    --ids-smc-colors-surface-fixed-darker-8: light-dark(#f2f6fa, #f2f6fa);
    --ids-smc-colors-surface-fixed-darker-10: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-surface-fixed-darker-20: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-surface-fixed-darker-30: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-surface-fixed-darker-40: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-surface-fixed-darker-50: light-dark(#64748b, #64748b);
    --ids-smc-colors-surface-fixed-darker-60: light-dark(#475569, #475569);
    --ids-smc-colors-surface-fixed-darker-70: light-dark(#334155, #334155);
    --ids-smc-colors-surface-fixed-darker-80: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-surface-fixed-darker-90: light-dark(#1b2638, #1b2638);
    --ids-smc-colors-surface-fixed-darker-91: light-dark(#ffffff, #192335);
    --ids-smc-colors-surface-fixed-darker-92: light-dark(#ffffff, #162032);
    --ids-smc-colors-surface-fixed-darker-93: light-dark(#ffffff, #141d30);
    --ids-smc-colors-surface-fixed-darker-94: light-dark(#ffffff, #111a2d);
    --ids-smc-colors-surface-fixed-darker-95: light-dark(#020617, #0f172a);
    --ids-smc-colors-surface-fixed-darker-96: light-dark(#ffffff, #020617);
    --ids-smc-colors-surface-fixed-darker-100: light-dark(#000000, #000000);
    --ids-smc-colors-surface-fixed-default: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-surface-fixed-lighter-10: light-dark(#ffffff, #ffffff);
    --ids-smc-colors-surface-lighter-10: light-dark(#ffffff, #000000);
    --ids-smc-colors-surface-variant-darker-10: light-dark(#f8fafc, #1e293b);
    --ids-smc-colors-surface-variant-default: light-dark(#f8fafc, #475569);
    --ids-smc-colors-surface-variant-lighter-30: light-dark(#ffffff, #64748b);
    --ids-smc-colors-surface-variant-lighter-40: light-dark(#ffffff, #1e293b);
    --ids-smc-colors-warning-darker-10: light-dark(#ea580c, #fdba74);
    --ids-smc-colors-warning-darker-20: light-dark(#c2410c, #fed7aa);
    --ids-smc-colors-warning-darker-30: light-dark(#9a3412, #ffedd5);
    --ids-smc-colors-warning-darker-31: light-dark(#953312, #fff1df);
    --ids-smc-colors-warning-darker-32: light-dark(#903212, #fff3e3);
    --ids-smc-colors-warning-darker-33: light-dark(#8b3112, #fff5e8);
    --ids-smc-colors-warning-darker-34: light-dark(#862f12, #fff7ed);
    --ids-smc-colors-warning-darker-35: light-dark(#812e12, #fff7ed);
    --ids-smc-colors-warning-darker-40: light-dark(#7c2d12, #ffefda);
    --ids-smc-colors-warning-darker-50: light-dark(#431407, #fff7ed);
    --ids-smc-colors-warning-default: light-dark(#f97316, #fb923c);
    --ids-smc-colors-warning-fixed-darker-10: light-dark(#ea580c, #ea580c);
    --ids-smc-colors-warning-fixed-darker-20: light-dark(#c2410c, #c2410c);
    --ids-smc-colors-warning-fixed-darker-30: light-dark(#9a3412, #9a3412);
    --ids-smc-colors-warning-fixed-darker-31: light-dark(#953312, #953312);
    --ids-smc-colors-warning-fixed-darker-32: light-dark(#903212, #903212);
    --ids-smc-colors-warning-fixed-darker-33: light-dark(#8b3112, #8b3112);
    --ids-smc-colors-warning-fixed-darker-34: light-dark(#862f12, #862f12);
    --ids-smc-colors-warning-fixed-darker-35: light-dark(#812e12, #812e12);
    --ids-smc-colors-warning-fixed-darker-40: light-dark(#7c2d12, #7c2d12);
    --ids-smc-colors-warning-fixed-darker-50: light-dark(#431407, #431407);
    --ids-smc-colors-warning-fixed-default: light-dark(#f97316, #f97316);
    --ids-smc-colors-warning-fixed-lighter-10: light-dark(#fb923c, #fb923c);
    --ids-smc-colors-warning-fixed-lighter-20: light-dark(#fdba74, #fdba74);
    --ids-smc-colors-warning-fixed-lighter-30: light-dark(#fed7aa, #fed7aa);
    --ids-smc-colors-warning-fixed-lighter-40: light-dark(#ffedd5, #ffedd5);
    --ids-smc-colors-warning-fixed-lighter-42: light-dark(#ffefda, #ffefda);
    --ids-smc-colors-warning-fixed-lighter-44: light-dark(#fff1df, #fff1df);
    --ids-smc-colors-warning-fixed-lighter-46: light-dark(#fff3e3, #fff3e3);
    --ids-smc-colors-warning-fixed-lighter-48: light-dark(#fff5e8, #fff5e8);
    --ids-smc-colors-warning-fixed-lighter-50: light-dark(#fff7ed, #fff7ed);
    --ids-smc-colors-warning-lighter-10: light-dark(#fb923c, #ea580c);
    --ids-smc-colors-warning-lighter-20: light-dark(#fdba74, #c2410c);
    --ids-smc-colors-warning-lighter-30: light-dark(#fed7aa, #9a3412);
    --ids-smc-colors-warning-lighter-40: light-dark(#ffedd5, #953312);
    --ids-smc-colors-warning-lighter-42: light-dark(#ffefda, #8b3112);
    --ids-smc-colors-warning-lighter-44: light-dark(#fff1df, #862f12);
    --ids-smc-colors-warning-lighter-46: light-dark(#fff3e3, #812e12);
    --ids-smc-colors-warning-lighter-48: light-dark(#fff5e8, #7c2d12);
    --ids-smc-colors-warning-lighter-50: light-dark(#fff7ed, #431407)
}