:root {
    --ids-smc-colors-brand-darker-10: light-dark(#003beb, #7598ff);
    --ids-smc-colors-brand-darker-20: light-dark(#002fbd, #a3baff);
    --ids-smc-colors-brand-darker-30: light-dark(#00248f, #d1ddff);
    --ids-smc-colors-brand-darker-40: light-dark(#001861, #d1ddff);
    --ids-smc-colors-brand-darker-50: light-dark(#001452, #e5ecff);
    --ids-smc-colors-brand-default: light-dark(#003cff, #4775ff);
    --ids-smc-colors-brand-fixed-darker-10: light-dark(#003beb, #003beb);
    --ids-smc-colors-brand-fixed-darker-20: light-dark(#002fbd, #002fbd);
    --ids-smc-colors-brand-fixed-darker-30: light-dark(#00248f, #00248f);
    --ids-smc-colors-brand-fixed-darker-40: light-dark(#001861, #001861);
    --ids-smc-colors-brand-fixed-darker-50: light-dark(#001452, #001452);
    --ids-smc-colors-brand-fixed-default: light-dark(#003cff, #003cff);
    --ids-smc-colors-brand-fixed-lighter-10: light-dark(#4775ff, #4775ff);
    --ids-smc-colors-brand-fixed-lighter-20: light-dark(#7598ff, #7598ff);
    --ids-smc-colors-brand-fixed-lighter-30: light-dark(#a3baff, #a3baff);
    --ids-smc-colors-brand-fixed-lighter-40: light-dark(#d1ddff, #d1ddff);
    --ids-smc-colors-brand-fixed-lighter-50: light-dark(#e5ecff, #e5ecff);
    --ids-smc-colors-brand-lighter-10: light-dark(#4775ff, #003beb);
    --ids-smc-colors-brand-lighter-20: light-dark(#7598ff, #002fbd);
    --ids-smc-colors-brand-lighter-30: light-dark(#a3baff, #00248f);
    --ids-smc-colors-brand-lighter-40: light-dark(#d1ddff, #001861);
    --ids-smc-colors-brand-lighter-50: light-dark(#e5ecff, #001452);
    --ids-smc-colors-error-darker-10: light-dark(#dc2626, #fca5a5);
    --ids-smc-colors-error-darker-20: light-dark(#b91c1c, #fecaca);
    --ids-smc-colors-error-darker-30: light-dark(#991b1b, #fee2e2);
    --ids-smc-colors-error-darker-40: light-dark(#7f1d1d, #fee2e2);
    --ids-smc-colors-error-darker-50: light-dark(#450a0a, #fef2f2);
    --ids-smc-colors-error-default: light-dark(#ef4444, #f87171);
    --ids-smc-colors-error-lighter-10: light-dark(#f87171, #dc2626);
    --ids-smc-colors-error-lighter-20: light-dark(#fca5a5, #b91c1c);
    --ids-smc-colors-error-lighter-30: light-dark(#fecaca, #991b1b);
    --ids-smc-colors-error-lighter-40: light-dark(#fee2e2, #7f1d1d);
    --ids-smc-colors-error-lighter-50: light-dark(#fef2f2, #450a0a);
    --ids-smc-colors-facebook-darker-10: light-dark(#0052d6, #0052d6);
    --ids-smc-colors-facebook-darker-20: light-dark(#0042ad, #0042ad);
    --ids-smc-colors-facebook-default: light-dark(#0866ff, #0866ff);
    --ids-smc-colors-facebook-lighter-10: light-dark(#3481ff, #3481ff);
    --ids-smc-colors-facebook-lighter-20: light-dark(#619dff, #619dff);
    --ids-smc-colors-facebook-lighter-30: light-dark(#8db8ff, #8db8ff);
    --ids-smc-colors-github-darker-10: light-dark(#262626, #262626);
    --ids-smc-colors-github-darker-20: light-dark(#191919, #191919);
    --ids-smc-colors-github-default: light-dark(#333333, #333333);
    --ids-smc-colors-github-lighter-10: light-dark(#3f3f3f, #3f3f3f);
    --ids-smc-colors-github-lighter-20: light-dark(#4c4c4c, #4c4c4c);
    --ids-smc-colors-github-lighter-30: light-dark(#595959, #595959);
    --ids-smc-colors-gmail-darker-10: light-dark(#c82f23, #c82f23);
    --ids-smc-colors-gmail-darker-20: light-dark(#a61f14, #a61f14);
    --ids-smc-colors-gmail-default: light-dark(#ea4335, #ea4335);
    --ids-smc-colors-gmail-lighter-10: light-dark(#ff5647, #ff5647);
    --ids-smc-colors-gmail-lighter-20: light-dark(#ff7c71, #ff7c71);
    --ids-smc-colors-gmail-lighter-30: light-dark(#ffa29a, #ffa29a);
    --ids-smc-colors-highlight-darker-10: light-dark(#0891b2, #67e8f9);
    --ids-smc-colors-highlight-darker-20: light-dark(#0e7490, #a5f3fc);
    --ids-smc-colors-highlight-darker-30: light-dark(#155e75, #cffafe);
    --ids-smc-colors-highlight-darker-40: light-dark(#164e63, #cffafe);
    --ids-smc-colors-highlight-darker-50: light-dark(#083344, #ecfeff);
    --ids-smc-colors-highlight-default: light-dark(#06b6d4, #22d3ee);
    --ids-smc-colors-highlight-fixed-darker-10: light-dark(#0891b2, #0891b2);
    --ids-smc-colors-highlight-fixed-darker-20: light-dark(#0e7490, #0e7490);
    --ids-smc-colors-highlight-fixed-darker-30: light-dark(#155e75, #155e75);
    --ids-smc-colors-highlight-fixed-darker-40: light-dark(#164e63, #164e63);
    --ids-smc-colors-highlight-fixed-darker-50: light-dark(#083344, #083344);
    --ids-smc-colors-highlight-fixed-default: light-dark(#06b6d4, #06b6d4);
    --ids-smc-colors-highlight-fixed-lighter-10: light-dark(#22d3ee, #22d3ee);
    --ids-smc-colors-highlight-fixed-lighter-20: light-dark(#67e8f9, #67e8f9);
    --ids-smc-colors-highlight-fixed-lighter-30: light-dark(#a5f3fc, #a5f3fc);
    --ids-smc-colors-highlight-fixed-lighter-40: light-dark(#cffafe, #cffafe);
    --ids-smc-colors-highlight-fixed-lighter-50: light-dark(#ecfeff, #ecfeff);
    --ids-smc-colors-highlight-lighter-10: light-dark(#22d3ee, #0891b2);
    --ids-smc-colors-highlight-lighter-20: light-dark(#67e8f9, #0e7490);
    --ids-smc-colors-highlight-lighter-30: light-dark(#a5f3fc, #155e75);
    --ids-smc-colors-highlight-lighter-40: light-dark(#cffafe, #164e63);
    --ids-smc-colors-highlight-lighter-50: light-dark(#ecfeff, #083344);
    --ids-smc-colors-info-darker-10: light-dark(#2563eb, #93c5fd);
    --ids-smc-colors-info-darker-20: light-dark(#1d4ed8, #bfdbfe);
    --ids-smc-colors-info-darker-30: light-dark(#1e40af, #dbeafe);
    --ids-smc-colors-info-darker-40: light-dark(#1e3a8a, #dbeafe);
    --ids-smc-colors-info-darker-50: light-dark(#172554, #eff6ff);
    --ids-smc-colors-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-smc-colors-info-lighter-10: light-dark(#60a5fa, #2563eb);
    --ids-smc-colors-info-lighter-20: light-dark(#93c5fd, #1d4ed8);
    --ids-smc-colors-info-lighter-30: light-dark(#bfdbfe, #1e40af);
    --ids-smc-colors-info-lighter-40: light-dark(#dbeafe, #1e3a8a);
    --ids-smc-colors-info-lighter-50: light-dark(#eff6ff, #172554);
    --ids-smc-colors-linkedin-darker-10: light-dark(#004182, #004182);
    --ids-smc-colors-linkedin-darker-20: light-dark(#053059, #053059);
    --ids-smc-colors-linkedin-default: light-dark(#0a66c2, #0a66c2);
    --ids-smc-colors-linkedin-lighter-10: light-dark(#378fe9, #378fe9);
    --ids-smc-colors-linkedin-lighter-20: light-dark(#71b7fb, #71b7fb);
    --ids-smc-colors-linkedin-lighter-30: light-dark(#aad6ff, #aad6ff);
    --ids-smc-colors-opacity-cool-50: light-dark(#648cb40d, #ffffff0d);
    --ids-smc-colors-opacity-cool-100: light-dark(#648cb41a, #ffffff1a);
    --ids-smc-colors-opacity-cool-150: light-dark(#648cb426, #ffffff26);
    --ids-smc-colors-opacity-cool-200: light-dark(#648cb433, #ffffff33);
    --ids-smc-colors-opacity-cool-250: light-dark(#648cb440, #ffffff40);
    --ids-smc-colors-opacity-cool-300: light-dark(#648cb44d, #ffffff4d);
    --ids-smc-colors-opacity-cool-400: light-dark(#648cb466, #ffffff66);
    --ids-smc-colors-opacity-cool-500: light-dark(#648cb480, #ffffff80);
    --ids-smc-colors-opacity-cool-600: light-dark(#648cb499, #ffffff99);
    --ids-smc-colors-opacity-cool-700: light-dark(#648cb4b3, #ffffffb3);
    --ids-smc-colors-opacity-cool-800: light-dark(#648cb4cc, #ffffffcc);
    --ids-smc-colors-opacity-cool-900: light-dark(#648cb4e6, #ffffffe6);
    --ids-smc-colors-opacity-cool-950: light-dark(#648cb4f2, #fffffff2);
    --ids-smc-colors-opacity-dark-50: light-dark(#0000000d, #ffffff0d);
    --ids-smc-colors-opacity-dark-100: light-dark(#0000001a, #ffffff1a);
    --ids-smc-colors-opacity-dark-150: light-dark(#00000026, #ffffff26);
    --ids-smc-colors-opacity-dark-200: light-dark(#00000033, #ffffff33);
    --ids-smc-colors-opacity-dark-250: light-dark(#00000040, #ffffff40);
    --ids-smc-colors-opacity-dark-300: light-dark(#0000004d, #ffffff4d);
    --ids-smc-colors-opacity-dark-400: light-dark(#00000066, #ffffff66);
    --ids-smc-colors-opacity-dark-500: light-dark(#00000080, #ffffff80);
    --ids-smc-colors-opacity-dark-600: light-dark(#00000099, #ffffff99);
    --ids-smc-colors-opacity-dark-700: light-dark(#000000b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-800: light-dark(#000000cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-900: light-dark(#000000e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-950: light-dark(#000000f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-50: light-dark(#0206170d, #ffffff0d);
    --ids-smc-colors-opacity-dark-cool-100: light-dark(#0206171a, #ffffff1a);
    --ids-smc-colors-opacity-dark-cool-150: light-dark(#02061726, #ffffff26);
    --ids-smc-colors-opacity-dark-cool-200: light-dark(#02061733, #ffffff33);
    --ids-smc-colors-opacity-dark-cool-250: light-dark(#02061740, #ffffff40);
    --ids-smc-colors-opacity-dark-cool-300: light-dark(#0206174d, #ffffff4d);
    --ids-smc-colors-opacity-dark-cool-400: light-dark(#02061766, #ffffff66);
    --ids-smc-colors-opacity-dark-cool-500: light-dark(#02061780, #ffffff80);
    --ids-smc-colors-opacity-dark-cool-600: light-dark(#02061799, #ffffff99);
    --ids-smc-colors-opacity-dark-cool-700: light-dark(#020617b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-cool-800: light-dark(#020617cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-cool-900: light-dark(#020617e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-cool-950: light-dark(#020617f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-variant-default: light-dark(#02061740, #020617b3);
    --ids-smc-colors-opacity-light-50: light-dark(#ffffff0d, #ffffff0d);
    --ids-smc-colors-opacity-light-100: light-dark(#ffffff1a, #ffffff1a);
    --ids-smc-colors-opacity-light-150: light-dark(#ffffff26, #ffffff26);
    --ids-smc-colors-opacity-light-200: light-dark(#ffffff33, #ffffff33);
    --ids-smc-colors-opacity-light-250: light-dark(#ffffff40, #ffffff40);
    --ids-smc-colors-opacity-light-300: light-dark(#ffffff4d, #ffffff4d);
    --ids-smc-colors-opacity-light-400: light-dark(#ffffff66, #ffffff66);
    --ids-smc-colors-opacity-light-500: light-dark(#ffffff80, #ffffff80);
    --ids-smc-colors-opacity-light-600: light-dark(#ffffff99, #ffffff99);
    --ids-smc-colors-opacity-light-700: light-dark(#ffffffb3, #ffffffb3);
    --ids-smc-colors-opacity-light-800: light-dark(#ffffffcc, #ffffffcc);
    --ids-smc-colors-opacity-light-900: light-dark(#ffffffe6, #ffffffe6);
    --ids-smc-colors-opacity-light-950: light-dark(#fffffff2, #fffffff2);
    --ids-smc-colors-primary-darker-10: light-dark(#003beb, #7598ff);
    --ids-smc-colors-primary-darker-20: light-dark(#002fbd, #a3baff);
    --ids-smc-colors-primary-darker-30: light-dark(#00248f, #d1ddff);
    --ids-smc-colors-primary-darker-40: light-dark(#001861, #d1ddff);
    --ids-smc-colors-primary-darker-50: light-dark(#001452, #e5ecff);
    --ids-smc-colors-primary-default: light-dark(#003cff, #4775ff);
    --ids-smc-colors-primary-fixed-darker-10: light-dark(#003beb, #003beb);
    --ids-smc-colors-primary-fixed-darker-20: light-dark(#002fbd, #002fbd);
    --ids-smc-colors-primary-fixed-darker-30: light-dark(#00248f, #00248f);
    --ids-smc-colors-primary-fixed-darker-40: light-dark(#001861, #001861);
    --ids-smc-colors-primary-fixed-darker-50: light-dark(#001452, #001452);
    --ids-smc-colors-primary-fixed-default: light-dark(#003cff, #003cff);
    --ids-smc-colors-primary-fixed-lighter-10: light-dark(#4775ff, #4775ff);
    --ids-smc-colors-primary-fixed-lighter-20: light-dark(#7598ff, #7598ff);
    --ids-smc-colors-primary-fixed-lighter-30: light-dark(#a3baff, #a3baff);
    --ids-smc-colors-primary-fixed-lighter-40: light-dark(#d1ddff, #d1ddff);
    --ids-smc-colors-primary-fixed-lighter-50: light-dark(#e5ecff, #e5ecff);
    --ids-smc-colors-primary-lighter-10: light-dark(#4775ff, #003beb);
    --ids-smc-colors-primary-lighter-20: light-dark(#7598ff, #002fbd);
    --ids-smc-colors-primary-lighter-30: light-dark(#a3baff, #00248f);
    --ids-smc-colors-primary-lighter-40: light-dark(#d1ddff, #001861);
    --ids-smc-colors-primary-lighter-50: light-dark(#e5ecff, #001452);
    --ids-smc-colors-primary-variant-darker-50: light-dark(#001452, light-dark(#000000, #ffffff));
    --ids-smc-colors-secondary-darker-10: light-dark(#475569, #cbd5e1);
    --ids-smc-colors-secondary-darker-20: light-dark(#334155, #e2e8f0);
    --ids-smc-colors-secondary-darker-30: light-dark(#1e293b, #f1f5f9);
    --ids-smc-colors-secondary-darker-40: light-dark(#0f172a, #f1f5f9);
    --ids-smc-colors-secondary-darker-50: light-dark(#020617, #f8fafc);
    --ids-smc-colors-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-smc-colors-secondary-fixed-darker-10: light-dark(#475569, #475569);
    --ids-smc-colors-secondary-fixed-darker-20: light-dark(#334155, #334155);
    --ids-smc-colors-secondary-fixed-darker-30: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-secondary-fixed-darker-40: light-dark(#0f172a, #0f172a);
    --ids-smc-colors-secondary-fixed-darker-50: light-dark(#020617, #020617);
    --ids-smc-colors-secondary-fixed-default: light-dark(#64748b, #64748b);
    --ids-smc-colors-secondary-fixed-lighter-10: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-secondary-fixed-lighter-20: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-secondary-fixed-lighter-30: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-secondary-fixed-lighter-40: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-secondary-fixed-lighter-50: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-secondary-lighter-10: light-dark(#94a3b8, #475569);
    --ids-smc-colors-secondary-lighter-20: light-dark(#cbd5e1, #334155);
    --ids-smc-colors-secondary-lighter-30: light-dark(#e2e8f0, #1e293b);
    --ids-smc-colors-secondary-lighter-40: light-dark(#f1f5f9, #0f172a);
    --ids-smc-colors-secondary-lighter-50: light-dark(#f8fafc, #020617);
    --ids-smc-colors-success-darker-10: light-dark(#16a34a, #86efac);
    --ids-smc-colors-success-darker-20: light-dark(#15803d, #bbf7d0);
    --ids-smc-colors-success-darker-30: light-dark(#166534, #dcfce7);
    --ids-smc-colors-success-darker-40: light-dark(#14532d, #dcfce7);
    --ids-smc-colors-success-darker-50: light-dark(#052e16, #f0fdf4);
    --ids-smc-colors-success-default: light-dark(#22c55e, #4ade80);
    --ids-smc-colors-success-lighter-10: light-dark(#4ade80, #16a34a);
    --ids-smc-colors-success-lighter-20: light-dark(#86efac, #15803d);
    --ids-smc-colors-success-lighter-30: light-dark(#bbf7d0, #166534);
    --ids-smc-colors-success-lighter-40: light-dark(#dcfce7, #14532d);
    --ids-smc-colors-success-lighter-50: light-dark(#f0fdf4, #052e16);
    --ids-smc-colors-surface-darker-10: light-dark(#f1f5f9, #0f172a);
    --ids-smc-colors-surface-darker-20: light-dark(#e2e8f0, #1e293b);
    --ids-smc-colors-surface-darker-30: light-dark(#cbd5e1, #334155);
    --ids-smc-colors-surface-darker-40: light-dark(#94a3b8, #475569);
    --ids-smc-colors-surface-darker-50: light-dark(#64748b, #64748b);
    --ids-smc-colors-surface-darker-60: light-dark(#475569, #94a3b8);
    --ids-smc-colors-surface-darker-70: light-dark(#334155, #cbd5e1);
    --ids-smc-colors-surface-darker-80: light-dark(#1e293b, #e2e8f0);
    --ids-smc-colors-surface-darker-90: light-dark(#0f172a, #f1f5f9);
    --ids-smc-colors-surface-darker-95: light-dark(#020617, #f8fafc);
    --ids-smc-colors-surface-darker-100: light-dark(#000000, #ffffff);
    --ids-smc-colors-surface-default: light-dark(#f8fafc, #020617);
    --ids-smc-colors-surface-fixed-darker-10: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-surface-fixed-darker-20: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-surface-fixed-darker-30: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-surface-fixed-darker-40: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-surface-fixed-darker-50: light-dark(#64748b, #64748b);
    --ids-smc-colors-surface-fixed-darker-60: light-dark(#475569, #475569);
    --ids-smc-colors-surface-fixed-darker-70: light-dark(#334155, #334155);
    --ids-smc-colors-surface-fixed-darker-80: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-surface-fixed-darker-90: light-dark(#0f172a, #0f172a);
    --ids-smc-colors-surface-fixed-darker-95: light-dark(#020617, #020617);
    --ids-smc-colors-surface-fixed-default: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-surface-fixed-lighter-10: light-dark(#ffffff, #ffffff);
    --ids-smc-colors-surface-lighter-10: light-dark(#ffffff, #000000);
    --ids-smc-colors-surface-variant-default: light-dark(#f8fafc, #475569);
    --ids-smc-colors-surface-variant-lighter-30: light-dark(#ffffff, #64748b);
    --ids-smc-colors-warning-darker-10: light-dark(#ea580c, #fdba74);
    --ids-smc-colors-warning-darker-20: light-dark(#c2410c, #fed7aa);
    --ids-smc-colors-warning-darker-30: light-dark(#9a3412, #ffedd5);
    --ids-smc-colors-warning-darker-40: light-dark(#7c2d12, #ffedd5);
    --ids-smc-colors-warning-darker-50: light-dark(#431407, #fff7ed);
    --ids-smc-colors-warning-default: light-dark(#f97316, #fb923c);
    --ids-smc-colors-warning-lighter-10: light-dark(#fb923c, #ea580c);
    --ids-smc-colors-warning-lighter-20: light-dark(#fdba74, #c2410c);
    --ids-smc-colors-warning-lighter-30: light-dark(#fed7aa, #9a3412);
    --ids-smc-colors-warning-lighter-40: light-dark(#ffedd5, #7c2d12);
    --ids-smc-colors-warning-lighter-50: light-dark(#fff7ed, #431407)
}