:root {
    --ids-smc-layout-typography-body-font-family-large: Montserrat;
    --ids-smc-layout-typography-body-font-family-medium: Montserrat;
    --ids-smc-layout-typography-body-font-family-small: Montserrat;
    --ids-smc-layout-typography-body-font-family-xlarge: Montserrat;
    --ids-smc-layout-typography-body-font-size-large: 16px;
    --ids-smc-layout-typography-body-font-size-medium: 14px;
    --ids-smc-layout-typography-body-font-size-small: 12px;
    --ids-smc-layout-typography-body-font-size-xlarge: 20px;
    --ids-smc-layout-typography-body-letter-spacing-large: 0em;
    --ids-smc-layout-typography-body-letter-spacing-medium: 0em;
    --ids-smc-layout-typography-body-letter-spacing-small: 0em;
    --ids-smc-layout-typography-body-letter-spacing-xlarge: 0em;
    --ids-smc-layout-typography-body-line-height-large: 24px;
    --ids-smc-layout-typography-body-line-height-medium: 20px;
    --ids-smc-layout-typography-body-line-height-small: 20px;
    --ids-smc-layout-typography-body-line-height-xlarge: 28px;
    --ids-smc-layout-typography-caption-font-family-large: Montserrat;
    --ids-smc-layout-typography-caption-font-family-medium: Montserrat;
    --ids-smc-layout-typography-caption-font-family-small: Montserrat;
    --ids-smc-layout-typography-caption-font-family-xlarge: Montserrat;
    --ids-smc-layout-typography-caption-font-size-large: 12px;
    --ids-smc-layout-typography-caption-font-size-medium: 10px;
    --ids-smc-layout-typography-caption-font-size-small: 8px;
    --ids-smc-layout-typography-caption-font-size-xlarge: 14px;
    --ids-smc-layout-typography-caption-letter-spacing-large: 0em;
    --ids-smc-layout-typography-caption-letter-spacing-medium: 0em;
    --ids-smc-layout-typography-caption-letter-spacing-small: 0em;
    --ids-smc-layout-typography-caption-letter-spacing-xlarge: 0em;
    --ids-smc-layout-typography-caption-line-height-large: 14px;
    --ids-smc-layout-typography-caption-line-height-medium: 12px;
    --ids-smc-layout-typography-caption-line-height-small: 10px;
    --ids-smc-layout-typography-caption-line-height-xlarge: 16px;
    --ids-smc-layout-typography-display-font-family-large: Montserrat;
    --ids-smc-layout-typography-display-font-family-medium: Montserrat;
    --ids-smc-layout-typography-display-font-family-small: Montserrat;
    --ids-smc-layout-typography-display-font-family-xlarge: Montserrat;
    --ids-smc-layout-typography-display-font-size-large: 48px;
    --ids-smc-layout-typography-display-font-size-medium: 40px;
    --ids-smc-layout-typography-display-font-size-small: 36px;
    --ids-smc-layout-typography-display-font-size-xlarge: 72px;
    --ids-smc-layout-typography-display-letter-spacing-large: 0em;
    --ids-smc-layout-typography-display-letter-spacing-medium: 0em;
    --ids-smc-layout-typography-display-letter-spacing-small: 0em;
    --ids-smc-layout-typography-display-letter-spacing-xlarge: 0em;
    --ids-smc-layout-typography-display-line-height-large: 48px;
    --ids-smc-layout-typography-display-line-height-medium: 44px;
    --ids-smc-layout-typography-display-line-height-small: 36px;
    --ids-smc-layout-typography-display-line-height-xlarge: 72px;
    --ids-smc-layout-typography-heading-font-family-large: Montserrat;
    --ids-smc-layout-typography-heading-font-family-medium: Montserrat;
    --ids-smc-layout-typography-heading-font-family-small: Montserrat;
    --ids-smc-layout-typography-heading-font-family-xlarge: Montserrat;
    --ids-smc-layout-typography-heading-font-size-large: 28px;
    --ids-smc-layout-typography-heading-font-size-medium: 24px;
    --ids-smc-layout-typography-heading-font-size-small: 20px;
    --ids-smc-layout-typography-heading-font-size-xlarge: 32px;
    --ids-smc-layout-typography-heading-letter-spacing-large: 0em;
    --ids-smc-layout-typography-heading-letter-spacing-medium: 0em;
    --ids-smc-layout-typography-heading-letter-spacing-small: 0em;
    --ids-smc-layout-typography-heading-letter-spacing-xlarge: 0em;
    --ids-smc-layout-typography-heading-line-height-large: 28px;
    --ids-smc-layout-typography-heading-line-height-medium: 24px;
    --ids-smc-layout-typography-heading-line-height-small: 20px;
    --ids-smc-layout-typography-heading-line-height-xlarge: 32px;
    --ids-smc-layout-typography-headline-font-family-large: Montserrat;
    --ids-smc-layout-typography-headline-font-family-medium: Montserrat;
    --ids-smc-layout-typography-headline-font-family-small: Montserrat;
    --ids-smc-layout-typography-headline-font-family-xlarge: Montserrat;
    --ids-smc-layout-typography-headline-font-size-large: 28px;
    --ids-smc-layout-typography-headline-font-size-medium: 24px;
    --ids-smc-layout-typography-headline-font-size-small: 20px;
    --ids-smc-layout-typography-headline-font-size-xlarge: 32px;
    --ids-smc-layout-typography-headline-letter-spacing-large: 0em;
    --ids-smc-layout-typography-headline-letter-spacing-medium: 0em;
    --ids-smc-layout-typography-headline-letter-spacing-small: 0em;
    --ids-smc-layout-typography-headline-letter-spacing-xlarge: 0em;
    --ids-smc-layout-typography-headline-line-height-large: 32px;
    --ids-smc-layout-typography-headline-line-height-medium: 28px;
    --ids-smc-layout-typography-headline-line-height-small: 24px;
    --ids-smc-layout-typography-headline-line-height-xlarge: 40px;
    --ids-smc-layout-typography-title-font-family-large: Montserrat;
    --ids-smc-layout-typography-title-font-family-medium: Montserrat;
    --ids-smc-layout-typography-title-font-family-small: Montserrat;
    --ids-smc-layout-typography-title-font-family-xlarge: Montserrat;
    --ids-smc-layout-typography-title-font-size-large: 18px;
    --ids-smc-layout-typography-title-font-size-medium: 16px;
    --ids-smc-layout-typography-title-font-size-small: 14px;
    --ids-smc-layout-typography-title-font-size-xlarge: 20px;
    --ids-smc-layout-typography-title-letter-spacing-large: 0em;
    --ids-smc-layout-typography-title-letter-spacing-medium: 0em;
    --ids-smc-layout-typography-title-letter-spacing-small: 0em;
    --ids-smc-layout-typography-title-letter-spacing-xlarge: 0em;
    --ids-smc-layout-typography-title-line-height-large: 24px;
    --ids-smc-layout-typography-title-line-height-medium: 20px;
    --ids-smc-layout-typography-title-line-height-small: 16px;
    --ids-smc-layout-typography-title-line-height-xlarge: 24px
}