:root {
    --ids-comp-notification-actions-size-gap-comfortable: 4px;
    --ids-comp-notification-actions-size-gap-compact: 4px;
    --ids-comp-notification-actions-size-gap-dense: 4px;
    --ids-comp-notification-actions-size-gap-spacious: 4px;
    --ids-comp-notification-filled-color-bg-dark-default: light-dark(#000000, #ffffff);
    --ids-comp-notification-filled-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-notification-filled-color-bg-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-notification-filled-color-bg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-notification-filled-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-notification-filled-color-bg-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-notification-filled-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-notification-filled-color-border-dark-default: #ffffff00;
    --ids-comp-notification-filled-color-border-error-default: light-dark(#fca5a5, #b91c1c);
    --ids-comp-notification-filled-color-border-info-default: light-dark(#93c5fd, #1d4ed8);
    --ids-comp-notification-filled-color-border-light-default: #ffffff00;
    --ids-comp-notification-filled-color-border-success-default: light-dark(#86efac, #15803d);
    --ids-comp-notification-filled-color-border-surface-default: #ffffff00;
    --ids-comp-notification-filled-color-border-warning-default: light-dark(#fdba74, #c2410c);
    --ids-comp-notification-filled-color-fg-icon-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-notification-filled-color-fg-icon-error-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-icon-info-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-icon-light-default: light-dark(#020617, #020617);
    --ids-comp-notification-filled-color-fg-icon-success-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-icon-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-filled-color-fg-icon-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-message-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-notification-filled-color-fg-message-error-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-message-info-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-message-light-default: light-dark(#020617, #020617);
    --ids-comp-notification-filled-color-fg-message-success-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-message-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-filled-color-fg-message-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-title-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-notification-filled-color-fg-title-error-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-title-info-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-title-light-default: light-dark(#020617, #020617);
    --ids-comp-notification-filled-color-fg-title-success-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-color-fg-title-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-filled-color-fg-title-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-notification-filled-container-size-border-bottom-width-comfortable: 0px;
    --ids-comp-notification-filled-container-size-border-bottom-width-compact: 0px;
    --ids-comp-notification-filled-container-size-border-bottom-width-dense: 0px;
    --ids-comp-notification-filled-container-size-border-bottom-width-spacious: 0px;
    --ids-comp-notification-filled-container-size-border-left-width-comfortable: 4px;
    --ids-comp-notification-filled-container-size-border-left-width-compact: 4px;
    --ids-comp-notification-filled-container-size-border-left-width-dense: 4px;
    --ids-comp-notification-filled-container-size-border-left-width-spacious: 4px;
    --ids-comp-notification-filled-container-size-border-radius-comfortable: 0px;
    --ids-comp-notification-filled-container-size-border-radius-compact: 0px;
    --ids-comp-notification-filled-container-size-border-radius-dense: 0px;
    --ids-comp-notification-filled-container-size-border-radius-spacious: 0px;
    --ids-comp-notification-filled-container-size-border-right-width-comfortable: 0px;
    --ids-comp-notification-filled-container-size-border-right-width-compact: 0px;
    --ids-comp-notification-filled-container-size-border-right-width-dense: 0px;
    --ids-comp-notification-filled-container-size-border-right-width-spacious: 0px;
    --ids-comp-notification-filled-container-size-border-top-width-comfortable: 0px;
    --ids-comp-notification-filled-container-size-border-top-width-compact: 0px;
    --ids-comp-notification-filled-container-size-border-top-width-dense: 0px;
    --ids-comp-notification-filled-container-size-border-top-width-spacious: 0px;
    --ids-comp-notification-filled-container-size-gap-comfortable: 8px;
    --ids-comp-notification-filled-container-size-gap-compact: 8px;
    --ids-comp-notification-filled-container-size-gap-dense: 8px;
    --ids-comp-notification-filled-container-size-gap-spacious: 8px;
    --ids-comp-notification-filled-container-size-max-width-comfortable: 400px;
    --ids-comp-notification-filled-container-size-max-width-compact: 400px;
    --ids-comp-notification-filled-container-size-max-width-dense: 400px;
    --ids-comp-notification-filled-container-size-max-width-spacious: 400px;
    --ids-comp-notification-filled-container-size-min-width-comfortable: 128px;
    --ids-comp-notification-filled-container-size-min-width-compact: 128px;
    --ids-comp-notification-filled-container-size-min-width-dense: 128px;
    --ids-comp-notification-filled-container-size-min-width-spacious: 128px;
    --ids-comp-notification-filled-container-size-padding-x-comfortable: 16px;
    --ids-comp-notification-filled-container-size-padding-x-compact: 16px;
    --ids-comp-notification-filled-container-size-padding-x-dense: 16px;
    --ids-comp-notification-filled-container-size-padding-x-spacious: 16px;
    --ids-comp-notification-filled-container-size-padding-y-comfortable: 16px;
    --ids-comp-notification-filled-container-size-padding-y-compact: 16px;
    --ids-comp-notification-filled-container-size-padding-y-dense: 16px;
    --ids-comp-notification-filled-container-size-padding-y-spacious: 16px;
    --ids-comp-notification-group-container-size-gap-comfortable: 12px;
    --ids-comp-notification-group-container-size-gap-compact: 8px;
    --ids-comp-notification-group-container-size-gap-dense: 4px;
    --ids-comp-notification-group-container-size-gap-spacious: 16px;
    --ids-comp-notification-group-container-size-padding-x-comfortable: 0px;
    --ids-comp-notification-group-container-size-padding-x-compact: 0px;
    --ids-comp-notification-group-container-size-padding-x-dense: 0px;
    --ids-comp-notification-group-container-size-padding-x-spacious: 0px;
    --ids-comp-notification-group-container-size-padding-y-comfortable: 0px;
    --ids-comp-notification-group-container-size-padding-y-compact: 0px;
    --ids-comp-notification-group-container-size-padding-y-dense: 0px;
    --ids-comp-notification-group-container-size-padding-y-spacious: 0px;
    --ids-comp-notification-icon-button-size-icon-button-comfortable: 20px;
    --ids-comp-notification-icon-button-size-icon-button-compact: 20px;
    --ids-comp-notification-icon-button-size-icon-button-dense: 16px;
    --ids-comp-notification-icon-button-size-icon-button-spacious: 24px;
    --ids-comp-notification-icon-size-icon-comfortable: 24px;
    --ids-comp-notification-icon-size-icon-compact: 24px;
    --ids-comp-notification-icon-size-icon-dense: 24px;
    --ids-comp-notification-icon-size-icon-spacious: 24px;
    --ids-comp-notification-icon-size-padding-left-comfortable: 4px;
    --ids-comp-notification-icon-size-padding-left-compact: 4px;
    --ids-comp-notification-icon-size-padding-left-dense: 4px;
    --ids-comp-notification-icon-size-padding-left-spacious: 4px;
    --ids-comp-notification-icon-size-padding-right-comfortable: 8px;
    --ids-comp-notification-icon-size-padding-right-compact: 8px;
    --ids-comp-notification-icon-size-padding-right-dense: 8px;
    --ids-comp-notification-icon-size-padding-right-spacious: 8px;
    --ids-comp-notification-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-notification-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-notification-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-notification-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-notification-icon-typography-font-size-comfortable: 24px;
    --ids-comp-notification-icon-typography-font-size-compact: 24px;
    --ids-comp-notification-icon-typography-font-size-dense: 24px;
    --ids-comp-notification-icon-typography-font-size-spacious: 24px;
    --ids-comp-notification-icon-typography-font-weight-comfortable: 400;
    --ids-comp-notification-icon-typography-font-weight-compact: 400;
    --ids-comp-notification-icon-typography-font-weight-dense: 400;
    --ids-comp-notification-icon-typography-font-weight-spacious: 400;
    --ids-comp-notification-icon-typography-line-height-comfortable: 24px;
    --ids-comp-notification-icon-typography-line-height-compact: 24px;
    --ids-comp-notification-icon-typography-line-height-dense: 24px;
    --ids-comp-notification-icon-typography-line-height-spacious: 24px;
    --ids-comp-notification-message-action-size-gap-comfortable: 12px;
    --ids-comp-notification-message-action-size-gap-compact: 12px;
    --ids-comp-notification-message-action-size-gap-dense: 12px;
    --ids-comp-notification-message-action-size-gap-spacious: 12px;
    --ids-comp-notification-message-action-size-padding-right-comfortable: 32px;
    --ids-comp-notification-message-action-size-padding-right-compact: 32px;
    --ids-comp-notification-message-action-size-padding-right-dense: 32px;
    --ids-comp-notification-message-action-size-padding-right-spacious: 32px;
    --ids-comp-notification-message-size-gap-comfortable: 6px;
    --ids-comp-notification-message-size-gap-compact: 6px;
    --ids-comp-notification-message-size-gap-dense: 6px;
    --ids-comp-notification-message-size-gap-spacious: 6px;
    --ids-comp-notification-message-size-max-width-comfortable: 400px;
    --ids-comp-notification-message-size-max-width-compact: 400px;
    --ids-comp-notification-message-size-max-width-dense: 400px;
    --ids-comp-notification-message-size-max-width-spacious: 400px;
    --ids-comp-notification-message-size-min-height-comfortable: 24px;
    --ids-comp-notification-message-size-min-height-compact: 24px;
    --ids-comp-notification-message-size-min-height-dense: 24px;
    --ids-comp-notification-message-size-min-height-spacious: 24px;
    --ids-comp-notification-message-size-min-width-comfortable: 128px;
    --ids-comp-notification-message-size-min-width-compact: 128px;
    --ids-comp-notification-message-size-min-width-dense: 128px;
    --ids-comp-notification-message-size-min-width-spacious: 128px;
    --ids-comp-notification-message-size-padding-right-comfortable: 8px;
    --ids-comp-notification-message-size-padding-right-compact: 8px;
    --ids-comp-notification-message-size-padding-right-dense: 8px;
    --ids-comp-notification-message-size-padding-right-spacious: 8px;
    --ids-comp-notification-message-typography-font-family-comfortable: Montserrat;
    --ids-comp-notification-message-typography-font-family-compact: Montserrat;
    --ids-comp-notification-message-typography-font-family-dense: Montserrat;
    --ids-comp-notification-message-typography-font-family-spacious: Montserrat;
    --ids-comp-notification-message-typography-font-size-comfortable: 14px;
    --ids-comp-notification-message-typography-font-size-compact: 14px;
    --ids-comp-notification-message-typography-font-size-dense: 14px;
    --ids-comp-notification-message-typography-font-size-spacious: 14px;
    --ids-comp-notification-message-typography-font-weight-comfortable: 400;
    --ids-comp-notification-message-typography-font-weight-compact: 400;
    --ids-comp-notification-message-typography-font-weight-dense: 400;
    --ids-comp-notification-message-typography-font-weight-spacious: 400;
    --ids-comp-notification-message-typography-letter-spacing-comfortable: 0em;
    --ids-comp-notification-message-typography-letter-spacing-compact: 0em;
    --ids-comp-notification-message-typography-letter-spacing-dense: 0em;
    --ids-comp-notification-message-typography-letter-spacing-spacious: 0em;
    --ids-comp-notification-message-typography-line-height-comfortable: 16px;
    --ids-comp-notification-message-typography-line-height-compact: 16px;
    --ids-comp-notification-message-typography-line-height-dense: 16px;
    --ids-comp-notification-message-typography-line-height-spacious: 16px;
    --ids-comp-notification-outlined-color-bg-dark-default: #ffffff00;
    --ids-comp-notification-outlined-color-bg-error-default: #ffffff00;
    --ids-comp-notification-outlined-color-bg-info-default: #ffffff00;
    --ids-comp-notification-outlined-color-bg-light-default: #ffffff00;
    --ids-comp-notification-outlined-color-bg-success-default: #ffffff00;
    --ids-comp-notification-outlined-color-bg-surface-default: #ffffff00;
    --ids-comp-notification-outlined-color-bg-warning-default: #ffffff00;
    --ids-comp-notification-outlined-color-border-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-border-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-notification-outlined-color-border-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-notification-outlined-color-border-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-notification-outlined-color-border-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-notification-outlined-color-border-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-notification-outlined-color-border-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-notification-outlined-color-fg-icon-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-icon-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-notification-outlined-color-fg-icon-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-notification-outlined-color-fg-icon-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-notification-outlined-color-fg-icon-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-notification-outlined-color-fg-icon-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-icon-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-notification-outlined-color-fg-message-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-message-error-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-message-info-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-message-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-notification-outlined-color-fg-message-success-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-message-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-message-warning-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-title-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-title-error-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-title-info-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-title-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-notification-outlined-color-fg-title-success-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-title-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-color-fg-title-warning-default: light-dark(#020617, #f8fafc);
    --ids-comp-notification-outlined-container-size-border-bottom-width-comfortable: 1px;
    --ids-comp-notification-outlined-container-size-border-bottom-width-compact: 1px;
    --ids-comp-notification-outlined-container-size-border-bottom-width-dense: 1px;
    --ids-comp-notification-outlined-container-size-border-bottom-width-spacious: 1px;
    --ids-comp-notification-outlined-container-size-border-left-width-comfortable: 4px;
    --ids-comp-notification-outlined-container-size-border-left-width-compact: 4px;
    --ids-comp-notification-outlined-container-size-border-left-width-dense: 4px;
    --ids-comp-notification-outlined-container-size-border-left-width-spacious: 4px;
    --ids-comp-notification-outlined-container-size-border-radius-comfortable: 8px;
    --ids-comp-notification-outlined-container-size-border-radius-compact: 8px;
    --ids-comp-notification-outlined-container-size-border-radius-dense: 8px;
    --ids-comp-notification-outlined-container-size-border-radius-spacious: 8px;
    --ids-comp-notification-outlined-container-size-border-right-width-comfortable: 1px;
    --ids-comp-notification-outlined-container-size-border-right-width-compact: 1px;
    --ids-comp-notification-outlined-container-size-border-right-width-dense: 1px;
    --ids-comp-notification-outlined-container-size-border-right-width-spacious: 1px;
    --ids-comp-notification-outlined-container-size-border-top-width-comfortable: 1px;
    --ids-comp-notification-outlined-container-size-border-top-width-compact: 1px;
    --ids-comp-notification-outlined-container-size-border-top-width-dense: 1px;
    --ids-comp-notification-outlined-container-size-border-top-width-spacious: 1px;
    --ids-comp-notification-outlined-container-size-gap-comfortable: 8px;
    --ids-comp-notification-outlined-container-size-gap-compact: 8px;
    --ids-comp-notification-outlined-container-size-gap-dense: 8px;
    --ids-comp-notification-outlined-container-size-gap-spacious: 8px;
    --ids-comp-notification-outlined-container-size-max-width-comfortable: 400px;
    --ids-comp-notification-outlined-container-size-max-width-compact: 400px;
    --ids-comp-notification-outlined-container-size-max-width-dense: 400px;
    --ids-comp-notification-outlined-container-size-max-width-spacious: 400px;
    --ids-comp-notification-outlined-container-size-min-width-comfortable: 128px;
    --ids-comp-notification-outlined-container-size-min-width-compact: 128px;
    --ids-comp-notification-outlined-container-size-min-width-dense: 128px;
    --ids-comp-notification-outlined-container-size-min-width-spacious: 128px;
    --ids-comp-notification-outlined-container-size-padding-x-comfortable: 16px;
    --ids-comp-notification-outlined-container-size-padding-x-compact: 16px;
    --ids-comp-notification-outlined-container-size-padding-x-dense: 16px;
    --ids-comp-notification-outlined-container-size-padding-x-spacious: 16px;
    --ids-comp-notification-outlined-container-size-padding-y-comfortable: 16px;
    --ids-comp-notification-outlined-container-size-padding-y-compact: 16px;
    --ids-comp-notification-outlined-container-size-padding-y-dense: 16px;
    --ids-comp-notification-outlined-container-size-padding-y-spacious: 16px;
    --ids-comp-notification-title-typography-font-family-comfortable: Montserrat;
    --ids-comp-notification-title-typography-font-family-compact: Montserrat;
    --ids-comp-notification-title-typography-font-family-dense: Montserrat;
    --ids-comp-notification-title-typography-font-family-spacious: Montserrat;
    --ids-comp-notification-title-typography-font-size-comfortable: 16px;
    --ids-comp-notification-title-typography-font-size-compact: 16px;
    --ids-comp-notification-title-typography-font-size-dense: 16px;
    --ids-comp-notification-title-typography-font-size-spacious: 16px;
    --ids-comp-notification-title-typography-font-weight-comfortable: 500;
    --ids-comp-notification-title-typography-font-weight-compact: 500;
    --ids-comp-notification-title-typography-font-weight-dense: 500;
    --ids-comp-notification-title-typography-font-weight-spacious: 500;
    --ids-comp-notification-title-typography-letter-spacing-comfortable: 0em;
    --ids-comp-notification-title-typography-letter-spacing-compact: 0em;
    --ids-comp-notification-title-typography-letter-spacing-dense: 0em;
    --ids-comp-notification-title-typography-letter-spacing-spacious: 0em;
    --ids-comp-notification-title-typography-line-height-comfortable: 20px;
    --ids-comp-notification-title-typography-line-height-compact: 20px;
    --ids-comp-notification-title-typography-line-height-dense: 20px;
    --ids-comp-notification-title-typography-line-height-spacious: 20px
}