:root {
    --ids-comp-menu-item-active-indicator-color-bg-light-default: light-dark(#7598ff, #002fbd);
    --ids-comp-menu-item-active-indicator-color-bg-surface-default: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-active-indicator-size-border-radius-comfortable: 0px;
    --ids-comp-menu-item-active-indicator-size-border-radius-compact: 0px;
    --ids-comp-menu-item-active-indicator-size-border-radius-dense: 0px;
    --ids-comp-menu-item-active-indicator-size-border-radius-spacious: 0px;
    --ids-comp-menu-item-active-indicator-size-height-comfortable: 2px;
    --ids-comp-menu-item-active-indicator-size-height-compact: 2px;
    --ids-comp-menu-item-active-indicator-size-height-dense: 2px;
    --ids-comp-menu-item-active-indicator-size-height-spacious: 2px;
    --ids-comp-menu-item-filled-color-bg-light-fixed-active: light-dark(#f1f5f9, #f1f5f9);
    --ids-comp-menu-item-filled-color-bg-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-menu-item-filled-color-bg-light-fixed-disabled: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-menu-item-filled-color-bg-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-menu-item-filled-color-bg-light-fixed-hovered: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-menu-item-filled-color-bg-light-fixed-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-menu-item-filled-color-bg-surface-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-menu-item-filled-color-bg-surface-default: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-filled-color-bg-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-menu-item-filled-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-filled-color-bg-surface-hovered: light-dark(#648cb433, #ffffff33);
    --ids-comp-menu-item-filled-color-bg-surface-pressed: light-dark(#648cb44d, #ffffff4d);
    --ids-comp-menu-item-filled-color-border-light-fixed-active: #ffffff00;
    --ids-comp-menu-item-filled-color-border-light-fixed-default: #ffffff00;
    --ids-comp-menu-item-filled-color-border-light-fixed-disabled: #ffffff00;
    --ids-comp-menu-item-filled-color-border-light-fixed-focused: #ffffff00;
    --ids-comp-menu-item-filled-color-border-light-fixed-hovered: #ffffff00;
    --ids-comp-menu-item-filled-color-border-light-fixed-pressed: #ffffff00;
    --ids-comp-menu-item-filled-color-border-surface-active: #ffffff00;
    --ids-comp-menu-item-filled-color-border-surface-default: #ffffff00;
    --ids-comp-menu-item-filled-color-border-surface-disabled: #ffffff00;
    --ids-comp-menu-item-filled-color-border-surface-focused: #ffffff00;
    --ids-comp-menu-item-filled-color-border-surface-hovered: #ffffff00;
    --ids-comp-menu-item-filled-color-border-surface-pressed: #ffffff00;
    --ids-comp-menu-item-filled-color-fg-icon-light-fixed-active: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-light-fixed-default: light-dark(#334155, #334155);
    --ids-comp-menu-item-filled-color-fg-icon-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-filled-color-fg-icon-light-fixed-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-light-fixed-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-light-fixed-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-surface-default: light-dark(#334155, #e2e8f0);
    --ids-comp-menu-item-filled-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-filled-color-fg-icon-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-icon-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-light-fixed-active: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-light-fixed-default: light-dark(#334155, #334155);
    --ids-comp-menu-item-filled-color-fg-label-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-filled-color-fg-label-light-fixed-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-light-fixed-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-light-fixed-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-surface-default: light-dark(#334155, #e2e8f0);
    --ids-comp-menu-item-filled-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-filled-color-fg-label-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-filled-color-fg-label-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-menu-item-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-menu-item-focused-outline-size-outline-compact: 3px;
    --ids-comp-menu-item-focused-outline-size-outline-dense: 3px;
    --ids-comp-menu-item-focused-outline-size-outline-spacious: 3px;
    --ids-comp-menu-item-icon-typography-font-family-comfortable: "Material Icons";
    --ids-comp-menu-item-icon-typography-font-family-compact: "Material Icons";
    --ids-comp-menu-item-icon-typography-font-family-dense: "Material Icons";
    --ids-comp-menu-item-icon-typography-font-family-spacious: "Material Icons";
    --ids-comp-menu-item-icon-typography-font-size-comfortable: 24px;
    --ids-comp-menu-item-icon-typography-font-size-compact: 20px;
    --ids-comp-menu-item-icon-typography-font-size-dense: 16px;
    --ids-comp-menu-item-icon-typography-font-size-spacious: 32px;
    --ids-comp-menu-item-icon-typography-font-weight-comfortable: 400;
    --ids-comp-menu-item-icon-typography-font-weight-compact: 400;
    --ids-comp-menu-item-icon-typography-font-weight-dense: 600;
    --ids-comp-menu-item-icon-typography-font-weight-spacious: 400;
    --ids-comp-menu-item-icon-typography-line-height-comfortable: 24px;
    --ids-comp-menu-item-icon-typography-line-height-compact: 20px;
    --ids-comp-menu-item-icon-typography-line-height-dense: 16px;
    --ids-comp-menu-item-icon-typography-line-height-spacious: 32px;
    --ids-comp-menu-item-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-menu-item-label-typography-font-family-compact: Montserrat;
    --ids-comp-menu-item-label-typography-font-family-dense: Montserrat;
    --ids-comp-menu-item-label-typography-font-family-spacious: Montserrat;
    --ids-comp-menu-item-label-typography-font-size-comfortable: 16px;
    --ids-comp-menu-item-label-typography-font-size-compact: 12px;
    --ids-comp-menu-item-label-typography-font-size-dense: 12px;
    --ids-comp-menu-item-label-typography-font-size-spacious: 18px;
    --ids-comp-menu-item-label-typography-font-weight-comfortable: 400;
    --ids-comp-menu-item-label-typography-font-weight-compact: 400;
    --ids-comp-menu-item-label-typography-font-weight-dense: 600;
    --ids-comp-menu-item-label-typography-font-weight-spacious: 400;
    --ids-comp-menu-item-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-menu-item-label-typography-letter-spacing-compact: 0em;
    --ids-comp-menu-item-label-typography-letter-spacing-dense: 0em;
    --ids-comp-menu-item-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-menu-item-label-typography-line-height-comfortable: 20px;
    --ids-comp-menu-item-label-typography-line-height-compact: 16px;
    --ids-comp-menu-item-label-typography-line-height-dense: 16px;
    --ids-comp-menu-item-label-typography-line-height-spacious: 24px;
    --ids-comp-menu-item-size-border-radius-comfortable: 8px;
    --ids-comp-menu-item-size-border-radius-compact: 4px;
    --ids-comp-menu-item-size-border-radius-dense: 2px;
    --ids-comp-menu-item-size-border-radius-spacious: 16px;
    --ids-comp-menu-item-size-border-width-comfortable: 1px;
    --ids-comp-menu-item-size-border-width-compact: 1px;
    --ids-comp-menu-item-size-border-width-dense: 1px;
    --ids-comp-menu-item-size-border-width-spacious: 1px;
    --ids-comp-menu-item-size-gap-comfortable: 8px;
    --ids-comp-menu-item-size-gap-compact: 2px;
    --ids-comp-menu-item-size-gap-dense: 2px;
    --ids-comp-menu-item-size-gap-spacious: 16px;
    --ids-comp-menu-item-size-height-comfortable: 44px;
    --ids-comp-menu-item-size-height-compact: 24px;
    --ids-comp-menu-item-size-height-dense: 16px;
    --ids-comp-menu-item-size-height-spacious: 56px;
    --ids-comp-menu-item-size-icon-comfortable: 24px;
    --ids-comp-menu-item-size-icon-compact: 20px;
    --ids-comp-menu-item-size-icon-dense: 16px;
    --ids-comp-menu-item-size-icon-spacious: 28px;
    --ids-comp-menu-item-size-padding-x-comfortable: 8px;
    --ids-comp-menu-item-size-padding-x-compact: 2px;
    --ids-comp-menu-item-size-padding-x-dense: 2px;
    --ids-comp-menu-item-size-padding-x-spacious: 16px;
    --ids-comp-menu-item-size-padding-y-comfortable: 8px;
    --ids-comp-menu-item-size-padding-y-compact: 2px;
    --ids-comp-menu-item-size-padding-y-dense: 2px;
    --ids-comp-menu-item-size-padding-y-spacious: 16px;
    --ids-comp-menu-item-text-color-bg-light-active: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-text-color-bg-light-default: #ffffff00;
    --ids-comp-menu-item-text-color-bg-light-disabled: #ffffff00;
    --ids-comp-menu-item-text-color-bg-light-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-text-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-text-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-menu-item-text-color-bg-surface-active: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-text-color-bg-surface-default: #ffffff00;
    --ids-comp-menu-item-text-color-bg-surface-disabled: #ffffff00;
    --ids-comp-menu-item-text-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-text-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-menu-item-text-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-menu-item-text-color-border-light-active: #ffffff00;
    --ids-comp-menu-item-text-color-border-light-default: #ffffff00;
    --ids-comp-menu-item-text-color-border-light-disabled: #ffffff00;
    --ids-comp-menu-item-text-color-border-light-focused: #ffffff00;
    --ids-comp-menu-item-text-color-border-light-hovered: #ffffff00;
    --ids-comp-menu-item-text-color-border-light-pressed: #ffffff00;
    --ids-comp-menu-item-text-color-border-surface-active: #ffffff00;
    --ids-comp-menu-item-text-color-border-surface-default: #ffffff00;
    --ids-comp-menu-item-text-color-border-surface-disabled: #ffffff00;
    --ids-comp-menu-item-text-color-border-surface-focused: #ffffff00;
    --ids-comp-menu-item-text-color-border-surface-hovered: #ffffff00;
    --ids-comp-menu-item-text-color-border-surface-pressed: #ffffff00;
    --ids-comp-menu-item-text-color-fg-icon-light-active: light-dark(#7598ff, #002fbd);
    --ids-comp-menu-item-text-color-fg-icon-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-menu-item-text-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-text-color-fg-icon-light-focused: light-dark(#4775ff, #003beb);
    --ids-comp-menu-item-text-color-fg-icon-light-hovered: light-dark(#4775ff, #003beb);
    --ids-comp-menu-item-text-color-fg-icon-light-pressed: light-dark(#4775ff, #003beb);
    --ids-comp-menu-item-text-color-fg-icon-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-icon-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-menu-item-text-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-text-color-fg-icon-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-icon-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-icon-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-label-light-active: light-dark(#7598ff, #002fbd);
    --ids-comp-menu-item-text-color-fg-label-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-menu-item-text-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-text-color-fg-label-light-focused: light-dark(#4775ff, #003beb);
    --ids-comp-menu-item-text-color-fg-label-light-hovered: light-dark(#4775ff, #003beb);
    --ids-comp-menu-item-text-color-fg-label-light-pressed: light-dark(#4775ff, #003beb);
    --ids-comp-menu-item-text-color-fg-label-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-label-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-menu-item-text-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-menu-item-text-color-fg-label-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-label-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-menu-item-text-color-fg-label-surface-pressed: light-dark(#003cff, #4775ff)
}