:root {
    --ids-comp-paginator-help-text-color-border-light-default: light-dark(#ffffff, #000000);
    --ids-comp-paginator-help-text-color-border-primary-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-paginator-help-text-color-border-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-help-text-color-border-surface-default: #ffffff00;
    --ids-comp-paginator-help-text-color-fg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-help-text-color-fg-primary-default: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-help-text-color-fg-secondary-default: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-help-text-color-fg-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-help-text-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-paginator-help-text-label-typography-font-family-compact: Montserrat;
    --ids-comp-paginator-help-text-label-typography-font-family-dense: Montserrat;
    --ids-comp-paginator-help-text-label-typography-font-family-spacious: Montserrat;
    --ids-comp-paginator-help-text-label-typography-font-size-comfortable: 12px;
    --ids-comp-paginator-help-text-label-typography-font-size-compact: 10px;
    --ids-comp-paginator-help-text-label-typography-font-size-dense: 10px;
    --ids-comp-paginator-help-text-label-typography-font-size-spacious: 14px;
    --ids-comp-paginator-help-text-label-typography-font-weight-comfortable: 500;
    --ids-comp-paginator-help-text-label-typography-font-weight-compact: 500;
    --ids-comp-paginator-help-text-label-typography-font-weight-dense: 500;
    --ids-comp-paginator-help-text-label-typography-font-weight-spacious: 500;
    --ids-comp-paginator-help-text-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-paginator-help-text-label-typography-letter-spacing-compact: 0em;
    --ids-comp-paginator-help-text-label-typography-letter-spacing-dense: 0em;
    --ids-comp-paginator-help-text-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-paginator-help-text-label-typography-line-height-comfortable: 14px;
    --ids-comp-paginator-help-text-label-typography-line-height-compact: 12px;
    --ids-comp-paginator-help-text-label-typography-line-height-dense: 12px;
    --ids-comp-paginator-help-text-label-typography-line-height-spacious: 18px;
    --ids-comp-paginator-help-text-size-border-radius-comfortable: 0px;
    --ids-comp-paginator-help-text-size-border-radius-compact: 0px;
    --ids-comp-paginator-help-text-size-border-radius-dense: 0px;
    --ids-comp-paginator-help-text-size-border-radius-mobile-comfortable: 1000px;
    --ids-comp-paginator-help-text-size-border-radius-mobile-compact: 1000px;
    --ids-comp-paginator-help-text-size-border-radius-mobile-dense: 1000px;
    --ids-comp-paginator-help-text-size-border-radius-mobile-spacious: 1000px;
    --ids-comp-paginator-help-text-size-border-radius-spacious: 0px;
    --ids-comp-paginator-help-text-size-border-width-comfortable: 1px;
    --ids-comp-paginator-help-text-size-border-width-compact: 1px;
    --ids-comp-paginator-help-text-size-border-width-dense: 1px;
    --ids-comp-paginator-help-text-size-border-width-spacious: 1px;
    --ids-comp-paginator-help-text-size-height-comfortable: 40px;
    --ids-comp-paginator-help-text-size-height-compact: 24px;
    --ids-comp-paginator-help-text-size-height-dense: 20px;
    --ids-comp-paginator-help-text-size-height-spacious: 56px;
    --ids-comp-paginator-help-text-size-padding-y-comfortable: 10px;
    --ids-comp-paginator-help-text-size-padding-y-compact: 6px;
    --ids-comp-paginator-help-text-size-padding-y-dense: 16px;
    --ids-comp-paginator-help-text-size-padding-y-spacious: 16px;
    --ids-comp-paginator-page-links-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-focused-outline-color-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-paginator-page-links-focused-outline-size-outline-compact: 3px;
    --ids-comp-paginator-page-links-focused-outline-size-outline-dense: 3px;
    --ids-comp-paginator-page-links-focused-outline-size-outline-spacious: 3px;
    --ids-comp-paginator-page-links-icon-typography-font-family-comfortable: I-DS-font-icon-material;
    --ids-comp-paginator-page-links-icon-typography-font-family-compact: I-DS-font-icon-material;
    --ids-comp-paginator-page-links-icon-typography-font-family-dense: I-DS-font-icon-material;
    --ids-comp-paginator-page-links-icon-typography-font-family-spacious: I-DS-font-icon-material;
    --ids-comp-paginator-page-links-icon-typography-font-size-comfortable: 24px;
    --ids-comp-paginator-page-links-icon-typography-font-size-compact: 20px;
    --ids-comp-paginator-page-links-icon-typography-font-size-dense: 20px;
    --ids-comp-paginator-page-links-icon-typography-font-size-spacious: 32px;
    --ids-comp-paginator-page-links-icon-typography-font-weight-comfortable: 400;
    --ids-comp-paginator-page-links-icon-typography-font-weight-compact: 400;
    --ids-comp-paginator-page-links-icon-typography-font-weight-dense: 400;
    --ids-comp-paginator-page-links-icon-typography-font-weight-spacious: 400;
    --ids-comp-paginator-page-links-icon-typography-line-height-comfortable: 24px;
    --ids-comp-paginator-page-links-icon-typography-line-height-compact: 20px;
    --ids-comp-paginator-page-links-icon-typography-line-height-dense: 20px;
    --ids-comp-paginator-page-links-icon-typography-line-height-spacious: 32px;
    --ids-comp-paginator-page-links-label-size-padding-left-comfortable: 8px;
    --ids-comp-paginator-page-links-label-size-padding-left-compact: 8px;
    --ids-comp-paginator-page-links-label-size-padding-left-dense: 6px;
    --ids-comp-paginator-page-links-label-size-padding-left-spacious: 8px;
    --ids-comp-paginator-page-links-label-size-padding-right-comfortable: 10px;
    --ids-comp-paginator-page-links-label-size-padding-right-compact: 8px;
    --ids-comp-paginator-page-links-label-size-padding-right-dense: 6px;
    --ids-comp-paginator-page-links-label-size-padding-right-spacious: 16px;
    --ids-comp-paginator-page-links-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-paginator-page-links-label-typography-font-family-compact: Montserrat;
    --ids-comp-paginator-page-links-label-typography-font-family-dense: Montserrat;
    --ids-comp-paginator-page-links-label-typography-font-family-spacious: Montserrat;
    --ids-comp-paginator-page-links-label-typography-font-size-comfortable: 14px;
    --ids-comp-paginator-page-links-label-typography-font-size-compact: 12px;
    --ids-comp-paginator-page-links-label-typography-font-size-dense: 12px;
    --ids-comp-paginator-page-links-label-typography-font-size-spacious: 18px;
    --ids-comp-paginator-page-links-label-typography-font-weight-comfortable: 700;
    --ids-comp-paginator-page-links-label-typography-font-weight-compact: 700;
    --ids-comp-paginator-page-links-label-typography-font-weight-dense: 700;
    --ids-comp-paginator-page-links-label-typography-font-weight-spacious: 700;
    --ids-comp-paginator-page-links-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-paginator-page-links-label-typography-letter-spacing-compact: 0em;
    --ids-comp-paginator-page-links-label-typography-letter-spacing-dense: 0em;
    --ids-comp-paginator-page-links-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-paginator-page-links-label-typography-line-height-comfortable: 14px;
    --ids-comp-paginator-page-links-label-typography-line-height-compact: 12px;
    --ids-comp-paginator-page-links-label-typography-line-height-dense: 12px;
    --ids-comp-paginator-page-links-label-typography-line-height-spacious: 18px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-left-comfortable: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-left-compact: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-left-dense: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-left-spacious: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-right-comfortable: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-right-compact: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-right-dense: 1000px;
    --ids-comp-paginator-page-links-page-link-first-size-border-radius-right-spacious: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-left-comfortable: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-left-compact: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-left-dense: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-left-spacious: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-right-comfortable: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-right-compact: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-right-dense: 1000px;
    --ids-comp-paginator-page-links-page-link-last-size-border-radius-right-spacious: 1000px;
    --ids-comp-paginator-page-links-page-link-size-border-radius-comfortable: 1000px;
    --ids-comp-paginator-page-links-page-link-size-border-radius-compact: 1000px;
    --ids-comp-paginator-page-links-page-link-size-border-radius-dense: 1000px;
    --ids-comp-paginator-page-links-page-link-size-border-radius-spacious: 1000px;
    --ids-comp-paginator-page-links-plain-color-bg-light-active: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-plain-color-bg-light-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-light-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-light-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-paginator-page-links-plain-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-paginator-page-links-plain-color-bg-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-plain-color-bg-primary-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-primary-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-primary-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-paginator-page-links-plain-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-paginator-page-links-plain-color-bg-secondary-active: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-plain-color-bg-secondary-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-secondary-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-secondary-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-secondary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-paginator-page-links-plain-color-bg-secondary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-paginator-page-links-plain-color-bg-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-plain-color-bg-surface-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-surface-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-surface-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-paginator-page-links-plain-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-paginator-page-links-plain-color-border-light-active: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-light-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-light-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-light-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-light-hovered: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-light-pressed: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-primary-active: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-primary-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-primary-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-primary-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-primary-hovered: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-primary-pressed: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-secondary-active: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-secondary-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-secondary-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-secondary-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-secondary-hovered: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-secondary-pressed: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-surface-active: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-surface-default: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-surface-disabled: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-surface-focused: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-surface-hovered: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-border-surface-pressed: #ffffff00;
    --ids-comp-paginator-page-links-plain-color-fg-icon-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-icon-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-primary-active: light-dark(#ffffff, #000000);
    --ids-comp-paginator-page-links-plain-color-fg-icon-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-icon-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-paginator-page-links-plain-color-fg-icon-secondary-active: light-dark(#ffffff, #000000);
    --ids-comp-paginator-page-links-plain-color-fg-icon-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-page-links-plain-color-fg-icon-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-icon-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-page-links-plain-color-fg-icon-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-page-links-plain-color-fg-icon-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-paginator-page-links-plain-color-fg-icon-surface-active: light-dark(#ffffff, #000000);
    --ids-comp-paginator-page-links-plain-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-page-links-plain-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-icon-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-page-links-plain-color-fg-icon-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-page-links-plain-color-fg-icon-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-paginator-page-links-plain-color-fg-label-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-label-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-label-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-label-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-label-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-paginator-page-links-plain-color-fg-label-primary-active: light-dark(#ffffff, #000000);
    --ids-comp-paginator-page-links-plain-color-fg-label-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-paginator-page-links-plain-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-label-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-paginator-page-links-plain-color-fg-label-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-paginator-page-links-plain-color-fg-label-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-paginator-page-links-plain-color-fg-label-secondary-active: light-dark(#ffffff, #000000);
    --ids-comp-paginator-page-links-plain-color-fg-label-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-page-links-plain-color-fg-label-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-label-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-page-links-plain-color-fg-label-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-page-links-plain-color-fg-label-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-paginator-page-links-plain-color-fg-label-surface-active: light-dark(#ffffff, #000000);
    --ids-comp-paginator-page-links-plain-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-page-links-plain-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-paginator-page-links-plain-color-fg-label-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-paginator-page-links-plain-color-fg-label-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-paginator-page-links-plain-color-fg-label-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-paginator-page-links-size-border-radius-comfortable: 1000px;
    --ids-comp-paginator-page-links-size-border-radius-compact: 1000px;
    --ids-comp-paginator-page-links-size-border-radius-dense: 1000px;
    --ids-comp-paginator-page-links-size-border-radius-spacious: 1000px;
    --ids-comp-paginator-page-links-size-border-width-comfortable: 1px;
    --ids-comp-paginator-page-links-size-border-width-compact: 1px;
    --ids-comp-paginator-page-links-size-border-width-dense: 1px;
    --ids-comp-paginator-page-links-size-border-width-spacious: 1px;
    --ids-comp-paginator-page-links-size-gap-comfortable: 8px;
    --ids-comp-paginator-page-links-size-gap-compact: 2px;
    --ids-comp-paginator-page-links-size-gap-dense: 2px;
    --ids-comp-paginator-page-links-size-gap-spacious: 8px;
    --ids-comp-paginator-page-links-size-height-comfortable: 40px;
    --ids-comp-paginator-page-links-size-height-compact: 24px;
    --ids-comp-paginator-page-links-size-height-dense: 20px;
    --ids-comp-paginator-page-links-size-height-spacious: 56px;
    --ids-comp-paginator-page-links-size-icon-comfortable: 24px;
    --ids-comp-paginator-page-links-size-icon-compact: 20px;
    --ids-comp-paginator-page-links-size-icon-dense: 16px;
    --ids-comp-paginator-page-links-size-icon-spacious: 28px;
    --ids-comp-paginator-page-links-size-min-width-comfortable: 40px;
    --ids-comp-paginator-page-links-size-min-width-compact: 24px;
    --ids-comp-paginator-page-links-size-min-width-dense: 20px;
    --ids-comp-paginator-page-links-size-min-width-spacious: 56px;
    --ids-comp-paginator-page-links-size-padding-x-comfortable: 8px;
    --ids-comp-paginator-page-links-size-padding-x-compact: 2px;
    --ids-comp-paginator-page-links-size-padding-x-dense: 2px;
    --ids-comp-paginator-page-links-size-padding-x-spacious: 10px;
    --ids-comp-paginator-page-links-size-padding-y-comfortable: 10px;
    --ids-comp-paginator-page-links-size-padding-y-compact: 6px;
    --ids-comp-paginator-page-links-size-padding-y-dense: 6px;
    --ids-comp-paginator-page-links-size-padding-y-spacious: 16px;
    --ids-comp-paginator-size-gap-comfortable: 0px;
    --ids-comp-paginator-size-gap-compact: 0px;
    --ids-comp-paginator-size-gap-dense: 0px;
    --ids-comp-paginator-size-gap-spacious: 0px
}