:root {
    --ids-comp-popover-color-bg-dark-default: light-dark(#000000, #ffffff);
    --ids-comp-popover-color-bg-highlight-default: light-dark(#06b6d4, #22d3ee);
    --ids-comp-popover-color-bg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-popover-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-popover-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-popover-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-popover-color-fg-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-popover-color-fg-highlight-default: light-dark(#1e293b, #1e293b);
    --ids-comp-popover-color-fg-light-default: light-dark(#1e293b, #1e293b);
    --ids-comp-popover-color-fg-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-popover-color-fg-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-popover-color-fg-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-popover-description-typography-font-family-comfortable: Montserrat;
    --ids-comp-popover-description-typography-font-family-compact: Montserrat;
    --ids-comp-popover-description-typography-font-family-dense: Montserrat;
    --ids-comp-popover-description-typography-font-family-spacious: Montserrat;
    --ids-comp-popover-description-typography-font-size-comfortable: 16px;
    --ids-comp-popover-description-typography-font-size-compact: 16px;
    --ids-comp-popover-description-typography-font-size-dense: 16px;
    --ids-comp-popover-description-typography-font-size-spacious: 16px;
    --ids-comp-popover-description-typography-font-weight-comfortable: 400;
    --ids-comp-popover-description-typography-font-weight-compact: 400;
    --ids-comp-popover-description-typography-font-weight-dense: 400;
    --ids-comp-popover-description-typography-font-weight-spacious: 400;
    --ids-comp-popover-description-typography-letter-spacing-comfortable: 0em;
    --ids-comp-popover-description-typography-letter-spacing-compact: 0em;
    --ids-comp-popover-description-typography-letter-spacing-dense: 0em;
    --ids-comp-popover-description-typography-letter-spacing-spacious: 0em;
    --ids-comp-popover-description-typography-line-height-comfortable: 24px;
    --ids-comp-popover-description-typography-line-height-compact: 24px;
    --ids-comp-popover-description-typography-line-height-dense: 24px;
    --ids-comp-popover-description-typography-line-height-spacious: 24px;
    --ids-comp-popover-size-border-radius-comfortable: 4px;
    --ids-comp-popover-size-border-radius-compact: 4px;
    --ids-comp-popover-size-border-radius-dense: 4px;
    --ids-comp-popover-size-border-radius-spacious: 4px;
    --ids-comp-popover-size-border-width-comfortable: 1px;
    --ids-comp-popover-size-border-width-compact: 1px;
    --ids-comp-popover-size-border-width-dense: 1px;
    --ids-comp-popover-size-border-width-spacious: 1px;
    --ids-comp-popover-size-caret-size-comfortable: 8px;
    --ids-comp-popover-size-caret-size-compact: 8px;
    --ids-comp-popover-size-caret-size-dense: 8px;
    --ids-comp-popover-size-caret-size-spacious: 8px;
    --ids-comp-popover-size-gap-x-comfortable: 8px;
    --ids-comp-popover-size-gap-x-compact: 8px;
    --ids-comp-popover-size-gap-x-dense: 8px;
    --ids-comp-popover-size-gap-x-spacious: 8px;
    --ids-comp-popover-size-gap-y-comfortable: 12px;
    --ids-comp-popover-size-gap-y-compact: 12px;
    --ids-comp-popover-size-gap-y-dense: 12px;
    --ids-comp-popover-size-gap-y-spacious: 12px;
    --ids-comp-popover-size-max-width-comfortable: 800px;
    --ids-comp-popover-size-max-width-compact: 800px;
    --ids-comp-popover-size-max-width-dense: 800px;
    --ids-comp-popover-size-max-width-spacious: 800px;
    --ids-comp-popover-size-min-width-comfortable: 256px;
    --ids-comp-popover-size-min-width-compact: 256px;
    --ids-comp-popover-size-min-width-dense: 256px;
    --ids-comp-popover-size-min-width-spacious: 256px;
    --ids-comp-popover-size-padding-x-comfortable: 16px;
    --ids-comp-popover-size-padding-x-compact: 16px;
    --ids-comp-popover-size-padding-x-dense: 16px;
    --ids-comp-popover-size-padding-x-spacious: 16px;
    --ids-comp-popover-size-padding-y-comfortable: 16px;
    --ids-comp-popover-size-padding-y-compact: 16px;
    --ids-comp-popover-size-padding-y-dense: 16px;
    --ids-comp-popover-size-padding-y-spacious: 16px;
    --ids-comp-popover-title-desc-container-size-gap-comfortable: 2px;
    --ids-comp-popover-title-desc-container-size-gap-compact: 2px;
    --ids-comp-popover-title-desc-container-size-gap-dense: 2px;
    --ids-comp-popover-title-desc-container-size-gap-spacious: 2px;
    --ids-comp-popover-title-typography-font-family-comfortable: Montserrat;
    --ids-comp-popover-title-typography-font-family-compact: Montserrat;
    --ids-comp-popover-title-typography-font-family-dense: Montserrat;
    --ids-comp-popover-title-typography-font-family-spacious: Montserrat;
    --ids-comp-popover-title-typography-font-size-comfortable: 16px;
    --ids-comp-popover-title-typography-font-size-compact: 16px;
    --ids-comp-popover-title-typography-font-size-dense: 16px;
    --ids-comp-popover-title-typography-font-size-spacious: 16px;
    --ids-comp-popover-title-typography-font-weight-comfortable: 600;
    --ids-comp-popover-title-typography-font-weight-compact: 600;
    --ids-comp-popover-title-typography-font-weight-dense: 600;
    --ids-comp-popover-title-typography-font-weight-spacious: 600;
    --ids-comp-popover-title-typography-letter-spacing-comfortable: 0em;
    --ids-comp-popover-title-typography-letter-spacing-compact: 0em;
    --ids-comp-popover-title-typography-letter-spacing-dense: 0em;
    --ids-comp-popover-title-typography-letter-spacing-spacious: 0em;
    --ids-comp-popover-title-typography-line-height-comfortable: 24px;
    --ids-comp-popover-title-typography-line-height-compact: 24px;
    --ids-comp-popover-title-typography-line-height-dense: 24px;
    --ids-comp-popover-title-typography-line-height-spacious: 24px
}