:root {
    --ids-comp-progressbar-active-indicator-bg-dark-default: light-dark(#000000, #ffffff);
    --ids-comp-progressbar-active-indicator-bg-dark-error: light-dark(#dc2626, #fca5a5);
    --ids-comp-progressbar-active-indicator-bg-dark-success: light-dark(#16a34a, #86efac);
    --ids-comp-progressbar-active-indicator-bg-dark-warning: light-dark(#ea580c, #fdba74);
    --ids-comp-progressbar-active-indicator-bg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-progressbar-active-indicator-bg-light-error: light-dark(#f87171, #dc2626);
    --ids-comp-progressbar-active-indicator-bg-light-success: light-dark(#4ade80, #16a34a);
    --ids-comp-progressbar-active-indicator-bg-light-warning: light-dark(#fb923c, #ea580c);
    --ids-comp-progressbar-active-indicator-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-progressbar-active-indicator-bg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-progressbar-active-indicator-bg-surface-error: light-dark(#dc2626, #fca5a5);
    --ids-comp-progressbar-active-indicator-bg-surface-success: light-dark(#22c55e, #4ade80);
    --ids-comp-progressbar-active-indicator-bg-surface-warning: light-dark(#f97316, #fb923c);
    --ids-comp-progressbar-active-indicator-size-border-radius-comfortable: 1000px;
    --ids-comp-progressbar-active-indicator-size-border-radius-compact: 1000px;
    --ids-comp-progressbar-active-indicator-size-border-radius-dense: 1000px;
    --ids-comp-progressbar-active-indicator-size-border-radius-none-comfortable: 0px;
    --ids-comp-progressbar-active-indicator-size-border-radius-none-compact: 0px;
    --ids-comp-progressbar-active-indicator-size-border-radius-none-dense: 0px;
    --ids-comp-progressbar-active-indicator-size-border-radius-none-spacious: 0px;
    --ids-comp-progressbar-active-indicator-size-border-radius-spacious: 1000px;
    --ids-comp-progressbar-icon-bg-dark-default: light-dark(#000000, #ffffff);
    --ids-comp-progressbar-icon-bg-dark-error: light-dark(#dc2626, #fca5a5);
    --ids-comp-progressbar-icon-bg-dark-success: light-dark(#16a34a, #86efac);
    --ids-comp-progressbar-icon-bg-dark-warning: light-dark(#ea580c, #fdba74);
    --ids-comp-progressbar-icon-bg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-progressbar-icon-bg-light-error: light-dark(#f87171, #dc2626);
    --ids-comp-progressbar-icon-bg-light-success: light-dark(#4ade80, #16a34a);
    --ids-comp-progressbar-icon-bg-light-warning: light-dark(#fb923c, #ea580c);
    --ids-comp-progressbar-icon-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-progressbar-icon-bg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-progressbar-icon-bg-surface-error: light-dark(#dc2626, #fca5a5);
    --ids-comp-progressbar-icon-bg-surface-success: light-dark(#22c55e, #4ade80);
    --ids-comp-progressbar-icon-bg-surface-warning: light-dark(#f97316, #fb923c);
    --ids-comp-progressbar-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-progressbar-label-typography-font-family-compact: Montserrat;
    --ids-comp-progressbar-label-typography-font-family-dense: Montserrat;
    --ids-comp-progressbar-label-typography-font-family-spacious: Montserrat;
    --ids-comp-progressbar-label-typography-font-size-comfortable: 14px;
    --ids-comp-progressbar-label-typography-font-size-compact: 12px;
    --ids-comp-progressbar-label-typography-font-size-dense: 12px;
    --ids-comp-progressbar-label-typography-font-size-spacious: 16px;
    --ids-comp-progressbar-label-typography-font-weight-comfortable: 400;
    --ids-comp-progressbar-label-typography-font-weight-compact: 400;
    --ids-comp-progressbar-label-typography-font-weight-dense: 400;
    --ids-comp-progressbar-label-typography-font-weight-spacious: 400;
    --ids-comp-progressbar-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-progressbar-label-typography-letter-spacing-compact: 0em;
    --ids-comp-progressbar-label-typography-letter-spacing-dense: 0em;
    --ids-comp-progressbar-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-progressbar-label-typography-line-height-comfortable: 14px;
    --ids-comp-progressbar-label-typography-line-height-compact: 12px;
    --ids-comp-progressbar-label-typography-line-height-dense: 12px;
    --ids-comp-progressbar-label-typography-line-height-spacious: 16px;
    --ids-comp-progressbar-message-icon-typoghrapy-font-family-comfortable: I-DS-font-icon-material;
    --ids-comp-progressbar-message-icon-typoghrapy-font-family-compact: I-DS-font-icon-material;
    --ids-comp-progressbar-message-icon-typoghrapy-font-family-dense: I-DS-font-icon-material;
    --ids-comp-progressbar-message-icon-typoghrapy-font-family-spacious: I-DS-font-icon-material;
    --ids-comp-progressbar-message-icon-typoghrapy-font-size-comfortable: 12px;
    --ids-comp-progressbar-message-icon-typoghrapy-font-size-compact: 10px;
    --ids-comp-progressbar-message-icon-typoghrapy-font-size-dense: 10px;
    --ids-comp-progressbar-message-icon-typoghrapy-font-size-spacious: 14px;
    --ids-comp-progressbar-message-icon-typoghrapy-font-weight-comfortable: 400;
    --ids-comp-progressbar-message-icon-typoghrapy-font-weight-compact: 400;
    --ids-comp-progressbar-message-icon-typoghrapy-font-weight-dense: 400;
    --ids-comp-progressbar-message-icon-typoghrapy-font-weight-spacious: 400;
    --ids-comp-progressbar-message-icon-typoghrapy-line-height-comfortable: 12px;
    --ids-comp-progressbar-message-icon-typoghrapy-line-height-compact: 10px;
    --ids-comp-progressbar-message-icon-typoghrapy-line-height-dense: 10px;
    --ids-comp-progressbar-message-icon-typoghrapy-line-height-spacious: 14px;
    --ids-comp-progressbar-message-size-gap-comfortable: 4px;
    --ids-comp-progressbar-message-size-gap-compact: 4px;
    --ids-comp-progressbar-message-size-gap-dense: 4px;
    --ids-comp-progressbar-message-size-gap-spacious: 4px;
    --ids-comp-progressbar-message-size-icon-height-comfortable: 16px;
    --ids-comp-progressbar-message-size-icon-height-compact: 12px;
    --ids-comp-progressbar-message-size-icon-height-dense: 12px;
    --ids-comp-progressbar-message-size-icon-height-spacious: 16px;
    --ids-comp-progressbar-message-size-icon-width-comfortable: 16px;
    --ids-comp-progressbar-message-size-icon-width-compact: 12px;
    --ids-comp-progressbar-message-size-icon-width-dense: 12px;
    --ids-comp-progressbar-message-size-icon-width-spacious: 16px;
    --ids-comp-progressbar-message-size-padding-x-comfortable: 0px;
    --ids-comp-progressbar-message-size-padding-x-compact: 0px;
    --ids-comp-progressbar-message-size-padding-x-dense: 0px;
    --ids-comp-progressbar-message-size-padding-x-spacious: 0px;
    --ids-comp-progressbar-message-size-padding-y-comfortable: 0px;
    --ids-comp-progressbar-message-size-padding-y-compact: 0px;
    --ids-comp-progressbar-message-size-padding-y-dense: 0px;
    --ids-comp-progressbar-message-size-padding-y-spacious: 0px;
    --ids-comp-progressbar-message-typography-font-family-comfortable: Montserrat;
    --ids-comp-progressbar-message-typography-font-family-compact: Montserrat;
    --ids-comp-progressbar-message-typography-font-family-dense: Montserrat;
    --ids-comp-progressbar-message-typography-font-family-spacious: Montserrat;
    --ids-comp-progressbar-message-typography-font-size-comfortable: 12px;
    --ids-comp-progressbar-message-typography-font-size-compact: 10px;
    --ids-comp-progressbar-message-typography-font-size-dense: 10px;
    --ids-comp-progressbar-message-typography-font-size-spacious: 14px;
    --ids-comp-progressbar-message-typography-font-weight-comfortable: 400;
    --ids-comp-progressbar-message-typography-font-weight-compact: 400;
    --ids-comp-progressbar-message-typography-font-weight-dense: 400;
    --ids-comp-progressbar-message-typography-font-weight-spacious: 400;
    --ids-comp-progressbar-message-typography-letter-spacing-comfortable: 0em;
    --ids-comp-progressbar-message-typography-letter-spacing-compact: 0em;
    --ids-comp-progressbar-message-typography-letter-spacing-dense: 0em;
    --ids-comp-progressbar-message-typography-letter-spacing-spacious: 0em;
    --ids-comp-progressbar-message-typography-line-height-comfortable: 12px;
    --ids-comp-progressbar-message-typography-line-height-compact: 10px;
    --ids-comp-progressbar-message-typography-line-height-dense: 10px;
    --ids-comp-progressbar-message-typography-line-height-spacious: 14px;
    --ids-comp-progressbar-size-gap-comfortable: 8px;
    --ids-comp-progressbar-size-gap-compact: 4px;
    --ids-comp-progressbar-size-gap-dense: 4px;
    --ids-comp-progressbar-size-gap-spacious: 8px;
    --ids-comp-progressbar-size-width-comfortable: 256px;
    --ids-comp-progressbar-size-width-compact: 128px;
    --ids-comp-progressbar-size-width-dense: 112px;
    --ids-comp-progressbar-size-width-spacious: 320px;
    --ids-comp-progressbar-text-label-color-fg-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-progressbar-text-label-color-fg-light-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-progressbar-text-label-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-progressbar-text-value-color-fg-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-progressbar-text-value-color-fg-light-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-progressbar-text-value-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-progressbar-track-bg-dark-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-progressbar-track-bg-light-default: light-dark(#ffffff33, #ffffff33);
    --ids-comp-progressbar-track-bg-primary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-progressbar-track-bg-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-progressbar-track-size-border-radius-comfortable: 1000px;
    --ids-comp-progressbar-track-size-border-radius-compact: 1000px;
    --ids-comp-progressbar-track-size-border-radius-dense: 1000px;
    --ids-comp-progressbar-track-size-border-radius-none-comfortable: 0px;
    --ids-comp-progressbar-track-size-border-radius-none-compact: 0px;
    --ids-comp-progressbar-track-size-border-radius-none-dense: 0px;
    --ids-comp-progressbar-track-size-border-radius-none-spacious: 0px;
    --ids-comp-progressbar-track-size-border-radius-spacious: 1000px;
    --ids-comp-progressbar-track-size-height-comfortable: 4px;
    --ids-comp-progressbar-track-size-height-compact: 2px;
    --ids-comp-progressbar-track-size-height-dense: 2px;
    --ids-comp-progressbar-track-size-height-spacious: 6px;
    --ids-comp-progressbar-track-size-width-comfortable: 256px;
    --ids-comp-progressbar-track-size-width-compact: 128px;
    --ids-comp-progressbar-track-size-width-dense: 112px;
    --ids-comp-progressbar-track-size-width-spacious: 320px;
    --ids-comp-progressbar-value-typography-font-family-comfortable: Montserrat;
    --ids-comp-progressbar-value-typography-font-family-compact: Montserrat;
    --ids-comp-progressbar-value-typography-font-family-dense: Montserrat;
    --ids-comp-progressbar-value-typography-font-family-spacious: Montserrat;
    --ids-comp-progressbar-value-typography-font-size-comfortable: 14px;
    --ids-comp-progressbar-value-typography-font-size-compact: 12px;
    --ids-comp-progressbar-value-typography-font-size-dense: 12px;
    --ids-comp-progressbar-value-typography-font-size-spacious: 16px;
    --ids-comp-progressbar-value-typography-font-weight-comfortable: 400;
    --ids-comp-progressbar-value-typography-font-weight-compact: 400;
    --ids-comp-progressbar-value-typography-font-weight-dense: 400;
    --ids-comp-progressbar-value-typography-font-weight-spacious: 400;
    --ids-comp-progressbar-value-typography-letter-spacing-comfortable: 0em;
    --ids-comp-progressbar-value-typography-letter-spacing-compact: 0em;
    --ids-comp-progressbar-value-typography-letter-spacing-dense: 0em;
    --ids-comp-progressbar-value-typography-letter-spacing-spacious: 0em;
    --ids-comp-progressbar-value-typography-line-height-comfortable: 14px;
    --ids-comp-progressbar-value-typography-line-height-compact: 12px;
    --ids-comp-progressbar-value-typography-line-height-dense: 12px;
    --ids-comp-progressbar-value-typography-line-height-spacious: 16px
}