:root {
    --ids-comp-image-caption-typography-bigcollection-font-family-comfortable: Montserrat;
    --ids-comp-image-caption-typography-bigcollection-font-family-compact: Montserrat;
    --ids-comp-image-caption-typography-bigcollection-font-family-dense: Montserrat;
    --ids-comp-image-caption-typography-bigcollection-font-family-spacious: Montserrat;
    --ids-comp-image-caption-typography-bigcollection-font-size-comfortable: 12px;
    --ids-comp-image-caption-typography-bigcollection-font-size-compact: 12px;
    --ids-comp-image-caption-typography-bigcollection-font-size-dense: 12px;
    --ids-comp-image-caption-typography-bigcollection-font-size-spacious: 12px;
    --ids-comp-image-caption-typography-bigcollection-font-weight-comfortable: 400;
    --ids-comp-image-caption-typography-bigcollection-font-weight-compact: 400;
    --ids-comp-image-caption-typography-bigcollection-font-weight-dense: 400;
    --ids-comp-image-caption-typography-bigcollection-font-weight-spacious: 400;
    --ids-comp-image-caption-typography-bigcollection-letter-spacing-comfortable: 0em;
    --ids-comp-image-caption-typography-bigcollection-letter-spacing-compact: 0em;
    --ids-comp-image-caption-typography-bigcollection-letter-spacing-dense: 0em;
    --ids-comp-image-caption-typography-bigcollection-letter-spacing-spacious: 0em;
    --ids-comp-image-caption-typography-bigcollection-line-height-comfortable: 14px;
    --ids-comp-image-caption-typography-bigcollection-line-height-compact: 14px;
    --ids-comp-image-caption-typography-bigcollection-line-height-dense: 14px;
    --ids-comp-image-caption-typography-bigcollection-line-height-spacious: 14px;
    --ids-comp-image-caption-typography-smallcollection-font-family-comfortable: Montserrat;
    --ids-comp-image-caption-typography-smallcollection-font-family-compact: Montserrat;
    --ids-comp-image-caption-typography-smallcollection-font-family-dense: Montserrat;
    --ids-comp-image-caption-typography-smallcollection-font-family-spacious: Montserrat;
    --ids-comp-image-caption-typography-smallcollection-font-size-comfortable: 12px;
    --ids-comp-image-caption-typography-smallcollection-font-size-compact: 12px;
    --ids-comp-image-caption-typography-smallcollection-font-size-dense: 12px;
    --ids-comp-image-caption-typography-smallcollection-font-size-spacious: 12px;
    --ids-comp-image-caption-typography-smallcollection-font-weight-comfortable: 400;
    --ids-comp-image-caption-typography-smallcollection-font-weight-compact: 400;
    --ids-comp-image-caption-typography-smallcollection-font-weight-dense: 400;
    --ids-comp-image-caption-typography-smallcollection-font-weight-spacious: 400;
    --ids-comp-image-caption-typography-smallcollection-letter-spacing-comfortable: 0em;
    --ids-comp-image-caption-typography-smallcollection-letter-spacing-compact: 0em;
    --ids-comp-image-caption-typography-smallcollection-letter-spacing-dense: 0em;
    --ids-comp-image-caption-typography-smallcollection-letter-spacing-spacious: 0em;
    --ids-comp-image-caption-typography-smallcollection-line-height-comfortable: 14px;
    --ids-comp-image-caption-typography-smallcollection-line-height-compact: 14px;
    --ids-comp-image-caption-typography-smallcollection-line-height-dense: 14px;
    --ids-comp-image-caption-typography-smallcollection-line-height-spacious: 14px;
    --ids-comp-image-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-image-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-image-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-image-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-image-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-image-color-border-dark-default: #ffffff00;
    --ids-comp-image-color-border-light-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-image-color-border-primary-default: #ffffff00;
    --ids-comp-image-color-border-secondary-default: #ffffff00;
    --ids-comp-image-color-border-surface-default: light-dark(#94a3b8, #94a3b8);
    --ids-comp-image-color-fg-dark-default: light-dark(#020617, #020617);
    --ids-comp-image-color-fg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-image-color-fg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-image-color-fg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-image-color-fg-surface-default: light-dark(#334155, #e2e8f0);
    --ids-comp-image-size-bigcollection-height-comfortable: 256px;
    --ids-comp-image-size-bigcollection-height-compact: 128px;
    --ids-comp-image-size-bigcollection-height-dense: 96px;
    --ids-comp-image-size-bigcollection-height-spacious: 512px;
    --ids-comp-image-size-border-comfortable: 1px;
    --ids-comp-image-size-border-compact: 1px;
    --ids-comp-image-size-border-dense: 1px;
    --ids-comp-image-size-border-radius-comfortable: 24px;
    --ids-comp-image-size-border-radius-compact: 16px;
    --ids-comp-image-size-border-radius-dense: 0px;
    --ids-comp-image-size-border-radius-spacious: 32px;
    --ids-comp-image-size-border-spacious: 1px;
    --ids-comp-image-size-gap-comfortable: 16px;
    --ids-comp-image-size-gap-compact: 16px;
    --ids-comp-image-size-gap-dense: 16px;
    --ids-comp-image-size-gap-spacious: 16px;
    --ids-comp-image-size-smallcollection-height-comfortable: 64px;
    --ids-comp-image-size-smallcollection-height-compact: 56px;
    --ids-comp-image-size-smallcollection-height-dense: 44px;
    --ids-comp-image-size-smallcollection-height-spacious: 80px
}