:root {
    --ids-comp-button-filled-color-bg-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-filled-color-bg-brand-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-brand-focused: light-dark(#003cff, #4775ff);
    --ids-comp-button-filled-color-bg-brand-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-button-filled-color-bg-brand-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-button-filled-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-button-filled-color-bg-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-dark-focused: light-dark(#020617, #020617);
    --ids-comp-button-filled-color-bg-dark-hovered: light-dark(#1e293b, #1e293b);
    --ids-comp-button-filled-color-bg-dark-pressed: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-filled-color-bg-error-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-filled-color-bg-error-hovered: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-filled-color-bg-error-pressed: light-dark(#991b1b, #fee2e2);
    --ids-comp-button-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-bg-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-button-filled-color-bg-light-fixed-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-button-filled-color-bg-light-fixed-hovered: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-button-filled-color-bg-light-fixed-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-button-filled-color-bg-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-bg-light-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-light-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-button-filled-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-filled-color-bg-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-button-filled-color-bg-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-button-filled-color-bg-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-button-filled-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-bg-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-secondary-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-bg-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-bg-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-button-filled-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-button-filled-color-bg-success-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-success-focused: light-dark(#22c55e, #4ade80);
    --ids-comp-button-filled-color-bg-success-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-filled-color-bg-success-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-button-filled-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-button-filled-color-bg-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-surface-focused: light-dark(#f1f5f9, #0f172a);
    --ids-comp-button-filled-color-bg-surface-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-surface-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-button-filled-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-button-filled-color-bg-warning-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-filled-color-bg-warning-focused: light-dark(#f97316, #fb923c);
    --ids-comp-button-filled-color-bg-warning-hovered: light-dark(#c2410c, #fed7aa);
    --ids-comp-button-filled-color-bg-warning-pressed: light-dark(#9a3412, #ffedd5);
    --ids-comp-button-filled-color-border-brand-default: #ffffff00;
    --ids-comp-button-filled-color-border-brand-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-brand-focused: #ffffff00;
    --ids-comp-button-filled-color-border-brand-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-brand-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-dark-default: #ffffff00;
    --ids-comp-button-filled-color-border-dark-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-dark-focused: #ffffff00;
    --ids-comp-button-filled-color-border-dark-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-dark-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-error-default: #ffffff00;
    --ids-comp-button-filled-color-border-error-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-error-focused: #ffffff00;
    --ids-comp-button-filled-color-border-error-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-error-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-light-default: #ffffff00;
    --ids-comp-button-filled-color-border-light-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-light-fixed-default: #ffffff00;
    --ids-comp-button-filled-color-border-light-fixed-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-light-fixed-focused: #ffffff00;
    --ids-comp-button-filled-color-border-light-fixed-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-light-fixed-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-light-focused: #ffffff00;
    --ids-comp-button-filled-color-border-light-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-light-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-primary-default: #ffffff00;
    --ids-comp-button-filled-color-border-primary-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-primary-focused: #ffffff00;
    --ids-comp-button-filled-color-border-primary-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-primary-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-secondary-default: #ffffff00;
    --ids-comp-button-filled-color-border-secondary-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-secondary-focused: #ffffff00;
    --ids-comp-button-filled-color-border-secondary-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-secondary-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-success-default: #ffffff00;
    --ids-comp-button-filled-color-border-success-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-success-focused: #ffffff00;
    --ids-comp-button-filled-color-border-success-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-success-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-surface-default: #ffffff00;
    --ids-comp-button-filled-color-border-surface-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-surface-focused: #ffffff00;
    --ids-comp-button-filled-color-border-surface-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-surface-pressed: #ffffff00;
    --ids-comp-button-filled-color-border-warning-default: #ffffff00;
    --ids-comp-button-filled-color-border-warning-disabled: #ffffff00;
    --ids-comp-button-filled-color-border-warning-focused: #ffffff00;
    --ids-comp-button-filled-color-border-warning-hovered: #ffffff00;
    --ids-comp-button-filled-color-border-warning-pressed: #ffffff00;
    --ids-comp-button-filled-color-fg-icon-brand-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-brand-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-brand-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-brand-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-dark-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-dark-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-dark-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-dark-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-error-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-error-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-error-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-error-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-error-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-light-default: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-light-fixed-default: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-icon-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-light-fixed-focused: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-icon-light-fixed-hovered: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-icon-light-fixed-pressed: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-icon-light-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-icon-light-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-icon-light-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-icon-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-primary-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-primary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-primary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-secondary-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-secondary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-secondary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-success-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-success-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-success-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-success-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-success-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-surface-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-button-filled-color-fg-icon-surface-hovered: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-icon-surface-pressed: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-icon-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-warning-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-icon-warning-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-warning-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-icon-warning-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-brand-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-brand-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-brand-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-brand-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-dark-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-dark-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-dark-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-dark-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-error-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-error-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-error-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-error-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-error-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-light-default: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-light-fixed-default: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-label-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-light-fixed-focused: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-label-light-fixed-hovered: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-label-light-fixed-pressed: light-dark(#334155, #334155);
    --ids-comp-button-filled-color-fg-label-light-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-label-light-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-label-light-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-filled-color-fg-label-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-primary-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-primary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-primary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-secondary-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-secondary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-secondary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-success-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-success-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-success-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-success-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-success-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-label-surface-hovered: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-label-surface-pressed: light-dark(#64748b, #94a3b8);
    --ids-comp-button-filled-color-fg-label-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-warning-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-filled-color-fg-label-warning-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-warning-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-filled-color-fg-label-warning-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-button-focused-outline-color-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-button-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-button-focused-outline-size-outline-compact: 3px;
    --ids-comp-button-focused-outline-size-outline-dense: 3px;
    --ids-comp-button-focused-outline-size-outline-spacious: 3px;
    --ids-comp-button-group-size-column-gap-comfortable: 12px;
    --ids-comp-button-group-size-column-gap-compact: 8px;
    --ids-comp-button-group-size-column-gap-dense: 8px;
    --ids-comp-button-group-size-column-gap-spacious: 16px;
    --ids-comp-button-group-size-gap-comfortable: 12px;
    --ids-comp-button-group-size-gap-compact: 8px;
    --ids-comp-button-group-size-gap-dense: 8px;
    --ids-comp-button-group-size-gap-spacious: 16px;
    --ids-comp-button-group-size-padding-x-comfortable: 0px;
    --ids-comp-button-group-size-padding-x-compact: 0px;
    --ids-comp-button-group-size-padding-x-dense: 0px;
    --ids-comp-button-group-size-padding-x-spacious: 0px;
    --ids-comp-button-group-size-padding-y-comfortable: 0px;
    --ids-comp-button-group-size-padding-y-compact: 0px;
    --ids-comp-button-group-size-padding-y-dense: 0px;
    --ids-comp-button-group-size-padding-y-spacious: 0px;
    --ids-comp-button-group-size-row-gap-comfortable: 12px;
    --ids-comp-button-group-size-row-gap-compact: 8px;
    --ids-comp-button-group-size-row-gap-dense: 8px;
    --ids-comp-button-group-size-row-gap-spacious: 16px;
    --ids-comp-button-icon-typography-font-family-comfortable: I-DS-font-icon-material;
    --ids-comp-button-icon-typography-font-family-compact: I-DS-font-icon-material;
    --ids-comp-button-icon-typography-font-family-dense: I-DS-font-icon-material;
    --ids-comp-button-icon-typography-font-family-spacious: I-DS-font-icon-material;
    --ids-comp-button-icon-typography-font-size-comfortable: 24px;
    --ids-comp-button-icon-typography-font-size-compact: 20px;
    --ids-comp-button-icon-typography-font-size-dense: 20px;
    --ids-comp-button-icon-typography-font-size-spacious: 32px;
    --ids-comp-button-icon-typography-font-weight-comfortable: 400;
    --ids-comp-button-icon-typography-font-weight-compact: 400;
    --ids-comp-button-icon-typography-font-weight-dense: 400;
    --ids-comp-button-icon-typography-font-weight-spacious: 400;
    --ids-comp-button-icon-typography-line-height-comfortable: 24px;
    --ids-comp-button-icon-typography-line-height-compact: 20px;
    --ids-comp-button-icon-typography-line-height-dense: 20px;
    --ids-comp-button-icon-typography-line-height-spacious: 32px;
    --ids-comp-button-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-button-label-typography-font-family-compact: Montserrat;
    --ids-comp-button-label-typography-font-family-dense: Montserrat;
    --ids-comp-button-label-typography-font-family-spacious: Montserrat;
    --ids-comp-button-label-typography-font-size-comfortable: 14px;
    --ids-comp-button-label-typography-font-size-compact: 12px;
    --ids-comp-button-label-typography-font-size-dense: 12px;
    --ids-comp-button-label-typography-font-size-spacious: 18px;
    --ids-comp-button-label-typography-font-weight-comfortable: 700;
    --ids-comp-button-label-typography-font-weight-compact: 700;
    --ids-comp-button-label-typography-font-weight-dense: 700;
    --ids-comp-button-label-typography-font-weight-spacious: 700;
    --ids-comp-button-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-button-label-typography-letter-spacing-compact: 0em;
    --ids-comp-button-label-typography-letter-spacing-dense: 0em;
    --ids-comp-button-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-button-label-typography-line-height-comfortable: 14px;
    --ids-comp-button-label-typography-line-height-compact: 12px;
    --ids-comp-button-label-typography-line-height-dense: 12px;
    --ids-comp-button-label-typography-line-height-spacious: 18px;
    --ids-comp-button-outlined-color-bg-brand-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-brand-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-brand-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-brand-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-brand-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-dark-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-dark-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-dark-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-dark-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-dark-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-error-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-error-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-error-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-error-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-error-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-light-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-light-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-light-fixed-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-light-fixed-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-light-fixed-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-light-fixed-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-light-fixed-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-light-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-primary-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-primary-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-primary-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-secondary-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-secondary-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-secondary-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-secondary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-secondary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-success-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-success-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-success-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-success-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-success-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-surface-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-surface-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-surface-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-bg-warning-default: #ffffff00;
    --ids-comp-button-outlined-color-bg-warning-disabled: #ffffff00;
    --ids-comp-button-outlined-color-bg-warning-focused: #ffffff00;
    --ids-comp-button-outlined-color-bg-warning-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-outlined-color-bg-warning-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-outlined-color-border-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-outlined-color-border-brand-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-brand-focused: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-border-brand-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-border-brand-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-button-outlined-color-border-dark-default: light-dark(#0f172a, #0f172a);
    --ids-comp-button-outlined-color-border-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-dark-focused: light-dark(#334155, #334155);
    --ids-comp-button-outlined-color-border-dark-hovered: light-dark(#334155, #334155);
    --ids-comp-button-outlined-color-border-dark-pressed: light-dark(#475569, #475569);
    --ids-comp-button-outlined-color-border-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-button-outlined-color-border-error-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-error-focused: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-outlined-color-border-error-hovered: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-outlined-color-border-error-pressed: light-dark(#991b1b, #fee2e2);
    --ids-comp-button-outlined-color-border-light-default: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-border-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-border-light-fixed-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-light-fixed-focused: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-button-outlined-color-border-light-fixed-hovered: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-button-outlined-color-border-light-fixed-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-button-outlined-color-border-light-focused: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-light-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-light-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-button-outlined-color-border-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-outlined-color-border-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-primary-focused: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-border-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-border-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-button-outlined-color-border-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-border-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-secondary-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-button-outlined-color-border-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-button-outlined-color-border-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-button-outlined-color-border-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-button-outlined-color-border-success-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-success-focused: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-outlined-color-border-success-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-outlined-color-border-success-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-button-outlined-color-border-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-border-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-surface-focused: light-dark(#334155, #334155);
    --ids-comp-button-outlined-color-border-surface-hovered: light-dark(#334155, #334155);
    --ids-comp-button-outlined-color-border-surface-pressed: light-dark(#475569, #475569);
    --ids-comp-button-outlined-color-border-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-button-outlined-color-border-warning-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-button-outlined-color-border-warning-focused: light-dark(#c2410c, #fed7aa);
    --ids-comp-button-outlined-color-border-warning-hovered: light-dark(#c2410c, #fed7aa);
    --ids-comp-button-outlined-color-border-warning-pressed: light-dark(#9a3412, #ffedd5);
    --ids-comp-button-outlined-color-fg-icon-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-outlined-color-fg-icon-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-brand-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-icon-brand-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-icon-brand-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-fg-icon-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-icon-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-dark-focused: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-icon-dark-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-icon-dark-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-icon-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-button-outlined-color-fg-icon-error-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-outlined-color-fg-icon-error-hovered: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-outlined-color-fg-icon-error-pressed: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-outlined-color-fg-icon-light-default: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-icon-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-icon-light-fixed-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-icon-light-fixed-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-icon-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-icon-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-icon-light-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-icon-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-outlined-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-icon-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-icon-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-fg-icon-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-fg-icon-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-button-outlined-color-fg-icon-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-outlined-color-fg-icon-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-outlined-color-fg-icon-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-button-outlined-color-fg-icon-success-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-success-focused: light-dark(#16a34a, #86efac);
    --ids-comp-button-outlined-color-fg-icon-success-hovered: light-dark(#16a34a, #86efac);
    --ids-comp-button-outlined-color-fg-icon-success-pressed: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-outlined-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-fg-icon-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-outlined-color-fg-icon-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-outlined-color-fg-icon-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-button-outlined-color-fg-icon-warning-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-icon-warning-focused: light-dark(#ea580c, #fdba74);
    --ids-comp-button-outlined-color-fg-icon-warning-hovered: light-dark(#ea580c, #fdba74);
    --ids-comp-button-outlined-color-fg-icon-warning-pressed: light-dark(#c2410c, #fed7aa);
    --ids-comp-button-outlined-color-fg-label-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-outlined-color-fg-label-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-brand-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-label-brand-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-label-brand-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-fg-label-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-label-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-dark-focused: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-label-dark-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-label-dark-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-button-outlined-color-fg-label-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-button-outlined-color-fg-label-error-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-outlined-color-fg-label-error-hovered: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-outlined-color-fg-label-error-pressed: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-outlined-color-fg-label-light-default: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-label-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-label-light-fixed-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-label-light-fixed-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-button-outlined-color-fg-label-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-label-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-label-light-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-outlined-color-fg-label-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-outlined-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-label-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-outlined-color-fg-label-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-outlined-color-fg-label-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-fg-label-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-button-outlined-color-fg-label-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-outlined-color-fg-label-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-outlined-color-fg-label-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-button-outlined-color-fg-label-success-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-success-focused: light-dark(#16a34a, #86efac);
    --ids-comp-button-outlined-color-fg-label-success-hovered: light-dark(#16a34a, #86efac);
    --ids-comp-button-outlined-color-fg-label-success-pressed: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-outlined-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-button-outlined-color-fg-label-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-outlined-color-fg-label-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-outlined-color-fg-label-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-button-outlined-color-fg-label-warning-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-outlined-color-fg-label-warning-focused: light-dark(#ea580c, #fdba74);
    --ids-comp-button-outlined-color-fg-label-warning-hovered: light-dark(#ea580c, #fdba74);
    --ids-comp-button-outlined-color-fg-label-warning-pressed: light-dark(#c2410c, #fed7aa);
    --ids-comp-button-size-border-radius-comfortable: 1000px;
    --ids-comp-button-size-border-radius-compact: 1000px;
    --ids-comp-button-size-border-radius-dense: 1000px;
    --ids-comp-button-size-border-radius-spacious: 1000px;
    --ids-comp-button-size-border-width-comfortable: 1px;
    --ids-comp-button-size-border-width-compact: 1px;
    --ids-comp-button-size-border-width-dense: 1px;
    --ids-comp-button-size-border-width-spacious: 1px;
    --ids-comp-button-size-gap-comfortable: 8px;
    --ids-comp-button-size-gap-compact: 2px;
    --ids-comp-button-size-gap-dense: 8px;
    --ids-comp-button-size-gap-spacious: 8px;
    --ids-comp-button-size-height-comfortable: 40px;
    --ids-comp-button-size-height-compact: 24px;
    --ids-comp-button-size-height-dense: 20px;
    --ids-comp-button-size-height-spacious: 56px;
    --ids-comp-button-size-icon-comfortable: 24px;
    --ids-comp-button-size-icon-compact: 20px;
    --ids-comp-button-size-icon-dense: 28px;
    --ids-comp-button-size-icon-spacious: 28px;
    --ids-comp-button-size-min-width-comfortable: 40px;
    --ids-comp-button-size-min-width-compact: 24px;
    --ids-comp-button-size-min-width-dense: 20px;
    --ids-comp-button-size-min-width-spacious: 56px;
    --ids-comp-button-size-padding-x-comfortable: 20px;
    --ids-comp-button-size-padding-x-compact: 8px;
    --ids-comp-button-size-padding-x-dense: 4px;
    --ids-comp-button-size-padding-x-spacious: 24px;
    --ids-comp-button-size-padding-y-comfortable: 10px;
    --ids-comp-button-size-padding-y-compact: 6px;
    --ids-comp-button-size-padding-y-dense: 4px;
    --ids-comp-button-size-padding-y-spacious: 16px;
    --ids-comp-button-text-color-bg-brand-default: #ffffff00;
    --ids-comp-button-text-color-bg-brand-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-brand-focused: #ffffff00;
    --ids-comp-button-text-color-bg-brand-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-brand-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-dark-default: #ffffff00;
    --ids-comp-button-text-color-bg-dark-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-dark-focused: #ffffff00;
    --ids-comp-button-text-color-bg-dark-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-dark-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-error-default: #ffffff00;
    --ids-comp-button-text-color-bg-error-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-error-focused: #ffffff00;
    --ids-comp-button-text-color-bg-error-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-error-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-light-default: #ffffff00;
    --ids-comp-button-text-color-bg-light-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-light-fixed-default: #ffffff00;
    --ids-comp-button-text-color-bg-light-fixed-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-light-fixed-focused: #ffffff00;
    --ids-comp-button-text-color-bg-light-fixed-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-light-fixed-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-light-focused: #ffffff00;
    --ids-comp-button-text-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-primary-default: #ffffff00;
    --ids-comp-button-text-color-bg-primary-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-primary-focused: #ffffff00;
    --ids-comp-button-text-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-secondary-default: #ffffff00;
    --ids-comp-button-text-color-bg-secondary-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-secondary-focused: #ffffff00;
    --ids-comp-button-text-color-bg-secondary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-secondary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-success-default: #ffffff00;
    --ids-comp-button-text-color-bg-success-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-success-focused: #ffffff00;
    --ids-comp-button-text-color-bg-success-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-success-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-surface-default: #ffffff00;
    --ids-comp-button-text-color-bg-surface-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-surface-focused: #ffffff00;
    --ids-comp-button-text-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-bg-warning-default: #ffffff00;
    --ids-comp-button-text-color-bg-warning-disabled: #ffffff00;
    --ids-comp-button-text-color-bg-warning-focused: #ffffff00;
    --ids-comp-button-text-color-bg-warning-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-button-text-color-bg-warning-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-button-text-color-border-brand-default: #ffffff00;
    --ids-comp-button-text-color-border-dark-default: #ffffff00;
    --ids-comp-button-text-color-border-error-default: #ffffff00;
    --ids-comp-button-text-color-border-light-default: #ffffff00;
    --ids-comp-button-text-color-border-light-fixed-default: #ffffff00;
    --ids-comp-button-text-color-border-primary-default: #ffffff00;
    --ids-comp-button-text-color-border-secondary-default: #ffffff00;
    --ids-comp-button-text-color-border-success-default: #ffffff00;
    --ids-comp-button-text-color-border-surface-default: #ffffff00;
    --ids-comp-button-text-color-border-warning-default: #ffffff00;
    --ids-comp-button-text-color-fg-icon-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-text-color-fg-icon-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-brand-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-icon-brand-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-icon-brand-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-text-color-fg-icon-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-icon-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-dark-focused: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-icon-dark-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-icon-dark-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-icon-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-button-text-color-fg-icon-error-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-text-color-fg-icon-error-hovered: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-text-color-fg-icon-error-pressed: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-text-color-fg-icon-light-default: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-icon-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-icon-light-fixed-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-icon-light-fixed-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-icon-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-icon-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-icon-light-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-icon-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-text-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-icon-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-icon-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-text-color-fg-icon-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-text-color-fg-icon-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-button-text-color-fg-icon-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-text-color-fg-icon-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-text-color-fg-icon-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-button-text-color-fg-icon-success-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-success-focused: light-dark(#16a34a, #86efac);
    --ids-comp-button-text-color-fg-icon-success-hovered: light-dark(#16a34a, #86efac);
    --ids-comp-button-text-color-fg-icon-success-pressed: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-text-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-text-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-button-text-color-fg-icon-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-text-color-fg-icon-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-text-color-fg-icon-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-button-text-color-fg-icon-warning-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-icon-warning-focused: light-dark(#ea580c, #fdba74);
    --ids-comp-button-text-color-fg-icon-warning-hovered: light-dark(#ea580c, #fdba74);
    --ids-comp-button-text-color-fg-icon-warning-pressed: light-dark(#c2410c, #fed7aa);
    --ids-comp-button-text-color-fg-label-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-text-color-fg-label-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-brand-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-label-brand-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-label-brand-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-text-color-fg-label-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-label-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-dark-focused: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-label-dark-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-label-dark-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-button-text-color-fg-label-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-button-text-color-fg-label-error-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-text-color-fg-label-error-hovered: light-dark(#dc2626, #fca5a5);
    --ids-comp-button-text-color-fg-label-error-pressed: light-dark(#b91c1c, #fecaca);
    --ids-comp-button-text-color-fg-label-light-default: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-label-light-fixed-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-light-fixed-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-label-light-fixed-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-label-light-fixed-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-button-text-color-fg-label-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-label-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-label-light-pressed: light-dark(#ffffff, #000000);
    --ids-comp-button-text-color-fg-label-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-button-text-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-label-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-button-text-color-fg-label-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-button-text-color-fg-label-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-text-color-fg-label-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-button-text-color-fg-label-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-text-color-fg-label-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-text-color-fg-label-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-button-text-color-fg-label-success-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-success-focused: light-dark(#16a34a, #86efac);
    --ids-comp-button-text-color-fg-label-success-hovered: light-dark(#16a34a, #86efac);
    --ids-comp-button-text-color-fg-label-success-pressed: light-dark(#15803d, #bbf7d0);
    --ids-comp-button-text-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-button-text-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-button-text-color-fg-label-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-button-text-color-fg-label-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-button-text-color-fg-label-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-button-text-color-fg-label-warning-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-button-text-color-fg-label-warning-focused: light-dark(#ea580c, #fdba74);
    --ids-comp-button-text-color-fg-label-warning-hovered: light-dark(#ea580c, #fdba74);
    --ids-comp-button-text-color-fg-label-warning-pressed: light-dark(#c2410c, #fed7aa)
}