:root {
    --ids-comp-badge-filled-color-bg-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-badge-filled-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-badge-filled-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-badge-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-bg-light-fixed-default: light-dark(#ffffff, #ffffff);
    --ids-comp-badge-filled-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-badge-filled-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-badge-filled-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-badge-filled-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-badge-filled-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-badge-filled-color-border-brand-default: #ffffff00;
    --ids-comp-badge-filled-color-border-dark-default: #ffffff00;
    --ids-comp-badge-filled-color-border-error-default: #ffffff00;
    --ids-comp-badge-filled-color-border-light-default: #ffffff00;
    --ids-comp-badge-filled-color-border-light-fixed-default: #ffffff00;
    --ids-comp-badge-filled-color-border-primary-default: #ffffff00;
    --ids-comp-badge-filled-color-border-secondary-default: #ffffff00;
    --ids-comp-badge-filled-color-border-success-default: #ffffff00;
    --ids-comp-badge-filled-color-border-surface-default: #ffffff00;
    --ids-comp-badge-filled-color-border-warning-default: #ffffff00;
    --ids-comp-badge-filled-color-fg-icon-brand-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-icon-dark-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-icon-error-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-icon-light-default: light-dark(#334155, #e2e8f0);
    --ids-comp-badge-filled-color-fg-icon-light-fixed-default: light-dark(#334155, #334155);
    --ids-comp-badge-filled-color-fg-icon-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-icon-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-icon-success-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-badge-filled-color-fg-icon-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-brand-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-dark-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-error-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-light-default: light-dark(#334155, #e2e8f0);
    --ids-comp-badge-filled-color-fg-label-light-fixed-default: light-dark(#334155, #334155);
    --ids-comp-badge-filled-color-fg-label-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-success-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-filled-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-badge-filled-color-fg-label-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-badge-icon-typography-font-family-comfortable: "Material Icons";
    --ids-comp-badge-icon-typography-font-family-compact: "Material Icons";
    --ids-comp-badge-icon-typography-font-family-dense: "Material Icons";
    --ids-comp-badge-icon-typography-font-family-spacious: "Material Icons";
    --ids-comp-badge-icon-typography-font-size-comfortable: 12px;
    --ids-comp-badge-icon-typography-font-size-compact: 12px;
    --ids-comp-badge-icon-typography-font-size-dense: 12px;
    --ids-comp-badge-icon-typography-font-size-spacious: 12px;
    --ids-comp-badge-icon-typography-font-weight-comfortable: 400;
    --ids-comp-badge-icon-typography-font-weight-compact: 400;
    --ids-comp-badge-icon-typography-font-weight-dense: 400;
    --ids-comp-badge-icon-typography-font-weight-spacious: 400;
    --ids-comp-badge-icon-typography-line-height-comfortable: 12px;
    --ids-comp-badge-icon-typography-line-height-compact: 12px;
    --ids-comp-badge-icon-typography-line-height-dense: 12px;
    --ids-comp-badge-icon-typography-line-height-spacious: 12px;
    --ids-comp-badge-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-badge-label-typography-font-family-compact: Montserrat;
    --ids-comp-badge-label-typography-font-family-dense: Montserrat;
    --ids-comp-badge-label-typography-font-family-spacious: Montserrat;
    --ids-comp-badge-label-typography-font-size-comfortable: 14px;
    --ids-comp-badge-label-typography-font-size-compact: 12px;
    --ids-comp-badge-label-typography-font-size-dense: 12px;
    --ids-comp-badge-label-typography-font-size-spacious: 18px;
    --ids-comp-badge-label-typography-font-weight-comfortable: 500;
    --ids-comp-badge-label-typography-font-weight-compact: 500;
    --ids-comp-badge-label-typography-font-weight-dense: 500;
    --ids-comp-badge-label-typography-font-weight-spacious: 500;
    --ids-comp-badge-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-badge-label-typography-letter-spacing-compact: 0em;
    --ids-comp-badge-label-typography-letter-spacing-dense: 0em;
    --ids-comp-badge-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-badge-label-typography-line-height-comfortable: 16px;
    --ids-comp-badge-label-typography-line-height-compact: 16px;
    --ids-comp-badge-label-typography-line-height-dense: 16px;
    --ids-comp-badge-label-typography-line-height-spacious: 16px;
    --ids-comp-badge-noelement-size-border-radius-comfortable: 1000px;
    --ids-comp-badge-noelement-size-border-radius-compact: 1000px;
    --ids-comp-badge-noelement-size-border-radius-dense: 1000px;
    --ids-comp-badge-noelement-size-border-radius-spacious: 1000px;
    --ids-comp-badge-noelement-size-border-width-comfortable: 1px;
    --ids-comp-badge-noelement-size-border-width-compact: 1px;
    --ids-comp-badge-noelement-size-border-width-dense: 1px;
    --ids-comp-badge-noelement-size-border-width-spacious: 1px;
    --ids-comp-badge-noelement-size-height-comfortable: 6px;
    --ids-comp-badge-noelement-size-height-compact: 6px;
    --ids-comp-badge-noelement-size-height-dense: 6px;
    --ids-comp-badge-noelement-size-height-spacious: 6px;
    --ids-comp-badge-noelement-size-width-comfortable: 6px;
    --ids-comp-badge-noelement-size-width-compact: 6px;
    --ids-comp-badge-noelement-size-width-dense: 6px;
    --ids-comp-badge-noelement-size-width-spacious: 6px;
    --ids-comp-badge-size-border-radius-comfortable: 1000px;
    --ids-comp-badge-size-border-radius-compact: 1000px;
    --ids-comp-badge-size-border-radius-dense: 1000px;
    --ids-comp-badge-size-border-radius-spacious: 1000px;
    --ids-comp-badge-size-border-width-comfortable: 1px;
    --ids-comp-badge-size-border-width-compact: 1px;
    --ids-comp-badge-size-border-width-dense: 1px;
    --ids-comp-badge-size-border-width-spacious: 1px;
    --ids-comp-badge-size-gap-comfortable: 8px;
    --ids-comp-badge-size-gap-compact: 2px;
    --ids-comp-badge-size-gap-dense: 8px;
    --ids-comp-badge-size-gap-spacious: 8px;
    --ids-comp-badge-size-height-comfortable: 16px;
    --ids-comp-badge-size-height-compact: 16px;
    --ids-comp-badge-size-height-dense: 16px;
    --ids-comp-badge-size-height-spacious: 16px;
    --ids-comp-badge-size-icon-comfortable: 12px;
    --ids-comp-badge-size-icon-compact: 12px;
    --ids-comp-badge-size-icon-dense: 12px;
    --ids-comp-badge-size-icon-spacious: 12px;
    --ids-comp-badge-size-min-width-comfortable: 16px;
    --ids-comp-badge-size-min-width-compact: 16px;
    --ids-comp-badge-size-min-width-dense: 16px;
    --ids-comp-badge-size-min-width-spacious: 16px;
    --ids-comp-badge-size-padding-x-comfortable: 4px;
    --ids-comp-badge-size-padding-x-compact: 4px;
    --ids-comp-badge-size-padding-x-dense: 4px;
    --ids-comp-badge-size-padding-x-spacious: 4px;
    --ids-comp-badge-size-padding-y-comfortable: 4px;
    --ids-comp-badge-size-padding-y-compact: 4px;
    --ids-comp-badge-size-padding-y-dense: 4px;
    --ids-comp-badge-size-padding-y-spacious: 4px
}