:root {
    --ids-comp-sidenav-color-bg-surface-default: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-size-gap-comfortable: 8px;
    --ids-comp-sidenav-navitem-expandable-size-gap-compact: 2px;
    --ids-comp-sidenav-navitem-expandable-size-gap-dense: 2px;
    --ids-comp-sidenav-navitem-expandable-size-gap-spacious: 16px;
    --ids-comp-sidenav-navitem-expandable-size-padding-x-comfortable: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-x-compact: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-x-dense: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-x-spacious: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-y-comfortable: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-y-compact: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-y-dense: 0px;
    --ids-comp-sidenav-navitem-expandable-size-padding-y-spacious: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-gap-comfortable: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-gap-compact: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-gap-dense: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-gap-spacious: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-indent-width-comfortable: 24px;
    --ids-comp-sidenav-navitem-expandable-submenu-indent-width-compact: 24px;
    --ids-comp-sidenav-navitem-expandable-submenu-indent-width-dense: 24px;
    --ids-comp-sidenav-navitem-expandable-submenu-indent-width-spacious: 24px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-bottom-comfortable: 8px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-bottom-compact: 2px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-bottom-dense: 2px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-bottom-spacious: 16px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-left-comfortable: 16px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-left-compact: 16px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-left-dense: 8px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-left-spacious: 24px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-right-comfortable: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-right-compact: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-right-dense: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-right-spacious: 0px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-top-comfortable: 8px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-top-compact: 2px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-top-dense: 2px;
    --ids-comp-sidenav-navitem-expandable-submenu-padding-top-spacious: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-color-bg-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-color-bg-surface-default: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-border-radius-comfortable: 0px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-border-radius-compact: 0px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-border-radius-dense: 0px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-border-radius-spacious: 0px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-height-comfortable: 48px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-height-compact: 40px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-height-dense: 32px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-height-spacious: 56px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-width-comfortable: 2px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-width-compact: 2px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-width-dense: 2px;
    --ids-comp-sidenav-navitem-expandable-summary-active-indicator-size-width-spacious: 2px;
    --ids-comp-sidenav-navitem-expandable-summary-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-sidenav-navitem-expandable-summary-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-sidenav-navitem-expandable-summary-focused-outline-size-outline-compact: 3px;
    --ids-comp-sidenav-navitem-expandable-summary-focused-outline-size-outline-dense: 3px;
    --ids-comp-sidenav-navitem-expandable-summary-focused-outline-size-outline-spacious: 3px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-size-comfortable: 18px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-size-compact: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-size-dense: 14px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-size-spacious: 20px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-weight-comfortable: 400;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-weight-compact: 400;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-weight-dense: 600;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-font-weight-spacious: 400;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-line-height-comfortable: 18px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-line-height-compact: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-line-height-dense: 14px;
    --ids-comp-sidenav-navitem-expandable-summary-icon-typography-line-height-spacious: 20px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-family-compact: Montserrat;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-family-dense: Montserrat;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-family-spacious: Montserrat;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-size-comfortable: 18px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-size-compact: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-size-dense: 14px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-size-spacious: 20px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-weight-comfortable: 600;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-weight-compact: 600;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-weight-dense: 600;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-font-weight-spacious: 600;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-letter-spacing-compact: 0em;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-letter-spacing-dense: 0em;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-line-height-comfortable: 18px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-line-height-compact: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-line-height-dense: 14px;
    --ids-comp-sidenav-navitem-expandable-summary-label-typography-line-height-spacious: 20px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-radius-comfortable: 8px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-radius-compact: 4px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-radius-dense: 2px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-radius-spacious: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-width-comfortable: 1px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-width-compact: 1px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-width-dense: 1px;
    --ids-comp-sidenav-navitem-expandable-summary-size-border-width-spacious: 1px;
    --ids-comp-sidenav-navitem-expandable-summary-size-gap-comfortable: 8px;
    --ids-comp-sidenav-navitem-expandable-summary-size-gap-compact: 8px;
    --ids-comp-sidenav-navitem-expandable-summary-size-gap-dense: 4px;
    --ids-comp-sidenav-navitem-expandable-summary-size-gap-spacious: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-size-height-comfortable: 48px;
    --ids-comp-sidenav-navitem-expandable-summary-size-height-compact: 40px;
    --ids-comp-sidenav-navitem-expandable-summary-size-height-dense: 32px;
    --ids-comp-sidenav-navitem-expandable-summary-size-height-spacious: 56px;
    --ids-comp-sidenav-navitem-expandable-summary-size-icon-comfortable: 24px;
    --ids-comp-sidenav-navitem-expandable-summary-size-icon-compact: 20px;
    --ids-comp-sidenav-navitem-expandable-summary-size-icon-dense: 16px;
    --ids-comp-sidenav-navitem-expandable-summary-size-icon-spacious: 28px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-x-comfortable: 12px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-x-compact: 12px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-x-dense: 4px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-x-spacious: 12px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-y-comfortable: 8px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-y-compact: 4px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-y-dense: 2px;
    --ids-comp-sidenav-navitem-expandable-summary-size-padding-y-spacious: 8px;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-light-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-light-default: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-light-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-light-focused: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-light-hovered: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-light-pressed: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-surface-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-surface-default: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-surface-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-bg-surface-pressed: light-dark(#648cb44d, #ffffff4d);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-light-active: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-light-default: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-light-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-light-focused: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-light-hovered: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-light-pressed: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-surface-active: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-surface-default: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-surface-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-surface-focused: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-surface-hovered: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-border-surface-pressed: #ffffff00;
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-light-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-light-disabled: light-dark(#ffffff4d, #ffffff4d);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-surface-default: light-dark(#475569, #94a3b8);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-icon-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-light-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-light-disabled: light-dark(#ffffff4d, #ffffff4d);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-surface-default: light-dark(#475569, #94a3b8);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-expandable-summary-standard-color-fg-label-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-active-indicator-color-bg-light-default: light-dark(#7598ff, #002fbd);
    --ids-comp-sidenav-navitem-single-active-indicator-color-bg-surface-default: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-active-indicator-size-border-radius-comfortable: 0px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-border-radius-compact: 0px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-border-radius-dense: 0px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-border-radius-spacious: 0px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-height-comfortable: 48px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-height-compact: 40px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-height-dense: 32px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-height-spacious: 56px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-width-comfortable: 2px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-width-compact: 2px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-width-dense: 2px;
    --ids-comp-sidenav-navitem-single-active-indicator-size-width-spacious: 2px;
    --ids-comp-sidenav-navitem-single-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-sidenav-navitem-single-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-sidenav-navitem-single-focused-outline-size-outline-compact: 3px;
    --ids-comp-sidenav-navitem-single-focused-outline-size-outline-dense: 3px;
    --ids-comp-sidenav-navitem-single-focused-outline-size-outline-spacious: 3px;
    --ids-comp-sidenav-navitem-single-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-single-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-single-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-single-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-sidenav-navitem-single-icon-typography-font-size-comfortable: 18px;
    --ids-comp-sidenav-navitem-single-icon-typography-font-size-compact: 16px;
    --ids-comp-sidenav-navitem-single-icon-typography-font-size-dense: 14px;
    --ids-comp-sidenav-navitem-single-icon-typography-font-size-spacious: 20px;
    --ids-comp-sidenav-navitem-single-icon-typography-font-weight-comfortable: 400;
    --ids-comp-sidenav-navitem-single-icon-typography-font-weight-compact: 400;
    --ids-comp-sidenav-navitem-single-icon-typography-font-weight-dense: 600;
    --ids-comp-sidenav-navitem-single-icon-typography-font-weight-spacious: 400;
    --ids-comp-sidenav-navitem-single-icon-typography-line-height-comfortable: 18px;
    --ids-comp-sidenav-navitem-single-icon-typography-line-height-compact: 16px;
    --ids-comp-sidenav-navitem-single-icon-typography-line-height-dense: 14px;
    --ids-comp-sidenav-navitem-single-icon-typography-line-height-spacious: 20px;
    --ids-comp-sidenav-navitem-single-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-sidenav-navitem-single-label-typography-font-family-compact: Montserrat;
    --ids-comp-sidenav-navitem-single-label-typography-font-family-dense: Montserrat;
    --ids-comp-sidenav-navitem-single-label-typography-font-family-spacious: Montserrat;
    --ids-comp-sidenav-navitem-single-label-typography-font-size-comfortable: 18px;
    --ids-comp-sidenav-navitem-single-label-typography-font-size-compact: 16px;
    --ids-comp-sidenav-navitem-single-label-typography-font-size-dense: 14px;
    --ids-comp-sidenav-navitem-single-label-typography-font-size-spacious: 20px;
    --ids-comp-sidenav-navitem-single-label-typography-font-weight-comfortable: 600;
    --ids-comp-sidenav-navitem-single-label-typography-font-weight-compact: 600;
    --ids-comp-sidenav-navitem-single-label-typography-font-weight-dense: 600;
    --ids-comp-sidenav-navitem-single-label-typography-font-weight-spacious: 600;
    --ids-comp-sidenav-navitem-single-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-sidenav-navitem-single-label-typography-letter-spacing-compact: 0em;
    --ids-comp-sidenav-navitem-single-label-typography-letter-spacing-dense: 0em;
    --ids-comp-sidenav-navitem-single-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-sidenav-navitem-single-label-typography-line-height-comfortable: 18px;
    --ids-comp-sidenav-navitem-single-label-typography-line-height-compact: 16px;
    --ids-comp-sidenav-navitem-single-label-typography-line-height-dense: 14px;
    --ids-comp-sidenav-navitem-single-label-typography-line-height-spacious: 20px;
    --ids-comp-sidenav-navitem-single-size-border-radius-comfortable: 8px;
    --ids-comp-sidenav-navitem-single-size-border-radius-compact: 4px;
    --ids-comp-sidenav-navitem-single-size-border-radius-dense: 2px;
    --ids-comp-sidenav-navitem-single-size-border-radius-spacious: 16px;
    --ids-comp-sidenav-navitem-single-size-border-width-comfortable: 1px;
    --ids-comp-sidenav-navitem-single-size-border-width-compact: 1px;
    --ids-comp-sidenav-navitem-single-size-border-width-dense: 1px;
    --ids-comp-sidenav-navitem-single-size-border-width-spacious: 1px;
    --ids-comp-sidenav-navitem-single-size-gap-comfortable: 8px;
    --ids-comp-sidenav-navitem-single-size-gap-compact: 8px;
    --ids-comp-sidenav-navitem-single-size-gap-dense: 4px;
    --ids-comp-sidenav-navitem-single-size-gap-spacious: 16px;
    --ids-comp-sidenav-navitem-single-size-height-comfortable: 48px;
    --ids-comp-sidenav-navitem-single-size-height-compact: 40px;
    --ids-comp-sidenav-navitem-single-size-height-dense: 32px;
    --ids-comp-sidenav-navitem-single-size-height-spacious: 56px;
    --ids-comp-sidenav-navitem-single-size-icon-comfortable: 24px;
    --ids-comp-sidenav-navitem-single-size-icon-compact: 20px;
    --ids-comp-sidenav-navitem-single-size-icon-dense: 16px;
    --ids-comp-sidenav-navitem-single-size-icon-spacious: 28px;
    --ids-comp-sidenav-navitem-single-size-padding-x-comfortable: 12px;
    --ids-comp-sidenav-navitem-single-size-padding-x-compact: 12px;
    --ids-comp-sidenav-navitem-single-size-padding-x-dense: 4px;
    --ids-comp-sidenav-navitem-single-size-padding-x-spacious: 12px;
    --ids-comp-sidenav-navitem-single-size-padding-y-comfortable: 8px;
    --ids-comp-sidenav-navitem-single-size-padding-y-compact: 4px;
    --ids-comp-sidenav-navitem-single-size-padding-y-dense: 2px;
    --ids-comp-sidenav-navitem-single-size-padding-y-spacious: 8px;
    --ids-comp-sidenav-navitem-single-standard-color-bg-light-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-single-standard-color-bg-light-default: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-bg-light-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-bg-light-focused: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-single-standard-color-bg-light-hovered: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-single-standard-color-bg-light-pressed: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-sidenav-navitem-single-standard-color-bg-surface-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-sidenav-navitem-single-standard-color-bg-surface-default: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-bg-surface-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-sidenav-navitem-single-standard-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-sidenav-navitem-single-standard-color-bg-surface-pressed: light-dark(#648cb44d, #ffffff4d);
    --ids-comp-sidenav-navitem-single-standard-color-border-light-active: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-light-default: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-light-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-light-focused: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-light-hovered: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-light-pressed: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-surface-active: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-surface-default: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-surface-disabled: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-surface-focused: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-surface-hovered: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-border-surface-pressed: #ffffff00;
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-light-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-surface-default: light-dark(#475569, #94a3b8);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-icon-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-light-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-surface-active: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-surface-default: light-dark(#475569, #94a3b8);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-navitem-single-standard-color-fg-label-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-sidenav-section-color-bg-surface-default: #ffffff00;
    --ids-comp-sidenav-section-color-border-surface-default: #ffffff00;
    --ids-comp-sidenav-section-list-size-gap-comfortable: 4px;
    --ids-comp-sidenav-section-list-size-gap-compact: 4px;
    --ids-comp-sidenav-section-list-size-gap-dense: 2px;
    --ids-comp-sidenav-section-list-size-gap-spacious: 8px;
    --ids-comp-sidenav-section-size-border-radius-comfortable: 0px;
    --ids-comp-sidenav-section-size-border-radius-compact: 0px;
    --ids-comp-sidenav-section-size-border-radius-dense: 0px;
    --ids-comp-sidenav-section-size-border-radius-spacious: 0px;
    --ids-comp-sidenav-section-size-border-width-comfortable: 0px;
    --ids-comp-sidenav-section-size-border-width-compact: 0px;
    --ids-comp-sidenav-section-size-border-width-dense: 0px;
    --ids-comp-sidenav-section-size-border-width-spacious: 0px;
    --ids-comp-sidenav-section-size-gap-comfortable: 0px;
    --ids-comp-sidenav-section-size-gap-compact: 0px;
    --ids-comp-sidenav-section-size-gap-dense: 0px;
    --ids-comp-sidenav-section-size-gap-spacious: 0px;
    --ids-comp-sidenav-section-size-min-width-comfortable: 256px;
    --ids-comp-sidenav-section-size-min-width-compact: 256px;
    --ids-comp-sidenav-section-size-min-width-dense: 256px;
    --ids-comp-sidenav-section-size-min-width-spacious: 256px;
    --ids-comp-sidenav-section-size-padding-x-comfortable: 0px;
    --ids-comp-sidenav-section-size-padding-x-compact: 0px;
    --ids-comp-sidenav-section-size-padding-x-dense: 0px;
    --ids-comp-sidenav-section-size-padding-x-spacious: 0px;
    --ids-comp-sidenav-section-size-padding-y-comfortable: 16px;
    --ids-comp-sidenav-section-size-padding-y-compact: 8px;
    --ids-comp-sidenav-section-size-padding-y-dense: 8px;
    --ids-comp-sidenav-section-size-padding-y-spacious: 24px;
    --ids-comp-sidenav-section-title-size-gap-comfortable: 8px;
    --ids-comp-sidenav-section-title-size-gap-compact: 4px;
    --ids-comp-sidenav-section-title-size-gap-dense: 2px;
    --ids-comp-sidenav-section-title-size-gap-spacious: 12px;
    --ids-comp-sidenav-section-title-size-padding-x-comfortable: 0px;
    --ids-comp-sidenav-section-title-size-padding-x-compact: 12px;
    --ids-comp-sidenav-section-title-size-padding-x-dense: 0px;
    --ids-comp-sidenav-section-title-size-padding-x-spacious: 0px;
    --ids-comp-sidenav-section-title-size-padding-y-comfortable: 16px;
    --ids-comp-sidenav-section-title-size-padding-y-compact: 8px;
    --ids-comp-sidenav-section-title-size-padding-y-dense: 8px;
    --ids-comp-sidenav-section-title-size-padding-y-spacious: 24px;
    --ids-comp-sidenav-section-title-typography-font-family-comfortable: Montserrat;
    --ids-comp-sidenav-section-title-typography-font-family-compact: Montserrat;
    --ids-comp-sidenav-section-title-typography-font-family-dense: Montserrat;
    --ids-comp-sidenav-section-title-typography-font-family-spacious: Montserrat;
    --ids-comp-sidenav-section-title-typography-font-size-comfortable: 16px;
    --ids-comp-sidenav-section-title-typography-font-size-compact: 14px;
    --ids-comp-sidenav-section-title-typography-font-size-dense: 12px;
    --ids-comp-sidenav-section-title-typography-font-size-spacious: 18px;
    --ids-comp-sidenav-section-title-typography-font-weight-comfortable: 600;
    --ids-comp-sidenav-section-title-typography-font-weight-compact: 600;
    --ids-comp-sidenav-section-title-typography-font-weight-dense: 600;
    --ids-comp-sidenav-section-title-typography-font-weight-spacious: 600;
    --ids-comp-sidenav-section-title-typography-letter-spacing-comfortable: 0em;
    --ids-comp-sidenav-section-title-typography-letter-spacing-compact: 0em;
    --ids-comp-sidenav-section-title-typography-letter-spacing-dense: 0em;
    --ids-comp-sidenav-section-title-typography-letter-spacing-spacious: 0em;
    --ids-comp-sidenav-section-title-typography-line-height-comfortable: 24px;
    --ids-comp-sidenav-section-title-typography-line-height-compact: 20px;
    --ids-comp-sidenav-section-title-typography-line-height-dense: 18px;
    --ids-comp-sidenav-section-title-typography-line-height-spacious: 28px;
    --ids-comp-sidenav-size-gap-comfortable: 0px;
    --ids-comp-sidenav-size-gap-compact: 0px;
    --ids-comp-sidenav-size-gap-dense: 0px;
    --ids-comp-sidenav-size-gap-spacious: 0px;
    --ids-comp-sidenav-size-padding-x-comfortable: 0px;
    --ids-comp-sidenav-size-padding-x-compact: 0px;
    --ids-comp-sidenav-size-padding-x-dense: 0px;
    --ids-comp-sidenav-size-padding-x-spacious: 0px;
    --ids-comp-sidenav-size-padding-y-comfortable: 0px;
    --ids-comp-sidenav-size-padding-y-compact: 0px;
    --ids-comp-sidenav-size-padding-y-dense: 0px;
    --ids-comp-sidenav-size-padding-y-spacious: 0px
}