:root {
    --ids-comp-snackbar-actions-size-gap-comfortable: 4px;
    --ids-comp-snackbar-actions-size-gap-compact: 4px;
    --ids-comp-snackbar-actions-size-gap-dense: 4px;
    --ids-comp-snackbar-actions-size-gap-spacious: 4px;
    --ids-comp-snackbar-container-size-border-bottom-width-comfortable: 0px;
    --ids-comp-snackbar-container-size-border-bottom-width-compact: 0px;
    --ids-comp-snackbar-container-size-border-bottom-width-dense: 0px;
    --ids-comp-snackbar-container-size-border-bottom-width-spacious: 0px;
    --ids-comp-snackbar-container-size-border-left-width-comfortable: 4px;
    --ids-comp-snackbar-container-size-border-left-width-compact: 4px;
    --ids-comp-snackbar-container-size-border-left-width-dense: 4px;
    --ids-comp-snackbar-container-size-border-left-width-spacious: 4px;
    --ids-comp-snackbar-container-size-border-radius-comfortable: 8px;
    --ids-comp-snackbar-container-size-border-radius-compact: 8px;
    --ids-comp-snackbar-container-size-border-radius-dense: 8px;
    --ids-comp-snackbar-container-size-border-radius-spacious: 8px;
    --ids-comp-snackbar-container-size-border-right-width-comfortable: 0px;
    --ids-comp-snackbar-container-size-border-right-width-compact: 0px;
    --ids-comp-snackbar-container-size-border-right-width-dense: 0px;
    --ids-comp-snackbar-container-size-border-right-width-spacious: 0px;
    --ids-comp-snackbar-container-size-border-top-width-comfortable: 0px;
    --ids-comp-snackbar-container-size-border-top-width-compact: 0px;
    --ids-comp-snackbar-container-size-border-top-width-dense: 0px;
    --ids-comp-snackbar-container-size-border-top-width-spacious: 0px;
    --ids-comp-snackbar-container-size-gap-comfortable: 8px;
    --ids-comp-snackbar-container-size-gap-compact: 8px;
    --ids-comp-snackbar-container-size-gap-dense: 8px;
    --ids-comp-snackbar-container-size-gap-spacious: 8px;
    --ids-comp-snackbar-container-size-max-width-comfortable: 400px;
    --ids-comp-snackbar-container-size-max-width-compact: 400px;
    --ids-comp-snackbar-container-size-max-width-dense: 400px;
    --ids-comp-snackbar-container-size-max-width-spacious: 400px;
    --ids-comp-snackbar-container-size-min-width-comfortable: 128px;
    --ids-comp-snackbar-container-size-min-width-compact: 128px;
    --ids-comp-snackbar-container-size-min-width-dense: 128px;
    --ids-comp-snackbar-container-size-min-width-spacious: 128px;
    --ids-comp-snackbar-container-size-padding-x-comfortable: 16px;
    --ids-comp-snackbar-container-size-padding-x-compact: 16px;
    --ids-comp-snackbar-container-size-padding-x-dense: 16px;
    --ids-comp-snackbar-container-size-padding-x-spacious: 16px;
    --ids-comp-snackbar-container-size-padding-y-comfortable: 16px;
    --ids-comp-snackbar-container-size-padding-y-compact: 16px;
    --ids-comp-snackbar-container-size-padding-y-dense: 16px;
    --ids-comp-snackbar-container-size-padding-y-spacious: 16px;
    --ids-comp-snackbar-filled-color-bg-dark-default: light-dark(#000000, #ffffff);
    --ids-comp-snackbar-filled-color-bg-error-default: light-dark(#ffffff, #000000);
    --ids-comp-snackbar-filled-color-bg-info-default: light-dark(#ffffff, #000000);
    --ids-comp-snackbar-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-snackbar-filled-color-bg-success-default: light-dark(#ffffff, #000000);
    --ids-comp-snackbar-filled-color-bg-warning-default: light-dark(#ffffff, #000000);
    --ids-comp-snackbar-filled-color-border-dark-default: #ffffff00;
    --ids-comp-snackbar-filled-color-border-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-snackbar-filled-color-border-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-snackbar-filled-color-border-light-default: #ffffff00;
    --ids-comp-snackbar-filled-color-border-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-snackbar-filled-color-border-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-snackbar-filled-color-fg-icon-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-snackbar-filled-color-fg-icon-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-snackbar-filled-color-fg-icon-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-snackbar-filled-color-fg-icon-light-default: light-dark(#475569, #94a3b8);
    --ids-comp-snackbar-filled-color-fg-icon-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-snackbar-filled-color-fg-icon-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-snackbar-filled-color-fg-message-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-snackbar-filled-color-fg-message-error-default: light-dark(#020617, #f8fafc);
    --ids-comp-snackbar-filled-color-fg-message-info-default: light-dark(#020617, #f8fafc);
    --ids-comp-snackbar-filled-color-fg-message-light-default: light-dark(#475569, #94a3b8);
    --ids-comp-snackbar-filled-color-fg-message-success-default: light-dark(#020617, #f8fafc);
    --ids-comp-snackbar-filled-color-fg-message-warning-default: light-dark(#020617, #f8fafc);
    --ids-comp-snackbar-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-snackbar-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-snackbar-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-snackbar-focused-outline-size-outline-compact: 3px;
    --ids-comp-snackbar-focused-outline-size-outline-dense: 3px;
    --ids-comp-snackbar-focused-outline-size-outline-spacious: 3px;
    --ids-comp-snackbar-group-container-size-gap-comfortable: 8px;
    --ids-comp-snackbar-group-container-size-gap-compact: 8px;
    --ids-comp-snackbar-group-container-size-gap-dense: 8px;
    --ids-comp-snackbar-group-container-size-gap-spacious: 8px;
    --ids-comp-snackbar-group-container-size-padding-x-comfortable: 24px;
    --ids-comp-snackbar-group-container-size-padding-x-compact: 16px;
    --ids-comp-snackbar-group-container-size-padding-x-dense: 16px;
    --ids-comp-snackbar-group-container-size-padding-x-spacious: 24px;
    --ids-comp-snackbar-group-container-size-padding-y-comfortable: 24px;
    --ids-comp-snackbar-group-container-size-padding-y-compact: 16px;
    --ids-comp-snackbar-group-container-size-padding-y-dense: 16px;
    --ids-comp-snackbar-group-container-size-padding-y-spacious: 24px;
    --ids-comp-snackbar-icon-button-size-icon-button-comfortable: 20px;
    --ids-comp-snackbar-icon-button-size-icon-button-compact: 20px;
    --ids-comp-snackbar-icon-button-size-icon-button-dense: 16px;
    --ids-comp-snackbar-icon-button-size-icon-button-spacious: 24px;
    --ids-comp-snackbar-icon-size-icon-comfortable: 24px;
    --ids-comp-snackbar-icon-size-icon-compact: 24px;
    --ids-comp-snackbar-icon-size-icon-dense: 24px;
    --ids-comp-snackbar-icon-size-icon-spacious: 24px;
    --ids-comp-snackbar-icon-size-padding-left-comfortable: 4px;
    --ids-comp-snackbar-icon-size-padding-left-compact: 4px;
    --ids-comp-snackbar-icon-size-padding-left-dense: 4px;
    --ids-comp-snackbar-icon-size-padding-left-spacious: 4px;
    --ids-comp-snackbar-icon-size-padding-right-comfortable: 8px;
    --ids-comp-snackbar-icon-size-padding-right-compact: 8px;
    --ids-comp-snackbar-icon-size-padding-right-dense: 8px;
    --ids-comp-snackbar-icon-size-padding-right-spacious: 8px;
    --ids-comp-snackbar-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-snackbar-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-snackbar-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-snackbar-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-snackbar-icon-typography-font-size-comfortable: 24px;
    --ids-comp-snackbar-icon-typography-font-size-compact: 24px;
    --ids-comp-snackbar-icon-typography-font-size-dense: 24px;
    --ids-comp-snackbar-icon-typography-font-size-spacious: 24px;
    --ids-comp-snackbar-icon-typography-font-weight-comfortable: 400;
    --ids-comp-snackbar-icon-typography-font-weight-compact: 400;
    --ids-comp-snackbar-icon-typography-font-weight-dense: 400;
    --ids-comp-snackbar-icon-typography-font-weight-spacious: 400;
    --ids-comp-snackbar-icon-typography-line-height-comfortable: 24px;
    --ids-comp-snackbar-icon-typography-line-height-compact: 24px;
    --ids-comp-snackbar-icon-typography-line-height-dense: 24px;
    --ids-comp-snackbar-icon-typography-line-height-spacious: 24px;
    --ids-comp-snackbar-message-action-size-gap-comfortable: 12px;
    --ids-comp-snackbar-message-action-size-gap-compact: 12px;
    --ids-comp-snackbar-message-action-size-gap-dense: 12px;
    --ids-comp-snackbar-message-action-size-gap-spacious: 12px;
    --ids-comp-snackbar-message-action-size-padding-right-comfortable: 32px;
    --ids-comp-snackbar-message-action-size-padding-right-compact: 32px;
    --ids-comp-snackbar-message-action-size-padding-right-dense: 32px;
    --ids-comp-snackbar-message-action-size-padding-right-spacious: 32px;
    --ids-comp-snackbar-message-size-max-width-comfortable: 400px;
    --ids-comp-snackbar-message-size-max-width-compact: 400px;
    --ids-comp-snackbar-message-size-max-width-dense: 400px;
    --ids-comp-snackbar-message-size-max-width-spacious: 400px;
    --ids-comp-snackbar-message-size-min-height-comfortable: 24px;
    --ids-comp-snackbar-message-size-min-height-compact: 24px;
    --ids-comp-snackbar-message-size-min-height-dense: 24px;
    --ids-comp-snackbar-message-size-min-height-spacious: 24px;
    --ids-comp-snackbar-message-size-min-width-comfortable: 128px;
    --ids-comp-snackbar-message-size-min-width-compact: 128px;
    --ids-comp-snackbar-message-size-min-width-dense: 128px;
    --ids-comp-snackbar-message-size-min-width-spacious: 128px;
    --ids-comp-snackbar-message-size-padding-right-comfortable: 8px;
    --ids-comp-snackbar-message-size-padding-right-compact: 8px;
    --ids-comp-snackbar-message-size-padding-right-dense: 8px;
    --ids-comp-snackbar-message-size-padding-right-spacious: 8px;
    --ids-comp-snackbar-message-typography-font-family-comfortable: Montserrat;
    --ids-comp-snackbar-message-typography-font-family-compact: Montserrat;
    --ids-comp-snackbar-message-typography-font-family-dense: Montserrat;
    --ids-comp-snackbar-message-typography-font-family-spacious: Montserrat;
    --ids-comp-snackbar-message-typography-font-size-comfortable: 14px;
    --ids-comp-snackbar-message-typography-font-size-compact: 14px;
    --ids-comp-snackbar-message-typography-font-size-dense: 14px;
    --ids-comp-snackbar-message-typography-font-size-spacious: 14px;
    --ids-comp-snackbar-message-typography-font-weight-comfortable: 400;
    --ids-comp-snackbar-message-typography-font-weight-compact: 400;
    --ids-comp-snackbar-message-typography-font-weight-dense: 400;
    --ids-comp-snackbar-message-typography-font-weight-spacious: 700;
    --ids-comp-snackbar-message-typography-letter-spacing-comfortable: 0em;
    --ids-comp-snackbar-message-typography-letter-spacing-compact: 0em;
    --ids-comp-snackbar-message-typography-letter-spacing-dense: 0em;
    --ids-comp-snackbar-message-typography-letter-spacing-spacious: 0em;
    --ids-comp-snackbar-message-typography-line-height-comfortable: 16px;
    --ids-comp-snackbar-message-typography-line-height-compact: 16px;
    --ids-comp-snackbar-message-typography-line-height-dense: 16px;
    --ids-comp-snackbar-message-typography-line-height-spacious: 16px
}