:root {
    --ids-comp-navbar-brand-and-menu-size-gap-comfortable: 16px;
    --ids-comp-navbar-brand-and-menu-size-gap-compact: 16px;
    --ids-comp-navbar-brand-and-menu-size-gap-dense: 16px;
    --ids-comp-navbar-brand-and-menu-size-gap-spacious: 16px;
    --ids-comp-navbar-feature-and-menu-size-gap-comfortable: 12px;
    --ids-comp-navbar-feature-and-menu-size-gap-compact: 12px;
    --ids-comp-navbar-feature-and-menu-size-gap-dense: 12px;
    --ids-comp-navbar-feature-and-menu-size-gap-spacious: 12px;
    --ids-comp-navbar-feature-size-gap-comfortable: 12px;
    --ids-comp-navbar-feature-size-gap-compact: 12px;
    --ids-comp-navbar-feature-size-gap-dense: 12px;
    --ids-comp-navbar-feature-size-gap-spacious: 12px;
    --ids-comp-navbar-menu-size-gap-comfortable: 12px;
    --ids-comp-navbar-menu-size-gap-compact: 12px;
    --ids-comp-navbar-menu-size-gap-dense: 12px;
    --ids-comp-navbar-menu-size-gap-spacious: 12px;
    --ids-comp-navbar-size-border-width-comfortable: 1px;
    --ids-comp-navbar-size-border-width-compact: 1px;
    --ids-comp-navbar-size-border-width-dense: 1px;
    --ids-comp-navbar-size-border-width-spacious: 1px;
    --ids-comp-navbar-size-height-comfortable: 96px;
    --ids-comp-navbar-size-height-compact: 96px;
    --ids-comp-navbar-size-height-dense: 96px;
    --ids-comp-navbar-size-height-spacious: 96px;
    --ids-comp-navbar-size-padding-x-comfortable: 16px;
    --ids-comp-navbar-size-padding-x-compact: 16px;
    --ids-comp-navbar-size-padding-x-dense: 16px;
    --ids-comp-navbar-size-padding-x-spacious: 16px;
    --ids-comp-navbar-size-padding-y-comfortable: 16px;
    --ids-comp-navbar-size-padding-y-compact: 16px;
    --ids-comp-navbar-size-padding-y-dense: 16px;
    --ids-comp-navbar-size-padding-y-spacious: 16px;
    --ids-comp-navbar-standard-light-color-bg-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-navbar-standard-light-color-bg-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-navbar-standard-light-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-navbar-standard-light-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-navbar-standard-light-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-navbar-standard-light-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-navbar-standard-light-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-navbar-standard-light-color-bg-surface-default: light-dark(#cbd5e1, #334155);
    --ids-comp-navbar-standard-light-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-navbar-standard-light-color-border-surface-default: light-dark(#ffffff, #ffffff);
    --ids-comp-navbar-standard-surface-color-bg-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-navbar-standard-surface-color-bg-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-navbar-standard-surface-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-navbar-standard-surface-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-navbar-standard-surface-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-navbar-standard-surface-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-navbar-standard-surface-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-navbar-standard-surface-color-bg-surface-default: light-dark(#cbd5e1, #334155);
    --ids-comp-navbar-standard-surface-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-navbar-standard-surface-color-border-surface-default: light-dark(#e2e8f0, #1e293b)
}