:root {
    --ids-comp-card-container-horizontal-size-border-radius-comfortable: 24px;
    --ids-comp-card-container-horizontal-size-border-radius-compact: 16px;
    --ids-comp-card-container-horizontal-size-border-radius-dense: 8px;
    --ids-comp-card-container-horizontal-size-border-radius-spacious: 32px;
    --ids-comp-card-container-horizontal-size-border-width-comfortable: 2px;
    --ids-comp-card-container-horizontal-size-border-width-compact: 2px;
    --ids-comp-card-container-horizontal-size-border-width-dense: 2px;
    --ids-comp-card-container-horizontal-size-border-width-spacious: 2px;
    --ids-comp-card-container-horizontal-size-gap-comfortable: 24px;
    --ids-comp-card-container-horizontal-size-gap-compact: 16px;
    --ids-comp-card-container-horizontal-size-gap-dense: 8px;
    --ids-comp-card-container-horizontal-size-gap-spacious: 32px;
    --ids-comp-card-container-horizontal-size-padding-x-comfortable: 0px;
    --ids-comp-card-container-horizontal-size-padding-x-compact: 0px;
    --ids-comp-card-container-horizontal-size-padding-x-dense: 0px;
    --ids-comp-card-container-horizontal-size-padding-x-spacious: 0px;
    --ids-comp-card-container-horizontal-size-padding-y-comfortable: 0px;
    --ids-comp-card-container-horizontal-size-padding-y-compact: 0px;
    --ids-comp-card-container-horizontal-size-padding-y-dense: 0px;
    --ids-comp-card-container-horizontal-size-padding-y-spacious: 0px;
    --ids-comp-card-container-vertical-size-border-radius-comfortable: 24px;
    --ids-comp-card-container-vertical-size-border-radius-compact: 16px;
    --ids-comp-card-container-vertical-size-border-radius-dense: 8px;
    --ids-comp-card-container-vertical-size-border-radius-spacious: 32px;
    --ids-comp-card-container-vertical-size-border-width-comfortable: 2px;
    --ids-comp-card-container-vertical-size-border-width-compact: 2px;
    --ids-comp-card-container-vertical-size-border-width-dense: 2px;
    --ids-comp-card-container-vertical-size-border-width-spacious: 2px;
    --ids-comp-card-container-vertical-size-gap-comfortable: 24px;
    --ids-comp-card-container-vertical-size-gap-compact: 16px;
    --ids-comp-card-container-vertical-size-gap-dense: 8px;
    --ids-comp-card-container-vertical-size-gap-spacious: 32px;
    --ids-comp-card-container-vertical-size-padding-x-comfortable: 0px;
    --ids-comp-card-container-vertical-size-padding-x-compact: 0px;
    --ids-comp-card-container-vertical-size-padding-x-dense: 0px;
    --ids-comp-card-container-vertical-size-padding-x-spacious: 0px;
    --ids-comp-card-container-vertical-size-padding-y-comfortable: 0px;
    --ids-comp-card-container-vertical-size-padding-y-compact: 0px;
    --ids-comp-card-container-vertical-size-padding-y-dense: 0px;
    --ids-comp-card-container-vertical-size-padding-y-spacious: 0px;
    --ids-comp-card-elevated-color-bg-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-card-elevated-color-bg-brand-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-brand-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-card-elevated-color-bg-brand-focused: light-dark(#003cff, #4775ff);
    --ids-comp-card-elevated-color-bg-brand-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-card-elevated-color-bg-brand-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-card-elevated-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-card-elevated-color-bg-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-dark-dragged: light-dark(#1e293b, #1e293b);
    --ids-comp-card-elevated-color-bg-dark-focused: light-dark(#1e293b, #1e293b);
    --ids-comp-card-elevated-color-bg-dark-hovered: light-dark(#1e293b, #1e293b);
    --ids-comp-card-elevated-color-bg-dark-pressed: light-dark(#334155, #334155);
    --ids-comp-card-elevated-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-card-elevated-color-bg-error-dragged: light-dark(#dc2626, #fca5a5);
    --ids-comp-card-elevated-color-bg-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-card-elevated-color-bg-error-hovered: light-dark(#b91c1c, #fecaca);
    --ids-comp-card-elevated-color-bg-error-pressed: light-dark(#991b1b, #fee2e2);
    --ids-comp-card-elevated-color-bg-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-elevated-color-bg-info-dragged: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-elevated-color-bg-info-focused: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-elevated-color-bg-info-hovered: light-dark(#1d4ed8, #bfdbfe);
    --ids-comp-card-elevated-color-bg-info-pressed: light-dark(#1e40af, #dbeafe);
    --ids-comp-card-elevated-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-card-elevated-color-bg-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-light-dragged: light-dark(#ffffff, #000000);
    --ids-comp-card-elevated-color-bg-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-card-elevated-color-bg-light-hovered: light-dark(#f1f5f9, #0f172a);
    --ids-comp-card-elevated-color-bg-light-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-card-elevated-color-bg-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-primary-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-card-elevated-color-bg-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-card-elevated-color-bg-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-card-elevated-color-bg-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-card-elevated-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-card-elevated-color-bg-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-secondary-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-card-elevated-color-bg-secondary-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-card-elevated-color-bg-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-card-elevated-color-bg-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-card-elevated-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-card-elevated-color-bg-success-dragged: light-dark(#22c55e, #4ade80);
    --ids-comp-card-elevated-color-bg-success-focused: light-dark(#22c55e, #4ade80);
    --ids-comp-card-elevated-color-bg-success-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-card-elevated-color-bg-success-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-card-elevated-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-card-elevated-color-bg-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-surface-dragged: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-surface-focused: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-surface-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-bg-surface-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-card-elevated-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-card-elevated-color-bg-warning-dragged: light-dark(#f97316, #fb923c);
    --ids-comp-card-elevated-color-bg-warning-focused: light-dark(#f97316, #fb923c);
    --ids-comp-card-elevated-color-bg-warning-hovered: light-dark(#c2410c, #fed7aa);
    --ids-comp-card-elevated-color-bg-warning-pressed: light-dark(#9a3412, #ffedd5);
    --ids-comp-card-elevated-color-border-brand-default: light-dark(#a3baff, #00248f);
    --ids-comp-card-elevated-color-border-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-elevated-color-border-brand-dragged: light-dark(#7598ff, #002fbd);
    --ids-comp-card-elevated-color-border-brand-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-brand-hovered: light-dark(#7598ff, #002fbd);
    --ids-comp-card-elevated-color-border-brand-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-card-elevated-color-border-dark-default: light-dark(#334155, #334155);
    --ids-comp-card-elevated-color-border-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-elevated-color-border-dark-dragged: light-dark(#475569, #475569);
    --ids-comp-card-elevated-color-border-dark-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-dark-hovered: light-dark(#475569, #475569);
    --ids-comp-card-elevated-color-border-dark-pressed: light-dark(#64748b, #64748b);
    --ids-comp-card-elevated-color-border-error-default: light-dark(#fecaca, #991b1b);
    --ids-comp-card-elevated-color-border-error-dragged: light-dark(#fca5a5, #b91c1c);
    --ids-comp-card-elevated-color-border-error-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-error-hovered: light-dark(#fca5a5, #b91c1c);
    --ids-comp-card-elevated-color-border-error-pressed: light-dark(#b91c1c, #fecaca);
    --ids-comp-card-elevated-color-border-info-default: light-dark(#bfdbfe, #1e40af);
    --ids-comp-card-elevated-color-border-info-dragged: light-dark(#93c5fd, #1d4ed8);
    --ids-comp-card-elevated-color-border-info-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-info-hovered: light-dark(#93c5fd, #1d4ed8);
    --ids-comp-card-elevated-color-border-info-pressed: light-dark(#1d4ed8, #bfdbfe);
    --ids-comp-card-elevated-color-border-light-default: light-dark(#cbd5e1, #334155);
    --ids-comp-card-elevated-color-border-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-elevated-color-border-light-dragged: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-border-light-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-light-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-border-light-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-border-primary-default: light-dark(#a3baff, #00248f);
    --ids-comp-card-elevated-color-border-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-elevated-color-border-primary-dragged: light-dark(#7598ff, #002fbd);
    --ids-comp-card-elevated-color-border-primary-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-primary-hovered: light-dark(#7598ff, #002fbd);
    --ids-comp-card-elevated-color-border-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-card-elevated-color-border-secondary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-border-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-elevated-color-border-secondary-dragged: light-dark(#cbd5e1, #334155);
    --ids-comp-card-elevated-color-border-secondary-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-secondary-hovered: light-dark(#cbd5e1, #334155);
    --ids-comp-card-elevated-color-border-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-card-elevated-color-border-success-default: light-dark(#bbf7d0, #166534);
    --ids-comp-card-elevated-color-border-success-dragged: light-dark(#86efac, #15803d);
    --ids-comp-card-elevated-color-border-success-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-success-hovered: light-dark(#86efac, #15803d);
    --ids-comp-card-elevated-color-border-success-pressed: light-dark(#15803d, #bbf7d0);
    --ids-comp-card-elevated-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-elevated-color-border-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-elevated-color-border-surface-dragged: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-elevated-color-border-surface-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-surface-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-elevated-color-border-surface-pressed: light-dark(#64748b, #64748b);
    --ids-comp-card-elevated-color-border-warning-default: light-dark(#fed7aa, #9a3412);
    --ids-comp-card-elevated-color-border-warning-dragged: light-dark(#fdba74, #c2410c);
    --ids-comp-card-elevated-color-border-warning-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-elevated-color-border-warning-hovered: light-dark(#fdba74, #c2410c);
    --ids-comp-card-elevated-color-border-warning-pressed: light-dark(#c2410c, #fed7aa);
    --ids-comp-card-filled-color-bg-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-card-filled-color-bg-brand-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-brand-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-card-filled-color-bg-brand-focused: light-dark(#003cff, #4775ff);
    --ids-comp-card-filled-color-bg-brand-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-card-filled-color-bg-brand-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-card-filled-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-card-filled-color-bg-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-dark-dragged: light-dark(#1e293b, #1e293b);
    --ids-comp-card-filled-color-bg-dark-focused: light-dark(#1e293b, #1e293b);
    --ids-comp-card-filled-color-bg-dark-hovered: light-dark(#1e293b, #1e293b);
    --ids-comp-card-filled-color-bg-dark-pressed: light-dark(#334155, #334155);
    --ids-comp-card-filled-color-bg-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-card-filled-color-bg-error-dragged: light-dark(#dc2626, #fca5a5);
    --ids-comp-card-filled-color-bg-error-focused: light-dark(#dc2626, #fca5a5);
    --ids-comp-card-filled-color-bg-error-hovered: light-dark(#b91c1c, #fecaca);
    --ids-comp-card-filled-color-bg-error-pressed: light-dark(#991b1b, #fee2e2);
    --ids-comp-card-filled-color-bg-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-filled-color-bg-info-dragged: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-filled-color-bg-info-focused: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-filled-color-bg-info-hovered: light-dark(#1d4ed8, #bfdbfe);
    --ids-comp-card-filled-color-bg-info-pressed: light-dark(#1e40af, #dbeafe);
    --ids-comp-card-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-card-filled-color-bg-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-light-dragged: light-dark(#ffffff, #000000);
    --ids-comp-card-filled-color-bg-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-card-filled-color-bg-light-hovered: light-dark(#f1f5f9, #0f172a);
    --ids-comp-card-filled-color-bg-light-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-card-filled-color-bg-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-primary-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-card-filled-color-bg-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-card-filled-color-bg-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-card-filled-color-bg-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-card-filled-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-card-filled-color-bg-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-secondary-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-card-filled-color-bg-secondary-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-card-filled-color-bg-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-card-filled-color-bg-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-card-filled-color-bg-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-card-filled-color-bg-success-dragged: light-dark(#22c55e, #4ade80);
    --ids-comp-card-filled-color-bg-success-focused: light-dark(#22c55e, #4ade80);
    --ids-comp-card-filled-color-bg-success-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-card-filled-color-bg-success-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-card-filled-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-card-filled-color-bg-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-surface-dragged: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-surface-focused: light-dark(#f1f5f9, #0f172a);
    --ids-comp-card-filled-color-bg-surface-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-bg-surface-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-card-filled-color-bg-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-card-filled-color-bg-warning-dragged: light-dark(#f97316, #fb923c);
    --ids-comp-card-filled-color-bg-warning-focused: light-dark(#f97316, #fb923c);
    --ids-comp-card-filled-color-bg-warning-hovered: light-dark(#c2410c, #fed7aa);
    --ids-comp-card-filled-color-bg-warning-pressed: light-dark(#9a3412, #ffedd5);
    --ids-comp-card-filled-color-border-brand-default: light-dark(#a3baff, #00248f);
    --ids-comp-card-filled-color-border-brand-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-filled-color-border-brand-dragged: light-dark(#7598ff, #002fbd);
    --ids-comp-card-filled-color-border-brand-focused: light-dark(#a3baff, #00248f);
    --ids-comp-card-filled-color-border-brand-hovered: light-dark(#7598ff, #002fbd);
    --ids-comp-card-filled-color-border-brand-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-card-filled-color-border-dark-default: light-dark(#334155, #334155);
    --ids-comp-card-filled-color-border-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-filled-color-border-dark-dragged: light-dark(#475569, #475569);
    --ids-comp-card-filled-color-border-dark-focused: light-dark(#334155, #334155);
    --ids-comp-card-filled-color-border-dark-hovered: light-dark(#475569, #475569);
    --ids-comp-card-filled-color-border-dark-pressed: light-dark(#64748b, #64748b);
    --ids-comp-card-filled-color-border-error-default: light-dark(#fecaca, #991b1b);
    --ids-comp-card-filled-color-border-error-dragged: light-dark(#fca5a5, #b91c1c);
    --ids-comp-card-filled-color-border-error-focused: light-dark(#fecaca, #991b1b);
    --ids-comp-card-filled-color-border-error-hovered: light-dark(#fca5a5, #b91c1c);
    --ids-comp-card-filled-color-border-error-pressed: light-dark(#b91c1c, #fecaca);
    --ids-comp-card-filled-color-border-info-default: light-dark(#bfdbfe, #1e40af);
    --ids-comp-card-filled-color-border-info-dragged: light-dark(#93c5fd, #1d4ed8);
    --ids-comp-card-filled-color-border-info-focused: light-dark(#bfdbfe, #1e40af);
    --ids-comp-card-filled-color-border-info-hovered: light-dark(#93c5fd, #1d4ed8);
    --ids-comp-card-filled-color-border-info-pressed: light-dark(#1d4ed8, #bfdbfe);
    --ids-comp-card-filled-color-border-light-default: light-dark(#cbd5e1, #334155);
    --ids-comp-card-filled-color-border-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-filled-color-border-light-dragged: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-light-focused: light-dark(#cbd5e1, #334155);
    --ids-comp-card-filled-color-border-light-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-light-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-primary-default: light-dark(#a3baff, #00248f);
    --ids-comp-card-filled-color-border-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-filled-color-border-primary-dragged: light-dark(#7598ff, #002fbd);
    --ids-comp-card-filled-color-border-primary-focused: light-dark(#a3baff, #00248f);
    --ids-comp-card-filled-color-border-primary-hovered: light-dark(#7598ff, #002fbd);
    --ids-comp-card-filled-color-border-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-card-filled-color-border-secondary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-filled-color-border-secondary-dragged: light-dark(#cbd5e1, #334155);
    --ids-comp-card-filled-color-border-secondary-focused: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-secondary-hovered: light-dark(#cbd5e1, #334155);
    --ids-comp-card-filled-color-border-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-card-filled-color-border-success-default: light-dark(#bbf7d0, #166534);
    --ids-comp-card-filled-color-border-success-dragged: light-dark(#86efac, #15803d);
    --ids-comp-card-filled-color-border-success-focused: light-dark(#bbf7d0, #166534);
    --ids-comp-card-filled-color-border-success-hovered: light-dark(#86efac, #15803d);
    --ids-comp-card-filled-color-border-success-pressed: light-dark(#15803d, #bbf7d0);
    --ids-comp-card-filled-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-card-filled-color-border-surface-dragged: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-filled-color-border-surface-focused: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-filled-color-border-surface-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-filled-color-border-surface-pressed: light-dark(#64748b, #64748b);
    --ids-comp-card-filled-color-border-warning-default: light-dark(#fed7aa, #9a3412);
    --ids-comp-card-filled-color-border-warning-dragged: light-dark(#fdba74, #c2410c);
    --ids-comp-card-filled-color-border-warning-focused: light-dark(#fed7aa, #9a3412);
    --ids-comp-card-filled-color-border-warning-hovered: light-dark(#fdba74, #c2410c);
    --ids-comp-card-filled-color-border-warning-pressed: light-dark(#c2410c, #fed7aa);
    --ids-comp-card-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-card-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-card-focused-outline-outline-comfortable: 3px;
    --ids-comp-card-focused-outline-outline-compact: 3px;
    --ids-comp-card-focused-outline-outline-dense: 3px;
    --ids-comp-card-focused-outline-outline-spacious: 3px;
    --ids-comp-card-header-headline-gap-comfortable: 0px;
    --ids-comp-card-header-headline-gap-compact: 0px;
    --ids-comp-card-header-headline-gap-dense: 0px;
    --ids-comp-card-header-headline-gap-spacious: 0px;
    --ids-comp-card-header-headline-padding-x-comfortable: 0px;
    --ids-comp-card-header-headline-padding-x-compact: 0px;
    --ids-comp-card-header-headline-padding-x-dense: 0px;
    --ids-comp-card-header-headline-padding-x-spacious: 0px;
    --ids-comp-card-header-headline-padding-y-comfortable: 0px;
    --ids-comp-card-header-headline-padding-y-compact: 0px;
    --ids-comp-card-header-headline-padding-y-dense: 0px;
    --ids-comp-card-header-headline-padding-y-spacious: 0px;
    --ids-comp-card-outlined-color-bg-brand-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-brand-disabled: #ffffff00;
    --ids-comp-card-outlined-color-bg-brand-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-brand-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-brand-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-brand-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-dark-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-dark-disabled: #ffffff00;
    --ids-comp-card-outlined-color-bg-dark-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-dark-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-dark-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-dark-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-error-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-error-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-error-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-error-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-error-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-info-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-info-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-info-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-info-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-info-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-light-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-light-disabled: #ffffff00;
    --ids-comp-card-outlined-color-bg-light-dragged: light-dark(#f1f5f9, #0f172a);
    --ids-comp-card-outlined-color-bg-light-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-primary-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-primary-disabled: #ffffff00;
    --ids-comp-card-outlined-color-bg-primary-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-primary-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-secondary-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-secondary-disabled: #ffffff00;
    --ids-comp-card-outlined-color-bg-secondary-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-secondary-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-secondary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-secondary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-success-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-success-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-success-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-success-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-success-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-surface-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-surface-disabled: #ffffff00;
    --ids-comp-card-outlined-color-bg-surface-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-bg-warning-default: #ffffff00;
    --ids-comp-card-outlined-color-bg-warning-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-card-outlined-color-bg-warning-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-warning-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-card-outlined-color-bg-warning-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-card-outlined-color-border-brand-default: light-dark(#003cff, #4775ff);
    --ids-comp-card-outlined-color-border-brand-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-brand-dragged: light-dark(#002fbd, #a3baff);
    --ids-comp-card-outlined-color-border-brand-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-brand-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-card-outlined-color-border-brand-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-card-outlined-color-border-dark-default: light-dark(#020617, #020617);
    --ids-comp-card-outlined-color-border-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-dark-dragged: light-dark(#1e293b, #1e293b);
    --ids-comp-card-outlined-color-border-dark-focused: light-dark(#020617, #020617);
    --ids-comp-card-outlined-color-border-dark-hovered: light-dark(#1e293b, #1e293b);
    --ids-comp-card-outlined-color-border-dark-pressed: light-dark(#334155, #334155);
    --ids-comp-card-outlined-color-border-error-default: light-dark(#ef4444, #f87171);
    --ids-comp-card-outlined-color-border-error-dragged: light-dark(#b91c1c, #fecaca);
    --ids-comp-card-outlined-color-border-error-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-error-hovered: light-dark(#b91c1c, #fecaca);
    --ids-comp-card-outlined-color-border-error-pressed: light-dark(#991b1b, #fee2e2);
    --ids-comp-card-outlined-color-border-info-default: light-dark(#3b82f6, #60a5fa);
    --ids-comp-card-outlined-color-border-info-dragged: light-dark(#1d4ed8, #bfdbfe);
    --ids-comp-card-outlined-color-border-info-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-info-hovered: light-dark(#1d4ed8, #bfdbfe);
    --ids-comp-card-outlined-color-border-info-pressed: light-dark(#1e40af, #dbeafe);
    --ids-comp-card-outlined-color-border-light-default: light-dark(#ffffff, #000000);
    --ids-comp-card-outlined-color-border-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-light-dragged: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-light-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-light-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-light-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-card-outlined-color-border-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-card-outlined-color-border-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-primary-dragged: light-dark(#002fbd, #a3baff);
    --ids-comp-card-outlined-color-border-primary-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-card-outlined-color-border-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-card-outlined-color-border-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-card-outlined-color-border-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-secondary-dragged: light-dark(#334155, #e2e8f0);
    --ids-comp-card-outlined-color-border-secondary-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-card-outlined-color-border-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-card-outlined-color-border-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-card-outlined-color-border-success-dragged: light-dark(#15803d, #bbf7d0);
    --ids-comp-card-outlined-color-border-success-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-success-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-card-outlined-color-border-success-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-card-outlined-color-border-surface-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-outlined-color-border-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-card-outlined-color-border-surface-dragged: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-outlined-color-border-surface-focused: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-outlined-color-border-surface-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-outlined-color-border-surface-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-card-outlined-color-border-warning-default: light-dark(#f97316, #fb923c);
    --ids-comp-card-outlined-color-border-warning-dragged: light-dark(#c2410c, #fed7aa);
    --ids-comp-card-outlined-color-border-warning-focused: light-dark(#000000, #ffffff);
    --ids-comp-card-outlined-color-border-warning-hovered: light-dark(#c2410c, #fed7aa);
    --ids-comp-card-outlined-color-border-warning-pressed: light-dark(#9a3412, #ffedd5);
    --ids-comp-card-slot-size-padding-bottom-comfortable: 24px;
    --ids-comp-card-slot-size-padding-bottom-compact: 16px;
    --ids-comp-card-slot-size-padding-bottom-dense: 8px;
    --ids-comp-card-slot-size-padding-bottom-spacious: 32px;
    --ids-comp-card-slot-size-padding-none-comfortable: 0px;
    --ids-comp-card-slot-size-padding-none-compact: 0px;
    --ids-comp-card-slot-size-padding-none-dense: 0px;
    --ids-comp-card-slot-size-padding-none-spacious: 0px;
    --ids-comp-card-slot-size-padding-top-comfortable: 24px;
    --ids-comp-card-slot-size-padding-top-compact: 16px;
    --ids-comp-card-slot-size-padding-top-dense: 8px;
    --ids-comp-card-slot-size-padding-top-spacious: 32px;
    --ids-comp-card-slot-size-padding-x-comfortable: 24px;
    --ids-comp-card-slot-size-padding-x-compact: 16px;
    --ids-comp-card-slot-size-padding-x-dense: 8px;
    --ids-comp-card-slot-size-padding-x-spacious: 32px
}