:root {
    --ids-comp-segmented-control-button-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-segmented-control-button-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-segmented-control-button-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-segmented-control-button-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-segmented-control-button-icon-typography-font-size-comfortable: 16px;
    --ids-comp-segmented-control-button-icon-typography-font-size-compact: 16px;
    --ids-comp-segmented-control-button-icon-typography-font-size-dense: 16px;
    --ids-comp-segmented-control-button-icon-typography-font-size-spacious: 16px;
    --ids-comp-segmented-control-button-icon-typography-font-weight-comfortable: 400;
    --ids-comp-segmented-control-button-icon-typography-font-weight-compact: 400;
    --ids-comp-segmented-control-button-icon-typography-font-weight-dense: 400;
    --ids-comp-segmented-control-button-icon-typography-font-weight-spacious: 400;
    --ids-comp-segmented-control-button-icon-typography-line-height-comfortable: 16px;
    --ids-comp-segmented-control-button-icon-typography-line-height-compact: 16px;
    --ids-comp-segmented-control-button-icon-typography-line-height-dense: 16px;
    --ids-comp-segmented-control-button-icon-typography-line-height-spacious: 16px;
    --ids-comp-segmented-control-button-outlined-color-bg-light-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-button-outlined-color-bg-light-default: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-light-disabled: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-light-focused: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-button-outlined-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-button-outlined-color-bg-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-segmented-control-button-outlined-color-bg-primary-default: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-button-outlined-color-bg-primary-disabled: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-primary-focused: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-button-outlined-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-button-outlined-color-bg-surface-active: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-surface-default: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-surface-disabled: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-surface-focused: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-button-outlined-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-button-outlined-color-border-light-active: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-segmented-control-button-outlined-color-border-light-default: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-segmented-control-button-outlined-color-border-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-border-light-focused: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-segmented-control-button-outlined-color-border-light-hovered: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-segmented-control-button-outlined-color-border-light-pressed: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-segmented-control-button-outlined-color-border-primary-active: #ffffff00;
    --ids-comp-segmented-control-button-outlined-color-border-primary-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-segmented-control-button-outlined-color-border-primary-focused: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-primary-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-primary-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-surface-active: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-border-surface-default: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-segmented-control-button-outlined-color-border-surface-focused: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-surface-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-border-surface-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-primary-active: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-primary-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-primary-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-primary-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-primary-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-surface-active: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-surface-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-icon-surface-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-label-light-active: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-label-light-default: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-fg-label-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-label-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-label-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-segmented-control-button-outlined-color-fg-label-primary-active: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-button-outlined-color-fg-label-primary-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-fg-label-primary-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-button-outlined-color-fg-label-primary-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-label-primary-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-label-surface-active: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-button-outlined-color-fg-label-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-button-outlined-color-fg-label-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-button-outlined-color-fg-label-surface-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-outlined-color-fg-label-surface-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-button-size-border-radius-comfortable: 1000px;
    --ids-comp-segmented-control-button-size-border-radius-compact: 1000px;
    --ids-comp-segmented-control-button-size-border-radius-dense: 1000px;
    --ids-comp-segmented-control-button-size-border-radius-spacious: 1000px;
    --ids-comp-segmented-control-button-size-border-width-comfortable: 1px;
    --ids-comp-segmented-control-button-size-border-width-compact: 1px;
    --ids-comp-segmented-control-button-size-border-width-dense: 1px;
    --ids-comp-segmented-control-button-size-border-width-spacious: 1px;
    --ids-comp-segmented-control-button-size-gap-comfortable: 8px;
    --ids-comp-segmented-control-button-size-gap-compact: 8px;
    --ids-comp-segmented-control-button-size-gap-dense: 4px;
    --ids-comp-segmented-control-button-size-gap-spacious: 8px;
    --ids-comp-segmented-control-button-size-icon-comfortable: 16px;
    --ids-comp-segmented-control-button-size-icon-compact: 16px;
    --ids-comp-segmented-control-button-size-icon-dense: 16px;
    --ids-comp-segmented-control-button-size-icon-spacious: 16px;
    --ids-comp-segmented-control-button-size-min-height-comfortable: 40px;
    --ids-comp-segmented-control-button-size-min-height-compact: 40px;
    --ids-comp-segmented-control-button-size-min-height-dense: 40px;
    --ids-comp-segmented-control-button-size-min-height-spacious: 40px;
    --ids-comp-segmented-control-button-size-padding-x-comfortable: 16px;
    --ids-comp-segmented-control-button-size-padding-x-compact: 16px;
    --ids-comp-segmented-control-button-size-padding-x-dense: 8px;
    --ids-comp-segmented-control-button-size-padding-x-spacious: 16px;
    --ids-comp-segmented-control-button-size-padding-y-comfortable: 8px;
    --ids-comp-segmented-control-button-size-padding-y-compact: 8px;
    --ids-comp-segmented-control-button-size-padding-y-dense: 4px;
    --ids-comp-segmented-control-button-size-padding-y-spacious: 8px;
    --ids-comp-segmented-control-button-typography-font-family-comfortable: Montserrat;
    --ids-comp-segmented-control-button-typography-font-family-compact: Montserrat;
    --ids-comp-segmented-control-button-typography-font-family-dense: Montserrat;
    --ids-comp-segmented-control-button-typography-font-family-spacious: Montserrat;
    --ids-comp-segmented-control-button-typography-font-size-comfortable: 16px;
    --ids-comp-segmented-control-button-typography-font-size-compact: 14px;
    --ids-comp-segmented-control-button-typography-font-size-dense: 12px;
    --ids-comp-segmented-control-button-typography-font-size-spacious: 16px;
    --ids-comp-segmented-control-button-typography-font-weight-comfortable: 600;
    --ids-comp-segmented-control-button-typography-font-weight-compact: 600;
    --ids-comp-segmented-control-button-typography-font-weight-dense: 600;
    --ids-comp-segmented-control-button-typography-font-weight-spacious: 600;
    --ids-comp-segmented-control-button-typography-letter-spacing-comfortable: 0em;
    --ids-comp-segmented-control-button-typography-letter-spacing-compact: 0em;
    --ids-comp-segmented-control-button-typography-letter-spacing-dense: 0em;
    --ids-comp-segmented-control-button-typography-letter-spacing-spacious: 0em;
    --ids-comp-segmented-control-button-typography-line-height-comfortable: 20px;
    --ids-comp-segmented-control-button-typography-line-height-compact: 20px;
    --ids-comp-segmented-control-button-typography-line-height-dense: 16px;
    --ids-comp-segmented-control-button-typography-line-height-spacious: 20px;
    --ids-comp-segmented-control-container-size-border-radius-left-comfortable: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-left-compact: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-left-dense: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-left-spacious: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-right-comfortable: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-right-compact: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-right-dense: 1000px;
    --ids-comp-segmented-control-container-size-border-radius-right-spacious: 1000px;
    --ids-comp-segmented-control-container-size-border-width-comfortable: 1px;
    --ids-comp-segmented-control-container-size-border-width-compact: 1px;
    --ids-comp-segmented-control-container-size-border-width-dense: 1px;
    --ids-comp-segmented-control-container-size-border-width-spacious: 1px;
    --ids-comp-segmented-control-container-size-gap-comfortable: 0px;
    --ids-comp-segmented-control-container-size-gap-compact: 0px;
    --ids-comp-segmented-control-container-size-gap-dense: 0px;
    --ids-comp-segmented-control-container-size-gap-spacious: 0px;
    --ids-comp-segmented-control-container-size-padding-x-comfortable: 0px;
    --ids-comp-segmented-control-container-size-padding-x-compact: 0px;
    --ids-comp-segmented-control-container-size-padding-x-dense: 0px;
    --ids-comp-segmented-control-container-size-padding-x-spacious: 0px;
    --ids-comp-segmented-control-container-size-padding-y-comfortable: 0px;
    --ids-comp-segmented-control-container-size-padding-y-compact: 0px;
    --ids-comp-segmented-control-container-size-padding-y-dense: 0px;
    --ids-comp-segmented-control-container-size-padding-y-spacious: 0px;
    --ids-comp-segmented-control-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-segmented-control-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-focused-outline-size-border-radius-left-comfortable: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-left-compact: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-left-dense: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-left-spacious: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-right-comfortable: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-right-compact: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-right-dense: 1000px;
    --ids-comp-segmented-control-focused-outline-size-border-radius-right-spacious: 1000px;
    --ids-comp-segmented-control-focused-outline-size-outline-width-comfortable: 3px;
    --ids-comp-segmented-control-focused-outline-size-outline-width-compact: 3px;
    --ids-comp-segmented-control-focused-outline-size-outline-width-dense: 3px;
    --ids-comp-segmented-control-focused-outline-size-outline-width-spacious: 3px;
    --ids-comp-segmented-control-toggle-button-filled-color-bg-light-active: light-dark(#64748b, #94a3b8);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-light-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-bg-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-light-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-light-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-light-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-primary-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-bg-primary-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-bg-primary-focused: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-primary-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-surface-active: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-surface-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-bg-surface-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-bg-surface-focused: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-toggle-button-filled-color-bg-surface-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-segmented-control-toggle-button-filled-color-border-light-active: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-light-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-light-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-light-focused: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-light-hovered: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-light-pressed: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-primary-active: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-primary-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-primary-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-primary-focused: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-primary-hovered: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-primary-pressed: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-surface-active: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-surface-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-surface-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-surface-focused: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-surface-hovered: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-border-surface-pressed: #ffffff00;
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-light-active: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-light-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-light-pressed: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-primary-active: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-primary-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-primary-focused: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-primary-hovered: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-primary-pressed: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-surface-active: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-surface-focused: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-surface-hovered: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-icon-surface-pressed: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-light-active: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-light-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-light-pressed: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-primary-active: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-primary-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-primary-focused: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-primary-hovered: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-primary-pressed: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-surface-active: light-dark(#f8fafc, #020617);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-surface-focused: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-surface-hovered: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-filled-color-fg-label-surface-pressed: light-dark(#334155, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-size-comfortable: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-size-compact: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-size-dense: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-size-spacious: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-weight-comfortable: 400;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-weight-compact: 400;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-weight-dense: 400;
    --ids-comp-segmented-control-toggle-button-icon-typography-font-weight-spacious: 400;
    --ids-comp-segmented-control-toggle-button-icon-typography-line-height-comfortable: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-line-height-compact: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-line-height-dense: 16px;
    --ids-comp-segmented-control-toggle-button-icon-typography-line-height-spacious: 16px;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-light-active: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-light-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-light-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-light-focused: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-primary-active: light-dark(#d1ddff, #001861);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-primary-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-primary-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-primary-focused: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-surface-active: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-surface-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-surface-disabled: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-surface-focused: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-segmented-control-toggle-button-outlined-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-light-active: light-dark(#1e293b, #f1f5f9);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-light-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-border-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-light-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-light-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-light-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-primary-active: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-primary-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-border-primary-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-primary-focused: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-primary-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-primary-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-surface-active: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-surface-default: #ffffff00;
    --ids-comp-segmented-control-toggle-button-outlined-color-border-surface-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-surface-focused: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-surface-hovered: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-border-surface-pressed: light-dark(#cbd5e1, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-light-active: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-light-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-light-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-light-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-light-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-primary-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-primary-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-primary-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-primary-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-surface-active: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-surface-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-icon-surface-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-light-active: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-light-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-light-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-light-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-light-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-primary-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-primary-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-primary-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-primary-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-surface-active: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-surface-hovered: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-outlined-color-fg-label-surface-pressed: light-dark(#64748b, #64748b);
    --ids-comp-segmented-control-toggle-button-size-border-radius-comfortable: 1000px;
    --ids-comp-segmented-control-toggle-button-size-border-radius-compact: 1000px;
    --ids-comp-segmented-control-toggle-button-size-border-radius-dense: 1000px;
    --ids-comp-segmented-control-toggle-button-size-border-radius-spacious: 1000px;
    --ids-comp-segmented-control-toggle-button-size-border-width-comfortable: 1px;
    --ids-comp-segmented-control-toggle-button-size-border-width-compact: 1px;
    --ids-comp-segmented-control-toggle-button-size-border-width-dense: 1px;
    --ids-comp-segmented-control-toggle-button-size-border-width-spacious: 1px;
    --ids-comp-segmented-control-toggle-button-size-gap-comfortable: 8px;
    --ids-comp-segmented-control-toggle-button-size-gap-compact: 8px;
    --ids-comp-segmented-control-toggle-button-size-gap-dense: 4px;
    --ids-comp-segmented-control-toggle-button-size-gap-spacious: 8px;
    --ids-comp-segmented-control-toggle-button-size-icon-comfortable: 16px;
    --ids-comp-segmented-control-toggle-button-size-icon-compact: 16px;
    --ids-comp-segmented-control-toggle-button-size-icon-dense: 16px;
    --ids-comp-segmented-control-toggle-button-size-icon-spacious: 16px;
    --ids-comp-segmented-control-toggle-button-size-min-height-comfortable: 40px;
    --ids-comp-segmented-control-toggle-button-size-min-height-compact: 40px;
    --ids-comp-segmented-control-toggle-button-size-min-height-dense: 40px;
    --ids-comp-segmented-control-toggle-button-size-min-height-spacious: 40px;
    --ids-comp-segmented-control-toggle-button-size-padding-x-comfortable: 16px;
    --ids-comp-segmented-control-toggle-button-size-padding-x-compact: 16px;
    --ids-comp-segmented-control-toggle-button-size-padding-x-dense: 8px;
    --ids-comp-segmented-control-toggle-button-size-padding-x-spacious: 16px;
    --ids-comp-segmented-control-toggle-button-size-padding-y-comfortable: 8px;
    --ids-comp-segmented-control-toggle-button-size-padding-y-compact: 8px;
    --ids-comp-segmented-control-toggle-button-size-padding-y-dense: 4px;
    --ids-comp-segmented-control-toggle-button-size-padding-y-spacious: 8px;
    --ids-comp-segmented-control-toggle-button-typography-font-family-comfortable: Montserrat;
    --ids-comp-segmented-control-toggle-button-typography-font-family-compact: Montserrat;
    --ids-comp-segmented-control-toggle-button-typography-font-family-dense: Montserrat;
    --ids-comp-segmented-control-toggle-button-typography-font-family-spacious: Montserrat;
    --ids-comp-segmented-control-toggle-button-typography-font-size-comfortable: 16px;
    --ids-comp-segmented-control-toggle-button-typography-font-size-compact: 14px;
    --ids-comp-segmented-control-toggle-button-typography-font-size-dense: 12px;
    --ids-comp-segmented-control-toggle-button-typography-font-size-spacious: 16px;
    --ids-comp-segmented-control-toggle-button-typography-font-weight-comfortable: 600;
    --ids-comp-segmented-control-toggle-button-typography-font-weight-compact: 600;
    --ids-comp-segmented-control-toggle-button-typography-font-weight-dense: 600;
    --ids-comp-segmented-control-toggle-button-typography-font-weight-spacious: 600;
    --ids-comp-segmented-control-toggle-button-typography-letter-spacing-comfortable: 0em;
    --ids-comp-segmented-control-toggle-button-typography-letter-spacing-compact: 0em;
    --ids-comp-segmented-control-toggle-button-typography-letter-spacing-dense: 0em;
    --ids-comp-segmented-control-toggle-button-typography-letter-spacing-spacious: 0em;
    --ids-comp-segmented-control-toggle-button-typography-line-height-comfortable: 20px;
    --ids-comp-segmented-control-toggle-button-typography-line-height-compact: 20px;
    --ids-comp-segmented-control-toggle-button-typography-line-height-dense: 16px;
    --ids-comp-segmented-control-toggle-button-typography-line-height-spacious: 20px;
    --ids-comp-segmented-control-toggle-container-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-container-filled-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-segmented-control-toggle-container-outlined-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-container-outlined-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-segmented-control-toggle-container-size-border-radius-left-comfortable: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-left-compact: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-left-dense: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-left-spacious: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-right-comfortable: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-right-compact: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-right-dense: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-radius-right-spacious: 1000px;
    --ids-comp-segmented-control-toggle-container-size-border-width-comfortable: 1px;
    --ids-comp-segmented-control-toggle-container-size-border-width-compact: 1px;
    --ids-comp-segmented-control-toggle-container-size-border-width-dense: 1px;
    --ids-comp-segmented-control-toggle-container-size-border-width-spacious: 1px;
    --ids-comp-segmented-control-toggle-container-size-gap-comfortable: 12px;
    --ids-comp-segmented-control-toggle-container-size-gap-compact: 12px;
    --ids-comp-segmented-control-toggle-container-size-gap-dense: 12px;
    --ids-comp-segmented-control-toggle-container-size-gap-spacious: 12px;
    --ids-comp-segmented-control-toggle-container-size-padding-x-comfortable: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-x-compact: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-x-dense: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-x-spacious: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-y-comfortable: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-y-compact: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-y-dense: 4px;
    --ids-comp-segmented-control-toggle-container-size-padding-y-spacious: 4px;
    --ids-comp-segmented-control-toggle-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-segmented-control-toggle-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-left-comfortable: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-left-compact: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-left-dense: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-left-spacious: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-right-comfortable: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-right-compact: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-right-dense: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-border-radius-right-spacious: 1000px;
    --ids-comp-segmented-control-toggle-focused-outline-size-outline-width-comfortable: 3px;
    --ids-comp-segmented-control-toggle-focused-outline-size-outline-width-compact: 3px;
    --ids-comp-segmented-control-toggle-focused-outline-size-outline-width-dense: 3px;
    --ids-comp-segmented-control-toggle-focused-outline-size-outline-width-spacious: 3px
}