:root {
    --ids-comp-avatar-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-avatar-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-avatar-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-avatar-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-avatar-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-avatar-color-border-dark-default: #ffffff00;
    --ids-comp-avatar-color-border-light-default: #ffffff00;
    --ids-comp-avatar-color-border-primary-default: #ffffff00;
    --ids-comp-avatar-color-border-secondary-default: #ffffff00;
    --ids-comp-avatar-color-border-surface-default: #ffffff00;
    --ids-comp-avatar-color-fg-brand-default: light-dark(#ffffff, #000000);
    --ids-comp-avatar-color-fg-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-avatar-color-fg-light-default: light-dark(#475569, #94a3b8);
    --ids-comp-avatar-color-fg-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-avatar-color-fg-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-avatar-color-fg-surface-default: light-dark(#020617, #f8fafc);
    --ids-comp-avatar-icon-typography-bigcollection-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-bigcollection-font-family-compact: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-bigcollection-font-family-dense: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-bigcollection-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-bigcollection-font-size-comfortable: 32px;
    --ids-comp-avatar-icon-typography-bigcollection-font-size-compact: 32px;
    --ids-comp-avatar-icon-typography-bigcollection-font-size-dense: 24px;
    --ids-comp-avatar-icon-typography-bigcollection-font-size-spacious: 48px;
    --ids-comp-avatar-icon-typography-bigcollection-font-weight-comfortable: 400;
    --ids-comp-avatar-icon-typography-bigcollection-font-weight-compact: 400;
    --ids-comp-avatar-icon-typography-bigcollection-font-weight-dense: 400;
    --ids-comp-avatar-icon-typography-bigcollection-font-weight-spacious: 400;
    --ids-comp-avatar-icon-typography-bigcollection-line-height-comfortable: 32px;
    --ids-comp-avatar-icon-typography-bigcollection-line-height-compact: 36px;
    --ids-comp-avatar-icon-typography-bigcollection-line-height-dense: 24px;
    --ids-comp-avatar-icon-typography-bigcollection-line-height-spacious: 48px;
    --ids-comp-avatar-icon-typography-smallcollection-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-smallcollection-font-family-compact: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-smallcollection-font-family-dense: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-smallcollection-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-avatar-icon-typography-smallcollection-font-size-comfortable: 18px;
    --ids-comp-avatar-icon-typography-smallcollection-font-size-compact: 16px;
    --ids-comp-avatar-icon-typography-smallcollection-font-size-dense: 12px;
    --ids-comp-avatar-icon-typography-smallcollection-font-size-spacious: 24px;
    --ids-comp-avatar-icon-typography-smallcollection-font-weight-comfortable: 400;
    --ids-comp-avatar-icon-typography-smallcollection-font-weight-compact: 400;
    --ids-comp-avatar-icon-typography-smallcollection-font-weight-dense: 400;
    --ids-comp-avatar-icon-typography-smallcollection-font-weight-spacious: 400;
    --ids-comp-avatar-icon-typography-smallcollection-line-height-comfortable: 18px;
    --ids-comp-avatar-icon-typography-smallcollection-line-height-compact: 16px;
    --ids-comp-avatar-icon-typography-smallcollection-line-height-dense: 12px;
    --ids-comp-avatar-icon-typography-smallcollection-line-height-spacious: 24px;
    --ids-comp-avatar-initials-typography-bigcollection-font-family-comfortable: Montserrat;
    --ids-comp-avatar-initials-typography-bigcollection-font-family-compact: Montserrat;
    --ids-comp-avatar-initials-typography-bigcollection-font-family-dense: Montserrat;
    --ids-comp-avatar-initials-typography-bigcollection-font-family-spacious: Montserrat;
    --ids-comp-avatar-initials-typography-bigcollection-font-size-comfortable: 18px;
    --ids-comp-avatar-initials-typography-bigcollection-font-size-compact: 16px;
    --ids-comp-avatar-initials-typography-bigcollection-font-size-dense: 14px;
    --ids-comp-avatar-initials-typography-bigcollection-font-size-spacious: 24px;
    --ids-comp-avatar-initials-typography-bigcollection-font-weight-comfortable: 400;
    --ids-comp-avatar-initials-typography-bigcollection-font-weight-compact: 400;
    --ids-comp-avatar-initials-typography-bigcollection-font-weight-dense: 400;
    --ids-comp-avatar-initials-typography-bigcollection-font-weight-spacious: 400;
    --ids-comp-avatar-initials-typography-bigcollection-letter-spacing-comfortable: 0em;
    --ids-comp-avatar-initials-typography-bigcollection-letter-spacing-compact: 0em;
    --ids-comp-avatar-initials-typography-bigcollection-letter-spacing-dense: 0em;
    --ids-comp-avatar-initials-typography-bigcollection-letter-spacing-spacious: 0em;
    --ids-comp-avatar-initials-typography-bigcollection-line-height-comfortable: 20px;
    --ids-comp-avatar-initials-typography-bigcollection-line-height-compact: 16px;
    --ids-comp-avatar-initials-typography-bigcollection-line-height-dense: 14px;
    --ids-comp-avatar-initials-typography-bigcollection-line-height-spacious: 28px;
    --ids-comp-avatar-initials-typography-smallcollection-font-family-comfortable: Montserrat;
    --ids-comp-avatar-initials-typography-smallcollection-font-family-compact: Montserrat;
    --ids-comp-avatar-initials-typography-smallcollection-font-family-dense: Montserrat;
    --ids-comp-avatar-initials-typography-smallcollection-font-family-spacious: Montserrat;
    --ids-comp-avatar-initials-typography-smallcollection-font-size-comfortable: 10px;
    --ids-comp-avatar-initials-typography-smallcollection-font-size-compact: 8px;
    --ids-comp-avatar-initials-typography-smallcollection-font-size-dense: 8px;
    --ids-comp-avatar-initials-typography-smallcollection-font-size-spacious: 12px;
    --ids-comp-avatar-initials-typography-smallcollection-font-weight-comfortable: 400;
    --ids-comp-avatar-initials-typography-smallcollection-font-weight-compact: 400;
    --ids-comp-avatar-initials-typography-smallcollection-font-weight-dense: 400;
    --ids-comp-avatar-initials-typography-smallcollection-font-weight-spacious: 400;
    --ids-comp-avatar-initials-typography-smallcollection-letter-spacing-comfortable: 0em;
    --ids-comp-avatar-initials-typography-smallcollection-letter-spacing-compact: 0em;
    --ids-comp-avatar-initials-typography-smallcollection-letter-spacing-dense: 0em;
    --ids-comp-avatar-initials-typography-smallcollection-letter-spacing-spacious: 0em;
    --ids-comp-avatar-initials-typography-smallcollection-line-height-comfortable: 20px;
    --ids-comp-avatar-initials-typography-smallcollection-line-height-compact: 16px;
    --ids-comp-avatar-initials-typography-smallcollection-line-height-dense: 14px;
    --ids-comp-avatar-initials-typography-smallcollection-line-height-spacious: 28px;
    --ids-comp-avatar-size-bigcollection-border-comfortable: 1px;
    --ids-comp-avatar-size-bigcollection-border-compact: 1px;
    --ids-comp-avatar-size-bigcollection-border-dense: 1px;
    --ids-comp-avatar-size-bigcollection-border-radius-comfortable: 1000px;
    --ids-comp-avatar-size-bigcollection-border-radius-compact: 1000px;
    --ids-comp-avatar-size-bigcollection-border-radius-dense: 1000px;
    --ids-comp-avatar-size-bigcollection-border-radius-spacious: 1000px;
    --ids-comp-avatar-size-bigcollection-border-spacious: 1px;
    --ids-comp-avatar-size-bigcollection-height-comfortable: 52px;
    --ids-comp-avatar-size-bigcollection-height-compact: 48px;
    --ids-comp-avatar-size-bigcollection-height-dense: 40px;
    --ids-comp-avatar-size-bigcollection-height-spacious: 64px;
    --ids-comp-avatar-size-bigcollection-icon-comfortable: 44px;
    --ids-comp-avatar-size-bigcollection-icon-compact: 40px;
    --ids-comp-avatar-size-bigcollection-icon-dense: 32px;
    --ids-comp-avatar-size-bigcollection-icon-spacious: 56px;
    --ids-comp-avatar-size-bigcollection-padding-x-comfortable: 2px;
    --ids-comp-avatar-size-bigcollection-padding-x-compact: 2px;
    --ids-comp-avatar-size-bigcollection-padding-x-dense: 2px;
    --ids-comp-avatar-size-bigcollection-padding-x-spacious: 2px;
    --ids-comp-avatar-size-bigcollection-padding-y-comfortable: 2px;
    --ids-comp-avatar-size-bigcollection-padding-y-compact: 2px;
    --ids-comp-avatar-size-bigcollection-padding-y-dense: 2px;
    --ids-comp-avatar-size-bigcollection-padding-y-spacious: 2px;
    --ids-comp-avatar-size-bigcollection-width-comfortable: 52px;
    --ids-comp-avatar-size-bigcollection-width-compact: 48px;
    --ids-comp-avatar-size-bigcollection-width-dense: 40px;
    --ids-comp-avatar-size-bigcollection-width-spacious: 64px;
    --ids-comp-avatar-size-smallcollection-border-comfortable: 1px;
    --ids-comp-avatar-size-smallcollection-border-compact: 1px;
    --ids-comp-avatar-size-smallcollection-border-dense: 1px;
    --ids-comp-avatar-size-smallcollection-border-radius-comfortable: 1000px;
    --ids-comp-avatar-size-smallcollection-border-radius-compact: 1000px;
    --ids-comp-avatar-size-smallcollection-border-radius-dense: 1000px;
    --ids-comp-avatar-size-smallcollection-border-radius-spacious: 1000px;
    --ids-comp-avatar-size-smallcollection-border-spacious: 1px;
    --ids-comp-avatar-size-smallcollection-height-comfortable: 24px;
    --ids-comp-avatar-size-smallcollection-height-compact: 20px;
    --ids-comp-avatar-size-smallcollection-height-dense: 16px;
    --ids-comp-avatar-size-smallcollection-height-spacious: 32px;
    --ids-comp-avatar-size-smallcollection-icon-comfortable: 20px;
    --ids-comp-avatar-size-smallcollection-icon-compact: 16px;
    --ids-comp-avatar-size-smallcollection-icon-dense: 12px;
    --ids-comp-avatar-size-smallcollection-icon-spacious: 28px;
    --ids-comp-avatar-size-smallcollection-padding-x-comfortable: 2px;
    --ids-comp-avatar-size-smallcollection-padding-x-compact: 2px;
    --ids-comp-avatar-size-smallcollection-padding-x-dense: 2px;
    --ids-comp-avatar-size-smallcollection-padding-x-spacious: 2px;
    --ids-comp-avatar-size-smallcollection-padding-y-comfortable: 2px;
    --ids-comp-avatar-size-smallcollection-padding-y-compact: 2px;
    --ids-comp-avatar-size-smallcollection-padding-y-dense: 2px;
    --ids-comp-avatar-size-smallcollection-padding-y-spacious: 2px;
    --ids-comp-avatar-size-smallcollection-width-comfortable: 24px;
    --ids-comp-avatar-size-smallcollection-width-compact: 20px;
    --ids-comp-avatar-size-smallcollection-width-dense: 16px;
    --ids-comp-avatar-size-smallcollection-width-spacious: 32px
}