:root {
    --ids-comp-date-picker-calendar-button-selected-color-bg-surface-default: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-selected-color-bg-surface-disabled: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-selected-color-bg-surface-focused: light-dark(#003beb, #7598ff);
    --ids-comp-date-picker-calendar-button-selected-color-bg-surface-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-date-picker-calendar-button-selected-color-bg-surface-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-date-picker-calendar-button-selected-color-border-surface-default: #ffffff00;
    --ids-comp-date-picker-calendar-button-selected-color-border-surface-disabled: #ffffff00;
    --ids-comp-date-picker-calendar-button-selected-color-border-surface-focused: #ffffff00;
    --ids-comp-date-picker-calendar-button-selected-color-border-surface-hovered: #ffffff00;
    --ids-comp-date-picker-calendar-button-selected-color-border-surface-pressed: #ffffff00;
    --ids-comp-date-picker-calendar-button-selected-color-fg-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-date-picker-calendar-button-selected-color-fg-surface-disabled: light-dark(#ffffff, #000000);
    --ids-comp-date-picker-calendar-button-selected-color-fg-surface-focused: light-dark(#ffffff, #000000);
    --ids-comp-date-picker-calendar-button-selected-color-fg-surface-hovered: light-dark(#ffffff, #000000);
    --ids-comp-date-picker-calendar-button-selected-color-fg-surface-pressed: light-dark(#ffffff, #000000);
    --ids-comp-date-picker-calendar-button-size-border-radius-comfortable: 1000px;
    --ids-comp-date-picker-calendar-button-size-border-radius-compact: 1000px;
    --ids-comp-date-picker-calendar-button-size-border-radius-dense: 1000px;
    --ids-comp-date-picker-calendar-button-size-border-radius-spacious: 1000px;
    --ids-comp-date-picker-calendar-button-size-border-width-comfortable: 1px;
    --ids-comp-date-picker-calendar-button-size-border-width-compact: 1px;
    --ids-comp-date-picker-calendar-button-size-border-width-dense: 1px;
    --ids-comp-date-picker-calendar-button-size-border-width-spacious: 1px;
    --ids-comp-date-picker-calendar-button-size-height-comfortable: 44px;
    --ids-comp-date-picker-calendar-button-size-height-compact: 36px;
    --ids-comp-date-picker-calendar-button-size-height-dense: 24px;
    --ids-comp-date-picker-calendar-button-size-height-spacious: 56px;
    --ids-comp-date-picker-calendar-button-size-min-width-comfortable: 44px;
    --ids-comp-date-picker-calendar-button-size-min-width-compact: 36px;
    --ids-comp-date-picker-calendar-button-size-min-width-dense: 24px;
    --ids-comp-date-picker-calendar-button-size-min-width-spacious: 56px;
    --ids-comp-date-picker-calendar-button-size-padding-x-comfortable: 12px;
    --ids-comp-date-picker-calendar-button-size-padding-x-compact: 8px;
    --ids-comp-date-picker-calendar-button-size-padding-x-dense: 4px;
    --ids-comp-date-picker-calendar-button-size-padding-x-spacious: 16px;
    --ids-comp-date-picker-calendar-button-typography-font-family-comfortable: Montserrat;
    --ids-comp-date-picker-calendar-button-typography-font-family-compact: Montserrat;
    --ids-comp-date-picker-calendar-button-typography-font-family-dense: Montserrat;
    --ids-comp-date-picker-calendar-button-typography-font-family-spacious: Montserrat;
    --ids-comp-date-picker-calendar-button-typography-font-size-comfortable: 20px;
    --ids-comp-date-picker-calendar-button-typography-font-size-compact: 16px;
    --ids-comp-date-picker-calendar-button-typography-font-size-dense: 12px;
    --ids-comp-date-picker-calendar-button-typography-font-size-spacious: 24px;
    --ids-comp-date-picker-calendar-button-typography-font-weight-comfortable: 400;
    --ids-comp-date-picker-calendar-button-typography-font-weight-compact: 400;
    --ids-comp-date-picker-calendar-button-typography-font-weight-dense: 400;
    --ids-comp-date-picker-calendar-button-typography-font-weight-spacious: 400;
    --ids-comp-date-picker-calendar-button-typography-letter-spacing-comfortable: 0em;
    --ids-comp-date-picker-calendar-button-typography-letter-spacing-compact: 0em;
    --ids-comp-date-picker-calendar-button-typography-letter-spacing-dense: 0em;
    --ids-comp-date-picker-calendar-button-typography-letter-spacing-spacious: 0em;
    --ids-comp-date-picker-calendar-button-typography-line-height-comfortable: 20px;
    --ids-comp-date-picker-calendar-button-typography-line-height-compact: 16px;
    --ids-comp-date-picker-calendar-button-typography-line-height-dense: 12px;
    --ids-comp-date-picker-calendar-button-typography-line-height-spacious: 24px;
    --ids-comp-date-picker-calendar-button-unselected-color-bg-surface-default: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-bg-surface-disabled: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-date-picker-calendar-button-unselected-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-date-picker-calendar-button-unselected-color-bg-surface-pressed: light-dark(#648cb426, #ffffff26);
    --ids-comp-date-picker-calendar-button-unselected-color-border-surface-default: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-border-surface-disabled: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-border-surface-focused: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-border-surface-hovered: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-border-surface-pressed: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-date-picker-calendar-button-unselected-color-fg-surface-disabled: light-dark(#648cb480, #ffffff80);
    --ids-comp-date-picker-calendar-button-unselected-color-fg-surface-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-date-picker-calendar-button-unselected-color-fg-surface-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-date-picker-calendar-button-unselected-color-fg-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-bg-surface-default: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-bg-surface-disabled: #ffffff00;
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-bg-surface-focused: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-bg-surface-pressed: light-dark(#648cb426, #ffffff26);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-border-surface-default: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-border-surface-disabled: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-border-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-border-surface-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-border-surface-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-fg-surface-disabled: light-dark(#648cb480, #ffffff80);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-fg-surface-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-fg-surface-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-date-picker-calendar-button-unselected-current-date-color-fg-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-date-picker-calendar-cell-size-border-radius-comfortable: 1000px;
    --ids-comp-date-picker-calendar-cell-size-border-radius-compact: 1000px;
    --ids-comp-date-picker-calendar-cell-size-border-radius-dense: 1000px;
    --ids-comp-date-picker-calendar-cell-size-border-radius-spacious: 1000px;
    --ids-comp-date-picker-calendar-cell-size-border-width-comfortable: 1px;
    --ids-comp-date-picker-calendar-cell-size-border-width-compact: 1px;
    --ids-comp-date-picker-calendar-cell-size-border-width-dense: 1px;
    --ids-comp-date-picker-calendar-cell-size-border-width-spacious: 1px;
    --ids-comp-date-picker-calendar-cell-size-min-height-comfortable: 44px;
    --ids-comp-date-picker-calendar-cell-size-min-height-compact: 36px;
    --ids-comp-date-picker-calendar-cell-size-min-height-dense: 24px;
    --ids-comp-date-picker-calendar-cell-size-min-height-spacious: 56px;
    --ids-comp-date-picker-calendar-cell-size-min-width-comfortable: 44px;
    --ids-comp-date-picker-calendar-cell-size-min-width-compact: 36px;
    --ids-comp-date-picker-calendar-cell-size-min-width-dense: 24px;
    --ids-comp-date-picker-calendar-cell-size-min-width-spacious: 56px;
    --ids-comp-date-picker-calendar-cell-size-padding-x-comfortable: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-x-compact: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-x-dense: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-x-spacious: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-y-comfortable: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-y-compact: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-y-dense: 0px;
    --ids-comp-date-picker-calendar-cell-size-padding-y-spacious: 0px;
    --ids-comp-date-picker-calendar-days-color-bg-surface-default: #ffffff00;
    --ids-comp-date-picker-calendar-days-color-border-surface-default: #ffffff00;
    --ids-comp-date-picker-calendar-days-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-date-picker-calendar-days-typography-font-family-comfortable: Montserrat;
    --ids-comp-date-picker-calendar-days-typography-font-family-compact: Montserrat;
    --ids-comp-date-picker-calendar-days-typography-font-family-dense: Montserrat;
    --ids-comp-date-picker-calendar-days-typography-font-family-spacious: Montserrat;
    --ids-comp-date-picker-calendar-days-typography-font-size-comfortable: 20px;
    --ids-comp-date-picker-calendar-days-typography-font-size-compact: 16px;
    --ids-comp-date-picker-calendar-days-typography-font-size-dense: 12px;
    --ids-comp-date-picker-calendar-days-typography-font-size-spacious: 24px;
    --ids-comp-date-picker-calendar-days-typography-font-weight-comfortable: 600;
    --ids-comp-date-picker-calendar-days-typography-font-weight-compact: 600;
    --ids-comp-date-picker-calendar-days-typography-font-weight-dense: 600;
    --ids-comp-date-picker-calendar-days-typography-font-weight-spacious: 600;
    --ids-comp-date-picker-calendar-days-typography-letter-spacing-comfortable: 0em;
    --ids-comp-date-picker-calendar-days-typography-letter-spacing-compact: 0em;
    --ids-comp-date-picker-calendar-days-typography-letter-spacing-dense: 0em;
    --ids-comp-date-picker-calendar-days-typography-letter-spacing-spacious: 0em;
    --ids-comp-date-picker-calendar-days-typography-line-height-comfortable: 20px;
    --ids-comp-date-picker-calendar-days-typography-line-height-compact: 16px;
    --ids-comp-date-picker-calendar-days-typography-line-height-dense: 12px;
    --ids-comp-date-picker-calendar-days-typography-line-height-spacious: 24px;
    --ids-comp-date-picker-calendar-size-column-gap-comfortable: 2px;
    --ids-comp-date-picker-calendar-size-column-gap-compact: 2px;
    --ids-comp-date-picker-calendar-size-column-gap-dense: 2px;
    --ids-comp-date-picker-calendar-size-column-gap-spacious: 2px;
    --ids-comp-date-picker-calendar-size-padding-x-comfortable: 0px;
    --ids-comp-date-picker-calendar-size-padding-x-compact: 0px;
    --ids-comp-date-picker-calendar-size-padding-x-dense: 0px;
    --ids-comp-date-picker-calendar-size-padding-x-spacious: 0px;
    --ids-comp-date-picker-calendar-size-padding-y-comfortable: 0px;
    --ids-comp-date-picker-calendar-size-padding-y-compact: 0px;
    --ids-comp-date-picker-calendar-size-padding-y-dense: 0px;
    --ids-comp-date-picker-calendar-size-padding-y-spacious: 0px;
    --ids-comp-date-picker-calendar-size-row-gap-comfortable: 2px;
    --ids-comp-date-picker-calendar-size-row-gap-compact: 2px;
    --ids-comp-date-picker-calendar-size-row-gap-dense: 2px;
    --ids-comp-date-picker-calendar-size-row-gap-spacious: 2px;
    --ids-comp-date-picker-cell-selected-color-bg-surface-default: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-date-picker-cell-selected-color-border-surface-default: #ffffff00;
    --ids-comp-date-picker-cell-unselected-color-bg-surface-default: #ffffff00;
    --ids-comp-date-picker-cell-unselected-color-border-surface-default: #ffffff00;
    --ids-comp-date-picker-day-color-bg-surface-default: #ffffff00;
    --ids-comp-date-picker-day-color-border-surface-default: #ffffff00;
    --ids-comp-date-picker-day-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-date-picker-focused-outline-color-dark: light-dark(#003cff, #4775ff);
    --ids-comp-date-picker-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-date-picker-focused-outline-size-outline-compact: 3px;
    --ids-comp-date-picker-focused-outline-size-outline-dense: 3px;
    --ids-comp-date-picker-focused-outline-size-outline-spacious: 3px;
    --ids-comp-date-picker-size-gap-comfortable: 12px;
    --ids-comp-date-picker-size-gap-compact: 8px;
    --ids-comp-date-picker-size-gap-dense: 4px;
    --ids-comp-date-picker-size-gap-spacious: 16px;
    --ids-comp-date-picker-size-padding-x-comfortable: 12px;
    --ids-comp-date-picker-size-padding-x-compact: 8px;
    --ids-comp-date-picker-size-padding-x-dense: 4px;
    --ids-comp-date-picker-size-padding-x-spacious: 16px;
    --ids-comp-date-picker-size-padding-y-comfortable: 12px;
    --ids-comp-date-picker-size-padding-y-compact: 8px;
    --ids-comp-date-picker-size-padding-y-dense: 4px;
    --ids-comp-date-picker-size-padding-y-spacious: 16px
}