:root {
    --ids-comp-breadcrumb-current-page-bg-light-default: #ffffff00;
    --ids-comp-breadcrumb-current-page-bg-primary-default: #ffffff00;
    --ids-comp-breadcrumb-current-page-bg-surface-default: #ffffff00;
    --ids-comp-breadcrumb-current-page-fg-light-default: light-dark(#fffffff2, #fffffff2);
    --ids-comp-breadcrumb-current-page-fg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-current-page-fg-surface-default: light-dark(#334155, #cbd5e1);
    --ids-comp-breadcrumb-current-page-size-max-width-comfortable: 128px;
    --ids-comp-breadcrumb-current-page-size-max-width-compact: 112px;
    --ids-comp-breadcrumb-current-page-size-max-width-dense: 96px;
    --ids-comp-breadcrumb-current-page-size-max-width-spacious: 256px;
    --ids-comp-breadcrumb-current-page-size-padding-x-comfortable: 4px;
    --ids-comp-breadcrumb-current-page-size-padding-x-compact: 4px;
    --ids-comp-breadcrumb-current-page-size-padding-x-dense: 2px;
    --ids-comp-breadcrumb-current-page-size-padding-x-spacious: 8px;
    --ids-comp-breadcrumb-current-page-size-padding-y-comfortable: 4px;
    --ids-comp-breadcrumb-current-page-size-padding-y-compact: 4px;
    --ids-comp-breadcrumb-current-page-size-padding-y-dense: 2px;
    --ids-comp-breadcrumb-current-page-size-padding-y-spacious: 8px;
    --ids-comp-breadcrumb-current-page-typography-font-family-comfortable: Montserrat;
    --ids-comp-breadcrumb-current-page-typography-font-family-compact: Montserrat;
    --ids-comp-breadcrumb-current-page-typography-font-family-dense: Montserrat;
    --ids-comp-breadcrumb-current-page-typography-font-family-spacious: Montserrat;
    --ids-comp-breadcrumb-current-page-typography-font-size-comfortable: 16px;
    --ids-comp-breadcrumb-current-page-typography-font-size-compact: 14px;
    --ids-comp-breadcrumb-current-page-typography-font-size-dense: 12px;
    --ids-comp-breadcrumb-current-page-typography-font-size-spacious: 20px;
    --ids-comp-breadcrumb-current-page-typography-font-weight-comfortable: 600;
    --ids-comp-breadcrumb-current-page-typography-font-weight-compact: 600;
    --ids-comp-breadcrumb-current-page-typography-font-weight-dense: 600;
    --ids-comp-breadcrumb-current-page-typography-font-weight-spacious: 600;
    --ids-comp-breadcrumb-current-page-typography-letter-spacing-comfortable: 0em;
    --ids-comp-breadcrumb-current-page-typography-letter-spacing-compact: 0em;
    --ids-comp-breadcrumb-current-page-typography-letter-spacing-dense: 0em;
    --ids-comp-breadcrumb-current-page-typography-letter-spacing-spacious: 0em;
    --ids-comp-breadcrumb-current-page-typography-line-height-comfortable: 20px;
    --ids-comp-breadcrumb-current-page-typography-line-height-compact: 18px;
    --ids-comp-breadcrumb-current-page-typography-line-height-dense: 16px;
    --ids-comp-breadcrumb-current-page-typography-line-height-spacious: 24px;
    --ids-comp-breadcrumb-divider-foreslash-fg-light-default: light-dark(#fffffff2, #fffffff2);
    --ids-comp-breadcrumb-divider-foreslash-fg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-divider-foreslash-fg-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-breadcrumb-divider-foreslash-typography-font-family-comfortable: Montserrat;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-family-compact: Montserrat;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-family-dense: Montserrat;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-family-spacious: Montserrat;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-size-comfortable: 16px;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-size-compact: 14px;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-size-dense: 12px;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-size-spacious: 20px;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-weight-comfortable: 400;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-weight-compact: 400;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-weight-dense: 400;
    --ids-comp-breadcrumb-divider-foreslash-typography-font-weight-spacious: 400;
    --ids-comp-breadcrumb-divider-foreslash-typography-letter-spacing-comfortable: 0em;
    --ids-comp-breadcrumb-divider-foreslash-typography-letter-spacing-compact: 0em;
    --ids-comp-breadcrumb-divider-foreslash-typography-letter-spacing-dense: 0em;
    --ids-comp-breadcrumb-divider-foreslash-typography-letter-spacing-spacious: 0em;
    --ids-comp-breadcrumb-divider-foreslash-typography-line-height-comfortable: 20px;
    --ids-comp-breadcrumb-divider-foreslash-typography-line-height-compact: 18px;
    --ids-comp-breadcrumb-divider-foreslash-typography-line-height-dense: 16px;
    --ids-comp-breadcrumb-divider-foreslash-typography-line-height-spacious: 24px;
    --ids-comp-breadcrumb-divider-size-border-radius-comfortable: 4px;
    --ids-comp-breadcrumb-divider-size-border-radius-compact: 4px;
    --ids-comp-breadcrumb-divider-size-border-radius-dense: 4px;
    --ids-comp-breadcrumb-divider-size-border-radius-spacious: 4px;
    --ids-comp-breadcrumb-divider-size-padding-x-comfortable: 4px;
    --ids-comp-breadcrumb-divider-size-padding-x-compact: 4px;
    --ids-comp-breadcrumb-divider-size-padding-x-dense: 2px;
    --ids-comp-breadcrumb-divider-size-padding-x-spacious: 8px;
    --ids-comp-breadcrumb-divider-size-padding-y-comfortable: 4px;
    --ids-comp-breadcrumb-divider-size-padding-y-compact: 4px;
    --ids-comp-breadcrumb-divider-size-padding-y-dense: 2px;
    --ids-comp-breadcrumb-divider-size-padding-y-spacious: 8px;
    --ids-comp-breadcrumb-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-focused-outline-color-dark-focused-comfortable: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-focused-outline-color-dark-focused-compact: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-focused-outline-color-dark-focused-dense: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-focused-outline-color-dark-focused-spacious: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-breadcrumb-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-breadcrumb-focused-outline-size-outline-compact: 3px;
    --ids-comp-breadcrumb-focused-outline-size-outline-dense: 3px;
    --ids-comp-breadcrumb-focused-outline-size-outline-spacious: 3px;
    --ids-comp-breadcrumb-navigation-link-bg-light-default: #ffffff00;
    --ids-comp-breadcrumb-navigation-link-bg-light-disabled: #ffffff00;
    --ids-comp-breadcrumb-navigation-link-bg-light-focused: light-dark(#648cb433, #ffffff33);
    --ids-comp-breadcrumb-navigation-link-bg-light-hovered: light-dark(#648cb433, #ffffff33);
    --ids-comp-breadcrumb-navigation-link-bg-light-pressed: light-dark(#648cb44d, #ffffff4d);
    --ids-comp-breadcrumb-navigation-link-bg-primary-default: #ffffff00;
    --ids-comp-breadcrumb-navigation-link-bg-primary-disabled: #ffffff00;
    --ids-comp-breadcrumb-navigation-link-bg-primary-focused: light-dark(#648cb433, #ffffff33);
    --ids-comp-breadcrumb-navigation-link-bg-primary-hovered: light-dark(#648cb433, #ffffff33);
    --ids-comp-breadcrumb-navigation-link-bg-primary-pressed: light-dark(#648cb44d, #ffffff4d);
    --ids-comp-breadcrumb-navigation-link-bg-surface-default: #ffffff00;
    --ids-comp-breadcrumb-navigation-link-bg-surface-disabled: #ffffff00;
    --ids-comp-breadcrumb-navigation-link-bg-surface-focused: light-dark(#648cb433, #ffffff33);
    --ids-comp-breadcrumb-navigation-link-bg-surface-hovered: light-dark(#648cb433, #ffffff33);
    --ids-comp-breadcrumb-navigation-link-bg-surface-pressed: light-dark(#648cb44d, #ffffff4d);
    --ids-comp-breadcrumb-navigation-link-fg-light-default: light-dark(#ffffffcc, #ffffffcc);
    --ids-comp-breadcrumb-navigation-link-fg-light-disabled: light-dark(#ffffff4d, #ffffff4d);
    --ids-comp-breadcrumb-navigation-link-fg-light-focused: light-dark(#fffffff2, #fffffff2);
    --ids-comp-breadcrumb-navigation-link-fg-light-hovered: light-dark(#fffffff2, #fffffff2);
    --ids-comp-breadcrumb-navigation-link-fg-light-pressed: light-dark(#ffffff99, #ffffff99);
    --ids-comp-breadcrumb-navigation-link-fg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-breadcrumb-navigation-link-fg-primary-disabled: light-dark(#648cb440, #ffffff40);
    --ids-comp-breadcrumb-navigation-link-fg-primary-focused: light-dark(#002fbd, #a3baff);
    --ids-comp-breadcrumb-navigation-link-fg-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-breadcrumb-navigation-link-fg-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-breadcrumb-navigation-link-fg-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-breadcrumb-navigation-link-fg-surface-disabled: light-dark(#648cb440, #ffffff40);
    --ids-comp-breadcrumb-navigation-link-fg-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-breadcrumb-navigation-link-fg-surface-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-breadcrumb-navigation-link-fg-surface-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-breadcrumb-navigation-link-size-border-radius-comfortable: 4px;
    --ids-comp-breadcrumb-navigation-link-size-border-radius-compact: 4px;
    --ids-comp-breadcrumb-navigation-link-size-border-radius-dense: 4px;
    --ids-comp-breadcrumb-navigation-link-size-border-radius-spacious: 4px;
    --ids-comp-breadcrumb-navigation-link-size-max-width-comfortable: 128px;
    --ids-comp-breadcrumb-navigation-link-size-max-width-compact: 112px;
    --ids-comp-breadcrumb-navigation-link-size-max-width-dense: 96px;
    --ids-comp-breadcrumb-navigation-link-size-max-width-spacious: 256px;
    --ids-comp-breadcrumb-navigation-link-size-padding-x-comfortable: 4px;
    --ids-comp-breadcrumb-navigation-link-size-padding-x-compact: 4px;
    --ids-comp-breadcrumb-navigation-link-size-padding-x-dense: 2px;
    --ids-comp-breadcrumb-navigation-link-size-padding-x-spacious: 8px;
    --ids-comp-breadcrumb-navigation-link-size-padding-y-comfortable: 4px;
    --ids-comp-breadcrumb-navigation-link-size-padding-y-compact: 4px;
    --ids-comp-breadcrumb-navigation-link-size-padding-y-dense: 2px;
    --ids-comp-breadcrumb-navigation-link-size-padding-y-spacious: 8px;
    --ids-comp-breadcrumb-navigation-link-typography-font-family-comfortable: Montserrat;
    --ids-comp-breadcrumb-navigation-link-typography-font-family-compact: Montserrat;
    --ids-comp-breadcrumb-navigation-link-typography-font-family-dense: Montserrat;
    --ids-comp-breadcrumb-navigation-link-typography-font-family-spacious: Montserrat;
    --ids-comp-breadcrumb-navigation-link-typography-font-size-comfortable: 16px;
    --ids-comp-breadcrumb-navigation-link-typography-font-size-compact: 14px;
    --ids-comp-breadcrumb-navigation-link-typography-font-size-dense: 12px;
    --ids-comp-breadcrumb-navigation-link-typography-font-size-spacious: 20px;
    --ids-comp-breadcrumb-navigation-link-typography-font-weight-comfortable: 400;
    --ids-comp-breadcrumb-navigation-link-typography-font-weight-compact: 400;
    --ids-comp-breadcrumb-navigation-link-typography-font-weight-dense: 400;
    --ids-comp-breadcrumb-navigation-link-typography-font-weight-spacious: 400;
    --ids-comp-breadcrumb-navigation-link-typography-letter-spacing-comfortable: 0em;
    --ids-comp-breadcrumb-navigation-link-typography-letter-spacing-compact: 0em;
    --ids-comp-breadcrumb-navigation-link-typography-letter-spacing-dense: 0em;
    --ids-comp-breadcrumb-navigation-link-typography-letter-spacing-spacious: 0em;
    --ids-comp-breadcrumb-navigation-link-typography-line-height-comfortable: 20px;
    --ids-comp-breadcrumb-navigation-link-typography-line-height-compact: 18px;
    --ids-comp-breadcrumb-navigation-link-typography-line-height-dense: 16px;
    --ids-comp-breadcrumb-navigation-link-typography-line-height-spacious: 24px;
    --ids-comp-breadcrumb-size-gap-comfortable: 4px;
    --ids-comp-breadcrumb-size-gap-compact: 4px;
    --ids-comp-breadcrumb-size-gap-dense: 2px;
    --ids-comp-breadcrumb-size-gap-spacious: 8px
}