:root {
    --ids-comp-switch-container-size-gap-comfortable: 8px;
    --ids-comp-switch-container-size-gap-compact: 8px;
    --ids-comp-switch-container-size-gap-dense: 8px;
    --ids-comp-switch-container-size-gap-spacious: 8px;
    --ids-comp-switch-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-switch-focused-outline-color-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-switch-focused-outline-color-surface-focused: light-dark(#003cff, #4775ff);
    --ids-comp-switch-focused-outline-outline-comfortable: 3px;
    --ids-comp-switch-focused-outline-outline-compact: 3px;
    --ids-comp-switch-focused-outline-outline-dense: 3px;
    --ids-comp-switch-focused-outline-outline-spacious: 3px;
    --ids-comp-switch-group-container-size-gap-comfortable: 24px;
    --ids-comp-switch-group-container-size-gap-compact: 24px;
    --ids-comp-switch-group-container-size-gap-dense: 24px;
    --ids-comp-switch-group-container-size-gap-spacious: 24px;
    --ids-comp-switch-group-container-size-padding-x-comfortable: 0px;
    --ids-comp-switch-group-container-size-padding-x-compact: 0px;
    --ids-comp-switch-group-container-size-padding-x-dense: 0px;
    --ids-comp-switch-group-container-size-padding-x-spacious: 0px;
    --ids-comp-switch-group-container-size-padding-y-comfortable: 0px;
    --ids-comp-switch-group-container-size-padding-y-compact: 0px;
    --ids-comp-switch-group-container-size-padding-y-dense: 0px;
    --ids-comp-switch-group-container-size-padding-y-spacious: 0px;
    --ids-comp-switch-handle-off-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-off-color-bg-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-off-color-bg-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-off-color-bg-primary-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-switch-handle-off-color-bg-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-off-color-bg-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-switch-handle-off-color-fg-icon-light-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-handle-off-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-off-color-fg-icon-primary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-handle-off-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-handle-off-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-handle-off-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-handle-on-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-on-color-bg-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-bg-primary-default: light-dark(#f8fafc, #020617);
    --ids-comp-switch-handle-on-color-bg-primary-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-bg-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-on-color-bg-surface-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-fg-icon-light-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-handle-on-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-fg-icon-primary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-handle-on-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-handle-on-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-handle-on-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-handle-size-border-radius-comfortable: 1000px;
    --ids-comp-switch-handle-size-border-radius-compact: 1000px;
    --ids-comp-switch-handle-size-border-radius-dense: 1000px;
    --ids-comp-switch-handle-size-border-radius-spacious: 1000px;
    --ids-comp-switch-handle-size-height-comfortable: 40px;
    --ids-comp-switch-handle-size-height-compact: 32px;
    --ids-comp-switch-handle-size-height-dense: 24px;
    --ids-comp-switch-handle-size-height-spacious: 56px;
    --ids-comp-switch-handle-size-width-comfortable: 40px;
    --ids-comp-switch-handle-size-width-compact: 32px;
    --ids-comp-switch-handle-size-width-dense: 24px;
    --ids-comp-switch-handle-size-width-spacious: 56px;
    --ids-comp-switch-icon-size-height-comfortable: 32px;
    --ids-comp-switch-icon-size-height-compact: 20px;
    --ids-comp-switch-icon-size-height-dense: 16px;
    --ids-comp-switch-icon-size-height-spacious: 44px;
    --ids-comp-switch-icon-size-width-comfortable: 32px;
    --ids-comp-switch-icon-size-width-compact: 20px;
    --ids-comp-switch-icon-size-width-dense: 16px;
    --ids-comp-switch-icon-size-width-spacious: 44px;
    --ids-comp-switch-icon-typography-font-family-comfortable: "Material Icons";
    --ids-comp-switch-icon-typography-font-family-compact: "Material Icons";
    --ids-comp-switch-icon-typography-font-family-dense: "Material Icons";
    --ids-comp-switch-icon-typography-font-family-spacious: "Material Icons";
    --ids-comp-switch-icon-typography-font-size-comfortable: 32px;
    --ids-comp-switch-icon-typography-font-size-compact: 20px;
    --ids-comp-switch-icon-typography-font-size-dense: 16px;
    --ids-comp-switch-icon-typography-font-size-spacious: 20px;
    --ids-comp-switch-icon-typography-font-weight-comfortable: 400;
    --ids-comp-switch-icon-typography-font-weight-compact: 400;
    --ids-comp-switch-icon-typography-font-weight-dense: 400;
    --ids-comp-switch-icon-typography-font-weight-spacious: 400;
    --ids-comp-switch-icon-typography-line-height-comfortable: 32px;
    --ids-comp-switch-icon-typography-line-height-compact: 20px;
    --ids-comp-switch-icon-typography-line-height-dense: 16px;
    --ids-comp-switch-icon-typography-line-height-spacious: 20px;
    --ids-comp-switch-label-color-fg-light-default: light-dark(#f8fafc, #020617);
    --ids-comp-switch-label-color-fg-light-disabled: light-dark(#ffffff80, #ffffff80);
    --ids-comp-switch-label-color-fg-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-switch-label-color-fg-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-switch-label-color-fg-light-pressed: light-dark(#f8fafc, #020617);
    --ids-comp-switch-label-color-fg-primary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-label-color-fg-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-label-color-fg-primary-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-switch-label-color-fg-primary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-switch-label-color-fg-primary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-switch-label-color-fg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-label-color-fg-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-label-color-fg-surface-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-switch-label-color-fg-surface-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-switch-label-color-fg-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-switch-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-switch-label-typography-font-family-compact: Montserrat;
    --ids-comp-switch-label-typography-font-family-dense: Montserrat;
    --ids-comp-switch-label-typography-font-family-spacious: Montserrat;
    --ids-comp-switch-label-typography-font-size-comfortable: 18px;
    --ids-comp-switch-label-typography-font-size-compact: 16px;
    --ids-comp-switch-label-typography-font-size-dense: 14px;
    --ids-comp-switch-label-typography-font-size-spacious: 24px;
    --ids-comp-switch-label-typography-font-weight-comfortable: 400;
    --ids-comp-switch-label-typography-font-weight-compact: 400;
    --ids-comp-switch-label-typography-font-weight-dense: 400;
    --ids-comp-switch-label-typography-font-weight-spacious: 400;
    --ids-comp-switch-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-switch-label-typography-letter-spacing-compact: 0em;
    --ids-comp-switch-label-typography-letter-spacing-dense: 0em;
    --ids-comp-switch-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-switch-label-typography-line-height-comfortable: 24px;
    --ids-comp-switch-label-typography-line-height-compact: 20px;
    --ids-comp-switch-label-typography-line-height-dense: 16px;
    --ids-comp-switch-label-typography-line-height-spacious: 32px;
    --ids-comp-switch-track-off-color-bg-light-default: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-bg-light-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-switch-track-off-color-bg-light-focused: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-off-color-bg-light-hovered: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-off-color-bg-light-pressed: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-off-color-bg-primary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-switch-track-off-color-bg-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-switch-track-off-color-bg-primary-focused: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-bg-primary-hovered: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-bg-primary-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-bg-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-switch-track-off-color-bg-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-switch-track-off-color-bg-surface-focused: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-bg-surface-hovered: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-bg-surface-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-switch-track-off-color-fg-icon-light-default: light-dark(#475569, #cbd5e1);
    --ids-comp-switch-track-off-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-track-off-color-fg-icon-primary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-track-off-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-off-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-switch-track-off-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-on-color-bg-light-default: light-dark(#22c55e, #4ade80);
    --ids-comp-switch-track-on-color-bg-light-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-switch-track-on-color-bg-light-focused: light-dark(#15803d, #bbf7d0);
    --ids-comp-switch-track-on-color-bg-light-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-switch-track-on-color-bg-light-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-switch-track-on-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-switch-track-on-color-bg-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-switch-track-on-color-bg-primary-focused: light-dark(#002fbd, #a3baff);
    --ids-comp-switch-track-on-color-bg-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-switch-track-on-color-bg-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-switch-track-on-color-bg-surface-default: light-dark(#22c55e, #4ade80);
    --ids-comp-switch-track-on-color-bg-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-switch-track-on-color-bg-surface-focused: light-dark(#15803d, #bbf7d0);
    --ids-comp-switch-track-on-color-bg-surface-hovered: light-dark(#15803d, #bbf7d0);
    --ids-comp-switch-track-on-color-bg-surface-pressed: light-dark(#166534, #dcfce7);
    --ids-comp-switch-track-on-color-fg-icon-light-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-track-on-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-on-color-fg-icon-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-track-on-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-on-color-fg-icon-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-track-on-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-switch-track-size-border-radius-comfortable: 1000px;
    --ids-comp-switch-track-size-border-radius-compact: 1000px;
    --ids-comp-switch-track-size-border-radius-dense: 1000px;
    --ids-comp-switch-track-size-border-radius-spacious: 1000px;
    --ids-comp-switch-track-size-padding-x-comfortable: 2px;
    --ids-comp-switch-track-size-padding-x-compact: 2px;
    --ids-comp-switch-track-size-padding-x-dense: 2px;
    --ids-comp-switch-track-size-padding-x-spacious: 4px;
    --ids-comp-switch-track-size-padding-y-comfortable: 2px;
    --ids-comp-switch-track-size-padding-y-compact: 2px;
    --ids-comp-switch-track-size-padding-y-dense: 2px;
    --ids-comp-switch-track-size-padding-y-spacious: 4px;
    --ids-comp-switch-track-size-width-comfortable: 80px;
    --ids-comp-switch-track-size-width-compact: 64px;
    --ids-comp-switch-track-size-width-dense: 52px;
    --ids-comp-switch-track-size-width-spacious: 112px
}