:root {
    --ids-comp-message-color-fg-icon-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-message-color-fg-icon-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-message-color-fg-icon-dark-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-message-color-fg-icon-dark-success-default: light-dark(#15803d, #bbf7d0);
    --ids-comp-message-color-fg-icon-light-default: light-dark(#f8fafc, #020617);
    --ids-comp-message-color-fg-icon-light-disabled: light-dark(#ffffff80, #ffffff80);
    --ids-comp-message-color-fg-icon-light-error-default: light-dark(#f87171, #dc2626);
    --ids-comp-message-color-fg-icon-light-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-message-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-message-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-message-color-fg-icon-surface-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-message-color-fg-icon-surface-success-default: light-dark(#15803d, #bbf7d0);
    --ids-comp-message-color-fg-text-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-message-color-fg-text-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-message-color-fg-text-dark-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-message-color-fg-text-dark-success-default: light-dark(#15803d, #bbf7d0);
    --ids-comp-message-color-fg-text-light-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-message-color-fg-text-light-disabled: light-dark(#ffffff80, #ffffff80);
    --ids-comp-message-color-fg-text-light-error-default: light-dark(#f87171, #dc2626);
    --ids-comp-message-color-fg-text-light-success-default: light-dark(#22c55e, #4ade80);
    --ids-comp-message-color-fg-text-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-message-color-fg-text-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-message-color-fg-text-surface-error-default: light-dark(#dc2626, #fca5a5);
    --ids-comp-message-color-fg-text-surface-success-default: light-dark(#15803d, #bbf7d0);
    --ids-comp-message-icon-typography-font-family-comfortable: "Material Icons";
    --ids-comp-message-icon-typography-font-family-compact: "Material Icons";
    --ids-comp-message-icon-typography-font-family-dense: "Material Icons";
    --ids-comp-message-icon-typography-font-family-spacious: "Material Icons";
    --ids-comp-message-icon-typography-font-size-comfortable: 12px;
    --ids-comp-message-icon-typography-font-size-compact: 12px;
    --ids-comp-message-icon-typography-font-size-dense: 12px;
    --ids-comp-message-icon-typography-font-size-spacious: 12px;
    --ids-comp-message-icon-typography-font-weight-comfortable: 400;
    --ids-comp-message-icon-typography-font-weight-compact: 400;
    --ids-comp-message-icon-typography-font-weight-dense: 400;
    --ids-comp-message-icon-typography-font-weight-spacious: 400;
    --ids-comp-message-icon-typography-line-height-comfortable: 12px;
    --ids-comp-message-icon-typography-line-height-compact: 12px;
    --ids-comp-message-icon-typography-line-height-dense: 12px;
    --ids-comp-message-icon-typography-line-height-spacious: 12px;
    --ids-comp-message-size-gap-comfortable: 4px;
    --ids-comp-message-size-gap-compact: 4px;
    --ids-comp-message-size-gap-dense: 4px;
    --ids-comp-message-size-gap-spacious: 4px;
    --ids-comp-message-size-icon-height-comfortable: 12px;
    --ids-comp-message-size-icon-height-compact: 12px;
    --ids-comp-message-size-icon-height-dense: 12px;
    --ids-comp-message-size-icon-height-spacious: 12px;
    --ids-comp-message-size-icon-width-comfortable: 12px;
    --ids-comp-message-size-icon-width-compact: 12px;
    --ids-comp-message-size-icon-width-dense: 12px;
    --ids-comp-message-size-icon-width-spacious: 12px;
    --ids-comp-message-size-padding-x-comfortable: 0px;
    --ids-comp-message-size-padding-x-compact: 0px;
    --ids-comp-message-size-padding-x-dense: 0px;
    --ids-comp-message-size-padding-x-spacious: 0px;
    --ids-comp-message-size-padding-y-comfortable: 4px;
    --ids-comp-message-size-padding-y-compact: 4px;
    --ids-comp-message-size-padding-y-dense: 4px;
    --ids-comp-message-size-padding-y-spacious: 4px;
    --ids-comp-message-typography-font-family-comfortable: Montserrat;
    --ids-comp-message-typography-font-family-compact: Montserrat;
    --ids-comp-message-typography-font-family-dense: Montserrat;
    --ids-comp-message-typography-font-family-spacious: Montserrat;
    --ids-comp-message-typography-font-size-comfortable: 12px;
    --ids-comp-message-typography-font-size-compact: 12px;
    --ids-comp-message-typography-font-size-dense: 12px;
    --ids-comp-message-typography-font-size-spacious: 12px;
    --ids-comp-message-typography-font-weight-comfortable: 400;
    --ids-comp-message-typography-font-weight-compact: 400;
    --ids-comp-message-typography-font-weight-dense: 400;
    --ids-comp-message-typography-font-weight-spacious: 400;
    --ids-comp-message-typography-letter-spacing-comfortable: 0em;
    --ids-comp-message-typography-letter-spacing-compact: 0em;
    --ids-comp-message-typography-letter-spacing-dense: 0em;
    --ids-comp-message-typography-letter-spacing-spacious: 0em;
    --ids-comp-message-typography-line-height-comfortable: 12px;
    --ids-comp-message-typography-line-height-compact: 12px;
    --ids-comp-message-typography-line-height-dense: 12px;
    --ids-comp-message-typography-line-height-spacious: 12px
}