:root {
    --ids-comp-tab-container-color-bg-default: #ffffff00;
    --ids-comp-tab-container-size-gap-comfortable: 32px;
    --ids-comp-tab-container-size-gap-compact: 32px;
    --ids-comp-tab-container-size-gap-dense: 32px;
    --ids-comp-tab-container-size-gap-spacious: 32px;
    --ids-comp-tab-container-size-padding-x-comfortable: 0px;
    --ids-comp-tab-container-size-padding-x-compact: 0px;
    --ids-comp-tab-container-size-padding-x-dense: 0px;
    --ids-comp-tab-container-size-padding-x-spacious: 0px;
    --ids-comp-tab-container-size-padding-y-comfortable: 0px;
    --ids-comp-tab-container-size-padding-y-compact: 0px;
    --ids-comp-tab-container-size-padding-y-dense: 0px;
    --ids-comp-tab-container-size-padding-y-spacious: 0px;
    --ids-comp-tab-item-active-indicator-size-border-radius-comfortable: 1000px;
    --ids-comp-tab-item-active-indicator-size-border-radius-compact: 1000px;
    --ids-comp-tab-item-active-indicator-size-border-radius-dense: 1000px;
    --ids-comp-tab-item-active-indicator-size-border-radius-spacious: 1000px;
    --ids-comp-tab-item-active-indicator-size-height-comfortable: 2px;
    --ids-comp-tab-item-active-indicator-size-height-compact: 2px;
    --ids-comp-tab-item-active-indicator-size-height-dense: 2px;
    --ids-comp-tab-item-active-indicator-size-height-spacious: 2px;
    --ids-comp-tab-item-active-indicator-size-width-comfortable: 2px;
    --ids-comp-tab-item-active-indicator-size-width-compact: 2px;
    --ids-comp-tab-item-active-indicator-size-width-dense: 2px;
    --ids-comp-tab-item-active-indicator-size-width-spacious: 2px;
    --ids-comp-tab-item-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-tab-item-focused-outline-size-outline-compact: 3px;
    --ids-comp-tab-item-focused-outline-size-outline-dense: 3px;
    --ids-comp-tab-item-focused-outline-size-outline-spacious: 3px;
    --ids-comp-tab-item-icon-size-height-comfortable: 20px;
    --ids-comp-tab-item-icon-size-height-compact: 16px;
    --ids-comp-tab-item-icon-size-height-dense: 12px;
    --ids-comp-tab-item-icon-size-height-spacious: 24px;
    --ids-comp-tab-item-icon-size-width-comfortable: 20px;
    --ids-comp-tab-item-icon-size-width-compact: 16px;
    --ids-comp-tab-item-icon-size-width-dense: 12px;
    --ids-comp-tab-item-icon-size-width-spacious: 24px;
    --ids-comp-tab-item-icon-typography-font-family-comfortable: I-DS-font-icon-material;
    --ids-comp-tab-item-icon-typography-font-family-compact: I-DS-font-icon-material;
    --ids-comp-tab-item-icon-typography-font-family-dense: I-DS-font-icon-material;
    --ids-comp-tab-item-icon-typography-font-family-spacious: I-DS-font-icon-material;
    --ids-comp-tab-item-icon-typography-font-size-comfortable: 20px;
    --ids-comp-tab-item-icon-typography-font-size-compact: 16px;
    --ids-comp-tab-item-icon-typography-font-size-dense: 12px;
    --ids-comp-tab-item-icon-typography-font-size-spacious: 24px;
    --ids-comp-tab-item-icon-typography-font-weight-comfortable: 400;
    --ids-comp-tab-item-icon-typography-font-weight-compact: 400;
    --ids-comp-tab-item-icon-typography-font-weight-dense: 400;
    --ids-comp-tab-item-icon-typography-font-weight-spacious: 400;
    --ids-comp-tab-item-icon-typography-line-height-comfortable: 20px;
    --ids-comp-tab-item-icon-typography-line-height-compact: 16px;
    --ids-comp-tab-item-icon-typography-line-height-dense: 12px;
    --ids-comp-tab-item-icon-typography-line-height-spacious: 24px;
    --ids-comp-tab-item-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-tab-item-label-typography-font-family-compact: Montserrat;
    --ids-comp-tab-item-label-typography-font-family-dense: Montserrat;
    --ids-comp-tab-item-label-typography-font-family-spacious: Montserrat;
    --ids-comp-tab-item-label-typography-font-size-comfortable: 20px;
    --ids-comp-tab-item-label-typography-font-size-compact: 16px;
    --ids-comp-tab-item-label-typography-font-size-dense: 12px;
    --ids-comp-tab-item-label-typography-font-size-spacious: 24px;
    --ids-comp-tab-item-label-typography-font-weight-comfortable: 600;
    --ids-comp-tab-item-label-typography-font-weight-compact: 600;
    --ids-comp-tab-item-label-typography-font-weight-dense: 600;
    --ids-comp-tab-item-label-typography-font-weight-spacious: 600;
    --ids-comp-tab-item-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-tab-item-label-typography-letter-spacing-compact: 0em;
    --ids-comp-tab-item-label-typography-letter-spacing-dense: 0em;
    --ids-comp-tab-item-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-tab-item-label-typography-line-height-comfortable: 24px;
    --ids-comp-tab-item-label-typography-line-height-compact: 20px;
    --ids-comp-tab-item-label-typography-line-height-dense: 16px;
    --ids-comp-tab-item-label-typography-line-height-spacious: 28px;
    --ids-comp-tab-item-size-border-radius-comfortable: 4px;
    --ids-comp-tab-item-size-border-radius-compact: 4px;
    --ids-comp-tab-item-size-border-radius-dense: 4px;
    --ids-comp-tab-item-size-border-radius-spacious: 4px;
    --ids-comp-tab-item-size-border-width-comfortable: 1px;
    --ids-comp-tab-item-size-border-width-compact: 1px;
    --ids-comp-tab-item-size-border-width-dense: 1px;
    --ids-comp-tab-item-size-border-width-spacious: 1px;
    --ids-comp-tab-item-size-gap-comfortable: 12px;
    --ids-comp-tab-item-size-gap-compact: 8px;
    --ids-comp-tab-item-size-gap-dense: 4px;
    --ids-comp-tab-item-size-gap-spacious: 16px;
    --ids-comp-tab-item-size-padding-x-comfortable: 12px;
    --ids-comp-tab-item-size-padding-x-compact: 12px;
    --ids-comp-tab-item-size-padding-x-dense: 4px;
    --ids-comp-tab-item-size-padding-x-spacious: 16px;
    --ids-comp-tab-item-size-padding-y-comfortable: 12px;
    --ids-comp-tab-item-size-padding-y-compact: 8px;
    --ids-comp-tab-item-size-padding-y-dense: 4px;
    --ids-comp-tab-item-size-padding-y-spacious: 16px;
    --ids-comp-tab-item-standard-active-indicator-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-active-indicator-bg-light-disabled: light-dark(#ffffff33, #ffffff33);
    --ids-comp-tab-item-standard-active-indicator-bg-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-active-indicator-bg-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-active-indicator-bg-light-pressed: light-dark(#ffffff, #ffffff);
    --ids-comp-tab-item-standard-active-indicator-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-active-indicator-bg-primary-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-active-indicator-bg-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-active-indicator-bg-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-active-indicator-bg-primary-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-active-indicator-bg-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-tab-item-standard-active-indicator-bg-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-active-indicator-bg-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-tab-item-standard-active-indicator-bg-surface-hovered: light-dark(#64748b, #94a3b8);
    --ids-comp-tab-item-standard-active-indicator-bg-surface-pressed: light-dark(#64748b, #94a3b8);
    --ids-comp-tab-item-standard-focused-outline-color-dark-default: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-focused-outline-color-light-default: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-selected-bg-light-default: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-light-disabled: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-light-focused: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-light-hovered: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-light-pressed: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-primary-default: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-primary-disabled: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-primary-focused: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-selected-bg-primary-hovered: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-selected-bg-primary-pressed: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-tab-item-standard-selected-bg-surface-default: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-surface-disabled: #ffffff00;
    --ids-comp-tab-item-standard-selected-bg-surface-focused: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-selected-bg-surface-hovered: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-selected-bg-surface-pressed: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-tab-item-standard-selected-border-light-default: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-light-disabled: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-light-focused: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-light-hovered: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-light-pressed: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-primary-default: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-primary-disabled: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-primary-focused: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-primary-hovered: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-primary-pressed: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-surface-default: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-surface-disabled: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-surface-focused: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-surface-hovered: #ffffff00;
    --ids-comp-tab-item-standard-selected-border-surface-pressed: #ffffff00;
    --ids-comp-tab-item-standard-selected-fg-icon-light-default: light-dark(#f8fafc, #020617);
    --ids-comp-tab-item-standard-selected-fg-icon-light-disabled: light-dark(#ffffff33, #ffffff33);
    --ids-comp-tab-item-standard-selected-fg-icon-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-selected-fg-icon-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-selected-fg-icon-light-pressed: light-dark(#f1f5f9, #0f172a);
    --ids-comp-tab-item-standard-selected-fg-icon-primary-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-selected-fg-icon-primary-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-selected-fg-icon-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-selected-fg-icon-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-selected-fg-icon-primary-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-selected-fg-icon-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-selected-fg-icon-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-selected-fg-icon-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-selected-fg-icon-surface-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-selected-fg-icon-surface-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-selected-fg-label-light-default: light-dark(#f8fafc, #020617);
    --ids-comp-tab-item-standard-selected-fg-label-light-disabled: light-dark(#ffffff33, #ffffff33);
    --ids-comp-tab-item-standard-selected-fg-label-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-selected-fg-label-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-selected-fg-label-light-pressed: light-dark(#f1f5f9, #0f172a);
    --ids-comp-tab-item-standard-selected-fg-label-primary-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-selected-fg-label-primary-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-selected-fg-label-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-tab-item-standard-selected-fg-label-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-selected-fg-label-primary-pressed: light-dark(#003beb, #7598ff);
    --ids-comp-tab-item-standard-selected-fg-label-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-selected-fg-label-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-selected-fg-label-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-selected-fg-label-surface-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-selected-fg-label-surface-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-unselected-bg-light-default: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-light-disabled: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-light-focused: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-light-hovered: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-light-pressed: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-primary-default: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-primary-disabled: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-primary-focused: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-unselected-bg-primary-hovered: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-unselected-bg-primary-pressed: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-tab-item-standard-unselected-bg-surface-default: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-surface-disabled: #ffffff00;
    --ids-comp-tab-item-standard-unselected-bg-surface-focused: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-unselected-bg-surface-hovered: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-tab-item-standard-unselected-bg-surface-pressed: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-tab-item-standard-unselected-border-light-default: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-light-disabled: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-light-focused: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-light-hovered: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-light-pressed: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-primary-default: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-primary-disabled: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-primary-focused: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-primary-hovered: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-primary-pressed: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-surface-default: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-surface-disabled: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-surface-focused: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-surface-hovered: #ffffff00;
    --ids-comp-tab-item-standard-unselected-border-surface-pressed: #ffffff00;
    --ids-comp-tab-item-standard-unselected-fg-icon-light-default: light-dark(#f8fafc, #020617);
    --ids-comp-tab-item-standard-unselected-fg-icon-light-disabled: light-dark(#ffffff33, #ffffff33);
    --ids-comp-tab-item-standard-unselected-fg-icon-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-unselected-fg-icon-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-unselected-fg-icon-light-pressed: light-dark(#f1f5f9, #0f172a);
    --ids-comp-tab-item-standard-unselected-fg-icon-primary-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-unselected-fg-icon-primary-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-unselected-fg-icon-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-unselected-fg-icon-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-unselected-fg-icon-primary-pressed: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-unselected-fg-icon-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-unselected-fg-icon-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-unselected-fg-icon-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-unselected-fg-icon-surface-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-unselected-fg-icon-surface-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-unselected-fg-label-light-default: light-dark(#f8fafc, #020617);
    --ids-comp-tab-item-standard-unselected-fg-label-light-disabled: light-dark(#ffffff33, #ffffff33);
    --ids-comp-tab-item-standard-unselected-fg-label-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-unselected-fg-label-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-tab-item-standard-unselected-fg-label-light-pressed: light-dark(#f1f5f9, #0f172a);
    --ids-comp-tab-item-standard-unselected-fg-label-primary-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-unselected-fg-label-primary-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-unselected-fg-label-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-tab-item-standard-unselected-fg-label-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-tab-item-standard-unselected-fg-label-primary-pressed: light-dark(#003beb, #7598ff);
    --ids-comp-tab-item-standard-unselected-fg-label-surface-default: light-dark(#475569, #cbd5e1);
    --ids-comp-tab-item-standard-unselected-fg-label-surface-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-tab-item-standard-unselected-fg-label-surface-focused: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-unselected-fg-label-surface-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-tab-item-standard-unselected-fg-label-surface-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-tab-tabgroup-color-bg-default: #ffffff00;
    --ids-comp-tab-tabgroup-color-border-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-tab-tabgroup-size-border-width-comfortable: 2px;
    --ids-comp-tab-tabgroup-size-border-width-compact: 2px;
    --ids-comp-tab-tabgroup-size-border-width-dense: 2px;
    --ids-comp-tab-tabgroup-size-border-width-spacious: 2px;
    --ids-comp-tab-tabgroup-size-gap-comfortable: 0px;
    --ids-comp-tab-tabgroup-size-gap-compact: 0px;
    --ids-comp-tab-tabgroup-size-gap-dense: 0px;
    --ids-comp-tab-tabgroup-size-gap-spacious: 0px;
    --ids-comp-tab-tabgroup-size-padding-x-comfortable: 0px;
    --ids-comp-tab-tabgroup-size-padding-x-compact: 0px;
    --ids-comp-tab-tabgroup-size-padding-x-dense: 0px;
    --ids-comp-tab-tabgroup-size-padding-x-spacious: 0px;
    --ids-comp-tab-tabgroup-size-padding-y-comfortable: 0px;
    --ids-comp-tab-tabgroup-size-padding-y-compact: 0px;
    --ids-comp-tab-tabgroup-size-padding-y-dense: 0px;
    --ids-comp-tab-tabgroup-size-padding-y-spacious: 0px;
    --ids-comp-tab-tabpanel-color-bg-default: #ffffff00;
    --ids-comp-tab-tabpanel-color-border-surface-default: #ffffff00;
    --ids-comp-tab-tabpanel-size-padding-x-comfortable: 0px;
    --ids-comp-tab-tabpanel-size-padding-x-compact: 0px;
    --ids-comp-tab-tabpanel-size-padding-x-dense: 0px;
    --ids-comp-tab-tabpanel-size-padding-x-spacious: 0px;
    --ids-comp-tab-tabpanel-size-padding-y-comfortable: 0px;
    --ids-comp-tab-tabpanel-size-padding-y-compact: 0px;
    --ids-comp-tab-tabpanel-size-padding-y-dense: 0px;
    --ids-comp-tab-tabpanel-size-padding-y-spacious: 0px
}