:root {
    --ids-comp-chip-avatar-size-avatar-comfortable: 20px;
    --ids-comp-chip-avatar-size-avatar-compact: 20px;
    --ids-comp-chip-avatar-size-avatar-dense: 16px;
    --ids-comp-chip-avatar-size-avatar-spacious: 24px;
    --ids-comp-chip-container-size-border-radius-comfortable: 1000px;
    --ids-comp-chip-container-size-border-radius-compact: 1000px;
    --ids-comp-chip-container-size-border-radius-dense: 1000px;
    --ids-comp-chip-container-size-border-radius-spacious: 1000px;
    --ids-comp-chip-container-size-border-width-comfortable: 1px;
    --ids-comp-chip-container-size-border-width-compact: 1px;
    --ids-comp-chip-container-size-border-width-dense: 1px;
    --ids-comp-chip-container-size-border-width-spacious: 1px;
    --ids-comp-chip-container-size-height-comfortable: 32px;
    --ids-comp-chip-container-size-height-compact: 32px;
    --ids-comp-chip-container-size-height-dense: 24px;
    --ids-comp-chip-container-size-height-spacious: 32px;
    --ids-comp-chip-container-size-padding-x-comfortable: 4px;
    --ids-comp-chip-container-size-padding-x-compact: 4px;
    --ids-comp-chip-container-size-padding-x-dense: 2px;
    --ids-comp-chip-container-size-padding-x-spacious: 4px;
    --ids-comp-chip-container-size-padding-y-comfortable: 6px;
    --ids-comp-chip-container-size-padding-y-compact: 6px;
    --ids-comp-chip-container-size-padding-y-dense: 6px;
    --ids-comp-chip-container-size-padding-y-spacious: 6px;
    --ids-comp-chip-filled-avatar-color-bg-default: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-avatar-color-border-default: #ffffff00;
    --ids-comp-chip-filled-avatar-color-fg-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-bg-dark-default: light-dark(#020617, #020617);
    --ids-comp-chip-filled-color-bg-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-dark-dragged: light-dark(#020617, #020617);
    --ids-comp-chip-filled-color-bg-dark-focused: light-dark(#1e293b, #1e293b);
    --ids-comp-chip-filled-color-bg-dark-hovered: light-dark(#1e293b, #1e293b);
    --ids-comp-chip-filled-color-bg-dark-pressed: light-dark(#334155, #334155);
    --ids-comp-chip-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-bg-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-light-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-bg-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-bg-light-hovered: light-dark(#f1f5f9, #0f172a);
    --ids-comp-chip-filled-color-bg-light-pressed: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-chip-filled-color-bg-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-primary-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-chip-filled-color-bg-primary-focused: light-dark(#003cff, #4775ff);
    --ids-comp-chip-filled-color-bg-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-chip-filled-color-bg-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-chip-filled-color-bg-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-bg-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-secondary-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-bg-secondary-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-bg-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-chip-filled-color-bg-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-chip-filled-color-bg-surface-default: light-dark(#f1f5f9, #0f172a);
    --ids-comp-chip-filled-color-bg-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-surface-dragged: light-dark(#f1f5f9, #0f172a);
    --ids-comp-chip-filled-color-bg-surface-focused: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-surface-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-filled-color-bg-surface-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-chip-filled-color-border-dark-default: #ffffff00;
    --ids-comp-chip-filled-color-border-dark-disabled: #ffffff00;
    --ids-comp-chip-filled-color-border-dark-dragged: #ffffff00;
    --ids-comp-chip-filled-color-border-dark-focused: #ffffff00;
    --ids-comp-chip-filled-color-border-dark-hovered: #ffffff00;
    --ids-comp-chip-filled-color-border-dark-pressed: #ffffff00;
    --ids-comp-chip-filled-color-border-light-default: #ffffff00;
    --ids-comp-chip-filled-color-border-light-disabled: #ffffff00;
    --ids-comp-chip-filled-color-border-light-dragged: #ffffff00;
    --ids-comp-chip-filled-color-border-light-focused: #ffffff00;
    --ids-comp-chip-filled-color-border-light-hovered: #ffffff00;
    --ids-comp-chip-filled-color-border-light-pressed: #ffffff00;
    --ids-comp-chip-filled-color-border-primary-default: #ffffff00;
    --ids-comp-chip-filled-color-border-primary-disabled: #ffffff00;
    --ids-comp-chip-filled-color-border-primary-dragged: #ffffff00;
    --ids-comp-chip-filled-color-border-primary-focused: #ffffff00;
    --ids-comp-chip-filled-color-border-primary-hovered: #ffffff00;
    --ids-comp-chip-filled-color-border-primary-pressed: #ffffff00;
    --ids-comp-chip-filled-color-border-secondary-default: #ffffff00;
    --ids-comp-chip-filled-color-border-secondary-disabled: #ffffff00;
    --ids-comp-chip-filled-color-border-secondary-dragged: #ffffff00;
    --ids-comp-chip-filled-color-border-secondary-focused: #ffffff00;
    --ids-comp-chip-filled-color-border-secondary-hovered: #ffffff00;
    --ids-comp-chip-filled-color-border-secondary-pressed: #ffffff00;
    --ids-comp-chip-filled-color-border-surface-default: #ffffff00;
    --ids-comp-chip-filled-color-border-surface-disabled: #ffffff00;
    --ids-comp-chip-filled-color-border-surface-dragged: #ffffff00;
    --ids-comp-chip-filled-color-border-surface-focused: #ffffff00;
    --ids-comp-chip-filled-color-border-surface-hovered: #ffffff00;
    --ids-comp-chip-filled-color-border-surface-pressed: #ffffff00;
    --ids-comp-chip-filled-color-fg-icon-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-icon-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-icon-dark-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-icon-dark-focused: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-icon-dark-hovered: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-icon-dark-pressed: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-icon-light-default: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-icon-light-dragged: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-icon-light-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-icon-light-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-icon-light-pressed: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-icon-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-icon-primary-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-primary-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-primary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-primary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-icon-secondary-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-secondary-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-secondary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-secondary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-icon-surface-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-icon-surface-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-icon-surface-hovered: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-icon-surface-pressed: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-label-dark-default: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-label-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-label-dark-dragged: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-label-dark-focused: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-label-dark-hovered: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-label-dark-pressed: light-dark(#f8fafc, #020617);
    --ids-comp-chip-filled-color-fg-label-light-default: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-label-light-dragged: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-label-light-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-label-light-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-label-light-pressed: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-label-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-label-primary-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-primary-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-primary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-primary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-secondary-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-label-secondary-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-secondary-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-secondary-hovered: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-secondary-pressed: light-dark(#ffffff, #000000);
    --ids-comp-chip-filled-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-filled-color-fg-label-surface-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-label-surface-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-filled-color-fg-label-surface-hovered: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-filled-color-fg-label-surface-pressed: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-focused-outline-color-dark-focused: light-dark(#003cff, #4775ff);
    --ids-comp-chip-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-chip-focused-outline-size-outline-compact: 3px;
    --ids-comp-chip-focused-outline-size-outline-dense: 3px;
    --ids-comp-chip-focused-outline-size-outline-spacious: 3px;
    --ids-comp-chip-group-size-column-gap-comfortable: 12px;
    --ids-comp-chip-group-size-column-gap-compact: 8px;
    --ids-comp-chip-group-size-column-gap-dense: 4px;
    --ids-comp-chip-group-size-column-gap-spacious: 16px;
    --ids-comp-chip-group-size-padding-x-comfortable: 0px;
    --ids-comp-chip-group-size-padding-x-compact: 0px;
    --ids-comp-chip-group-size-padding-x-dense: 0px;
    --ids-comp-chip-group-size-padding-x-spacious: 0px;
    --ids-comp-chip-group-size-padding-y-comfortable: 0px;
    --ids-comp-chip-group-size-padding-y-compact: 0px;
    --ids-comp-chip-group-size-padding-y-dense: 0px;
    --ids-comp-chip-group-size-padding-y-spacious: 0px;
    --ids-comp-chip-group-size-row-gap-comfortable: 12px;
    --ids-comp-chip-group-size-row-gap-compact: 8px;
    --ids-comp-chip-group-size-row-gap-dense: 4px;
    --ids-comp-chip-group-size-row-gap-spacious: 16px;
    --ids-comp-chip-icon-button-size-icon-button-comfortable: 20px;
    --ids-comp-chip-icon-button-size-icon-button-compact: 20px;
    --ids-comp-chip-icon-button-size-icon-button-dense: 16px;
    --ids-comp-chip-icon-button-size-icon-button-spacious: 24px;
    --ids-comp-chip-icon-size-icon-comfortable: 20px;
    --ids-comp-chip-icon-size-icon-compact: 20px;
    --ids-comp-chip-icon-size-icon-dense: 16px;
    --ids-comp-chip-icon-size-icon-spacious: 24px;
    --ids-comp-chip-icon-size-padding-left-comfortable: 2px;
    --ids-comp-chip-icon-size-padding-left-compact: 8px;
    --ids-comp-chip-icon-size-padding-left-dense: 6px;
    --ids-comp-chip-icon-size-padding-left-spacious: 2px;
    --ids-comp-chip-icon-size-padding-right-comfortable: 0px;
    --ids-comp-chip-icon-size-padding-right-compact: 0px;
    --ids-comp-chip-icon-size-padding-right-dense: 0px;
    --ids-comp-chip-icon-size-padding-right-spacious: 0px;
    --ids-comp-chip-icon-typography-font-family-comfortable: "Material Icons";
    --ids-comp-chip-icon-typography-font-family-compact: "Material Icons";
    --ids-comp-chip-icon-typography-font-family-dense: "Material Icons";
    --ids-comp-chip-icon-typography-font-family-spacious: "Material Icons";
    --ids-comp-chip-icon-typography-font-size-comfortable: 20px;
    --ids-comp-chip-icon-typography-font-size-compact: 20px;
    --ids-comp-chip-icon-typography-font-size-dense: 16px;
    --ids-comp-chip-icon-typography-font-size-spacious: 24px;
    --ids-comp-chip-icon-typography-font-weight-comfortable: 400;
    --ids-comp-chip-icon-typography-font-weight-compact: 400;
    --ids-comp-chip-icon-typography-font-weight-dense: 400;
    --ids-comp-chip-icon-typography-font-weight-spacious: 700;
    --ids-comp-chip-icon-typography-line-height-comfortable: 20px;
    --ids-comp-chip-icon-typography-line-height-compact: 20px;
    --ids-comp-chip-icon-typography-line-height-dense: 16px;
    --ids-comp-chip-icon-typography-line-height-spacious: 24px;
    --ids-comp-chip-label-size-padding-x-comfortable: 8px;
    --ids-comp-chip-label-size-padding-x-compact: 8px;
    --ids-comp-chip-label-size-padding-x-dense: 6px;
    --ids-comp-chip-label-size-padding-x-spacious: 8px;
    --ids-comp-chip-label-typography-font-family-comfortable: Montserrat;
    --ids-comp-chip-label-typography-font-family-compact: Montserrat;
    --ids-comp-chip-label-typography-font-family-dense: Montserrat;
    --ids-comp-chip-label-typography-font-family-spacious: Montserrat;
    --ids-comp-chip-label-typography-font-size-comfortable: 14px;
    --ids-comp-chip-label-typography-font-size-compact: 12px;
    --ids-comp-chip-label-typography-font-size-dense: 12px;
    --ids-comp-chip-label-typography-font-size-spacious: 18px;
    --ids-comp-chip-label-typography-font-weight-comfortable: 400;
    --ids-comp-chip-label-typography-font-weight-compact: 400;
    --ids-comp-chip-label-typography-font-weight-dense: 400;
    --ids-comp-chip-label-typography-font-weight-spacious: 700;
    --ids-comp-chip-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-chip-label-typography-letter-spacing-compact: 0em;
    --ids-comp-chip-label-typography-letter-spacing-dense: 0em;
    --ids-comp-chip-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-chip-label-typography-line-height-comfortable: 14px;
    --ids-comp-chip-label-typography-line-height-compact: 12px;
    --ids-comp-chip-label-typography-line-height-dense: 12px;
    --ids-comp-chip-label-typography-line-height-spacious: 18px;
    --ids-comp-chip-outlined-avatar-color-bg-default: light-dark(#f8fafc, #020617);
    --ids-comp-chip-outlined-avatar-color-border-default: #ffffff00;
    --ids-comp-chip-outlined-avatar-color-fg-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-bg-dark-default: #ffffff00;
    --ids-comp-chip-outlined-color-bg-dark-disabled: #ffffff00;
    --ids-comp-chip-outlined-color-bg-dark-dragged: #ffffff00;
    --ids-comp-chip-outlined-color-bg-dark-focused: #ffffff00;
    --ids-comp-chip-outlined-color-bg-dark-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-chip-outlined-color-bg-dark-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-chip-outlined-color-bg-light-default: #ffffff00;
    --ids-comp-chip-outlined-color-bg-light-disabled: #ffffff00;
    --ids-comp-chip-outlined-color-bg-light-dragged: #ffffff00;
    --ids-comp-chip-outlined-color-bg-light-focused: #ffffff00;
    --ids-comp-chip-outlined-color-bg-light-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-chip-outlined-color-bg-light-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-chip-outlined-color-bg-primary-default: #ffffff00;
    --ids-comp-chip-outlined-color-bg-primary-disabled: #ffffff00;
    --ids-comp-chip-outlined-color-bg-primary-dragged: #ffffff00;
    --ids-comp-chip-outlined-color-bg-primary-focused: #ffffff00;
    --ids-comp-chip-outlined-color-bg-primary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-chip-outlined-color-bg-primary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-chip-outlined-color-bg-secondary-default: #ffffff00;
    --ids-comp-chip-outlined-color-bg-secondary-disabled: #ffffff00;
    --ids-comp-chip-outlined-color-bg-secondary-dragged: #ffffff00;
    --ids-comp-chip-outlined-color-bg-secondary-focused: #ffffff00;
    --ids-comp-chip-outlined-color-bg-secondary-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-chip-outlined-color-bg-secondary-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-chip-outlined-color-bg-surface-default: #ffffff00;
    --ids-comp-chip-outlined-color-bg-surface-disabled: #ffffff00;
    --ids-comp-chip-outlined-color-bg-surface-dragged: #ffffff00;
    --ids-comp-chip-outlined-color-bg-surface-focused: #ffffff00;
    --ids-comp-chip-outlined-color-bg-surface-hovered: light-dark(#648cb41a, #ffffff1a);
    --ids-comp-chip-outlined-color-bg-surface-pressed: light-dark(#648cb433, #ffffff33);
    --ids-comp-chip-outlined-color-border-dark-default: light-dark(#0f172a, #0f172a);
    --ids-comp-chip-outlined-color-border-dark-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-dark-dragged: light-dark(#0f172a, #0f172a);
    --ids-comp-chip-outlined-color-border-dark-focused: light-dark(#334155, #334155);
    --ids-comp-chip-outlined-color-border-dark-hovered: light-dark(#334155, #334155);
    --ids-comp-chip-outlined-color-border-dark-pressed: light-dark(#475569, #475569);
    --ids-comp-chip-outlined-color-border-light-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-border-light-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-light-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-border-light-focused: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-light-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-light-pressed: light-dark(#cbd5e1, #334155);
    --ids-comp-chip-outlined-color-border-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-chip-outlined-color-border-primary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-primary-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-chip-outlined-color-border-primary-focused: light-dark(#002fbd, #a3baff);
    --ids-comp-chip-outlined-color-border-primary-hovered: light-dark(#002fbd, #a3baff);
    --ids-comp-chip-outlined-color-border-primary-pressed: light-dark(#00248f, #d1ddff);
    --ids-comp-chip-outlined-color-border-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-border-secondary-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-secondary-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-border-secondary-focused: light-dark(#334155, #e2e8f0);
    --ids-comp-chip-outlined-color-border-secondary-hovered: light-dark(#334155, #e2e8f0);
    --ids-comp-chip-outlined-color-border-secondary-pressed: light-dark(#1e293b, #f1f5f9);
    --ids-comp-chip-outlined-color-border-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-border-surface-disabled: light-dark(#e2e8f0, #1e293b);
    --ids-comp-chip-outlined-color-border-surface-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-border-surface-focused: light-dark(#334155, #334155);
    --ids-comp-chip-outlined-color-border-surface-hovered: light-dark(#334155, #334155);
    --ids-comp-chip-outlined-color-border-surface-pressed: light-dark(#475569, #475569);
    --ids-comp-chip-outlined-color-fg-icon-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-icon-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-icon-dark-dragged: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-icon-dark-focused: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-icon-dark-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-icon-dark-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-icon-light-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-icon-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-icon-light-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-icon-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-icon-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-icon-light-pressed: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-icon-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-chip-outlined-color-fg-icon-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-icon-primary-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-chip-outlined-color-fg-icon-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-chip-outlined-color-fg-icon-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-chip-outlined-color-fg-icon-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-chip-outlined-color-fg-icon-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-icon-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-icon-secondary-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-icon-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-outlined-color-fg-icon-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-outlined-color-fg-icon-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-chip-outlined-color-fg-icon-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-icon-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-icon-surface-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-icon-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-icon-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-outlined-color-fg-icon-surface-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-chip-outlined-color-fg-label-dark-default: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-label-dark-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-label-dark-dragged: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-label-dark-focused: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-label-dark-hovered: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-label-dark-pressed: light-dark(#020617, #f8fafc);
    --ids-comp-chip-outlined-color-fg-label-light-default: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-label-light-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-label-light-dragged: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-label-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-label-light-hovered: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-label-light-pressed: light-dark(#ffffff, #000000);
    --ids-comp-chip-outlined-color-fg-label-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-chip-outlined-color-fg-label-primary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-label-primary-dragged: light-dark(#003cff, #4775ff);
    --ids-comp-chip-outlined-color-fg-label-primary-focused: light-dark(#003beb, #7598ff);
    --ids-comp-chip-outlined-color-fg-label-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-chip-outlined-color-fg-label-primary-pressed: light-dark(#002fbd, #a3baff);
    --ids-comp-chip-outlined-color-fg-label-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-label-secondary-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-label-secondary-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-label-secondary-focused: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-outlined-color-fg-label-secondary-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-outlined-color-fg-label-secondary-pressed: light-dark(#334155, #e2e8f0);
    --ids-comp-chip-outlined-color-fg-label-surface-default: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-label-surface-disabled: light-dark(#94a3b8, #475569);
    --ids-comp-chip-outlined-color-fg-label-surface-dragged: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-label-surface-focused: light-dark(#64748b, #94a3b8);
    --ids-comp-chip-outlined-color-fg-label-surface-hovered: light-dark(#475569, #cbd5e1);
    --ids-comp-chip-outlined-color-fg-label-surface-pressed: light-dark(#334155, #e2e8f0)
}