:root {
    --ids-comp-sidesheet-backdrop-background-default: light-dark(#02061740, #020617b3);
    --ids-comp-sidesheet-backdrop-background-transparent: #ffffff00;
    --ids-comp-sidesheet-backdrop-orientation-left-size-opacity-comfortable: 100%;
    --ids-comp-sidesheet-backdrop-orientation-left-size-opacity-compact: 100%;
    --ids-comp-sidesheet-backdrop-orientation-left-size-opacity-dense: 100%;
    --ids-comp-sidesheet-backdrop-orientation-left-size-opacity-spacious: 100%;
    --ids-comp-sidesheet-backdrop-orientation-left-size-padding-right-comfortable: 24px;
    --ids-comp-sidesheet-backdrop-orientation-left-size-padding-right-compact: 24px;
    --ids-comp-sidesheet-backdrop-orientation-left-size-padding-right-dense: 24px;
    --ids-comp-sidesheet-backdrop-orientation-left-size-padding-right-spacious: 24px;
    --ids-comp-sidesheet-backdrop-orientation-right-size-opacity-comfortable: 100%;
    --ids-comp-sidesheet-backdrop-orientation-right-size-opacity-compact: 100%;
    --ids-comp-sidesheet-backdrop-orientation-right-size-opacity-dense: 100%;
    --ids-comp-sidesheet-backdrop-orientation-right-size-opacity-spacious: 100%;
    --ids-comp-sidesheet-backdrop-orientation-right-size-padding-left-comfortable: 24px;
    --ids-comp-sidesheet-backdrop-orientation-right-size-padding-left-compact: 24px;
    --ids-comp-sidesheet-backdrop-orientation-right-size-padding-left-dense: 24px;
    --ids-comp-sidesheet-backdrop-orientation-right-size-padding-left-spacious: 24px;
    --ids-comp-sidesheet-container-color-bg-default: light-dark(#ffffff, #000000);
    --ids-comp-sidesheet-container-color-border-surface-default: light-dark(#e2e8f0, #e2e8f0);
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-comfortable: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-compact: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-dense: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-left-comfortable: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-left-compact: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-left-dense: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-left-spacious: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-right-comfortable: 16px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-right-compact: 16px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-right-dense: 16px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-right-spacious: 16px;
    --ids-comp-sidesheet-container-orientation-left-size-border-radius-spacious: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-width-comfortable: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-width-compact: 1px;
    --ids-comp-sidesheet-container-orientation-left-size-border-width-dense: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-border-width-spacious: 0px;
    --ids-comp-sidesheet-container-orientation-left-size-gap-comfortable: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-gap-compact: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-gap-dense: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-gap-spacious: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-max-width-comfortable: 400px;
    --ids-comp-sidesheet-container-orientation-left-size-max-width-compact: 400px;
    --ids-comp-sidesheet-container-orientation-left-size-max-width-dense: 400px;
    --ids-comp-sidesheet-container-orientation-left-size-max-width-spacious: 400px;
    --ids-comp-sidesheet-container-orientation-left-size-min-gap-comfortable: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-gap-compact: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-gap-dense: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-gap-spacious: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-height-comfortable: 256px;
    --ids-comp-sidesheet-container-orientation-left-size-min-height-compact: 256px;
    --ids-comp-sidesheet-container-orientation-left-size-min-height-dense: 256px;
    --ids-comp-sidesheet-container-orientation-left-size-min-height-spacious: 256px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-x-comfortable: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-x-compact: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-x-dense: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-x-spacious: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-y-comfortable: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-y-compact: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-y-dense: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-padding-y-spacious: 12px;
    --ids-comp-sidesheet-container-orientation-left-size-min-width-comfortable: 80px;
    --ids-comp-sidesheet-container-orientation-left-size-min-width-compact: 80px;
    --ids-comp-sidesheet-container-orientation-left-size-min-width-dense: 80px;
    --ids-comp-sidesheet-container-orientation-left-size-min-width-spacious: 80px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-x-comfortable: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-x-compact: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-x-dense: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-x-spacious: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-y-comfortable: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-y-compact: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-y-dense: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-padding-y-spacious: 24px;
    --ids-comp-sidesheet-container-orientation-left-size-width-comfortable: 320px;
    --ids-comp-sidesheet-container-orientation-left-size-width-compact: 320px;
    --ids-comp-sidesheet-container-orientation-left-size-width-dense: 400px;
    --ids-comp-sidesheet-container-orientation-left-size-width-spacious: 400px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-comfortable: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-compact: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-dense: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-left-comfortable: 16px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-left-compact: 16px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-left-dense: 16px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-left-spacious: 16px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-right-comfortable: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-right-compact: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-right-dense: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-right-spacious: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-radius-spacious: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-width-comfortable: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-width-compact: 1px;
    --ids-comp-sidesheet-container-orientation-right-size-border-width-dense: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-border-width-spacious: 0px;
    --ids-comp-sidesheet-container-orientation-right-size-gap-comfortable: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-gap-compact: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-gap-dense: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-gap-spacious: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-max-width-comfortable: 400px;
    --ids-comp-sidesheet-container-orientation-right-size-max-width-compact: 400px;
    --ids-comp-sidesheet-container-orientation-right-size-max-width-dense: 400px;
    --ids-comp-sidesheet-container-orientation-right-size-max-width-spacious: 400px;
    --ids-comp-sidesheet-container-orientation-right-size-min-gap-comfortable: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-gap-compact: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-gap-dense: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-gap-spacious: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-height-comfortable: 256px;
    --ids-comp-sidesheet-container-orientation-right-size-min-height-compact: 256px;
    --ids-comp-sidesheet-container-orientation-right-size-min-height-dense: 256px;
    --ids-comp-sidesheet-container-orientation-right-size-min-height-spacious: 256px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-x-comfortable: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-x-compact: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-x-dense: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-x-spacious: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-y-comfortable: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-y-compact: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-y-dense: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-padding-y-spacious: 12px;
    --ids-comp-sidesheet-container-orientation-right-size-min-width-comfortable: 80px;
    --ids-comp-sidesheet-container-orientation-right-size-min-width-compact: 80px;
    --ids-comp-sidesheet-container-orientation-right-size-min-width-dense: 80px;
    --ids-comp-sidesheet-container-orientation-right-size-min-width-spacious: 80px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-x-comfortable: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-x-compact: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-x-dense: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-x-spacious: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-y-comfortable: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-y-compact: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-y-dense: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-padding-y-spacious: 24px;
    --ids-comp-sidesheet-container-orientation-right-size-width-comfortable: 320px;
    --ids-comp-sidesheet-container-orientation-right-size-width-compact: 320px;
    --ids-comp-sidesheet-container-orientation-right-size-width-dense: 400px;
    --ids-comp-sidesheet-container-orientation-right-size-width-spacious: 400px;
    --ids-comp-sidesheet-content-color-bg-default: #ffffff00;
    --ids-comp-sidesheet-content-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-sidesheet-content-fixed-size-padding-x-comfortable: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-x-compact: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-x-dense: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-x-spacious: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-y-comfortable: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-y-compact: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-y-dense: 0px;
    --ids-comp-sidesheet-content-fixed-size-padding-y-spacious: 0px;
    --ids-comp-sidesheet-content-scrollable-size-border-width-comfortable: 1px;
    --ids-comp-sidesheet-content-scrollable-size-border-width-compact: 0px;
    --ids-comp-sidesheet-content-scrollable-size-border-width-dense: 1px;
    --ids-comp-sidesheet-content-scrollable-size-border-width-spacious: 1px;
    --ids-comp-sidesheet-content-scrollable-size-padding-x-comfortable: 0px;
    --ids-comp-sidesheet-content-scrollable-size-padding-x-compact: 0px;
    --ids-comp-sidesheet-content-scrollable-size-padding-x-dense: 0px;
    --ids-comp-sidesheet-content-scrollable-size-padding-x-spacious: 0px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-bottom-comfortable: 24px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-bottom-compact: 0px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-bottom-dense: 24px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-bottom-spacious: 24px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-top-comfortable: 24px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-top-compact: 0px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-top-dense: 24px;
    --ids-comp-sidesheet-content-scrollable-size-padding-y-top-spacious: 24px;
    --ids-comp-sidesheet-footer-border-width-comfortable: 1px;
    --ids-comp-sidesheet-footer-border-width-compact: 1px;
    --ids-comp-sidesheet-footer-border-width-dense: 1px;
    --ids-comp-sidesheet-footer-border-width-spacious: 1px;
    --ids-comp-sidesheet-footer-color-bg-default: #ffffff00;
    --ids-comp-sidesheet-footer-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-sidesheet-footer-gap-comfortable: 8px;
    --ids-comp-sidesheet-footer-gap-compact: 8px;
    --ids-comp-sidesheet-footer-gap-dense: 8px;
    --ids-comp-sidesheet-footer-gap-spacious: 8px;
    --ids-comp-sidesheet-footer-min-padding-y-top-comfortable: 12px;
    --ids-comp-sidesheet-footer-min-padding-y-top-compact: 12px;
    --ids-comp-sidesheet-footer-min-padding-y-top-dense: 12px;
    --ids-comp-sidesheet-footer-min-padding-y-top-spacious: 12px;
    --ids-comp-sidesheet-footer-padding-x-comfortable: 0px;
    --ids-comp-sidesheet-footer-padding-x-compact: 0px;
    --ids-comp-sidesheet-footer-padding-x-dense: 0px;
    --ids-comp-sidesheet-footer-padding-x-spacious: 0px;
    --ids-comp-sidesheet-footer-padding-y-comfortable: 0px;
    --ids-comp-sidesheet-footer-padding-y-compact: 0px;
    --ids-comp-sidesheet-footer-padding-y-dense: 0px;
    --ids-comp-sidesheet-footer-padding-y-spacious: 0px;
    --ids-comp-sidesheet-footer-padding-y-top-comfortable: 0px;
    --ids-comp-sidesheet-footer-padding-y-top-compact: 24px;
    --ids-comp-sidesheet-footer-padding-y-top-dense: 0px;
    --ids-comp-sidesheet-footer-padding-y-top-spacious: 0px;
    --ids-comp-sidesheet-header-color-bg-default: #ffffff00;
    --ids-comp-sidesheet-header-size-gap-comfortable: 8px;
    --ids-comp-sidesheet-header-size-gap-compact: 8px;
    --ids-comp-sidesheet-header-size-gap-dense: 8px;
    --ids-comp-sidesheet-header-size-gap-spacious: 8px;
    --ids-comp-sidesheet-header-size-padding-x-comfortable: 0px;
    --ids-comp-sidesheet-header-size-padding-x-compact: 0px;
    --ids-comp-sidesheet-header-size-padding-x-dense: 0px;
    --ids-comp-sidesheet-header-size-padding-x-spacious: 0px;
    --ids-comp-sidesheet-header-size-padding-y-comfortable: 0px;
    --ids-comp-sidesheet-header-size-padding-y-compact: 0px;
    --ids-comp-sidesheet-header-size-padding-y-dense: 0px;
    --ids-comp-sidesheet-header-size-padding-y-spacious: 0px;
    --ids-comp-sidesheet-header-subtitle-typography-font-family-comfortable: Montserrat;
    --ids-comp-sidesheet-header-subtitle-typography-font-family-compact: Montserrat;
    --ids-comp-sidesheet-header-subtitle-typography-font-family-dense: Montserrat;
    --ids-comp-sidesheet-header-subtitle-typography-font-family-spacious: Montserrat;
    --ids-comp-sidesheet-header-subtitle-typography-font-size-comfortable: 16px;
    --ids-comp-sidesheet-header-subtitle-typography-font-size-compact: 16px;
    --ids-comp-sidesheet-header-subtitle-typography-font-size-dense: 16px;
    --ids-comp-sidesheet-header-subtitle-typography-font-size-spacious: 16px;
    --ids-comp-sidesheet-header-subtitle-typography-font-weight-comfortable: 400;
    --ids-comp-sidesheet-header-subtitle-typography-font-weight-compact: 400;
    --ids-comp-sidesheet-header-subtitle-typography-font-weight-dense: 400;
    --ids-comp-sidesheet-header-subtitle-typography-font-weight-spacious: 400;
    --ids-comp-sidesheet-header-subtitle-typography-letter-spacing-comfortable: 0em;
    --ids-comp-sidesheet-header-subtitle-typography-letter-spacing-compact: 0em;
    --ids-comp-sidesheet-header-subtitle-typography-letter-spacing-dense: 0em;
    --ids-comp-sidesheet-header-subtitle-typography-letter-spacing-spacious: 0em;
    --ids-comp-sidesheet-header-subtitle-typography-line-height-comfortable: 24px;
    --ids-comp-sidesheet-header-subtitle-typography-line-height-compact: 24px;
    --ids-comp-sidesheet-header-subtitle-typography-line-height-dense: 24px;
    --ids-comp-sidesheet-header-subtitle-typography-line-height-spacious: 24px;
    --ids-comp-sidesheet-header-title-typography-font-family-comfortable: Montserrat;
    --ids-comp-sidesheet-header-title-typography-font-family-compact: Montserrat;
    --ids-comp-sidesheet-header-title-typography-font-family-dense: Montserrat;
    --ids-comp-sidesheet-header-title-typography-font-family-spacious: Montserrat;
    --ids-comp-sidesheet-header-title-typography-font-size-comfortable: 28px;
    --ids-comp-sidesheet-header-title-typography-font-size-compact: 28px;
    --ids-comp-sidesheet-header-title-typography-font-size-dense: 28px;
    --ids-comp-sidesheet-header-title-typography-font-size-spacious: 28px;
    --ids-comp-sidesheet-header-title-typography-font-weight-comfortable: 700;
    --ids-comp-sidesheet-header-title-typography-font-weight-compact: 700;
    --ids-comp-sidesheet-header-title-typography-font-weight-dense: 700;
    --ids-comp-sidesheet-header-title-typography-font-weight-spacious: 700;
    --ids-comp-sidesheet-header-title-typography-letter-spacing-comfortable: 0em;
    --ids-comp-sidesheet-header-title-typography-letter-spacing-compact: 0em;
    --ids-comp-sidesheet-header-title-typography-letter-spacing-dense: 0em;
    --ids-comp-sidesheet-header-title-typography-letter-spacing-spacious: 0em;
    --ids-comp-sidesheet-header-title-typography-line-height-comfortable: 36px;
    --ids-comp-sidesheet-header-title-typography-line-height-compact: 36px;
    --ids-comp-sidesheet-header-title-typography-line-height-dense: 36px;
    --ids-comp-sidesheet-header-title-typography-line-height-spacious: 36px
}