:root {
    --ids-comp-table-color-bg-secondary-default: #ffffff00;
    --ids-comp-table-color-bg-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-table-color-border-primary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-size-border-radius-comfortable: 0px;
    --ids-comp-table-size-border-radius-compact: 0px;
    --ids-comp-table-size-border-radius-dense: 0px;
    --ids-comp-table-size-border-radius-spacious: 0px;
    --ids-comp-table-size-border-width-comfortable: 1px;
    --ids-comp-table-size-border-width-compact: 1px;
    --ids-comp-table-size-border-width-dense: 1px;
    --ids-comp-table-size-border-width-spacious: 1px;
    --ids-comp-table-tbody-td-color-bg-primary-default: #ffffff00;
    --ids-comp-table-tbody-td-color-bg-secondary-default: #ffffff00;
    --ids-comp-table-tbody-td-color-bg-surface-default: #ffffff00;
    --ids-comp-table-tbody-td-color-border-primary-default: light-dark(#648cb433, #ffffff33);
    --ids-comp-table-tbody-td-color-border-secondary-default: light-dark(#648cb433, #ffffff33);
    --ids-comp-table-tbody-td-color-border-surface-default: light-dark(#648cb433, #ffffff33);
    --ids-comp-table-tbody-td-color-fg-typography-description-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-table-tbody-td-color-fg-typography-description-secondary-default: light-dark(#64748b, #64748b);
    --ids-comp-table-tbody-td-color-fg-typography-description-surface-default: light-dark(#64748b, #64748b);
    --ids-comp-table-tbody-td-color-fg-typography-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-table-tbody-td-color-fg-typography-secondary-default: light-dark(#334155, #cbd5e1);
    --ids-comp-table-tbody-td-color-fg-typography-surface-default: light-dark(#334155, #cbd5e1);
    --ids-comp-table-tbody-td-icon-size-height-comfortable: 20px;
    --ids-comp-table-tbody-td-icon-size-height-compact: 16px;
    --ids-comp-table-tbody-td-icon-size-height-dense: 12px;
    --ids-comp-table-tbody-td-icon-size-height-spacious: 24px;
    --ids-comp-table-tbody-td-icon-size-width-comfortable: 20px;
    --ids-comp-table-tbody-td-icon-size-width-compact: 16px;
    --ids-comp-table-tbody-td-icon-size-width-dense: 12px;
    --ids-comp-table-tbody-td-icon-size-width-spacious: 24px;
    --ids-comp-table-tbody-td-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-table-tbody-td-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-table-tbody-td-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-table-tbody-td-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-table-tbody-td-icon-typography-font-size-comfortable: 20px;
    --ids-comp-table-tbody-td-icon-typography-font-size-compact: 16px;
    --ids-comp-table-tbody-td-icon-typography-font-size-dense: 12px;
    --ids-comp-table-tbody-td-icon-typography-font-size-spacious: 24px;
    --ids-comp-table-tbody-td-icon-typography-font-weight-comfortable: 400;
    --ids-comp-table-tbody-td-icon-typography-font-weight-compact: 400;
    --ids-comp-table-tbody-td-icon-typography-font-weight-dense: 400;
    --ids-comp-table-tbody-td-icon-typography-font-weight-spacious: 400;
    --ids-comp-table-tbody-td-icon-typography-line-height-comfortable: 20px;
    --ids-comp-table-tbody-td-icon-typography-line-height-compact: 16px;
    --ids-comp-table-tbody-td-icon-typography-line-height-dense: 12px;
    --ids-comp-table-tbody-td-icon-typography-line-height-spacious: 24px;
    --ids-comp-table-tbody-td-size-border-width-comfortable: 1px;
    --ids-comp-table-tbody-td-size-border-width-compact: 1px;
    --ids-comp-table-tbody-td-size-border-width-dense: 1px;
    --ids-comp-table-tbody-td-size-border-width-spacious: 1px;
    --ids-comp-table-tbody-td-size-gap-comfortable: 12px;
    --ids-comp-table-tbody-td-size-gap-compact: 12px;
    --ids-comp-table-tbody-td-size-gap-dense: 8px;
    --ids-comp-table-tbody-td-size-gap-spacious: 12px;
    --ids-comp-table-tbody-td-size-min-height-comfortable: 64px;
    --ids-comp-table-tbody-td-size-min-height-compact: 64px;
    --ids-comp-table-tbody-td-size-min-height-dense: 48px;
    --ids-comp-table-tbody-td-size-min-height-spacious: 72px;
    --ids-comp-table-tbody-td-size-padding-x-comfortable: 12px;
    --ids-comp-table-tbody-td-size-padding-x-compact: 12px;
    --ids-comp-table-tbody-td-size-padding-x-dense: 8px;
    --ids-comp-table-tbody-td-size-padding-x-spacious: 12px;
    --ids-comp-table-tbody-td-size-padding-y-comfortable: 12px;
    --ids-comp-table-tbody-td-size-padding-y-compact: 12px;
    --ids-comp-table-tbody-td-size-padding-y-dense: 8px;
    --ids-comp-table-tbody-td-size-padding-y-spacious: 12px;
    --ids-comp-table-tbody-td-typography-description-font-family-comfortable: Montserrat;
    --ids-comp-table-tbody-td-typography-description-font-family-compact: Montserrat;
    --ids-comp-table-tbody-td-typography-description-font-family-dense: Montserrat;
    --ids-comp-table-tbody-td-typography-description-font-family-spacious: Montserrat;
    --ids-comp-table-tbody-td-typography-description-font-size-comfortable: 14px;
    --ids-comp-table-tbody-td-typography-description-font-size-compact: 12px;
    --ids-comp-table-tbody-td-typography-description-font-size-dense: 10px;
    --ids-comp-table-tbody-td-typography-description-font-size-spacious: 16px;
    --ids-comp-table-tbody-td-typography-description-font-weight-comfortable: 400;
    --ids-comp-table-tbody-td-typography-description-font-weight-compact: 400;
    --ids-comp-table-tbody-td-typography-description-font-weight-dense: 400;
    --ids-comp-table-tbody-td-typography-description-font-weight-spacious: 400;
    --ids-comp-table-tbody-td-typography-description-letter-spacing-comfortable: 0em;
    --ids-comp-table-tbody-td-typography-description-letter-spacing-compact: 0em;
    --ids-comp-table-tbody-td-typography-description-letter-spacing-dense: 0em;
    --ids-comp-table-tbody-td-typography-description-letter-spacing-spacious: 0em;
    --ids-comp-table-tbody-td-typography-description-line-height-comfortable: 18px;
    --ids-comp-table-tbody-td-typography-description-line-height-compact: 16px;
    --ids-comp-table-tbody-td-typography-description-line-height-dense: 14px;
    --ids-comp-table-tbody-td-typography-description-line-height-spacious: 20px;
    --ids-comp-table-tbody-td-typography-td-font-family-comfortable: Montserrat;
    --ids-comp-table-tbody-td-typography-td-font-family-compact: Montserrat;
    --ids-comp-table-tbody-td-typography-td-font-family-dense: Montserrat;
    --ids-comp-table-tbody-td-typography-td-font-family-spacious: Montserrat;
    --ids-comp-table-tbody-td-typography-td-font-size-comfortable: 16px;
    --ids-comp-table-tbody-td-typography-td-font-size-compact: 14px;
    --ids-comp-table-tbody-td-typography-td-font-size-dense: 12px;
    --ids-comp-table-tbody-td-typography-td-font-size-spacious: 20px;
    --ids-comp-table-tbody-td-typography-td-font-weight-default-comfortable: 400;
    --ids-comp-table-tbody-td-typography-td-font-weight-default-compact: 400;
    --ids-comp-table-tbody-td-typography-td-font-weight-default-dense: 400;
    --ids-comp-table-tbody-td-typography-td-font-weight-default-spacious: 400;
    --ids-comp-table-tbody-td-typography-td-font-weight-prominent-comfortable: 600;
    --ids-comp-table-tbody-td-typography-td-font-weight-prominent-compact: 600;
    --ids-comp-table-tbody-td-typography-td-font-weight-prominent-dense: 600;
    --ids-comp-table-tbody-td-typography-td-font-weight-prominent-spacious: 600;
    --ids-comp-table-tbody-td-typography-td-letter-spacing-comfortable: 0em;
    --ids-comp-table-tbody-td-typography-td-letter-spacing-compact: 0em;
    --ids-comp-table-tbody-td-typography-td-letter-spacing-dense: 0em;
    --ids-comp-table-tbody-td-typography-td-letter-spacing-spacious: 0em;
    --ids-comp-table-tbody-td-typography-td-line-height-comfortable: 20px;
    --ids-comp-table-tbody-td-typography-td-line-height-compact: 18px;
    --ids-comp-table-tbody-td-typography-td-line-height-dense: 18px;
    --ids-comp-table-tbody-td-typography-td-line-height-spacious: 24px;
    --ids-comp-table-tbody-tr-color-bg-primary-active: light-dark(#003beb, #7598ff);
    --ids-comp-table-tbody-tr-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-color-bg-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-table-tbody-tr-color-bg-secondary-active: light-dark(#f1f5f9, #0f172a);
    --ids-comp-table-tbody-tr-color-bg-secondary-default: light-dark(#f8fafc, #020617);
    --ids-comp-table-tbody-tr-color-bg-secondary-hovered: light-dark(#f1f5f9, #0f172a);
    --ids-comp-table-tbody-tr-color-bg-surface-active: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-table-tbody-tr-color-bg-surface-default: #ffffff00;
    --ids-comp-table-tbody-tr-color-bg-surface-hovered: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-table-tbody-tr-color-border-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-color-border-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-color-border-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-color-border-secondary-active: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-color-border-secondary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-color-border-secondary-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-color-border-surface-active: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-color-border-surface-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-detail-color-bg-primary-active: light-dark(#003beb, #7598ff);
    --ids-comp-table-tbody-tr-detail-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-detail-color-bg-primary-hovered: light-dark(#003beb, #7598ff);
    --ids-comp-table-tbody-tr-detail-color-bg-secondary-active: light-dark(#f1f5f9, #0f172a);
    --ids-comp-table-tbody-tr-detail-color-bg-secondary-default: light-dark(#f8fafc, #020617);
    --ids-comp-table-tbody-tr-detail-color-bg-secondary-hovered: light-dark(#f1f5f9, #0f172a);
    --ids-comp-table-tbody-tr-detail-color-bg-surface-active: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-table-tbody-tr-detail-color-bg-surface-default: #ffffff00;
    --ids-comp-table-tbody-tr-detail-color-bg-surface-hovered: light-dark(#648cb40d, #ffffff0d);
    --ids-comp-table-tbody-tr-detail-color-border-primary-active: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-detail-color-border-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-detail-color-border-primary-hovered: light-dark(#003cff, #4775ff);
    --ids-comp-table-tbody-tr-detail-color-border-secondary-active: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-detail-color-border-secondary-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-detail-color-border-secondary-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-detail-color-border-surface-active: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-detail-color-border-surface-default: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-detail-color-border-surface-hovered: light-dark(#e2e8f0, #1e293b);
    --ids-comp-table-tbody-tr-size-border-width-comfortable: 1px;
    --ids-comp-table-tbody-tr-size-border-width-compact: 1px;
    --ids-comp-table-tbody-tr-size-border-width-dense: 1px;
    --ids-comp-table-tbody-tr-size-border-width-spacious: 1px;
    --ids-comp-table-thead-th-color-bg-primary-default: #ffffff00;
    --ids-comp-table-thead-th-color-bg-secondary-default: #ffffff00;
    --ids-comp-table-thead-th-color-bg-surface-default: #ffffff00;
    --ids-comp-table-thead-th-color-border-primary-default: light-dark(#ffffff4d, #ffffff4d);
    --ids-comp-table-thead-th-color-border-secondary-default: light-dark(#648cb433, #ffffff33);
    --ids-comp-table-thead-th-color-border-surface-default: light-dark(#648cb433, #ffffff33);
    --ids-comp-table-thead-th-color-fg-typography-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-table-thead-th-color-fg-typography-secondary-default: light-dark(#334155, #cbd5e1);
    --ids-comp-table-thead-th-color-fg-typography-surface-default: light-dark(#334155, #cbd5e1);
    --ids-comp-table-thead-th-icon-size-height-comfortable: 16px;
    --ids-comp-table-thead-th-icon-size-height-compact: 12px;
    --ids-comp-table-thead-th-icon-size-height-dense: 12px;
    --ids-comp-table-thead-th-icon-size-height-spacious: 20px;
    --ids-comp-table-thead-th-icon-size-width-comfortable: 16px;
    --ids-comp-table-thead-th-icon-size-width-compact: 12px;
    --ids-comp-table-thead-th-icon-size-width-dense: 12px;
    --ids-comp-table-thead-th-icon-size-width-spacious: 20px;
    --ids-comp-table-thead-th-icon-typography-font-family-comfortable: I-DS-font-icon-default;
    --ids-comp-table-thead-th-icon-typography-font-family-compact: I-DS-font-icon-default;
    --ids-comp-table-thead-th-icon-typography-font-family-dense: I-DS-font-icon-default;
    --ids-comp-table-thead-th-icon-typography-font-family-spacious: I-DS-font-icon-default;
    --ids-comp-table-thead-th-icon-typography-font-size-comfortable: 16px;
    --ids-comp-table-thead-th-icon-typography-font-size-compact: 14px;
    --ids-comp-table-thead-th-icon-typography-font-size-dense: 12px;
    --ids-comp-table-thead-th-icon-typography-font-size-spacious: 20px;
    --ids-comp-table-thead-th-icon-typography-font-weight-comfortable: 400;
    --ids-comp-table-thead-th-icon-typography-font-weight-compact: 400;
    --ids-comp-table-thead-th-icon-typography-font-weight-dense: 400;
    --ids-comp-table-thead-th-icon-typography-font-weight-spacious: 400;
    --ids-comp-table-thead-th-icon-typography-line-height-comfortable: 16px;
    --ids-comp-table-thead-th-icon-typography-line-height-compact: 14px;
    --ids-comp-table-thead-th-icon-typography-line-height-dense: 12px;
    --ids-comp-table-thead-th-icon-typography-line-height-spacious: 20px;
    --ids-comp-table-thead-th-size-border-width-comfortable: 1px;
    --ids-comp-table-thead-th-size-border-width-compact: 1px;
    --ids-comp-table-thead-th-size-border-width-dense: 1px;
    --ids-comp-table-thead-th-size-border-width-spacious: 1px;
    --ids-comp-table-thead-th-size-gap-comfortable: 12px;
    --ids-comp-table-thead-th-size-gap-compact: 12px;
    --ids-comp-table-thead-th-size-gap-dense: 8px;
    --ids-comp-table-thead-th-size-gap-spacious: 16px;
    --ids-comp-table-thead-th-size-min-height-comfortable: 56px;
    --ids-comp-table-thead-th-size-min-height-compact: 48px;
    --ids-comp-table-thead-th-size-min-height-dense: 40px;
    --ids-comp-table-thead-th-size-min-height-spacious: 64px;
    --ids-comp-table-thead-th-size-padding-x-comfortable: 12px;
    --ids-comp-table-thead-th-size-padding-x-compact: 12px;
    --ids-comp-table-thead-th-size-padding-x-dense: 8px;
    --ids-comp-table-thead-th-size-padding-x-spacious: 16px;
    --ids-comp-table-thead-th-size-padding-y-comfortable: 12px;
    --ids-comp-table-thead-th-size-padding-y-compact: 12px;
    --ids-comp-table-thead-th-size-padding-y-dense: 8px;
    --ids-comp-table-thead-th-size-padding-y-spacious: 16px;
    --ids-comp-table-thead-th-typography-font-family-comfortable: Montserrat;
    --ids-comp-table-thead-th-typography-font-family-compact: Montserrat;
    --ids-comp-table-thead-th-typography-font-family-dense: Montserrat;
    --ids-comp-table-thead-th-typography-font-family-spacious: Montserrat;
    --ids-comp-table-thead-th-typography-font-size-comfortable: 14px;
    --ids-comp-table-thead-th-typography-font-size-compact: 12px;
    --ids-comp-table-thead-th-typography-font-size-dense: 10px;
    --ids-comp-table-thead-th-typography-font-size-spacious: 16px;
    --ids-comp-table-thead-th-typography-font-weight-comfortable: 600;
    --ids-comp-table-thead-th-typography-font-weight-compact: 600;
    --ids-comp-table-thead-th-typography-font-weight-dense: 600;
    --ids-comp-table-thead-th-typography-font-weight-spacious: 600;
    --ids-comp-table-thead-th-typography-letter-spacing-comfortable: 0em;
    --ids-comp-table-thead-th-typography-letter-spacing-compact: 0em;
    --ids-comp-table-thead-th-typography-letter-spacing-dense: 0em;
    --ids-comp-table-thead-th-typography-letter-spacing-spacious: 0em;
    --ids-comp-table-thead-th-typography-line-height-comfortable: 18px;
    --ids-comp-table-thead-th-typography-line-height-compact: 16px;
    --ids-comp-table-thead-th-typography-line-height-dense: 14px;
    --ids-comp-table-thead-th-typography-line-height-spacious: 20px;
    --ids-comp-table-thead-tr-color-bg-primary-default: light-dark(#003cff, #4775ff);
    --ids-comp-table-thead-tr-color-bg-secondary-default: light-dark(#f8fafc, #020617);
    --ids-comp-table-thead-tr-color-bg-surface-default: #ffffff00;
    --ids-comp-table-thead-tr-color-border-secondary-default: #ffffff00;
    --ids-comp-table-thead-tr-color-border-surface-default: light-dark(#e2e8f0, #1e293b)
}