:root {
  --ids-base-color-amber-50: #fffbeb;
  --ids-base-color-amber-100: #fef3c7;
  --ids-base-color-amber-200: #fde68a;
  --ids-base-color-amber-300: #fcd34d;
  --ids-base-color-amber-400: #fbbf24;
  --ids-base-color-amber-500: #f59e0b;
  --ids-base-color-amber-600: #d97706;
  --ids-base-color-amber-700: #b45309;
  --ids-base-color-amber-800: #92400e;
  --ids-base-color-amber-900: #78350f;
  --ids-base-color-amber-950: #451a03;
  --ids-base-color-blue-50: #eff6ff;
  --ids-base-color-blue-100: #dbeafe;
  --ids-base-color-blue-200: #bfdbfe;
  --ids-base-color-blue-300: #93c5fd;
  --ids-base-color-blue-400: #60a5fa;
  --ids-base-color-blue-500: #3b82f6;
  --ids-base-color-blue-600: #2563eb;
  --ids-base-color-blue-700: #1d4ed8;
  --ids-base-color-blue-800: #1e40af;
  --ids-base-color-blue-900: #1e3a8a;
  --ids-base-color-blue-950: #172554;
  --ids-base-color-custom-50: #e5ecff;
  --ids-base-color-custom-100: #d1ddff;
  --ids-base-color-custom-200: #a3baff;
  --ids-base-color-custom-300: #7598ff;
  --ids-base-color-custom-400: #4775ff;
  --ids-base-color-custom-500: #003cff;
  --ids-base-color-custom-600: #003beb;
  --ids-base-color-custom-700: #002fbd;
  --ids-base-color-custom-800: #00248f;
  --ids-base-color-custom-900: #001861;
  --ids-base-color-custom-950: #001452;
  --ids-base-color-cyan-50: #ecfeff;
  --ids-base-color-cyan-100: #cffafe;
  --ids-base-color-cyan-200: #a5f3fc;
  --ids-base-color-cyan-300: #67e8f9;
  --ids-base-color-cyan-400: #22d3ee;
  --ids-base-color-cyan-500: #06b6d4;
  --ids-base-color-cyan-600: #0891b2;
  --ids-base-color-cyan-700: #0e7490;
  --ids-base-color-cyan-800: #155e75;
  --ids-base-color-cyan-900: #164e63;
  --ids-base-color-cyan-950: #083344;
  --ids-base-color-dark: #000000;
  --ids-base-color-emerald-50: #ecfdf5;
  --ids-base-color-emerald-100: #d1fae5;
  --ids-base-color-emerald-200: #a7f3d0;
  --ids-base-color-emerald-300: #6ee7b7;
  --ids-base-color-emerald-400: #34d399;
  --ids-base-color-emerald-500: #10b981;
  --ids-base-color-emerald-600: #059669;
  --ids-base-color-emerald-700: #047857;
  --ids-base-color-emerald-800: #065f46;
  --ids-base-color-emerald-900: #064e3b;
  --ids-base-color-emerald-950: #022c22;
  --ids-base-color-fuchsia-50: #fdf4ff;
  --ids-base-color-fuchsia-100: #fae8ff;
  --ids-base-color-fuchsia-200: #f5d0fe;
  --ids-base-color-fuchsia-300: #f0abfc;
  --ids-base-color-fuchsia-400: #e879f9;
  --ids-base-color-fuchsia-500: #d946ef;
  --ids-base-color-fuchsia-600: #c026d3;
  --ids-base-color-fuchsia-700: #a21caf;
  --ids-base-color-fuchsia-800: #86198f;
  --ids-base-color-fuchsia-900: #701a75;
  --ids-base-color-fuchsia-950: #4a044e;
  --ids-base-color-gray-50: #f9fafb;
  --ids-base-color-gray-100: #f1f5f9;
  --ids-base-color-gray-200: #e5e7eb;
  --ids-base-color-gray-300: #d1d5db;
  --ids-base-color-gray-400: #9ca3af;
  --ids-base-color-gray-500: #6b7280;
  --ids-base-color-gray-600: #4b5563;
  --ids-base-color-gray-700: #374151;
  --ids-base-color-gray-800: #1f2937;
  --ids-base-color-gray-900: #111827;
  --ids-base-color-gray-950: #030712;
  --ids-base-color-green-50: #f0fdf4;
  --ids-base-color-green-100: #dcfce7;
  --ids-base-color-green-200: #bbf7d0;
  --ids-base-color-green-300: #86efac;
  --ids-base-color-green-400: #4ade80;
  --ids-base-color-green-500: #22c55e;
  --ids-base-color-green-600: #16a34a;
  --ids-base-color-green-700: #15803d;
  --ids-base-color-green-800: #166534;
  --ids-base-color-green-900: #14532d;
  --ids-base-color-green-950: #052e16;
  --ids-base-color-indigo-50: #eef2ff;
  --ids-base-color-indigo-100: #e0e7ff;
  --ids-base-color-indigo-200: #c7d2fe;
  --ids-base-color-indigo-300: #a5b4fc;
  --ids-base-color-indigo-400: #818cf8;
  --ids-base-color-indigo-500: #6366f1;
  --ids-base-color-indigo-600: #4f46e5;
  --ids-base-color-indigo-700: #4338ca;
  --ids-base-color-indigo-800: #3730a3;
  --ids-base-color-indigo-900: #312e81;
  --ids-base-color-indigo-950: #1e1b4b;
  --ids-base-color-light: #ffffff;
  --ids-base-color-lime-50: #f7fee7;
  --ids-base-color-lime-100: #ecfccb;
  --ids-base-color-lime-200: #d9f99d;
  --ids-base-color-lime-300: #bef264;
  --ids-base-color-lime-400: #a3e635;
  --ids-base-color-lime-500: #84cc16;
  --ids-base-color-lime-600: #65a30d;
  --ids-base-color-lime-700: #4d7c0f;
  --ids-base-color-lime-800: #3f6212;
  --ids-base-color-lime-900: #365314;
  --ids-base-color-lime-950: #1a2e05;
  --ids-base-color-neutral-50: #fafafa;
  --ids-base-color-neutral-100: #f5f5f5;
  --ids-base-color-neutral-200: #e5e5e5;
  --ids-base-color-neutral-300: #d4d4d4;
  --ids-base-color-neutral-400: #a3a3a3;
  --ids-base-color-neutral-500: #737373;
  --ids-base-color-neutral-600: #525252;
  --ids-base-color-neutral-700: #404040;
  --ids-base-color-neutral-800: #262626;
  --ids-base-color-neutral-900: #171717;
  --ids-base-color-neutral-950: #0a0a0a;
  --ids-base-color-opacity-cool-50: #648cb40d;
  --ids-base-color-opacity-cool-100: #648cb41a;
  --ids-base-color-opacity-cool-150: #648cb426;
  --ids-base-color-opacity-cool-200: #648cb433;
  --ids-base-color-opacity-cool-250: #648cb440;
  --ids-base-color-opacity-cool-300: #648cb44d;
  --ids-base-color-opacity-cool-400: #648cb466;
  --ids-base-color-opacity-cool-500: #648cb480;
  --ids-base-color-opacity-cool-600: #648cb499;
  --ids-base-color-opacity-cool-700: #648cb4b3;
  --ids-base-color-opacity-cool-800: #648cb4cc;
  --ids-base-color-opacity-cool-900: #648cb4e6;
  --ids-base-color-opacity-cool-950: #648cb4f2;
  --ids-base-color-opacity-dark-50: #0000000d;
  --ids-base-color-opacity-dark-100: #0000001a;
  --ids-base-color-opacity-dark-150: #00000026;
  --ids-base-color-opacity-dark-200: #00000033;
  --ids-base-color-opacity-dark-250: #00000040;
  --ids-base-color-opacity-dark-300: #0000004d;
  --ids-base-color-opacity-dark-400: #00000066;
  --ids-base-color-opacity-dark-500: #00000080;
  --ids-base-color-opacity-dark-600: #00000099;
  --ids-base-color-opacity-dark-700: #000000b3;
  --ids-base-color-opacity-dark-800: #000000cc;
  --ids-base-color-opacity-dark-900: #000000e6;
  --ids-base-color-opacity-dark-950: #000000f2;
  --ids-base-color-opacity-darkcool-50: #0206170d;
  --ids-base-color-opacity-darkcool-100: #0206171a;
  --ids-base-color-opacity-darkcool-150: #02061726;
  --ids-base-color-opacity-darkcool-200: #02061733;
  --ids-base-color-opacity-darkcool-250: #02061740;
  --ids-base-color-opacity-darkcool-300: #0206174d;
  --ids-base-color-opacity-darkcool-400: #02061766;
  --ids-base-color-opacity-darkcool-500: #02061780;
  --ids-base-color-opacity-darkcool-600: #02061799;
  --ids-base-color-opacity-darkcool-700: #020617b3;
  --ids-base-color-opacity-darkcool-800: #020617cc;
  --ids-base-color-opacity-darkcool-900: #020617e6;
  --ids-base-color-opacity-darkcool-950: #020617f2;
  --ids-base-color-opacity-light-50: #ffffff0d;
  --ids-base-color-opacity-light-100: #ffffff1a;
  --ids-base-color-opacity-light-150: #ffffff26;
  --ids-base-color-opacity-light-200: #ffffff33;
  --ids-base-color-opacity-light-250: #ffffff40;
  --ids-base-color-opacity-light-300: #ffffff4d;
  --ids-base-color-opacity-light-400: #ffffff66;
  --ids-base-color-opacity-light-500: #ffffff80;
  --ids-base-color-opacity-light-600: #ffffff99;
  --ids-base-color-opacity-light-700: #ffffffb3;
  --ids-base-color-opacity-light-800: #ffffffcc;
  --ids-base-color-opacity-light-900: #ffffffe6;
  --ids-base-color-opacity-light-950: #fffffff2;
  --ids-base-color-orange-50: #fff7ed;
  --ids-base-color-orange-100: #ffedd5;
  --ids-base-color-orange-200: #fed7aa;
  --ids-base-color-orange-300: #fdba74;
  --ids-base-color-orange-400: #fb923c;
  --ids-base-color-orange-500: #f97316;
  --ids-base-color-orange-600: #ea580c;
  --ids-base-color-orange-700: #c2410c;
  --ids-base-color-orange-800: #9a3412;
  --ids-base-color-orange-900: #7c2d12;
  --ids-base-color-orange-950: #431407;
  --ids-base-color-pink-50: #fdf2f8;
  --ids-base-color-pink-100: #fce7f3;
  --ids-base-color-pink-200: #fbcfe8;
  --ids-base-color-pink-300: #f9a8d4;
  --ids-base-color-pink-400: #f472b6;
  --ids-base-color-pink-500: #ec4899;
  --ids-base-color-pink-600: #db2777;
  --ids-base-color-pink-700: #be185d;
  --ids-base-color-pink-800: #9d174d;
  --ids-base-color-pink-900: #831843;
  --ids-base-color-pink-950: #500724;
  --ids-base-color-purple-50: #faf5ff;
  --ids-base-color-purple-100: #f3e8ff;
  --ids-base-color-purple-200: #e9d5ff;
  --ids-base-color-purple-300: #d8b4fe;
  --ids-base-color-purple-400: #c084fc;
  --ids-base-color-purple-500: #a855f7;
  --ids-base-color-purple-600: #9333ea;
  --ids-base-color-purple-700: #7e22ce;
  --ids-base-color-purple-800: #6b21a8;
  --ids-base-color-purple-900: #581c87;
  --ids-base-color-purple-950: #3b0764;
  --ids-base-color-red-50: #fef2f2;
  --ids-base-color-red-100: #fee2e2;
  --ids-base-color-red-200: #fecaca;
  --ids-base-color-red-300: #fca5a5;
  --ids-base-color-red-400: #f87171;
  --ids-base-color-red-500: #ef4444;
  --ids-base-color-red-600: #dc2626;
  --ids-base-color-red-700: #b91c1c;
  --ids-base-color-red-800: #991b1b;
  --ids-base-color-red-900: #7f1d1d;
  --ids-base-color-red-950: #450a0a;
  --ids-base-color-rose-50: #fff1f2;
  --ids-base-color-rose-100: #ffe4e6;
  --ids-base-color-rose-200: #fecdd3;
  --ids-base-color-rose-300: #fda4af;
  --ids-base-color-rose-400: #fb7185;
  --ids-base-color-rose-500: #f43f5e;
  --ids-base-color-rose-600: #e11d48;
  --ids-base-color-rose-700: #be123c;
  --ids-base-color-rose-800: #9f1239;
  --ids-base-color-rose-900: #881337;
  --ids-base-color-rose-950: #4c0519;
  --ids-base-color-sky-50: #f0f9ff;
  --ids-base-color-sky-100: #e0f2fe;
  --ids-base-color-sky-200: #bae6fd;
  --ids-base-color-sky-300: #7dd3fc;
  --ids-base-color-sky-400: #38bdf8;
  --ids-base-color-sky-500: #0ea5e9;
  --ids-base-color-sky-600: #0284c7;
  --ids-base-color-sky-700: #0369a1;
  --ids-base-color-sky-800: #075985;
  --ids-base-color-sky-900: #0c4a6e;
  --ids-base-color-sky-950: #082f49;
  --ids-base-color-slate-50: #f8fafc;
  --ids-base-color-slate-100: #f1f5f9;
  --ids-base-color-slate-200: #e2e8f0;
  --ids-base-color-slate-300: #cbd5e1;
  --ids-base-color-slate-400: #94a3b8;
  --ids-base-color-slate-500: #64748b;
  --ids-base-color-slate-600: #475569;
  --ids-base-color-slate-700: #334155;
  --ids-base-color-slate-800: #1e293b;
  --ids-base-color-slate-900: #0f172a;
  --ids-base-color-slate-950: #020617;
  --ids-base-color-social-facebook-darker-10: #0052d6;
  --ids-base-color-social-facebook-darker-20: #0042ad;
  --ids-base-color-social-facebook-default: #0866ff;
  --ids-base-color-social-facebook-lighter-10: #3481ff;
  --ids-base-color-social-facebook-lighter-20: #619dff;
  --ids-base-color-social-facebook-lighter-30: #8db8ff;
  --ids-base-color-social-github-darker-10: #262626;
  --ids-base-color-social-github-darker-20: #191919;
  --ids-base-color-social-github-default: #333333;
  --ids-base-color-social-github-lighter-10: #3f3f3f;
  --ids-base-color-social-github-lighter-20: #4c4c4c;
  --ids-base-color-social-github-lighter-30: #595959;
  --ids-base-color-social-gmail-darker-10: #c82f23;
  --ids-base-color-social-gmail-darker-20: #a61f14;
  --ids-base-color-social-gmail-default: #ea4335;
  --ids-base-color-social-gmail-lighter-10: #ff5647;
  --ids-base-color-social-gmail-lighter-20: #ff7c71;
  --ids-base-color-social-gmail-lighter-30: #ffa29a;
  --ids-base-color-social-linkedin-darker-10: #004182;
  --ids-base-color-social-linkedin-darker-20: #053059;
  --ids-base-color-social-linkedin-default: #0a66c2;
  --ids-base-color-social-linkedin-lighter-10: #378fe9;
  --ids-base-color-social-linkedin-lighter-20: #71b7fb;
  --ids-base-color-social-linkedin-lighter-30: #aad6ff;
  --ids-base-color-stone-50: #fafaf9;
  --ids-base-color-stone-100: #f5f5f4;
  --ids-base-color-stone-200: #e7e5e4;
  --ids-base-color-stone-300: #d6d3d1;
  --ids-base-color-stone-400: #a8a29e;
  --ids-base-color-stone-500: #78716c;
  --ids-base-color-stone-600: #57534e;
  --ids-base-color-stone-700: #44403c;
  --ids-base-color-stone-800: #292524;
  --ids-base-color-stone-900: #1c1917;
  --ids-base-color-stone-950: #0c0a09;
  --ids-base-color-teal-50: #f0fdfa;
  --ids-base-color-teal-100: #ccfbf1;
  --ids-base-color-teal-200: #99f6e4;
  --ids-base-color-teal-300: #5eead4;
  --ids-base-color-teal-400: #2dd4bf;
  --ids-base-color-teal-500: #14b8a6;
  --ids-base-color-teal-600: #0d9488;
  --ids-base-color-teal-700: #0f766e;
  --ids-base-color-teal-800: #115e59;
  --ids-base-color-teal-900: #134e4a;
  --ids-base-color-teal-950: #042f2e;
  --ids-base-color-transparent: #ffffff00;
  --ids-base-color-violet-50: #f5f3ff;
  --ids-base-color-violet-100: #ede9fe;
  --ids-base-color-violet-200: #ddd6fe;
  --ids-base-color-violet-300: #c4b5fd;
  --ids-base-color-violet-400: #a78bfa;
  --ids-base-color-violet-500: #8b5cf6;
  --ids-base-color-violet-600: #7c3aed;
  --ids-base-color-violet-700: #6d28d9;
  --ids-base-color-violet-800: #5b21b6;
  --ids-base-color-violet-900: #4c1d95;
  --ids-base-color-violet-950: #2e1065;
  --ids-base-color-zinc-50: #fafafa;
  --ids-base-color-zinc-100: #f4f4f5;
  --ids-base-color-zinc-200: #e4e4e7;
  --ids-base-color-zinc-300: #d4d4d8;
  --ids-base-color-zinc-400: #a1a1aa;
  --ids-base-color-zinc-500: #71717a;
  --ids-base-color-zinc-600: #52525b;
  --ids-base-color-zinc-700: #3f3f46;
  --ids-base-color-zinc-800: #27272a;
  --ids-base-color-zinc-900: #18181b;
  --ids-base-color-zinc-950: #09090b;
  --ids-base-dimension-0: 0px;
  --ids-base-dimension-10: 1px;
  --ids-base-dimension-20: 2px;
  --ids-base-dimension-30: 3px;
  --ids-base-dimension-40: 4px;
  --ids-base-dimension-50: 5px;
  --ids-base-dimension-60: 6px;
  --ids-base-dimension-80: 8px;
  --ids-base-dimension-100: 10px;
  --ids-base-dimension-120: 12px;
  --ids-base-dimension-140: 14px;
  --ids-base-dimension-150: 15px;
  --ids-base-dimension-160: 16px;
  --ids-base-dimension-180: 18px;
  --ids-base-dimension-200: 20px;
  --ids-base-dimension-220: 22px;
  --ids-base-dimension-240: 24px;
  --ids-base-dimension-250: 25px;
  --ids-base-dimension-280: 28px;
  --ids-base-dimension-320: 32px;
  --ids-base-dimension-360: 36px;
  --ids-base-dimension-400: 40px;
  --ids-base-dimension-440: 44px;
  --ids-base-dimension-480: 48px;
  --ids-base-dimension-500: 50px;
  --ids-base-dimension-520: 52px;
  --ids-base-dimension-560: 56px;
  --ids-base-dimension-640: 64px;
  --ids-base-dimension-720: 72px;
  --ids-base-dimension-800: 80px;
  --ids-base-dimension-960: 96px;
  --ids-base-dimension-1120: 112px;
  --ids-base-dimension-1280: 128px;
  --ids-base-dimension-2560: 256px;
  --ids-base-dimension-3200: 320px;
  --ids-base-dimension-3600: 360px;
  --ids-base-dimension-4000: 400px;
  --ids-base-dimension-4400: 440px;
  --ids-base-dimension-4800: 480px;
  --ids-base-dimension-5120: 512px;
  --ids-base-dimension-5600: 560px;
  --ids-base-dimension-6000: 600px;
  --ids-base-dimension-8000: 800px;
  --ids-base-dimension-10000: 1000px;
  --ids-base-dimension--10: -1px;
  --ids-base-dimension--20: -2px;
  --ids-base-dimension--30: -3px;
  --ids-base-dimension--40: -4px;
  --ids-base-dimension--50: -5px;
  --ids-base-dimension--60: -6px;
  --ids-base-dimension--80: -8px;
  --ids-base-dimension--120: -12px;
  --ids-base-em-0: 0em;
  --ids-base-em-015: 0.0015em;
  --ids-base-em-025: 0.0025em;
  --ids-base-em-050: 0.005em;
  --ids-base-em-50: 0.05em;
  --ids-base-em-100: 0.1em;
  --ids-base-em-150: 0.15em;
  --ids-base-em--015: -0.0015em;
  --ids-base-em--15: -0.015em;
  --ids-base-em--025: -0.0025em;
  --ids-base-em--050: -0.005em;
  --ids-base-percentage-0: 0%;
  --ids-base-percentage-015: 0.15%;
  --ids-base-percentage-025: 0.25%;
  --ids-base-percentage-050: 0.5%;
  --ids-base-percentage-50: 5%;
  --ids-base-percentage-100: 10%;
  --ids-base-percentage-150: 15%;
  --ids-base-percentage-200: 20%;
  --ids-base-percentage-250: 25%;
  --ids-base-percentage-300: 30%;
  --ids-base-percentage-400: 40%;
  --ids-base-percentage-500: 50%;
  --ids-base-percentage-600: 60%;
  --ids-base-percentage-700: 70%;
  --ids-base-percentage-750: 75%;
  --ids-base-percentage-800: 80%;
  --ids-base-percentage-900: 90%;
  --ids-base-percentage-1000: 100%;
  --ids-base-percentage--015: -0.15%;
  --ids-base-percentage--15: -1.5%;
  --ids-base-percentage--025: -0.25%;
  --ids-base-percentage--050: -0.5%;
  --ids-base-typography-font-family-heroicons: heroicon;
  --ids-base-typography-font-family-idsheroicons: I-DS-font-icon-hero;
  --ids-base-typography-font-family-idsheroiconsunique: I-DS-font-icon-hero-unique;
  --ids-base-typography-font-family-idsmateriaiiconsunique: I-DS-font-icon-material-unique;
  --ids-base-typography-font-family-idsmaterialicons: I-DS-font-icon-material;
  --ids-base-typography-font-family-idsremixicons: I-DS-font-icon-remix;
  --ids-base-typography-font-family-idsremixiconsunique: I-DS-font-icon-remix-unique;
  --ids-base-typography-font-family-inter: inter;
  --ids-base-typography-font-family-materialicons: "Material Icons";
  --ids-base-typography-font-family-montserrat: Montserrat;
  --ids-base-typography-font-family-remixicons: remixicon;
  --ids-base-typography-weight-100: 100;
  --ids-base-typography-weight-200: 200;
  --ids-base-typography-weight-300: 300;
  --ids-base-typography-weight-400: 400;
  --ids-base-typography-weight-500: 500;
  --ids-base-typography-weight-600: 600;
  --ids-base-typography-weight-700: 700;
  --ids-base-typography-weight-800: 800;
  --ids-base-typography-weight-900: 900;
}