.ids-theme-dark {
  --ids-smc-colors-brand-darker-10: var(--ids-base-color-Custom-300);
  --ids-smc-colors-brand-darker-20: var(--ids-base-color-Custom-200);
  --ids-smc-colors-brand-darker-30: var(--ids-base-color-Custom-100);
  --ids-smc-colors-brand-darker-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-brand-darker-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-brand-default: var(--ids-base-color-Custom-400);
  --ids-smc-colors-brand-fixed-darker-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-brand-fixed-darker-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-brand-fixed-darker-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-brand-fixed-darker-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-brand-fixed-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-brand-fixed-default: var(--ids-base-color-Custom-500);
  --ids-smc-colors-brand-fixed-lighter-10: var(--ids-base-color-Custom-400);
  --ids-smc-colors-brand-fixed-lighter-20: var(--ids-base-color-Custom-300);
  --ids-smc-colors-brand-fixed-lighter-30: var(--ids-base-color-Custom-200);
  --ids-smc-colors-brand-fixed-lighter-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-brand-fixed-lighter-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-brand-lighter-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-brand-lighter-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-brand-lighter-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-brand-lighter-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-brand-lighter-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-error-darker-10: var(--ids-base-color-Red-300);
  --ids-smc-colors-error-darker-20: var(--ids-base-color-Red-200);
  --ids-smc-colors-error-darker-30: var(--ids-base-color-Red-100);
  --ids-smc-colors-error-darker-40: var(--ids-base-color-Red-100);
  --ids-smc-colors-error-darker-50: var(--ids-base-color-Red-50);
  --ids-smc-colors-error-default: var(--ids-base-color-Red-400);
  --ids-smc-colors-error-lighter-10: var(--ids-base-color-Red-600);
  --ids-smc-colors-error-lighter-20: var(--ids-base-color-Red-700);
  --ids-smc-colors-error-lighter-30: var(--ids-base-color-Red-800);
  --ids-smc-colors-error-lighter-40: var(--ids-base-color-Red-900);
  --ids-smc-colors-error-lighter-50: var(--ids-base-color-Red-950);
  --ids-smc-colors-facebook-darker-10: var(--ids-0052d);
  --ids-smc-colors-facebook-darker-20: var(--ids-0042a);
  --ids-smc-colors-facebook-default: var(--ids-0866f);
  --ids-smc-colors-facebook-lighter-10: var(--ids-3481f);
  --ids-smc-colors-facebook-lighter-20: var(--ids-619df);
  --ids-smc-colors-facebook-lighter-30: var(--ids-8db8f);
  --ids-smc-colors-github-darker-10: var(--ids-26262);
  --ids-smc-colors-github-darker-20: var(--ids-19191);
  --ids-smc-colors-github-default: var(--ids-33333);
  --ids-smc-colors-github-lighter-10: var(--ids-3f3f3);
  --ids-smc-colors-github-lighter-20: var(--ids-4c4c4);
  --ids-smc-colors-github-lighter-30: var(--ids-59595);
  --ids-smc-colors-gmail-darker-10: var(--ids-c82f2);
  --ids-smc-colors-gmail-darker-20: var(--ids-a61f1);
  --ids-smc-colors-gmail-default: var(--ids-ea433);
  --ids-smc-colors-gmail-lighter-10: var(--ids-ff564);
  --ids-smc-colors-gmail-lighter-20: var(--ids-ff7c7);
  --ids-smc-colors-gmail-lighter-30: var(--ids-ffa29);
  --ids-smc-colors-info-darker-10: var(--ids-base-color-Blue-300);
  --ids-smc-colors-info-darker-20: var(--ids-base-color-Blue-200);
  --ids-smc-colors-info-darker-30: var(--ids-base-color-Blue-100);
  --ids-smc-colors-info-darker-40: var(--ids-base-color-Blue-100);
  --ids-smc-colors-info-darker-50: var(--ids-base-color-Blue-50);
  --ids-smc-colors-info-default: var(--ids-base-color-Blue-400);
  --ids-smc-colors-info-lighter-10: var(--ids-base-color-Blue-600);
  --ids-smc-colors-info-lighter-20: var(--ids-base-color-Blue-700);
  --ids-smc-colors-info-lighter-30: var(--ids-base-color-Blue-800);
  --ids-smc-colors-info-lighter-40: var(--ids-base-color-Blue-900);
  --ids-smc-colors-info-lighter-50: var(--ids-base-color-Blue-950);
  --ids-smc-colors-linkedin-darker-10: var(--ids-00418);
  --ids-smc-colors-linkedin-darker-20: var(--ids-05305);
  --ids-smc-colors-linkedin-default: var(--ids-0a66c);
  --ids-smc-colors-linkedin-lighter-10: var(--ids-378fe);
  --ids-smc-colors-linkedin-lighter-20: var(--ids-71b7f);
  --ids-smc-colors-linkedin-lighter-30: var(--ids-aad6f);
  --ids-smc-colors-opacity-cool-50: var(--ids-base-color-Opacity-Light-50);
  --ids-smc-colors-opacity-cool-100: var(--ids-base-color-Opacity-Light-100);
  --ids-smc-colors-opacity-cool-150: var(--ids-base-color-Opacity-Light-150);
  --ids-smc-colors-opacity-cool-200: var(--ids-base-color-Opacity-Light-200);
  --ids-smc-colors-opacity-cool-250: var(--ids-base-color-Opacity-Light-250);
  --ids-smc-colors-opacity-cool-300: var(--ids-base-color-Opacity-Light-300);
  --ids-smc-colors-opacity-cool-400: var(--ids-base-color-Opacity-Light-400);
  --ids-smc-colors-opacity-cool-500: var(--ids-base-color-Opacity-Light-500);
  --ids-smc-colors-opacity-cool-600: var(--ids-base-color-Opacity-Light-600);
  --ids-smc-colors-opacity-cool-700: var(--ids-base-color-Opacity-Light-700);
  --ids-smc-colors-opacity-cool-800: var(--ids-base-color-Opacity-Light-800);
  --ids-smc-colors-opacity-cool-900: var(--ids-base-color-Opacity-Light-900);
  --ids-smc-colors-opacity-cool-950: var(--ids-base-color-Opacity-Light-950);
  --ids-smc-colors-opacity-dark-50: var(--ids-base-color-Opacity-Light-50);
  --ids-smc-colors-opacity-dark-100: var(--ids-base-color-Opacity-Light-100);
  --ids-smc-colors-opacity-dark-150: var(--ids-base-color-Opacity-Light-150);
  --ids-smc-colors-opacity-dark-200: var(--ids-base-color-Opacity-Light-200);
  --ids-smc-colors-opacity-dark-250: var(--ids-base-color-Opacity-Light-250);
  --ids-smc-colors-opacity-dark-300: var(--ids-base-color-Opacity-Light-300);
  --ids-smc-colors-opacity-dark-400: var(--ids-base-color-Opacity-Light-400);
  --ids-smc-colors-opacity-dark-500: var(--ids-base-color-Opacity-Light-500);
  --ids-smc-colors-opacity-dark-600: var(--ids-base-color-Opacity-Light-600);
  --ids-smc-colors-opacity-dark-700: var(--ids-base-color-Opacity-Light-700);
  --ids-smc-colors-opacity-dark-800: var(--ids-base-color-Opacity-Light-800);
  --ids-smc-colors-opacity-dark-900: var(--ids-base-color-Opacity-Light-900);
  --ids-smc-colors-opacity-dark-950: var(--ids-base-color-Opacity-Light-950);
  --ids-smc-colors-opacity-light-50: var(--ids-base-color-Opacity-Cool-50);
  --ids-smc-colors-opacity-light-100: var(--ids-base-color-Opacity-Cool-100);
  --ids-smc-colors-opacity-light-150: var(--ids-base-color-Opacity-Cool-150);
  --ids-smc-colors-opacity-light-200: var(--ids-base-color-Opacity-Cool-200);
  --ids-smc-colors-opacity-light-250: var(--ids-base-color-Opacity-Cool-250);
  --ids-smc-colors-opacity-light-300: var(--ids-base-color-Opacity-Cool-300);
  --ids-smc-colors-opacity-light-400: var(--ids-base-color-Opacity-Cool-400);
  --ids-smc-colors-opacity-light-500: var(--ids-base-color-Opacity-Cool-500);
  --ids-smc-colors-opacity-light-600: var(--ids-base-color-Opacity-Cool-600);
  --ids-smc-colors-opacity-light-700: var(--ids-base-color-Opacity-Cool-700);
  --ids-smc-colors-opacity-light-800: var(--ids-base-color-Opacity-Cool-800);
  --ids-smc-colors-opacity-light-900: var(--ids-base-color-Opacity-Cool-900);
  --ids-smc-colors-opacity-light-950: var(--ids-base-color-Opacity-Cool-950);
  --ids-smc-colors-primary-darker-10: var(--ids-base-color-Custom-300);
  --ids-smc-colors-primary-darker-20: var(--ids-base-color-Custom-200);
  --ids-smc-colors-primary-darker-30: var(--ids-base-color-Custom-100);
  --ids-smc-colors-primary-darker-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-primary-darker-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-primary-default: var(--ids-base-color-Custom-400);
  --ids-smc-colors-primary-fixed-darker-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-primary-fixed-darker-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-primary-fixed-darker-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-primary-fixed-darker-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-primary-fixed-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-primary-fixed-default: var(--ids-base-color-Custom-500);
  --ids-smc-colors-primary-fixed-lighter-10: var(--ids-base-color-Custom-400);
  --ids-smc-colors-primary-fixed-lighter-20: var(--ids-base-color-Custom-300);
  --ids-smc-colors-primary-fixed-lighter-30: var(--ids-base-color-Custom-200);
  --ids-smc-colors-primary-fixed-lighter-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-primary-fixed-lighter-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-primary-lighter-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-primary-lighter-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-primary-lighter-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-primary-lighter-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-primary-lighter-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-primary-variant-darker-50: var(--ids-smc-reference-page-color-bg-light-darker-100);
  --ids-smc-colors-secondary-darker-10: var(--ids-base-color-Slate-300);
  --ids-smc-colors-secondary-darker-20: var(--ids-base-color-Slate-200);
  --ids-smc-colors-secondary-darker-30: var(--ids-base-color-Slate-100);
  --ids-smc-colors-secondary-darker-40: var(--ids-base-color-Slate-100);
  --ids-smc-colors-secondary-darker-50: var(--ids-base-color-Slate-50);
  --ids-smc-colors-secondary-default: var(--ids-base-color-Slate-400);
  --ids-smc-colors-secondary-fixed-darker-10: var(--ids-base-color-Slate-600);
  --ids-smc-colors-secondary-fixed-darker-20: var(--ids-base-color-Slate-700);
  --ids-smc-colors-secondary-fixed-darker-30: var(--ids-base-color-Slate-800);
  --ids-smc-colors-secondary-fixed-darker-40: var(--ids-base-color-Slate-900);
  --ids-smc-colors-secondary-fixed-darker-50: var(--ids-base-color-Slate-950);
  --ids-smc-colors-secondary-fixed-default: var(--ids-base-color-Slate-500);
  --ids-smc-colors-secondary-fixed-lighter-10: var(--ids-base-color-Slate-400);
  --ids-smc-colors-secondary-fixed-lighter-20: var(--ids-base-color-Slate-300);
  --ids-smc-colors-secondary-fixed-lighter-30: var(--ids-base-color-Slate-200);
  --ids-smc-colors-secondary-fixed-lighter-40: var(--ids-base-color-Slate-100);
  --ids-smc-colors-secondary-fixed-lighter-50: var(--ids-base-color-Slate-50);
  --ids-smc-colors-secondary-lighter-10: var(--ids-base-color-Slate-600);
  --ids-smc-colors-secondary-lighter-20: var(--ids-base-color-Slate-700);
  --ids-smc-colors-secondary-lighter-30: var(--ids-base-color-Slate-800);
  --ids-smc-colors-secondary-lighter-40: var(--ids-base-color-Slate-900);
  --ids-smc-colors-secondary-lighter-50: var(--ids-base-color-Slate-950);
  --ids-smc-colors-success-darker-10: var(--ids-base-color-Green-300);
  --ids-smc-colors-success-darker-20: var(--ids-base-color-Green-200);
  --ids-smc-colors-success-darker-30: var(--ids-base-color-Green-100);
  --ids-smc-colors-success-darker-40: var(--ids-base-color-Green-100);
  --ids-smc-colors-success-darker-50: var(--ids-base-color-Green-50);
  --ids-smc-colors-success-default: var(--ids-base-color-Green-400);
  --ids-smc-colors-success-lighter-10: var(--ids-base-color-Green-600);
  --ids-smc-colors-success-lighter-20: var(--ids-base-color-Green-700);
  --ids-smc-colors-success-lighter-30: var(--ids-base-color-Green-800);
  --ids-smc-colors-success-lighter-40: var(--ids-base-color-Green-900);
  --ids-smc-colors-success-lighter-50: var(--ids-base-color-Green-950);
  --ids-smc-colors-surface-darker-10: var(--ids-base-color-Slate-900);
  --ids-smc-colors-surface-darker-20: var(--ids-base-color-Slate-800);
  --ids-smc-colors-surface-darker-30: var(--ids-base-color-Slate-700);
  --ids-smc-colors-surface-darker-40: var(--ids-base-color-Slate-600);
  --ids-smc-colors-surface-darker-50: var(--ids-base-color-Slate-500);
  --ids-smc-colors-surface-darker-60: var(--ids-base-color-Slate-400);
  --ids-smc-colors-surface-darker-70: var(--ids-base-color-Slate-300);
  --ids-smc-colors-surface-darker-80: var(--ids-base-color-Slate-200);
  --ids-smc-colors-surface-darker-90: var(--ids-base-color-Slate-100);
  --ids-smc-colors-surface-darker-95: var(--ids-base-color-Slate-50);
  --ids-smc-colors-surface-darker-100: var(--ids-base-color-light);
  --ids-smc-colors-surface-default: var(--ids-base-color-Slate-950);
  --ids-smc-colors-surface-fixed-darker-10: var(--ids-base-color-Slate-100);
  --ids-smc-colors-surface-fixed-darker-20: var(--ids-base-color-Slate-200);
  --ids-smc-colors-surface-fixed-darker-30: var(--ids-base-color-Slate-300);
  --ids-smc-colors-surface-fixed-darker-40: var(--ids-base-color-Slate-400);
  --ids-smc-colors-surface-fixed-darker-50: var(--ids-base-color-Slate-500);
  --ids-smc-colors-surface-fixed-darker-60: var(--ids-base-color-Slate-600);
  --ids-smc-colors-surface-fixed-darker-70: var(--ids-base-color-Slate-700);
  --ids-smc-colors-surface-fixed-darker-80: var(--ids-base-color-Slate-800);
  --ids-smc-colors-surface-fixed-darker-90: var(--ids-base-color-Slate-900);
  --ids-smc-colors-surface-fixed-darker-95: var(--ids-base-color-Slate-950);
  --ids-smc-colors-surface-fixed-default: var(--ids-base-color-Slate-50);
  --ids-smc-colors-surface-fixed-lighter-10: var(--ids-base-color-light);
  --ids-smc-colors-surface-lighter-10: var(--ids-base-color-dark);
  --ids-smc-colors-surface-variant-default: var(--ids-base-color-Slate-600);
  --ids-smc-colors-warning-darker-10: var(--ids-base-color-Orange-300);
  --ids-smc-colors-warning-darker-20: var(--ids-base-color-Orange-200);
  --ids-smc-colors-warning-darker-30: var(--ids-base-color-Orange-100);
  --ids-smc-colors-warning-darker-40: var(--ids-base-color-Orange-100);
  --ids-smc-colors-warning-darker-50: var(--ids-base-color-Orange-50);
  --ids-smc-colors-warning-default: var(--ids-base-color-Orange-400);
  --ids-smc-colors-warning-lighter-10: var(--ids-base-color-Orange-600);
  --ids-smc-colors-warning-lighter-20: var(--ids-base-color-Orange-700);
  --ids-smc-colors-warning-lighter-30: var(--ids-base-color-Orange-800);
  --ids-smc-colors-warning-lighter-40: var(--ids-base-color-Orange-900);
  --ids-smc-colors-warning-lighter-50: var(--ids-base-color-Orange-950);
}

.ids-theme-light {
  --ids-smc-colors-brand-darker-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-brand-darker-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-brand-darker-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-brand-darker-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-brand-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-brand-default: var(--ids-base-color-Custom-500);
  --ids-smc-colors-brand-fixed-darker-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-brand-fixed-darker-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-brand-fixed-darker-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-brand-fixed-darker-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-brand-fixed-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-brand-fixed-default: var(--ids-base-color-Custom-500);
  --ids-smc-colors-brand-fixed-lighter-10: var(--ids-base-color-Custom-400);
  --ids-smc-colors-brand-fixed-lighter-20: var(--ids-base-color-Custom-300);
  --ids-smc-colors-brand-fixed-lighter-30: var(--ids-base-color-Custom-200);
  --ids-smc-colors-brand-fixed-lighter-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-brand-fixed-lighter-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-brand-lighter-10: var(--ids-base-color-Custom-400);
  --ids-smc-colors-brand-lighter-20: var(--ids-base-color-Custom-300);
  --ids-smc-colors-brand-lighter-30: var(--ids-base-color-Custom-200);
  --ids-smc-colors-brand-lighter-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-brand-lighter-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-error-darker-10: var(--ids-base-color-Red-600);
  --ids-smc-colors-error-darker-20: var(--ids-base-color-Red-700);
  --ids-smc-colors-error-darker-30: var(--ids-base-color-Red-800);
  --ids-smc-colors-error-darker-40: var(--ids-base-color-Red-900);
  --ids-smc-colors-error-darker-50: var(--ids-base-color-Red-950);
  --ids-smc-colors-error-default: var(--ids-base-color-Red-500);
  --ids-smc-colors-error-lighter-10: var(--ids-base-color-Red-400);
  --ids-smc-colors-error-lighter-20: var(--ids-base-color-Red-300);
  --ids-smc-colors-error-lighter-30: var(--ids-base-color-Red-200);
  --ids-smc-colors-error-lighter-40: var(--ids-base-color-Red-100);
  --ids-smc-colors-error-lighter-50: var(--ids-base-color-Red-50);
  --ids-smc-colors-facebook-darker-10: var(--ids-0052d);
  --ids-smc-colors-facebook-darker-20: var(--ids-0042a);
  --ids-smc-colors-facebook-default: var(--ids-0866f);
  --ids-smc-colors-facebook-lighter-10: var(--ids-3481f);
  --ids-smc-colors-facebook-lighter-20: var(--ids-619df);
  --ids-smc-colors-facebook-lighter-30: var(--ids-8db8f);
  --ids-smc-colors-github-darker-10: var(--ids-26262);
  --ids-smc-colors-github-darker-20: var(--ids-19191);
  --ids-smc-colors-github-default: var(--ids-33333);
  --ids-smc-colors-github-lighter-10: var(--ids-3f3f3);
  --ids-smc-colors-github-lighter-20: var(--ids-4c4c4);
  --ids-smc-colors-github-lighter-30: var(--ids-59595);
  --ids-smc-colors-gmail-darker-10: var(--ids-c82f2);
  --ids-smc-colors-gmail-darker-20: var(--ids-a61f1);
  --ids-smc-colors-gmail-default: var(--ids-ea433);
  --ids-smc-colors-gmail-lighter-10: var(--ids-ff564);
  --ids-smc-colors-gmail-lighter-20: var(--ids-ff7c7);
  --ids-smc-colors-gmail-lighter-30: var(--ids-ffa29);
  --ids-smc-colors-info-darker-10: var(--ids-base-color-Blue-600);
  --ids-smc-colors-info-darker-20: var(--ids-base-color-Blue-700);
  --ids-smc-colors-info-darker-30: var(--ids-base-color-Blue-800);
  --ids-smc-colors-info-darker-40: var(--ids-base-color-Blue-900);
  --ids-smc-colors-info-darker-50: var(--ids-base-color-Blue-950);
  --ids-smc-colors-info-default: var(--ids-base-color-Blue-500);
  --ids-smc-colors-info-lighter-10: var(--ids-base-color-Blue-400);
  --ids-smc-colors-info-lighter-20: var(--ids-base-color-Blue-300);
  --ids-smc-colors-info-lighter-30: var(--ids-base-color-Blue-200);
  --ids-smc-colors-info-lighter-40: var(--ids-base-color-Blue-100);
  --ids-smc-colors-info-lighter-50: var(--ids-base-color-Blue-50);
  --ids-smc-colors-linkedin-darker-10: var(--ids-00418);
  --ids-smc-colors-linkedin-darker-20: var(--ids-05305);
  --ids-smc-colors-linkedin-default: var(--ids-0a66c);
  --ids-smc-colors-linkedin-lighter-10: var(--ids-378fe);
  --ids-smc-colors-linkedin-lighter-20: var(--ids-71b7f);
  --ids-smc-colors-linkedin-lighter-30: var(--ids-aad6f);
  --ids-smc-colors-opacity-cool-50: var(--ids-base-color-Opacity-Cool-50);
  --ids-smc-colors-opacity-cool-100: var(--ids-base-color-Opacity-Cool-100);
  --ids-smc-colors-opacity-cool-150: var(--ids-base-color-Opacity-Cool-150);
  --ids-smc-colors-opacity-cool-200: var(--ids-base-color-Opacity-Cool-200);
  --ids-smc-colors-opacity-cool-250: var(--ids-base-color-Opacity-Cool-250);
  --ids-smc-colors-opacity-cool-300: var(--ids-base-color-Opacity-Cool-300);
  --ids-smc-colors-opacity-cool-400: var(--ids-base-color-Opacity-Cool-400);
  --ids-smc-colors-opacity-cool-500: var(--ids-base-color-Opacity-Cool-500);
  --ids-smc-colors-opacity-cool-600: var(--ids-base-color-Opacity-Cool-600);
  --ids-smc-colors-opacity-cool-700: var(--ids-base-color-Opacity-Cool-700);
  --ids-smc-colors-opacity-cool-800: var(--ids-base-color-Opacity-Cool-800);
  --ids-smc-colors-opacity-cool-900: var(--ids-base-color-Opacity-Cool-900);
  --ids-smc-colors-opacity-cool-950: var(--ids-base-color-Opacity-Cool-950);
  --ids-smc-colors-opacity-dark-50: var(--ids-base-color-Opacity-Dark-50);
  --ids-smc-colors-opacity-dark-100: var(--ids-base-color-Opacity-Dark-100);
  --ids-smc-colors-opacity-dark-150: var(--ids-base-color-Opacity-Dark-150);
  --ids-smc-colors-opacity-dark-200: var(--ids-base-color-Opacity-Dark-200);
  --ids-smc-colors-opacity-dark-250: var(--ids-base-color-Opacity-Dark-250);
  --ids-smc-colors-opacity-dark-300: var(--ids-base-color-Opacity-Dark-300);
  --ids-smc-colors-opacity-dark-400: var(--ids-base-color-Opacity-Dark-400);
  --ids-smc-colors-opacity-dark-500: var(--ids-base-color-Opacity-Dark-500);
  --ids-smc-colors-opacity-dark-600: var(--ids-base-color-Opacity-Dark-600);
  --ids-smc-colors-opacity-dark-700: var(--ids-base-color-Opacity-Dark-700);
  --ids-smc-colors-opacity-dark-800: var(--ids-base-color-Opacity-Dark-800);
  --ids-smc-colors-opacity-dark-900: var(--ids-base-color-Opacity-Dark-900);
  --ids-smc-colors-opacity-dark-950: var(--ids-base-color-Opacity-Dark-950);
  --ids-smc-colors-opacity-light-50: var(--ids-base-color-Opacity-Light-50);
  --ids-smc-colors-opacity-light-100: var(--ids-base-color-Opacity-Light-100);
  --ids-smc-colors-opacity-light-150: var(--ids-base-color-Opacity-Light-150);
  --ids-smc-colors-opacity-light-200: var(--ids-base-color-Opacity-Light-200);
  --ids-smc-colors-opacity-light-250: var(--ids-base-color-Opacity-Light-250);
  --ids-smc-colors-opacity-light-300: var(--ids-base-color-Opacity-Light-300);
  --ids-smc-colors-opacity-light-400: var(--ids-base-color-Opacity-Light-400);
  --ids-smc-colors-opacity-light-500: var(--ids-base-color-Opacity-Light-500);
  --ids-smc-colors-opacity-light-600: var(--ids-base-color-Opacity-Light-600);
  --ids-smc-colors-opacity-light-700: var(--ids-base-color-Opacity-Light-700);
  --ids-smc-colors-opacity-light-800: var(--ids-base-color-Opacity-Light-800);
  --ids-smc-colors-opacity-light-900: var(--ids-base-color-Opacity-Light-900);
  --ids-smc-colors-opacity-light-950: var(--ids-base-color-Opacity-Light-950);
  --ids-smc-colors-primary-darker-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-primary-darker-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-primary-darker-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-primary-darker-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-primary-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-primary-default: var(--ids-base-color-Custom-500);
  --ids-smc-colors-primary-fixed-darker-10: var(--ids-base-color-Custom-600);
  --ids-smc-colors-primary-fixed-darker-20: var(--ids-base-color-Custom-700);
  --ids-smc-colors-primary-fixed-darker-30: var(--ids-base-color-Custom-800);
  --ids-smc-colors-primary-fixed-darker-40: var(--ids-base-color-Custom-900);
  --ids-smc-colors-primary-fixed-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-primary-fixed-default: var(--ids-base-color-Custom-500);
  --ids-smc-colors-primary-fixed-lighter-10: var(--ids-base-color-Custom-400);
  --ids-smc-colors-primary-fixed-lighter-20: var(--ids-base-color-Custom-300);
  --ids-smc-colors-primary-fixed-lighter-30: var(--ids-base-color-Custom-200);
  --ids-smc-colors-primary-fixed-lighter-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-primary-fixed-lighter-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-primary-lighter-10: var(--ids-base-color-Custom-400);
  --ids-smc-colors-primary-lighter-20: var(--ids-base-color-Custom-300);
  --ids-smc-colors-primary-lighter-30: var(--ids-base-color-Custom-200);
  --ids-smc-colors-primary-lighter-40: var(--ids-base-color-Custom-100);
  --ids-smc-colors-primary-lighter-50: var(--ids-base-color-Custom-50);
  --ids-smc-colors-primary-variant-darker-50: var(--ids-base-color-Custom-950);
  --ids-smc-colors-secondary-darker-10: var(--ids-base-color-Slate-600);
  --ids-smc-colors-secondary-darker-20: var(--ids-base-color-Slate-700);
  --ids-smc-colors-secondary-darker-30: var(--ids-base-color-Slate-800);
  --ids-smc-colors-secondary-darker-40: var(--ids-base-color-Slate-900);
  --ids-smc-colors-secondary-darker-50: var(--ids-base-color-Slate-950);
  --ids-smc-colors-secondary-default: var(--ids-base-color-Slate-500);
  --ids-smc-colors-secondary-fixed-darker-10: var(--ids-base-color-Slate-600);
  --ids-smc-colors-secondary-fixed-darker-20: var(--ids-base-color-Slate-700);
  --ids-smc-colors-secondary-fixed-darker-30: var(--ids-base-color-Slate-800);
  --ids-smc-colors-secondary-fixed-darker-40: var(--ids-base-color-Slate-900);
  --ids-smc-colors-secondary-fixed-darker-50: var(--ids-base-color-Slate-950);
  --ids-smc-colors-secondary-fixed-default: var(--ids-base-color-Slate-500);
  --ids-smc-colors-secondary-fixed-lighter-10: var(--ids-base-color-Slate-400);
  --ids-smc-colors-secondary-fixed-lighter-20: var(--ids-base-color-Slate-300);
  --ids-smc-colors-secondary-fixed-lighter-30: var(--ids-base-color-Slate-200);
  --ids-smc-colors-secondary-fixed-lighter-40: var(--ids-base-color-Slate-100);
  --ids-smc-colors-secondary-fixed-lighter-50: var(--ids-base-color-Slate-50);
  --ids-smc-colors-secondary-lighter-10: var(--ids-base-color-Slate-400);
  --ids-smc-colors-secondary-lighter-20: var(--ids-base-color-Slate-300);
  --ids-smc-colors-secondary-lighter-30: var(--ids-base-color-Slate-200);
  --ids-smc-colors-secondary-lighter-40: var(--ids-base-color-Slate-100);
  --ids-smc-colors-secondary-lighter-50: var(--ids-base-color-Slate-50);
  --ids-smc-colors-success-darker-10: var(--ids-base-color-Green-600);
  --ids-smc-colors-success-darker-20: var(--ids-base-color-Green-700);
  --ids-smc-colors-success-darker-30: var(--ids-base-color-Green-800);
  --ids-smc-colors-success-darker-40: var(--ids-base-color-Green-900);
  --ids-smc-colors-success-darker-50: var(--ids-base-color-Green-950);
  --ids-smc-colors-success-default: var(--ids-base-color-Green-500);
  --ids-smc-colors-success-lighter-10: var(--ids-base-color-Green-400);
  --ids-smc-colors-success-lighter-20: var(--ids-base-color-Green-300);
  --ids-smc-colors-success-lighter-30: var(--ids-base-color-Green-200);
  --ids-smc-colors-success-lighter-40: var(--ids-base-color-Green-100);
  --ids-smc-colors-success-lighter-50: var(--ids-base-color-Green-50);
  --ids-smc-colors-surface-darker-10: var(--ids-base-color-Slate-100);
  --ids-smc-colors-surface-darker-20: var(--ids-base-color-Slate-200);
  --ids-smc-colors-surface-darker-30: var(--ids-base-color-Slate-300);
  --ids-smc-colors-surface-darker-40: var(--ids-base-color-Slate-400);
  --ids-smc-colors-surface-darker-50: var(--ids-base-color-Slate-500);
  --ids-smc-colors-surface-darker-60: var(--ids-base-color-Slate-600);
  --ids-smc-colors-surface-darker-70: var(--ids-base-color-Slate-700);
  --ids-smc-colors-surface-darker-80: var(--ids-base-color-Slate-800);
  --ids-smc-colors-surface-darker-90: var(--ids-base-color-Slate-900);
  --ids-smc-colors-surface-darker-95: var(--ids-base-color-Slate-950);
  --ids-smc-colors-surface-darker-100: var(--ids-base-color-dark);
  --ids-smc-colors-surface-default: var(--ids-base-color-Slate-50);
  --ids-smc-colors-surface-fixed-darker-10: var(--ids-base-color-Slate-100);
  --ids-smc-colors-surface-fixed-darker-20: var(--ids-base-color-Slate-200);
  --ids-smc-colors-surface-fixed-darker-30: var(--ids-base-color-Slate-300);
  --ids-smc-colors-surface-fixed-darker-40: var(--ids-base-color-Slate-400);
  --ids-smc-colors-surface-fixed-darker-50: var(--ids-base-color-Slate-500);
  --ids-smc-colors-surface-fixed-darker-60: var(--ids-base-color-Slate-600);
  --ids-smc-colors-surface-fixed-darker-70: var(--ids-base-color-Slate-700);
  --ids-smc-colors-surface-fixed-darker-80: var(--ids-base-color-Slate-800);
  --ids-smc-colors-surface-fixed-darker-90: var(--ids-base-color-Slate-900);
  --ids-smc-colors-surface-fixed-darker-95: var(--ids-base-color-Slate-950);
  --ids-smc-colors-surface-fixed-default: var(--ids-base-color-Slate-50);
  --ids-smc-colors-surface-fixed-lighter-10: var(--ids-base-color-light);
  --ids-smc-colors-surface-lighter-10: var(--ids-base-color-light);
  --ids-smc-colors-surface-variant-default: var(--ids-base-color-Slate-50);
  --ids-smc-colors-warning-darker-10: var(--ids-base-color-Orange-600);
  --ids-smc-colors-warning-darker-20: var(--ids-base-color-Orange-700);
  --ids-smc-colors-warning-darker-30: var(--ids-base-color-Orange-800);
  --ids-smc-colors-warning-darker-40: var(--ids-base-color-Orange-900);
  --ids-smc-colors-warning-darker-50: var(--ids-base-color-Orange-950);
  --ids-smc-colors-warning-default: var(--ids-base-color-Orange-500);
  --ids-smc-colors-warning-lighter-10: var(--ids-base-color-Orange-400);
  --ids-smc-colors-warning-lighter-20: var(--ids-base-color-Orange-300);
  --ids-smc-colors-warning-lighter-30: var(--ids-base-color-Orange-200);
  --ids-smc-colors-warning-lighter-40: var(--ids-base-color-Orange-100);
  --ids-smc-colors-warning-lighter-50: var(--ids-base-color-Orange-50);
}